2026/03/9A6kp0SAPV2FCdMQ.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-26T21:59:48.000Z",
    "createdAt": "2026-03-26T21:59:43.642Z",
    "versionId": "4c49c26a-66f3-4a63-903a-5f0fca4b4fe7",
    "workflowId": "9A6kp0SAPV2FCdMQ",
    "nodes": [
      {
        "parameters": {
          "amount": 4
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -480,
          512
        ],
        "id": "a5ea0342-2c73-46ff-af26-47b67bfefb11",
        "name": "Wait",
        "webhookId": "116f5a73-b9ac-4a9b-b85a-ab8cb45b9102",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://queue.fal.run/fal-ai/gemini-3-pro-image-preview/edit",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"prompt\": \"{{ $json.SystemPrompt }}\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"{{ $('Start').item.json.aspectRatioNoCommas }}\",\n  \"format\": \"jpeg\",\n  \"image_urls\": {{ $json.FileUrls }},\n  \"enable_safety_checker\": false,\n  \"safety_checker_version\": \"v1\",\n  \"resolution\": \"1K\"\n\n}\n \n\n",
          "options": {
            "timeout": 300000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1824,
          336
        ],
        "id": "72f8d653-adc4-43d4-b83c-cc52c808a177",
        "name": "SetNBgen_Fal",
        "executeOnce": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "Mvt42bec1qeOFmzD",
            "name": "FAL AI Key"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "url": "={{ $('SetNBgen_Fal').isExecuted\n? $('SetNBgen_Fal').item.json.status_url\n: $('SetNBgen_FalNoImage').item.json.status_url\n}}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "timeout": 300000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1408,
          384
        ],
        "id": "963a48ac-c0a3-4cdf-88c7-d3a2aab0bc0e",
        "name": "SetNBgen_Fal_status",
        "executeOnce": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "Mvt42bec1qeOFmzD",
            "name": "FAL AI Key"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('SetNBgen_Fal_status').item.json.status }}",
                      "rightValue": "COMPLETED",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "8b69badf-fc83-4b34-8d68-f9ee3b82f282"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "COMPLETED"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "d457b388-628f-4780-b84f-946ebd9b2aac",
                      "leftValue": "={{ $('SetNBgen_Fal_status').item.json.status }}",
                      "rightValue": "IN_QUEUE",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "IN_QUEUE"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "b3c154de-468c-4c2f-b7d2-395f251ef4f9",
                      "leftValue": "={{ $('SetNBgen_Fal_status').item.json.status }}",
                      "rightValue": "IN_PROGRESS",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "IN_PROGRESS"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "d4e97da0-7657-4b95-9d7d-b4871856e2bc",
                      "leftValue": "={{ $('SetNBgen_Fal_status').item.json.status  !== \"IN_QUEUE\" && $('SetNBgen_Fal_status').item.json.status !== \"COMPLETED\"\n && $('SetNBgen_Fal_status').item.json.status !== \"IN_PROGRESS\"\n\n}}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "other"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -1168,
          192
        ],
        "id": "8ede45a2-f8cc-4464-add0-7b282c01821d",
        "name": "CheckStatus"
      },
      {
        "parameters": {
          "url": "={{ $('SetNBgen_Fal_status').item.json.response_url\n}}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "timeout": 300000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -624,
          96
        ],
        "id": "a54c0f61-3c98-4b2a-acec-dc4776d062bf",
        "name": "SetNBgen_Fal_getResult",
        "executeOnce": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "Mvt42bec1qeOFmzD",
            "name": "FAL AI Key"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "sendPhoto",
          "chatId": "={{ $('Start').item.json.chatId }}",
          "binaryData": true,
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -176,
          48
        ],
        "id": "ccd56cda-de10-4cf5-9c9e-dcd93de31344",
        "name": "Send a photo message1",
        "webhookId": "31403701-6dcd-4625-9ca8-3a1049a901c2",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.images[0].url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -400,
          48
        ],
        "id": "7566291f-d708-4c71-9c68-3b8a7b6d1071",
        "name": "HTTP Request1",
        "retryOnFail": true
      },
      {
        "parameters": {
          "errorMessage": "=Что-то пошло не так! {{ $json.error?.status + \" \"+  $json.error?.code }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          -912,
          1008
        ],
        "id": "245b63ec-e8b1-4c3d-aef6-ef3c231bac18",
        "name": "Stop and Error2"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "systemPrompt"
              },
              {
                "name": "urls"
              },
              {
                "name": "chatId"
              },
              {
                "name": "debugMode"
              },
              {
                "name": "apiName"
              },
              {
                "name": "apiNameNB"
              },
              {
                "name": "aspectRatioNoCommas"
              },
              {
                "name": "resolution"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -2704,
          416
        ],
        "id": "fdd709ac-d725-43cf-9914-c935140e2ed5",
        "name": "Start"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chatId }}",
          "text": "={{ $('SetNBgen_Fal_getResult').item.json?.error?.message\n?$('SetNBgen_Fal_getResult').item.json.error.message\n:\"Ошибка генерации\"\n}}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -320,
          288
        ],
        "id": "d3b7fd1e-e30e-45e1-8e30-d4ef6baf3e4c",
        "name": "Send a text message",
        "webhookId": "cf11343f-5725-4662-8740-94bad68132f1",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "d76f7796-fddb-4b22-b608-27687939f539",
                "leftValue": "={{ $('If').item.json. urls }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2032,
          416
        ],
        "id": "1e03f961-0f0f-466a-b5be-78a1e49c8cc5",
        "name": "UrlNotEmpty"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://queue.fal.run/fal-ai/gemini-3-pro-image-preview",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"prompt\": \"{{ $json.SystemPrompt }}\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"{{ $('Start').item.json.aspectRatioNoCommas }}\",\n  \"format\": \"jpeg\",\n  \"enable_safety_checker\": false,\n  \"safety_checker_version\": \"v1\",\n \n  \"resolution\": \"1K\"\n}\n",
          "options": {
            "timeout": 300000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1808,
          560
        ],
        "id": "3c6b2069-f9be-487d-849d-6bd12d45be43",
        "name": "SetNBgen_FalNoImage",
        "executeOnce": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "Mvt42bec1qeOFmzD",
            "name": "FAL AI Key"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f89296c3-36ff-4226-b249-eaf75700875a",
                "name": "result",
                "value": "={{ $('SetNBgen_Fal_getResult').item.json.images[0].url }}",
                "type": "string"
              },
              {
                "id": "631f2955-0bf0-41d9-9fb8-042a7fc1c98f",
                "name": "",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          256,
          48
        ],
        "id": "a2b5eb3b-b6c8-497c-a941-e017314c6d43",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f5a8b5b6-83fc-4af8-b502-690df8a34aaa",
                "leftValue": "={{ $json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2480,
          416
        ],
        "id": "91df48db-dd33-45b9-b838-be03b456d799",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
            "mode": "list",
            "cachedResultName": "n8n_TR_error_log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
              "UserPrompt": "=",
              "FileUrls": "={{ $('Start').item.json.urls }}",
              "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
              "ExecutionDateTime": "={{ $now.format('TTT') }}",
              "Output": "="
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ExecutionDate",
                "displayName": "ExecutionDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ExecutionDateTime",
                "displayName": "ExecutionDateTime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "SystemPrompt",
                "displayName": "SystemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "UserPrompt",
                "displayName": "UserPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Output",
                "displayName": "Output",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "FileUrls",
                "displayName": "FileUrls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "useAppend": true
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -2256,
          336
        ],
        "id": "0b906304-5084-4165-89c8-eb2dca211342",
        "name": "Append row in sheet4",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "RM6PbiNg1j5XXKOc",
            "mode": "list",
            "cachedResultName": "TrendcoreNbLogs",
            "cachedResultUrl": "/projects/M9bTlSGaaAbsZxvs/datatables/RM6PbiNg1j5XXKOc"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "userId": "={{ $('Start').item.json.chatId }}",
              "execId": "=\n\nhttps://fashion-pro.app.n8n.cloud/workflow/{{$workflow.id }}/executions/{{ $execution.id }}\n\n",
              "Model": "={{ $('Start').item.json.apiNameNB }}",
              "urls": "={{ $('Start').item.json.urls }}",
              "urlResult": "={{$('SetNBgen_Fal_getResult').item.json.images[0].url}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Model",
                "displayName": "Model",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "urls",
                "displayName": "urls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "execId",
                "displayName": "execId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "urlResult",
                "displayName": "urlResult",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          48,
          48
        ],
        "id": "f64c1fb9-e8d5-41c4-9669-772997f768d9",
        "name": "Insert row",
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Wait": {
        "main": [
          [
            {
              "node": "SetNBgen_Fal_status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SetNBgen_Fal": {
        "main": [
          [
            {
              "node": "SetNBgen_Fal_status",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SetNBgen_Fal_status": {
        "main": [
          [
            {
              "node": "CheckStatus",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CheckStatus": {
        "main": [
          [
            {
              "node": "SetNBgen_Fal_getResult",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SetNBgen_Fal_getResult": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Send a photo message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UrlNotEmpty": {
        "main": [
          [
            {
              "node": "SetNBgen_Fal",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SetNBgen_FalNoImage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SetNBgen_FalNoImage": {
        "main": [
          [
            {
              "node": "SetNBgen_Fal_status",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a photo message1": {
        "main": [
          [
            {
              "node": "Insert row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Append row in sheet4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "UrlNotEmpty",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet4": {
        "main": [
          [
            {
              "node": "UrlNotEmpty",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          []
        ]
      },
      "Insert row": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DLS  ",
    "name": "Version 4c49c26a",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "4c49c26a-66f3-4a63-903a-5f0fca4b4fe7",
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "SetNBgen_Fal_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetNBgen_Fal": {
      "main": [
        [
          {
            "node": "SetNBgen_Fal_status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetNBgen_Fal_status": {
      "main": [
        [
          {
            "node": "CheckStatus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckStatus": {
      "main": [
        [
          {
            "node": "SetNBgen_Fal_getResult",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetNBgen_Fal_getResult": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a photo message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UrlNotEmpty": {
      "main": [
        [
          {
            "node": "SetNBgen_Fal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SetNBgen_FalNoImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetNBgen_FalNoImage": {
      "main": [
        [
          {
            "node": "SetNBgen_Fal_status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message1": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UrlNotEmpty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet4": {
      "main": [
        [
          {
            "node": "UrlNotEmpty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-04T17:57:15.012Z",
  "id": "9A6kp0SAPV2FCdMQ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "subTR_NB_Fal",
  "nodes": [
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -480,
        512
      ],
      "id": "a5ea0342-2c73-46ff-af26-47b67bfefb11",
      "name": "Wait",
      "webhookId": "116f5a73-b9ac-4a9b-b85a-ab8cb45b9102",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/gemini-3-pro-image-preview/edit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.SystemPrompt }}\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"{{ $('Start').item.json.aspectRatioNoCommas }}\",\n  \"format\": \"jpeg\",\n  \"image_urls\": {{ $json.FileUrls }},\n  \"enable_safety_checker\": false,\n  \"safety_checker_version\": \"v1\",\n  \"resolution\": \"1K\"\n\n}\n \n\n",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1824,
        336
      ],
      "id": "72f8d653-adc4-43d4-b83c-cc52c808a177",
      "name": "SetNBgen_Fal",
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Mvt42bec1qeOFmzD",
          "name": "FAL AI Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $('SetNBgen_Fal').isExecuted\n? $('SetNBgen_Fal').item.json.status_url\n: $('SetNBgen_FalNoImage').item.json.status_url\n}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1408,
        384
      ],
      "id": "963a48ac-c0a3-4cdf-88c7-d3a2aab0bc0e",
      "name": "SetNBgen_Fal_status",
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Mvt42bec1qeOFmzD",
          "name": "FAL AI Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('SetNBgen_Fal_status').item.json.status }}",
                    "rightValue": "COMPLETED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8b69badf-fc83-4b34-8d68-f9ee3b82f282"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COMPLETED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d457b388-628f-4780-b84f-946ebd9b2aac",
                    "leftValue": "={{ $('SetNBgen_Fal_status').item.json.status }}",
                    "rightValue": "IN_QUEUE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IN_QUEUE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b3c154de-468c-4c2f-b7d2-395f251ef4f9",
                    "leftValue": "={{ $('SetNBgen_Fal_status').item.json.status }}",
                    "rightValue": "IN_PROGRESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IN_PROGRESS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d4e97da0-7657-4b95-9d7d-b4871856e2bc",
                    "leftValue": "={{ $('SetNBgen_Fal_status').item.json.status  !== \"IN_QUEUE\" && $('SetNBgen_Fal_status').item.json.status !== \"COMPLETED\"\n && $('SetNBgen_Fal_status').item.json.status !== \"IN_PROGRESS\"\n\n}}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "other"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1168,
        192
      ],
      "id": "8ede45a2-f8cc-4464-add0-7b282c01821d",
      "name": "CheckStatus"
    },
    {
      "parameters": {
        "url": "={{ $('SetNBgen_Fal_status').item.json.response_url\n}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -624,
        96
      ],
      "id": "a54c0f61-3c98-4b2a-acec-dc4776d062bf",
      "name": "SetNBgen_Fal_getResult",
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Mvt42bec1qeOFmzD",
          "name": "FAL AI Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Start').item.json.chatId }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -176,
        48
      ],
      "id": "ccd56cda-de10-4cf5-9c9e-dcd93de31344",
      "name": "Send a photo message1",
      "webhookId": "31403701-6dcd-4625-9ca8-3a1049a901c2",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -400,
        48
      ],
      "id": "7566291f-d708-4c71-9c68-3b8a7b6d1071",
      "name": "HTTP Request1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "errorMessage": "=Что-то пошло не так! {{ $json.error?.status + \" \"+  $json.error?.code }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -912,
        1008
      ],
      "id": "245b63ec-e8b1-4c3d-aef6-ef3c231bac18",
      "name": "Stop and Error2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "systemPrompt"
            },
            {
              "name": "urls"
            },
            {
              "name": "chatId"
            },
            {
              "name": "debugMode"
            },
            {
              "name": "apiName"
            },
            {
              "name": "apiNameNB"
            },
            {
              "name": "aspectRatioNoCommas"
            },
            {
              "name": "resolution"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2704,
        416
      ],
      "id": "fdd709ac-d725-43cf-9914-c935140e2ed5",
      "name": "Start"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chatId }}",
        "text": "={{ $('SetNBgen_Fal_getResult').item.json?.error?.message\n?$('SetNBgen_Fal_getResult').item.json.error.message\n:\"Ошибка генерации\"\n}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -320,
        288
      ],
      "id": "d3b7fd1e-e30e-45e1-8e30-d4ef6baf3e4c",
      "name": "Send a text message",
      "webhookId": "cf11343f-5725-4662-8740-94bad68132f1",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d76f7796-fddb-4b22-b608-27687939f539",
              "leftValue": "={{ $('If').item.json. urls }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2032,
        416
      ],
      "id": "1e03f961-0f0f-466a-b5be-78a1e49c8cc5",
      "name": "UrlNotEmpty"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/gemini-3-pro-image-preview",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.SystemPrompt }}\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"{{ $('Start').item.json.aspectRatioNoCommas }}\",\n  \"format\": \"jpeg\",\n  \"enable_safety_checker\": false,\n  \"safety_checker_version\": \"v1\",\n \n  \"resolution\": \"1K\"\n}\n",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1808,
        560
      ],
      "id": "3c6b2069-f9be-487d-849d-6bd12d45be43",
      "name": "SetNBgen_FalNoImage",
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Mvt42bec1qeOFmzD",
          "name": "FAL AI Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f89296c3-36ff-4226-b249-eaf75700875a",
              "name": "result",
              "value": "={{ $('SetNBgen_Fal_getResult').item.json.images[0].url }}",
              "type": "string"
            },
            {
              "id": "631f2955-0bf0-41d9-9fb8-042a7fc1c98f",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        48
      ],
      "id": "a2b5eb3b-b6c8-497c-a941-e017314c6d43",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f5a8b5b6-83fc-4af8-b502-690df8a34aaa",
              "leftValue": "={{ $json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2480,
        416
      ],
      "id": "91df48db-dd33-45b9-b838-be03b456d799",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
          "mode": "list",
          "cachedResultName": "n8n_TR_error_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
            "UserPrompt": "=",
            "FileUrls": "={{ $('Start').item.json.urls }}",
            "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
            "ExecutionDateTime": "={{ $now.format('TTT') }}",
            "Output": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ExecutionDate",
              "displayName": "ExecutionDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ExecutionDateTime",
              "displayName": "ExecutionDateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SystemPrompt",
              "displayName": "SystemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UserPrompt",
              "displayName": "UserPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FileUrls",
              "displayName": "FileUrls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2256,
        336
      ],
      "id": "0b906304-5084-4165-89c8-eb2dca211342",
      "name": "Append row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "RM6PbiNg1j5XXKOc",
          "mode": "list",
          "cachedResultName": "TrendcoreNbLogs",
          "cachedResultUrl": "/projects/M9bTlSGaaAbsZxvs/datatables/RM6PbiNg1j5XXKOc"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $('Start').item.json.chatId }}",
            "execId": "=\n\nhttps://fashion-pro.app.n8n.cloud/workflow/{{$workflow.id }}/executions/{{ $execution.id }}\n\n",
            "Model": "={{ $('Start').item.json.apiNameNB }}",
            "urls": "={{ $('Start').item.json.urls }}",
            "urlResult": "={{$('SetNBgen_Fal_getResult').item.json.images[0].url}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "urls",
              "displayName": "urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "execId",
              "displayName": "execId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "urlResult",
              "displayName": "urlResult",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        48,
        48
      ],
      "id": "f64c1fb9-e8d5-41c4-9669-772997f768d9",
      "name": "Insert row",
      "onError": "continueRegularOutput"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Db9RTL99yUCO77oO",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 10,
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-04T17:57:15.014Z",
      "createdAt": "2026-03-04T17:57:15.014Z",
      "role": "workflow:owner",
      "workflowId": "9A6kp0SAPV2FCdMQ",
      "projectId": "M9bTlSGaaAbsZxvs"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-02T14:25:49.831Z",
      "createdAt": "2026-03-02T14:25:49.831Z",
      "id": "6ZyTvRGaNVzskE04",
      "name": "TG_PROD"
    },
    {
      "updatedAt": "2026-03-02T14:27:20.441Z",
      "createdAt": "2026-03-02T14:27:20.441Z",
      "id": "sJgdMesU0ia9ad2u",
      "name": "NB"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-26T21:59:43.641Z",
  "versionId": "4c49c26a-66f3-4a63-903a-5f0fca4b4fe7"
}