2026/03/9A6kp0SAPV2FCdMQ.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-24T16:23:16.000Z",
    "createdAt": "2026-03-24T16:23:10.387Z",
    "versionId": "5dff0025-9eb4-459a-a596-b4d851c7f63f",
    "workflowId": "9A6kp0SAPV2FCdMQ",
    "nodes": [
      {
        "parameters": {
          "amount": 4
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -256,
          208
        ],
        "id": "a5ea0342-2c73-46ff-af26-47b67bfefb11",
        "name": "Wait",
        "webhookId": "116f5a73-b9ac-4a9b-b85a-ab8cb45b9102",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://queue.fal.run/fal-ai/gemini-3-pro-image-preview/edit",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Key e24637c7-0055-4be4-970c-e6680a631cfc:56330a0a1865f76fb53e032fdc5e913b"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"prompt\": \"{{ $json.SystemPrompt }}\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"{{ $('Start').item.json.aspectRatioNoCommas }}\",\n  \"format\": \"jpeg\",\n  \"image_urls\": {{ $json.FileUrls }},\n  \"enable_safety_checker\": false,\n  \"safety_checker_version\": \"v1\",\n  \"resolution\": \"1K\"\n\n}\n \n\n",
          "options": {
            "timeout": 300000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1200,
          224
        ],
        "id": "72f8d653-adc4-43d4-b83c-cc52c808a177",
        "name": "SetNBgen_Fal",
        "executeOnce": false,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "url": "={{ $('SetNBgen_Fal').isExecuted\n? $('SetNBgen_Fal').item.json.status_url\n: $('SetNBgen_FalNoImage').item.json.status_url\n}}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "timeout": 300000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -832,
          208
        ],
        "id": "963a48ac-c0a3-4cdf-88c7-d3a2aab0bc0e",
        "name": "SetNBgen_Fal_status",
        "executeOnce": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "Mvt42bec1qeOFmzD",
            "name": "FAL AI Key"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('SetNBgen_Fal_status').item.json.status }}",
                      "rightValue": "COMPLETED",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "8b69badf-fc83-4b34-8d68-f9ee3b82f282"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "COMPLETED"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "d457b388-628f-4780-b84f-946ebd9b2aac",
                      "leftValue": "={{ $('SetNBgen_Fal_status').item.json.status }}",
                      "rightValue": "IN_QUEUE",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "IN_QUEUE"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "b3c154de-468c-4c2f-b7d2-395f251ef4f9",
                      "leftValue": "={{ $('SetNBgen_Fal_status').item.json.status }}",
                      "rightValue": "IN_PROGRESS",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "IN_PROGRESS"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "d4e97da0-7657-4b95-9d7d-b4871856e2bc",
                      "leftValue": "={{ $('SetNBgen_Fal_status').item.json.status  !== \"IN_QUEUE\" && $('SetNBgen_Fal_status').item.json.status !== \"COMPLETED\"\n && $('SetNBgen_Fal_status').item.json.status !== \"IN_PROGRESS\"\n\n}}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "other"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -560,
          176
        ],
        "id": "8ede45a2-f8cc-4464-add0-7b282c01821d",
        "name": "CheckStatus"
      },
      {
        "parameters": {
          "url": "={{ $('SetNBgen_Fal_status').item.json.response_url\n}}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "timeout": 300000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -304,
          32
        ],
        "id": "a54c0f61-3c98-4b2a-acec-dc4776d062bf",
        "name": "SetNBgen_Fal_getResult",
        "executeOnce": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "Mvt42bec1qeOFmzD",
            "name": "FAL AI Key"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "sendPhoto",
          "chatId": "={{ $('Start').item.json.chatId }}",
          "binaryData": true,
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          368,
          -48
        ],
        "id": "ccd56cda-de10-4cf5-9c9e-dcd93de31344",
        "name": "Send a photo message1",
        "webhookId": "31403701-6dcd-4625-9ca8-3a1049a901c2",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.images[0].url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          128,
          -48
        ],
        "id": "7566291f-d708-4c71-9c68-3b8a7b6d1071",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "errorMessage": "=Что-то пошло не так! {{ $json.error?.status + \" \"+  $json.error?.code }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          -400,
          544
        ],
        "id": "245b63ec-e8b1-4c3d-aef6-ef3c231bac18",
        "name": "Stop and Error2"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "systemPrompt"
              },
              {
                "name": "urls"
              },
              {
                "name": "chatId"
              },
              {
                "name": "debugMode"
              },
              {
                "name": "apiName"
              },
              {
                "name": "apiNameNB"
              },
              {
                "name": "aspectRatioNoCommas"
              },
              {
                "name": "resolution"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -2224,
          272
        ],
        "id": "fdd709ac-d725-43cf-9914-c935140e2ed5",
        "name": "Start"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chatId }}",
          "text": "={{ $('SetNBgen_Fal_getResult').item.json.error?.message\n?$('SetNBgen_Fal_getResult').item.json.error.message\n:\"Ошибка генерации\"\n}}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          208,
          288
        ],
        "id": "d3b7fd1e-e30e-45e1-8e30-d4ef6baf3e4c",
        "name": "Send a text message",
        "webhookId": "cf11343f-5725-4662-8740-94bad68132f1",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "d76f7796-fddb-4b22-b608-27687939f539",
                "leftValue": "={{ $('If').item.json. urls }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1504,
          288
        ],
        "id": "1e03f961-0f0f-466a-b5be-78a1e49c8cc5",
        "name": "UrlNotEmpty"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://queue.fal.run/fal-ai/gemini-3-pro-image-preview",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Key e24637c7-0055-4be4-970c-e6680a631cfc:56330a0a1865f76fb53e032fdc5e913b"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"prompt\": \"{{ $json.SystemPrompt }}\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"{{ $('Start').item.json.aspectRatioNoCommas }}\",\n  \"format\": \"jpeg\",\n  \"enable_safety_checker\": false,\n  \"safety_checker_version\": \"v1\",\n \n  \"resolution\": \"1K\"\n}\n",
          "options": {
            "timeout": 300000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1200,
          432
        ],
        "id": "3c6b2069-f9be-487d-849d-6bd12d45be43",
        "name": "SetNBgen_FalNoImage",
        "executeOnce": false,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f89296c3-36ff-4226-b249-eaf75700875a",
                "name": "result",
                "value": "={{ $('SetNBgen_Fal_getResult').item.json.images[0].url }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          736,
          -48
        ],
        "id": "a2b5eb3b-b6c8-497c-a941-e017314c6d43",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f5a8b5b6-83fc-4af8-b502-690df8a34aaa",
                "leftValue": "={{ $json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2000,
          272
        ],
        "id": "91df48db-dd33-45b9-b838-be03b456d799",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
            "mode": "list",
            "cachedResultName": "n8n_TR_error_log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
              "UserPrompt": "=",
              "FileUrls": "={{ $('Start').item.json.urls }}",
              "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
              "ExecutionDateTime": "={{ $now.format('TTT') }}",
              "Output": "="
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ExecutionDate",
                "displayName": "ExecutionDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ExecutionDateTime",
                "displayName": "ExecutionDateTime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "SystemPrompt",
                "displayName": "SystemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "UserPrompt",
                "displayName": "UserPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Output",
                "displayName": "Output",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "FileUrls",
                "displayName": "FileUrls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "useAppend": true
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1776,
          128
        ],
        "id": "0b906304-5084-4165-89c8-eb2dca211342",
        "name": "Append row in sheet4",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Wait": {
        "main": [
          [
            {
              "node": "SetNBgen_Fal_status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SetNBgen_Fal": {
        "main": [
          [
            {
              "node": "SetNBgen_Fal_status",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SetNBgen_Fal_status": {
        "main": [
          [
            {
              "node": "CheckStatus",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CheckStatus": {
        "main": [
          [
            {
              "node": "SetNBgen_Fal_getResult",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SetNBgen_Fal_getResult": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Send a photo message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UrlNotEmpty": {
        "main": [
          [
            {
              "node": "SetNBgen_Fal",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SetNBgen_FalNoImage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SetNBgen_FalNoImage": {
        "main": [
          [
            {
              "node": "SetNBgen_Fal_status",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a photo message1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Append row in sheet4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "UrlNotEmpty",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet4": {
        "main": [
          [
            {
              "node": "UrlNotEmpty",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DLS  ",
    "name": "Version 5dff0025",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-24T16:23:16.856Z",
        "id": 1768,
        "workflowId": "9A6kp0SAPV2FCdMQ",
        "versionId": "5dff0025-9eb4-459a-a596-b4d851c7f63f",
        "event": "activated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      },
      {
        "createdAt": "2026-03-24T16:23:29.540Z",
        "id": 1770,
        "workflowId": "9A6kp0SAPV2FCdMQ",
        "versionId": "5dff0025-9eb4-459a-a596-b4d851c7f63f",
        "event": "activated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      },
      {
        "createdAt": "2026-03-24T16:23:29.458Z",
        "id": 1769,
        "workflowId": "9A6kp0SAPV2FCdMQ",
        "versionId": "5dff0025-9eb4-459a-a596-b4d851c7f63f",
        "event": "deactivated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    ]
  },
  "activeVersionId": "5dff0025-9eb4-459a-a596-b4d851c7f63f",
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "SetNBgen_Fal_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetNBgen_Fal": {
      "main": [
        [
          {
            "node": "SetNBgen_Fal_status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetNBgen_Fal_status": {
      "main": [
        [
          {
            "node": "CheckStatus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckStatus": {
      "main": [
        [
          {
            "node": "SetNBgen_Fal_getResult",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetNBgen_Fal_getResult": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a photo message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UrlNotEmpty": {
      "main": [
        [
          {
            "node": "SetNBgen_Fal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SetNBgen_FalNoImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetNBgen_FalNoImage": {
      "main": [
        [
          {
            "node": "SetNBgen_Fal_status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UrlNotEmpty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet4": {
      "main": [
        [
          {
            "node": "UrlNotEmpty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-04T17:57:15.012Z",
  "description": null,
  "id": "9A6kp0SAPV2FCdMQ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "subTR_NB_Fal",
  "nodes": [
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -256,
        208
      ],
      "id": "a5ea0342-2c73-46ff-af26-47b67bfefb11",
      "name": "Wait",
      "webhookId": "116f5a73-b9ac-4a9b-b85a-ab8cb45b9102",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/gemini-3-pro-image-preview/edit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key e24637c7-0055-4be4-970c-e6680a631cfc:56330a0a1865f76fb53e032fdc5e913b"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.SystemPrompt }}\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"{{ $('Start').item.json.aspectRatioNoCommas }}\",\n  \"format\": \"jpeg\",\n  \"image_urls\": {{ $json.FileUrls }},\n  \"enable_safety_checker\": false,\n  \"safety_checker_version\": \"v1\",\n  \"resolution\": \"1K\"\n\n}\n \n\n",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1200,
        224
      ],
      "id": "72f8d653-adc4-43d4-b83c-cc52c808a177",
      "name": "SetNBgen_Fal",
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $('SetNBgen_Fal').isExecuted\n? $('SetNBgen_Fal').item.json.status_url\n: $('SetNBgen_FalNoImage').item.json.status_url\n}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -832,
        208
      ],
      "id": "963a48ac-c0a3-4cdf-88c7-d3a2aab0bc0e",
      "name": "SetNBgen_Fal_status",
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Mvt42bec1qeOFmzD",
          "name": "FAL AI Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('SetNBgen_Fal_status').item.json.status }}",
                    "rightValue": "COMPLETED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8b69badf-fc83-4b34-8d68-f9ee3b82f282"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COMPLETED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d457b388-628f-4780-b84f-946ebd9b2aac",
                    "leftValue": "={{ $('SetNBgen_Fal_status').item.json.status }}",
                    "rightValue": "IN_QUEUE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IN_QUEUE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b3c154de-468c-4c2f-b7d2-395f251ef4f9",
                    "leftValue": "={{ $('SetNBgen_Fal_status').item.json.status }}",
                    "rightValue": "IN_PROGRESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IN_PROGRESS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d4e97da0-7657-4b95-9d7d-b4871856e2bc",
                    "leftValue": "={{ $('SetNBgen_Fal_status').item.json.status  !== \"IN_QUEUE\" && $('SetNBgen_Fal_status').item.json.status !== \"COMPLETED\"\n && $('SetNBgen_Fal_status').item.json.status !== \"IN_PROGRESS\"\n\n}}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "other"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -560,
        176
      ],
      "id": "8ede45a2-f8cc-4464-add0-7b282c01821d",
      "name": "CheckStatus"
    },
    {
      "parameters": {
        "url": "={{ $('SetNBgen_Fal_status').item.json.response_url\n}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -304,
        32
      ],
      "id": "a54c0f61-3c98-4b2a-acec-dc4776d062bf",
      "name": "SetNBgen_Fal_getResult",
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Mvt42bec1qeOFmzD",
          "name": "FAL AI Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Start').item.json.chatId }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        -48
      ],
      "id": "ccd56cda-de10-4cf5-9c9e-dcd93de31344",
      "name": "Send a photo message1",
      "webhookId": "31403701-6dcd-4625-9ca8-3a1049a901c2",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        -48
      ],
      "id": "7566291f-d708-4c71-9c68-3b8a7b6d1071",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "errorMessage": "=Что-то пошло не так! {{ $json.error?.status + \" \"+  $json.error?.code }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -400,
        544
      ],
      "id": "245b63ec-e8b1-4c3d-aef6-ef3c231bac18",
      "name": "Stop and Error2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "systemPrompt"
            },
            {
              "name": "urls"
            },
            {
              "name": "chatId"
            },
            {
              "name": "debugMode"
            },
            {
              "name": "apiName"
            },
            {
              "name": "apiNameNB"
            },
            {
              "name": "aspectRatioNoCommas"
            },
            {
              "name": "resolution"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2224,
        272
      ],
      "id": "fdd709ac-d725-43cf-9914-c935140e2ed5",
      "name": "Start"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chatId }}",
        "text": "={{ $('SetNBgen_Fal_getResult').item.json.error?.message\n?$('SetNBgen_Fal_getResult').item.json.error.message\n:\"Ошибка генерации\"\n}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        288
      ],
      "id": "d3b7fd1e-e30e-45e1-8e30-d4ef6baf3e4c",
      "name": "Send a text message",
      "webhookId": "cf11343f-5725-4662-8740-94bad68132f1",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d76f7796-fddb-4b22-b608-27687939f539",
              "leftValue": "={{ $('If').item.json. urls }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1504,
        288
      ],
      "id": "1e03f961-0f0f-466a-b5be-78a1e49c8cc5",
      "name": "UrlNotEmpty"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/gemini-3-pro-image-preview",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key e24637c7-0055-4be4-970c-e6680a631cfc:56330a0a1865f76fb53e032fdc5e913b"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.SystemPrompt }}\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"{{ $('Start').item.json.aspectRatioNoCommas }}\",\n  \"format\": \"jpeg\",\n  \"enable_safety_checker\": false,\n  \"safety_checker_version\": \"v1\",\n \n  \"resolution\": \"1K\"\n}\n",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1200,
        432
      ],
      "id": "3c6b2069-f9be-487d-849d-6bd12d45be43",
      "name": "SetNBgen_FalNoImage",
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f89296c3-36ff-4226-b249-eaf75700875a",
              "name": "result",
              "value": "={{ $('SetNBgen_Fal_getResult').item.json.images[0].url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -48
      ],
      "id": "a2b5eb3b-b6c8-497c-a941-e017314c6d43",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f5a8b5b6-83fc-4af8-b502-690df8a34aaa",
              "leftValue": "={{ $json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2000,
        272
      ],
      "id": "91df48db-dd33-45b9-b838-be03b456d799",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
          "mode": "list",
          "cachedResultName": "n8n_TR_error_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
            "UserPrompt": "=",
            "FileUrls": "={{ $('Start').item.json.urls }}",
            "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
            "ExecutionDateTime": "={{ $now.format('TTT') }}",
            "Output": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ExecutionDate",
              "displayName": "ExecutionDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ExecutionDateTime",
              "displayName": "ExecutionDateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SystemPrompt",
              "displayName": "SystemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UserPrompt",
              "displayName": "UserPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FileUrls",
              "displayName": "FileUrls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1776,
        128
      ],
      "id": "0b906304-5084-4165-89c8-eb2dca211342",
      "name": "Append row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "HTTP Request1": [
      {
        "json": {
          "images": [
            {
              "url": "https://v3b.fal.media/files/b/0a933cc6/LdqyjLBmP00_90f5-hPji_shEMwmOK.png",
              "content_type": "image/png",
              "file_name": "LdqyjLBmP00_90f5-hPji_shEMwmOK.png",
              "file_size": null,
              "width": null,
              "height": null
            }
          ],
          "description": "**Visualizing a Setting**\n\nI'm currently focused on the tea house setting. I'm exploring the interior, emphasizing the shoji screens, tatami mats, and cedar wood. The goal is a tranquil, light-filled atmosphere.\n\n\n\n**Mapping the Scene Details**\n\nI'm now carefully addressing the model's appearance and wardrobe. I'm taking extra care with the complex clothing description, which includes an asymmetrical skirt and patterned tights, to translate it effectively. Ensuring the model's age and features are consistent with the description is also a key concern.\n\n\n\n**Analyzing Image Accuracy**\n\nI'm currently focused on how well the generated image aligns with the provided description. I'm verifying specific elements such as the model's attire, pose, and the overall setting. I'm making sure that the details, including the color palette and the type of items, are all matching the specifications.\n\n\n\n**Reviewing Prompt Adherence**\n\nI've examined the generated image against the initial description. My focus is on the precision of the model's depiction, including her clothing and pose. I'm confirming that the setting and the objects are represented according to the prompt's instructions.\n\n\n"
        },
        "binary": {
          "data": {
            "mimeType": "image/png",
            "fileType": "image",
            "fileExtension": "png",
            "data": "filesystem-v2",
            "directory": "https://v3b.fal.media/files/b/0a933cc6/LdqyjLBmP00_90f5-hPji_shEMwmOK.png",
            "fileName": "LdqyjLBmP00_90f5-hPji_shEMwmOK.png",
            "id": "filesystem-v2:workflows/9A6kp0SAPV2FCdMQ/executions/11482/binary_data/fb6fc63f-e07a-4554-80c7-d7552cac4350",
            "fileSize": "6.5 MB",
            "bytes": 6495500
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Start": [
      {
        "json": {
          "systemPrompt": "## Nano Banana Pro — High Fidelity Prompt **Type:** Fashion Editorial Photography --- ### Scene & Creative Narrative The scene is set within the serene, hushed interior of a minimalist Japanese tea house, where the architectural precision of traditional design meets the bold maximalism of modern fashion. The model is positioned as a focal point, framed by the translucent, geometric grid of a shoji screen that filters the daylight into a soft, milky glow. The environment is defined by the rhythmic textures of woven tatami mats and the clean lines of cedar wood. The mood is one of quiet transition—a contemplative pause where the clashing patterns of the attire are harmonized by the stillness of the space. The atmosphere is airy and refined, emphasizing a sophisticated contrast between the organic warmth of the straw flooring and the sharp, vibrant pop of the yellow leather accessory. --- ### Model Description A woman in her late 40s with an oval face and prominent, high cheekbones. Her skin is fair with neutral undertones and subtle fine lines. She has almond-shaped, light green eyes framed by thin, naturally arched eyebrows. Her nose is straight and narrow with a refined tip, and her lips are medium-full with a clear cupid's bow. She has a defined, slightly angular jawline and a rounded chin. Her hair is dense, shoulder-length, and dark brown with warm mahogany tones, featuring tight, springy curls and curly bangs. Her neck is slender, leading to a visible collarbone and lean shoulder structure. --- ### Outfit Breakdown #### Oversized sweatshirt This top has bold horizontal pink and white stripes, a wide, flat collar, and a partial front placket, with elasticized pink cuffs at the ends of the long sleeves. #### Black and white micro-patterned shirt A black and white micro-patterned shirt is visible at the neckline. #### Midi-length skirt Crafted from a brown, black, and white houndstooth fabric. This skirt is characterized by a large, draped ruffle that runs vertically down the front, creating an asymmetrical silhouette. #### Opaque tights Opaque tights in a muted olive green shade. #### Pointed-toe ankle boots Featuring a black and white geometric pattern, finished with small kitten heels and metallic gold-tone accents at the tips. #### Bright yellow, structured leather handbag The bag has a rectangular shape, two rounded top handles, and a thin shoulder strap, with the brand name printed in black across the lower front. #### Large, sculptural earrings Large, sculptural earrings that hang near the jawline, though their specific details are partially obscured by hair. --- ### Pose, Movement & Expression The model adopts a poised, editorial stance with a subtle weight shift onto her back leg to accentuate the asymmetrical drape of the houndstooth ruffle. Her torso is angled slightly away from the lens, while her head turns back toward the camera with a self-possessed and contemplative expression. One hand is relaxed at her side, while the other lightly holds the top handles of the yellow handbag, grounding the accessory against the neutral background. Her gaze is direct but soft, engaging with the viewer through the diffused light. The posture is elongated and intentional, capturing a sense of graceful movement frozen in time. --- ### Camera & Optics A professional 50mm prime lens is used to achieve a natural, editorial perspective that preserves the model's proportions and the spatial logic of the tea house. The aperture is set to f/4.0, ensuring the intricate patterns of the sweatshirt, skirt, and boots remain sharp and legible while providing a gentle fall-off that softens the shoji screen in the background. The camera is positioned at eye level to maintain a sense of poised realism. Focus is locked precisely on the model’s eyes and the refined tip of her nose, with secondary clarity on the garment textures. --- ### Lighting Design The lighting is dominated by soft, highly diffused natural light emanating from behind the shoji screen, creating a high-key editorial glow. This directional but gentle light source wraps around the model, emphasizing the fair undertones of her skin and the sculptural quality of her mahogany curls. Subtle, low-contrast shadows define the folds of the oversized sweatshirt and the vertical ruffle of the skirt, providing depth without obscuring the patterns. The light interacts with the yellow leather of the handbag to create a soft, satin-like highlight, ensuring the color pop remains sophisticated. --- ### Composition & Editorial Styling Logic The composition is a three-quarter environmental portrait that utilizes the vertical and horizontal lines of the shoji screen as a secondary frame. The model is placed slightly off-center to create a dynamic editorial energy. The lower third of the frame captures the interaction between the geometric boots and the texture of the tatami mats, ensuring the footwear is fully visible and grounded. The bright yellow handbag is positioned to break the neutral palette of the room, acting as a visual anchor. The styling logic prioritizes the clashing of stripes, houndstooth, and geometric prints, using the minimalist environment to prevent the patterns from feeling cluttered. --- ### Rendering Priorities 1. Model identity, facial integrity, and light green eye clarity. 2. The structural silhouette of the oversized sweatshirt and the asymmetrical skirt ruffle. 3. Faithful rendering of the clashing patterns (stripes, houndstooth, and geometric boot print). 4. The vibrant, saturated yellow of the structured leather handbag. 5. The soft, diffused quality of light through the shoji screen. 6. The tactile texture of the tatami mats and the mahogany curls of the hair. --- ### Image Quality & Rendering Constraints - Ultra-high realism with professional editorial color grading - Accurate anatomy and natural body proportions - Natural skin texture with realistic pores and tonal transitions - Faithful material rendering, fabric behavior, and garment structure - Realistic interaction between clothing, body, light, and environment - Sharp, publication-ready finish with no distortion",
          "urls": "[\"https://api.telegram.org/file/bot8500532222:AAHn-miVxN48HoJNpedLE6wz5WQ0poDaYXU/photos/file_844.jpg\",\"https://v3b.fal.media/files/b/0a933b8a/BpoJRmUMrjEKuZPEjoUDK_jOFQq3LM.png\"]",
          "chatId": "1723701965",
          "debugMode": "true",
          "apiName": "google",
          "apiNameNB": "fal",
          "aspectRatioNoCommas": "3:4",
          "resolution": null
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "trendcore_n8n",
  "repo_owner": "ds634",
  "repo_path": "/repos/ds634/trendcore_n8n/contents/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Db9RTL99yUCO77oO",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 10,
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-04T17:57:15.014Z",
      "createdAt": "2026-03-04T17:57:15.014Z",
      "role": "workflow:owner",
      "workflowId": "9A6kp0SAPV2FCdMQ",
      "projectId": "M9bTlSGaaAbsZxvs",
      "project": {
        "updatedAt": "2026-03-02T14:12:07.095Z",
        "createdAt": "2026-03-02T14:12:01.275Z",
        "id": "M9bTlSGaaAbsZxvs",
        "name": "DLS   <ds@trendcore.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-02T14:25:49.831Z",
      "createdAt": "2026-03-02T14:25:49.831Z",
      "id": "6ZyTvRGaNVzskE04",
      "name": "TG_PROD"
    },
    {
      "updatedAt": "2026-03-02T14:27:20.441Z",
      "createdAt": "2026-03-02T14:27:20.441Z",
      "id": "sJgdMesU0ia9ad2u",
      "name": "NB"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-24T16:23:29.372Z",
  "versionCounter": 673,
  "versionId": "5dff0025-9eb4-459a-a596-b4d851c7f63f",
  "wf_name": "subTR_NB_Fal"
}