2026/03/9PgK8vOtZfOzSxX2.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-17T22:32:04.000Z",
    "createdAt": "2026-03-17T22:32:02.997Z",
    "versionId": "7cff2ef7-8289-4f86-800a-8889016e24b1",
    "workflowId": "9PgK8vOtZfOzSxX2",
    "nodes": [
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
          "text": "={{\"Сборка образа завершена!\"}}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -128,
          544
        ],
        "id": "60a7f926-a42c-469d-a273-632a08da22a3",
        "name": "msgImgCounterEnd2",
        "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
        "executeOnce": false,
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
              },
              {
                "keyName": "userId",
                "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "GetGalleryForFace"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -1120,
          224
        ],
        "id": "214e7063-84f5-4537-9b1d-e7ca7812cb1a",
        "name": "GetCurrentCount2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a85626a7-cd44-4e1d-b6e1-7aaa35a931c4",
                "name": "imgsCount",
                "value": "={{ $json.imgsCount +1 }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -896,
          224
        ],
        "id": "bd80eb2c-0503-47fc-844b-ed4d2a99b9d1",
        "name": "GetImgsCountAdd2"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
              },
              {
                "keyName": "userId",
                "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "GetGalleryForFace"
              },
              {
                "keyName": "process",
                "keyValue": "/createlook"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "userId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
              "dialogId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
              "status": "GetGalleryForFace",
              "imgsCount": "={{ $json.imgsCount }}",
              "process": "/createlook"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "process",
                "displayName": "process",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "faceImgUrl",
                "displayName": "faceImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "replyToMessageIdGallery",
                "displayName": "replyToMessageIdGallery",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceGalleryUrl",
                "displayName": "faceGalleryUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "FaceErrToMsgId",
                "displayName": "FaceErrToMsgId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -672,
          224
        ],
        "id": "93ab2973-c4a6-49d1-b644-d9ff69ec00d1",
        "name": "SetStatusAndImgsCount"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "NJfAQt9WXtWm5g15",
            "mode": "list",
            "cachedResultName": "TrendcoreObjectDescr",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/NJfAQt9WXtWm5g15"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "userId",
                "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
              },
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
              },
              {
                "keyName": "objectMainId",
                "keyValue": "={{ $('SetStatusAndImgsCount').item.json.id }}"
              },
              {
                "keyName": "objNames",
                "condition": "isEmpty"
              },
              {
                "keyName": "status",
                "keyValue": "GetGalleryForFace"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "objUrl": "={{null}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "objectMainId",
                "displayName": "objectMainId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "objNames",
                "displayName": "objNames",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "objUrl",
                "displayName": "objUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objectDescr",
                "displayName": "objectDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -448,
          224
        ],
        "id": "c8668016-02a6-4e61-8e45-1f69675f4ea6",
        "name": "ResetObjUrl"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "73d8f392-1716-4e75-b2c3-d417fdf3f492",
                "leftValue": "={{$('GetImgsCountAdd2').item.json.imgsCount}}",
                "rightValue": 7,
                "operator": {
                  "type": "number",
                  "operation": "lt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -224,
          224
        ],
        "id": "b55d95e9-f0f9-4cb1-ba11-1227137a3fd0",
        "name": "IfImgsLessEg_7"
      },
      {
        "parameters": {
          "operation": "editMessageText",
          "chatId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
          "messageId": "={{ $('Start').item.json.callback_query_message_message_id }}",
          "text": "={{ $('Start').item.json.callback_query_message_text }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1328,
          224
        ],
        "id": "cbb9e7ef-cfe5-4c4c-9f70-48f3fd15dc44",
        "name": "HideButtons",
        "webhookId": "f87be264-3420-476a-b47b-d0408ba34a73",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
          "text": "={{\"Предметы добавлены.\" +\"\\n\\n\" +\n\"Вы можете добавить еще \" +(7-$('GetImgsCountAdd2').item.json.imgsCount) +\" изображений предметов гардероба, по одному за раз.\" \n\n}}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Добавить предметы",
                      "additionalFields": {
                        "callback_data": "addObject"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Завершить образ",
                      "additionalFields": {
                        "callback_data": "done"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "ac3996b4-8503-4d1c-97e1-85594d334d45",
        "name": "msgImgCounter1",
        "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
        "executeOnce": false,
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
              },
              {
                "keyName": "userId",
                "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "GetGalleryForFace"
              },
              {
                "keyName": "process",
                "keyValue": "/createlook"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "userId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
              "dialogId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
              "replyToMessageIdGallery": "={{ $('msgImgCounter1').item.json.result.message_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "process",
                "displayName": "process",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceImgUrl",
                "displayName": "faceImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "replyToMessageIdGallery",
                "displayName": "replyToMessageIdGallery",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "faceGalleryUrl",
                "displayName": "faceGalleryUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "FaceErrToMsgId",
                "displayName": "FaceErrToMsgId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          224,
          0
        ],
        "id": "95d8ca08-7326-46ac-8118-fd88a2391da1",
        "name": "SaveBtnMsgId"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "callback_query_message_chat_id",
                "type": "any"
              },
              {
                "name": "callback_query_message_message_id",
                "type": "any"
              },
              {
                "name": "callback_query_message_text",
                "type": "any"
              },
              {
                "name": "modelName"
              },
              {
                "name": "modelApi"
              },
              {
                "name": "debugMode"
              },
              {
                "name": "apiNB"
              }
            ]
          }
        },
        "id": "33088d9a-505b-4a48-95ad-1b88ce115c5e",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -1616,
          224
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "gJg5NsES1tknmLxM",
            "mode": "list",
            "cachedResultUrl": "/workflow/gJg5NsES1tknmLxM",
            "cachedResultName": "subTR_CL_Done"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "callback_query_message_chat_id": "={{ $('Start').item.json.callback_query_message_chat_id }}",
              "modelName": "={{ $('Start').item.json.modelName }}",
              "modelApi": "={{ $('Start').item.json.modelApi }}",
              "debugMode": "={{ $('Start').item.json.debugMode }}",
              "apiNB": "={{ $('Start').item.json.apiNB }}",
              "message_text": "={{ $('Start').item.json.callback_query_message_text }}"
            },
            "matchingColumns": [
              "callback_query_message_chat_id",
              "message_chat_id",
              "modelName",
              "callback_query_message_message_id",
              "callback_query_message_text"
            ],
            "schema": [
              {
                "id": "callback_query_message_chat_id",
                "displayName": "callback_query_message_chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "modelName",
                "displayName": "modelName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "modelApi",
                "displayName": "modelApi",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "debugMode",
                "displayName": "debugMode",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "apiNB",
                "displayName": "apiNB",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "message_text",
                "displayName": "message_text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          224,
          416
        ],
        "name": "Call subCreateLook_Done",
        "id": "84ba0e57-e44e-402c-9d1b-43d1fea32a76"
      }
    ],
    "connections": {
      "GetCurrentCount2": {
        "main": [
          [
            {
              "node": "GetImgsCountAdd2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetImgsCountAdd2": {
        "main": [
          [
            {
              "node": "SetStatusAndImgsCount",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SetStatusAndImgsCount": {
        "main": [
          [
            {
              "node": "ResetObjUrl",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ResetObjUrl": {
        "main": [
          [
            {
              "node": "IfImgsLessEg_7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfImgsLessEg_7": {
        "main": [
          [
            {
              "node": "msgImgCounter1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call subCreateLook_Done",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HideButtons": {
        "main": [
          [
            {
              "node": "GetCurrentCount2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "msgImgCounter1": {
        "main": [
          [
            {
              "node": "SaveBtnMsgId",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "HideButtons",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "msgImgCounterEnd2": {
        "main": [
          []
        ]
      }
    },
    "authors": "DLS  ",
    "name": "Version 7cff2ef7",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-17T22:32:04.418Z",
        "id": 1498,
        "workflowId": "9PgK8vOtZfOzSxX2",
        "versionId": "7cff2ef7-8289-4f86-800a-8889016e24b1",
        "event": "activated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    ]
  },
  "activeVersionId": "7cff2ef7-8289-4f86-800a-8889016e24b1",
  "connections": {
    "GetCurrentCount2": {
      "main": [
        [
          {
            "node": "GetImgsCountAdd2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetImgsCountAdd2": {
      "main": [
        [
          {
            "node": "SetStatusAndImgsCount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetStatusAndImgsCount": {
      "main": [
        [
          {
            "node": "ResetObjUrl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ResetObjUrl": {
      "main": [
        [
          {
            "node": "IfImgsLessEg_7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfImgsLessEg_7": {
      "main": [
        [
          {
            "node": "msgImgCounter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call subCreateLook_Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HideButtons": {
      "main": [
        [
          {
            "node": "GetCurrentCount2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msgImgCounter1": {
      "main": [
        [
          {
            "node": "SaveBtnMsgId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "HideButtons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msgImgCounterEnd2": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2026-03-02T16:29:12.920Z",
  "description": null,
  "id": "9PgK8vOtZfOzSxX2",
  "isArchived": false,
  "meta": null,
  "name": "subTR_CL_SbmtClbk",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
        "text": "={{\"Сборка образа завершена!\"}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -128,
        544
      ],
      "id": "60a7f926-a42c-469d-a273-632a08da22a3",
      "name": "msgImgCounterEnd2",
      "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "GetGalleryForFace"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1120,
        224
      ],
      "id": "214e7063-84f5-4537-9b1d-e7ca7812cb1a",
      "name": "GetCurrentCount2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a85626a7-cd44-4e1d-b6e1-7aaa35a931c4",
              "name": "imgsCount",
              "value": "={{ $json.imgsCount +1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        224
      ],
      "id": "bd80eb2c-0503-47fc-844b-ed4d2a99b9d1",
      "name": "GetImgsCountAdd2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "GetGalleryForFace"
            },
            {
              "keyName": "process",
              "keyValue": "/createlook"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
            "dialogId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
            "status": "GetGalleryForFace",
            "imgsCount": "={{ $json.imgsCount }}",
            "process": "/createlook"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "process",
              "displayName": "process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "faceImgUrl",
              "displayName": "faceImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "replyToMessageIdGallery",
              "displayName": "replyToMessageIdGallery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceGalleryUrl",
              "displayName": "faceGalleryUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FaceErrToMsgId",
              "displayName": "FaceErrToMsgId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -672,
        224
      ],
      "id": "93ab2973-c4a6-49d1-b644-d9ff69ec00d1",
      "name": "SetStatusAndImgsCount"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "NJfAQt9WXtWm5g15",
          "mode": "list",
          "cachedResultName": "TrendcoreObjectDescr",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/NJfAQt9WXtWm5g15"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
            },
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
            },
            {
              "keyName": "objectMainId",
              "keyValue": "={{ $('SetStatusAndImgsCount').item.json.id }}"
            },
            {
              "keyName": "objNames",
              "condition": "isEmpty"
            },
            {
              "keyName": "status",
              "keyValue": "GetGalleryForFace"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "objUrl": "={{null}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "objectMainId",
              "displayName": "objectMainId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "objNames",
              "displayName": "objNames",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "objUrl",
              "displayName": "objUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objectDescr",
              "displayName": "objectDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -448,
        224
      ],
      "id": "c8668016-02a6-4e61-8e45-1f69675f4ea6",
      "name": "ResetObjUrl"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "73d8f392-1716-4e75-b2c3-d417fdf3f492",
              "leftValue": "={{$('GetImgsCountAdd2').item.json.imgsCount}}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        224
      ],
      "id": "b55d95e9-f0f9-4cb1-ba11-1227137a3fd0",
      "name": "IfImgsLessEg_7"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
        "messageId": "={{ $('Start').item.json.callback_query_message_message_id }}",
        "text": "={{ $('Start').item.json.callback_query_message_text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1328,
        224
      ],
      "id": "cbb9e7ef-cfe5-4c4c-9f70-48f3fd15dc44",
      "name": "HideButtons",
      "webhookId": "f87be264-3420-476a-b47b-d0408ba34a73",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
        "text": "={{\"Предметы добавлены.\" +\"\\n\\n\" +\n\"Вы можете добавить еще \" +(7-$('GetImgsCountAdd2').item.json.imgsCount) +\" изображений предметов гардероба, по одному за раз.\" \n\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Добавить предметы",
                    "additionalFields": {
                      "callback_data": "addObject"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить образ",
                    "additionalFields": {
                      "callback_data": "done"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ac3996b4-8503-4d1c-97e1-85594d334d45",
      "name": "msgImgCounter1",
      "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "GetGalleryForFace"
            },
            {
              "keyName": "process",
              "keyValue": "/createlook"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
            "dialogId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
            "replyToMessageIdGallery": "={{ $('msgImgCounter1').item.json.result.message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "process",
              "displayName": "process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceImgUrl",
              "displayName": "faceImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "replyToMessageIdGallery",
              "displayName": "replyToMessageIdGallery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "faceGalleryUrl",
              "displayName": "faceGalleryUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FaceErrToMsgId",
              "displayName": "FaceErrToMsgId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "95d8ca08-7326-46ac-8118-fd88a2391da1",
      "name": "SaveBtnMsgId"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "callback_query_message_chat_id",
              "type": "any"
            },
            {
              "name": "callback_query_message_message_id",
              "type": "any"
            },
            {
              "name": "callback_query_message_text",
              "type": "any"
            },
            {
              "name": "modelName"
            },
            {
              "name": "modelApi"
            },
            {
              "name": "debugMode"
            },
            {
              "name": "apiNB"
            }
          ]
        }
      },
      "id": "33088d9a-505b-4a48-95ad-1b88ce115c5e",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1616,
        224
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gJg5NsES1tknmLxM",
          "mode": "list",
          "cachedResultUrl": "/workflow/gJg5NsES1tknmLxM",
          "cachedResultName": "subTR_CL_Done"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "callback_query_message_chat_id": "={{ $('Start').item.json.callback_query_message_chat_id }}",
            "modelName": "={{ $('Start').item.json.modelName }}",
            "modelApi": "={{ $('Start').item.json.modelApi }}",
            "debugMode": "={{ $('Start').item.json.debugMode }}",
            "apiNB": "={{ $('Start').item.json.apiNB }}",
            "message_text": "={{ $('Start').item.json.callback_query_message_text }}"
          },
          "matchingColumns": [
            "callback_query_message_chat_id",
            "message_chat_id",
            "modelName",
            "callback_query_message_message_id",
            "callback_query_message_text"
          ],
          "schema": [
            {
              "id": "callback_query_message_chat_id",
              "displayName": "callback_query_message_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "modelName",
              "displayName": "modelName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "modelApi",
              "displayName": "modelApi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "debugMode",
              "displayName": "debugMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apiNB",
              "displayName": "apiNB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        416
      ],
      "name": "Call subCreateLook_Done",
      "id": "84ba0e57-e44e-402c-9d1b-43d1fea32a76"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "callback_query_message_chat_id": 1723701965,
          "callback_query_message_message_id": "11973",
          "callback_query_message_text": "Выберите предметы, которые должны войти в образ.\n\nТёмно-красные колготки;",
          "modelName": "gemini-3-flash",
          "modelApi": "google",
          "debugMode": "false",
          "apiNB": "fal"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "trendcore_n8n",
  "repo_owner": "ds634",
  "repo_path": "/repos/ds634/trendcore_n8n/contents/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Db9RTL99yUCO77oO",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-02T16:29:12.923Z",
      "createdAt": "2026-03-02T16:29:12.923Z",
      "role": "workflow:owner",
      "workflowId": "9PgK8vOtZfOzSxX2",
      "projectId": "M9bTlSGaaAbsZxvs",
      "project": {
        "updatedAt": "2026-03-02T14:12:07.095Z",
        "createdAt": "2026-03-02T14:12:01.275Z",
        "id": "M9bTlSGaaAbsZxvs",
        "name": "DLS   <ds@trendcore.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-02T14:25:49.831Z",
      "createdAt": "2026-03-02T14:25:49.831Z",
      "id": "6ZyTvRGaNVzskE04",
      "name": "TG_PROD"
    },
    {
      "updatedAt": "2026-03-02T14:25:49.805Z",
      "createdAt": "2026-03-02T14:25:49.805Z",
      "id": "uZYZiWAvyVAXbBbR",
      "name": "CL"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-17T22:32:02.996Z",
  "versionCounter": 110,
  "versionId": "7cff2ef7-8289-4f86-800a-8889016e24b1",
  "wf_name": "subTR_CL_SbmtClbk"
}