2026/03/cy2OHtNbUQaDIMP4.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-09T20:48:34.000Z",
    "createdAt": "2026-03-09T20:40:59.047Z",
    "versionId": "695476d8-4c0f-4619-a138-f1a5cb19ae2f",
    "workflowId": "cy2OHtNbUQaDIMP4",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "27e39163-9a2b-4472-b402-332399e5967f",
                "name": "=systemPrompt",
                "value": "={{$json.systemPrompt_replace\n      .replace(/\\\\/g, '')\n      .replace(/\\n+/g, ' ')\n      .replace(/\"/g, \"'\")\n      .trim()\n}}\n",
                "type": "string"
              }
            ]
          },
          "options": {
            "ignoreConversionErrors": false,
            "dotNotation": true
          }
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -624,
          96
        ],
        "id": "83974646-2636-43fb-bd7b-2ee3e6347178",
        "name": "SP_ToPlainText"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "systemPrompt_replace",
                "type": "any"
              }
            ]
          }
        },
        "id": "e5fa26fb-1f1c-4056-b566-eb31fed19b6f",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -832,
          96
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "deafaccd-ef73-4c0c-95b3-8acefb60e9f1",
                "leftValue": "={{ $json.id}}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -208,
          96
        ],
        "id": "d2335408-d3d0-435c-ba46-501ba5bb9285",
        "name": "IfEmpty"
      },
      {
        "parameters": {
          "errorMessage": "Error parsing to plain text"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "bcd45a93-82ab-43b1-97eb-f14f4e49c37c",
        "name": "Stop and Error"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "af65f64b-be1f-47c1-941e-5c7cfa5aaf36",
                "name": "=id",
                "value": "={{\n($json.systemPrompt\n      .replace(/\\\\/g, '')\n      .replace(/\\n+/g, ' ')\n      .replace(/\"/g, \"'\")\n      .replace(/\\s+/g, ' ')\n      .trim()\n  )\n}}\n\n",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -416,
          96
        ],
        "id": "ebcc08c2-7628-4bef-aca7-e1e5f439fe03",
        "name": "process"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "af65f64b-be1f-47c1-941e-5c7cfa5aaf36",
                "name": "plainText",
                "value": "={{ $('process').item.json.id.trim() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          192
        ],
        "id": "d414d50f-74de-46d3-9f75-89fe27c25ff6",
        "name": "Return"
      }
    ],
    "connections": {
      "Start": {
        "main": [
          [
            {
              "node": "SP_ToPlainText",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SP_ToPlainText": {
        "main": [
          [
            {
              "node": "process",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfEmpty": {
        "main": [
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "process": {
        "main": [
          [
            {
              "node": "IfEmpty",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DLS  ",
    "name": "Version 695476d8",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-09T20:41:03.415Z",
        "id": 526,
        "workflowId": "cy2OHtNbUQaDIMP4",
        "versionId": "695476d8-4c0f-4619-a138-f1a5cb19ae2f",
        "event": "activated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      },
      {
        "createdAt": "2026-03-09T20:48:34.848Z",
        "id": 528,
        "workflowId": "cy2OHtNbUQaDIMP4",
        "versionId": "695476d8-4c0f-4619-a138-f1a5cb19ae2f",
        "event": "activated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      },
      {
        "createdAt": "2026-03-09T20:48:30.294Z",
        "id": 527,
        "workflowId": "cy2OHtNbUQaDIMP4",
        "versionId": "695476d8-4c0f-4619-a138-f1a5cb19ae2f",
        "event": "deactivated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    ]
  },
  "activeVersionId": "695476d8-4c0f-4619-a138-f1a5cb19ae2f",
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "SP_ToPlainText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP_ToPlainText": {
      "main": [
        [
          {
            "node": "process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfEmpty": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "process": {
      "main": [
        [
          {
            "node": "IfEmpty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-02T17:18:06.110Z",
  "description": null,
  "id": "cy2OHtNbUQaDIMP4",
  "isArchived": false,
  "meta": null,
  "name": "subMkPlnTxt",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27e39163-9a2b-4472-b402-332399e5967f",
              "name": "=systemPrompt",
              "value": "={{$json.systemPrompt_replace\n      .replace(/\\\\/g, '')\n      .replace(/\\n+/g, ' ')\n      .replace(/\"/g, \"'\")\n      .trim()\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false,
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        96
      ],
      "id": "83974646-2636-43fb-bd7b-2ee3e6347178",
      "name": "SP_ToPlainText"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "systemPrompt_replace",
              "type": "any"
            }
          ]
        }
      },
      "id": "e5fa26fb-1f1c-4056-b566-eb31fed19b6f",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -832,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "deafaccd-ef73-4c0c-95b3-8acefb60e9f1",
              "leftValue": "={{ $json.id}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "d2335408-d3d0-435c-ba46-501ba5bb9285",
      "name": "IfEmpty"
    },
    {
      "parameters": {
        "errorMessage": "Error parsing to plain text"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "bcd45a93-82ab-43b1-97eb-f14f4e49c37c",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af65f64b-be1f-47c1-941e-5c7cfa5aaf36",
              "name": "=id",
              "value": "={{\n($json.systemPrompt\n      .replace(/\\\\/g, '')\n      .replace(/\\n+/g, ' ')\n      .replace(/\"/g, \"'\")\n      .replace(/\\s+/g, ' ')\n      .trim()\n  )\n}}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        96
      ],
      "id": "ebcc08c2-7628-4bef-aca7-e1e5f439fe03",
      "name": "process"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af65f64b-be1f-47c1-941e-5c7cfa5aaf36",
              "name": "plainText",
              "value": "={{ $('process').item.json.id.trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ],
      "id": "d414d50f-74de-46d3-9f75-89fe27c25ff6",
      "name": "Return"
    }
  ],
  "pinData": {},
  "repo_name": "trendcore_n8n",
  "repo_owner": "ds634",
  "repo_path": "/repos/ds634/trendcore_n8n/contents/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Db9RTL99yUCO77oO",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-02T17:18:06.112Z",
      "createdAt": "2026-03-02T17:18:06.112Z",
      "role": "workflow:owner",
      "workflowId": "cy2OHtNbUQaDIMP4",
      "projectId": "M9bTlSGaaAbsZxvs",
      "project": {
        "updatedAt": "2026-03-02T14:12:07.095Z",
        "createdAt": "2026-03-02T14:12:01.275Z",
        "id": "M9bTlSGaaAbsZxvs",
        "name": "DLS   <ds@trendcore.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-02T14:25:49.831Z",
      "createdAt": "2026-03-02T14:25:49.831Z",
      "id": "6ZyTvRGaNVzskE04",
      "name": "TG_PROD"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-09T20:48:47.272Z",
  "versionCounter": 45,
  "versionId": "695476d8-4c0f-4619-a138-f1a5cb19ae2f",
  "wf_name": "subMkPlnTxt"
}