2026/03/Db9RTL99yUCO77oO.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-21T20:13:58.000Z",
    "createdAt": "2026-03-21T20:13:55.912Z",
    "versionId": "713e0775-8e1b-46f7-bd9c-1e8970b4edce",
    "workflowId": "Db9RTL99yUCO77oO",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -128,
          0
        ],
        "id": "fd5b8d5d-728d-4537-9a55-d7d05dae7bb0",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "chatId": "133518123",
          "text": "=Процесс {{ $json.workflow.name}} вернул ошибку {{ $json.execution.url }}\nОшибка в ноде {{ $json.execution.lastNodeExecuted }}: {{ $json.execution.error.message }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          80,
          0
        ],
        "id": "3f06299f-fa21-412b-8656-edac4cbcb986",
        "name": "Send a text message",
        "webhookId": "8b15a552-af6e-40e4-ab0a-7903674a0924",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "chatId": "1723701965",
          "text": "=Процесс {{ $('Error Trigger').item.json.workflow.name}} вернул ошибку {{ $('Error Trigger').item.json.execution.url }}\nОшибка в ноде {{$('Error Trigger').item.json.execution.lastNodeExecuted }}: {{ $('Error Trigger').item.json.execution.error.message }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          320,
          0
        ],
        "id": "08aeaba5-90d4-4d00-a001-8942971e9d9d",
        "name": "Send a text message1",
        "webhookId": "8b15a552-af6e-40e4-ab0a-7903674a0924",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DLS  ",
    "name": "Version 713e0775",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-21T20:13:58.935Z",
        "id": 1612,
        "workflowId": "Db9RTL99yUCO77oO",
        "versionId": "713e0775-8e1b-46f7-bd9c-1e8970b4edce",
        "event": "activated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    ]
  },
  "activeVersionId": "713e0775-8e1b-46f7-bd9c-1e8970b4edce",
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-02T14:38:42.195Z",
  "description": null,
  "id": "Db9RTL99yUCO77oO",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "subTR_PROD_Error_workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        0
      ],
      "id": "fd5b8d5d-728d-4537-9a55-d7d05dae7bb0",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "133518123",
        "text": "=Процесс {{ $json.workflow.name}} вернул ошибку {{ $json.execution.url }}\nОшибка в ноде {{ $json.execution.lastNodeExecuted }}: {{ $json.execution.error.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        0
      ],
      "id": "3f06299f-fa21-412b-8656-edac4cbcb986",
      "name": "Send a text message",
      "webhookId": "8b15a552-af6e-40e4-ab0a-7903674a0924",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1723701965",
        "text": "=Процесс {{ $('Error Trigger').item.json.workflow.name}} вернул ошибку {{ $('Error Trigger').item.json.execution.url }}\nОшибка в ноде {{$('Error Trigger').item.json.execution.lastNodeExecuted }}: {{ $('Error Trigger').item.json.execution.error.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        0
      ],
      "id": "08aeaba5-90d4-4d00-a001-8942971e9d9d",
      "name": "Send a text message1",
      "webhookId": "8b15a552-af6e-40e4-ab0a-7903674a0924",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "trendcore_n8n",
  "repo_owner": "ds634",
  "repo_path": "/repos/ds634/trendcore_n8n/contents/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-02T14:38:42.197Z",
      "createdAt": "2026-03-02T14:38:42.197Z",
      "role": "workflow:owner",
      "workflowId": "Db9RTL99yUCO77oO",
      "projectId": "M9bTlSGaaAbsZxvs",
      "project": {
        "updatedAt": "2026-03-02T14:12:07.095Z",
        "createdAt": "2026-03-02T14:12:01.275Z",
        "id": "M9bTlSGaaAbsZxvs",
        "name": "DLS   <ds@trendcore.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-02T14:25:49.831Z",
      "createdAt": "2026-03-02T14:25:49.831Z",
      "id": "6ZyTvRGaNVzskE04",
      "name": "TG_PROD"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-24T17:58:27.603Z",
  "versionCounter": 55,
  "versionId": "713e0775-8e1b-46f7-bd9c-1e8970b4edce",
  "wf_name": "subTR_PROD_Error_workflow"
}