2026/03/gJg5NsES1tknmLxM.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-28T10:41:56.000Z",
    "createdAt": "2026-03-28T10:41:47.848Z",
    "versionId": "9be89552-072f-43b0-af84-137367490fad",
    "workflowId": "gJg5NsES1tknmLxM",
    "nodes": [
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.message_chat_id }}",
          "text": "={{ \"Ошибка обработки: \" +  $('AI_ImageDesr').item.json.msg }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          448,
          544
        ],
        "id": "e4a21932-544a-414f-9047-313cb7596f2d",
        "name": "OP_Err_ response1",
        "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.dialogId }}",
          "text": "={{ $json.objNamesLocal}}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          816,
          544
        ],
        "id": "29985136-424c-428f-b87c-75ba2baded83",
        "name": "OP_final_model1",
        "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "ebf1b473-80ad-42bd-acaa-1446197e4bc1",
                "leftValue": "={{$json.data === empty }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          192,
          416
        ],
        "id": "edfcb1e8-cd40-4b55-93c0-91861e5c8389",
        "name": "IfResponseOk2"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "NJfAQt9WXtWm5g15",
            "mode": "list",
            "cachedResultName": "TrendcoreObjectDescr",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/NJfAQt9WXtWm5g15"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "userId",
                "keyValue": "={{ $json.chat_id }}"
              },
              {
                "keyName": "dialogId",
                "keyValue": "={{ $json.chat_id }}"
              },
              {
                "keyName": "objectMainId",
                "keyValue": "={{ $json.objectMainId }}"
              },
              {
                "keyName": "objUrl",
                "keyValue": "={{ $json.imgUrls }}"
              },
              {
                "keyName": "objNames",
                "keyValue": "={{ $json.ObjName }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "objectDescr": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.ObjName + \" - \" + \n\n$('IfResponseOk2').item.json.data.replaceAll(\"```\",\"\").replaceAll(\"json\",\"\").parseJson().items[0].Description\n\n\n\n}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "objectMainId",
                "displayName": "objectMainId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "objNames",
                "displayName": "objNames",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "objUrl",
                "displayName": "objUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "objectDescr",
                "displayName": "objectDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          608,
          368
        ],
        "id": "5a4be305-2719-4814-a64e-f3856dbd5686",
        "name": "Update row(s)"
      },
      {
        "parameters": {
          "operation": "sendChatAction",
          "chatId": "={{ $('Start').item.json.callback_query_message_chat_id }}"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -368,
          416
        ],
        "id": "f88d0caa-e350-44ad-b190-e8153dd197fe",
        "name": "Send a chat action2",
        "webhookId": "d9b28dce-5a43-45b7-ae61-7a0113460e73",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "NJfAQt9WXtWm5g15",
            "mode": "list",
            "cachedResultName": "TrendcoreObjectDescr",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/NJfAQt9WXtWm5g15"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "objectMainId",
                "keyValue": "={{ $('GetLastTaskId').item.json.id }}"
              },
              {
                "keyName": "objNames",
                "condition": "isNotEmpty"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "status": "GalleryForFaceRecieved"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "objectMainId",
                "displayName": "objectMainId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objNames",
                "displayName": "objNames",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "objUrl",
                "displayName": "objUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "objectDescr",
                "displayName": "objectDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -1008,
          400
        ],
        "id": "f0140a87-a576-4189-a78f-a97b137abbf8",
        "name": "UpdateAndGetImgs"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -560,
          400
        ],
        "id": "720e632a-abef-46e7-a2f5-dc6d301cf077",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "compare": "allFieldsExcept",
          "fieldsToExclude": "id, createdAt, updatedAt",
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          -784,
          400
        ],
        "id": "edeb6e89-1a30-459a-846f-a8fa0fbffde4",
        "name": "Remove Duplicates"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "userId",
                "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
              },
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "GetGalleryForFace"
              },
              {
                "keyName": "process",
                "keyValue": "/createlook"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -2480,
          384
        ],
        "id": "8e763455-0848-4ebf-92ff-1029453fa805",
        "name": "GetLastActiveTaskId"
      },
      {
        "parameters": {
          "maxItems": "={{ $json.id }}"
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -2288,
          384
        ],
        "id": "10317b26-7cc8-4404-a011-236a37173b36",
        "name": "GetLastTaskId"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a869a9c7-791d-4f1c-852e-828a3569b146",
                "leftValue": "={{$('IfResponseOk2').item.json.msg.replaceAll(\"```\",\"\").replaceAll(\"json\",\"\")}}",
                "rightValue": "Error",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          416,
          160
        ],
        "id": "2f6edcb9-4dee-4381-bb16-dff52ef43030",
        "name": "IfError1"
      },
      {
        "parameters": {
          "operation": "editMessageText",
          "chatId": "={{ $('Start').item.json.callback_query_message_chat_id}}",
          "messageId": "={{ $('Start').item.json.callback_query_message_chat_id}}",
          "text": "={{ $('Start').item.json.message_chat_id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -3504,
          384
        ],
        "id": "b5aa499d-6fdf-460f-ace2-d363e9301ecf",
        "name": "HideButtons",
        "webhookId": "513cfb9a-8cac-4dd8-91c6-506dfb517402",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "HAx71vJKguCGGUYW",
            "mode": "list",
            "cachedResultUrl": "/workflow/HAx71vJKguCGGUYW",
            "cachedResultName": "subTR_CL_Done_Pose"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "message_chat_id": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
              "model": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.modelName }}",
              "modelApi": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.apiName }}",
              "debugMode": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.debugMode }}",
              "apiNameNB": "={{ $('Start').item.json.apiNB }}"
            },
            "matchingColumns": [
              "callback_query_message_chat_id",
              "message_chat_id",
              "msg"
            ],
            "schema": [
              {
                "id": "message_chat_id",
                "displayName": "message_chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "model",
                "displayName": "model",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "modelApi",
                "displayName": "modelApi",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "debugMode",
                "displayName": "debugMode",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "apiNameNB",
                "displayName": "apiNameNB",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": true,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -64,
          48
        ],
        "name": "Call subPoseNB",
        "id": "7c54fe64-d4de-447f-94e7-cff3495f00e6"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "callback_query_message_chat_id",
                "type": "any"
              },
              {
                "name": "modelName",
                "type": "any"
              },
              {
                "name": "modelApi"
              },
              {
                "name": "debugMode"
              },
              {
                "name": "apiNB"
              },
              {
                "name": "message_text"
              }
            ]
          }
        },
        "id": "cf4dcffc-0e1a-490b-99ef-1810850337ba",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -3952,
          384
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "userId",
                "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
              },
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
              },
              {
                "keyName": "process",
                "keyValue": "/createlook"
              },
              {
                "keyName": "status",
                "keyValue": "GetGalleryForFace"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -3296,
          384
        ],
        "id": "731c00bc-406d-4ad9-9e47-087584e4c477",
        "name": "GetMsgId1",
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "deleteMessage",
          "chatId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
          "messageId": "={{ $('GetMsgId1').item.json.replyToMessageIdGallery }}"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2688,
          384
        ],
        "id": "d8af6e69-2cef-4888-966e-7c43a82ad762",
        "name": "Delete a chat message2",
        "webhookId": "a37bcfb9-c873-4346-915b-d3059251a03f",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "MCKUe6c7lEWRrPCq",
            "mode": "list",
            "cachedResultUrl": "/workflow/MCKUe6c7lEWRrPCq",
            "cachedResultName": "subTR_API_AI_Selector"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Start').item.json.callback_query_message_chat_id }}",
              "modelName": "={{ $('Start').item.json.modelName }}",
              "apiName": "={{ $('Start').item.json.modelApi }}",
              "userPrompt": "={{ $('UpdateAndGetImgs').item.json.objNames }}",
              "imgUrls": "={{ $('UpdateAndGetImgs').item.json.objUrl }}",
              "systemPrompt": "={{ $('Call \\'subMkPlnTxt\\'').item.json.plainText }}",
              "objectMainId": "={{ $('UpdateAndGetImgs').item.json.objectMainId }}",
              "ObjName": "={{ $('UpdateAndGetImgs').item.json.objNames }}",
              "ObjNameLocal": "={{ $('UpdateAndGetImgs').item.json.objNamesLocal }}",
              "debugMode": "={{ $('Start').item.json.debugMode }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "modelName",
                "displayName": "modelName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "apiName",
                "displayName": "apiName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "userPrompt",
                "displayName": "userPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "systemPrompt",
                "displayName": "systemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "imgUrls",
                "displayName": "imgUrls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "ObjName",
                "displayName": "ObjName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "objectMainId",
                "displayName": "objectMainId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "ObjNameLocal",
                "displayName": "ObjNameLocal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "botTocken",
                "displayName": "botTocken",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "urlList_bool",
                "displayName": "urlList_bool",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean",
                "removed": false
              },
              {
                "id": "debugMode",
                "displayName": "debugMode",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": true,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -80,
          416
        ],
        "id": "03e23431-b662-4f7b-81e6-e802f469d1e1",
        "name": "Call 'subTR_API_AI_Selector'"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "77eb54c4-0b4f-465f-8fa5-48060620c4f1",
                "leftValue": "={{ $('GetMsgId1').item.json.isEmpty()}}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3088,
          384
        ],
        "id": "1ec55159-8062-4009-8ff2-8dd25eb3e812",
        "name": "IfEmpty"
      },
      {
        "parameters": {
          "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
          "text": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.data.trim() + \" \" + $('Call \\'subTR_API_AI_Selector\\'').item.json.ObjNameLocal}}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1296,
          592
        ],
        "id": "1d24056d-c1aa-4e92-97f6-87140f23763d",
        "name": "Send a text message1",
        "webhookId": "2e1b5d3d-41a7-41b6-a200-624395fb6162",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b51b3b63-2255-45fe-9023-8b136b8f4080",
                "name": "systemPrompt",
                "value": "<system_identity>\nItems-Describer v31-R1 (Release 1 - Lost-n-Found 2).\nRole: Act as a visual wearable item and outfit describer, analyzing one image and one user prompt.\nObjective: Describe visible clothing, footwear, and accessories with maximum reconstruction value for a downstream prompt-building model. Preserve distinctive garment identity, structural logic, and unusual silhouettes. Prevent smoothing, simplifying, or normalizing distinctive items into generic versions by utilizing strict geometric and proportional anchoring. Output exactly ONE raw JSON object and nothing else.\n</system_identity>\n\n<prompt_routing>\nFirst, normalize the user prompt by trimming leading and trailing spaces and collapsing repeated internal spaces to a single space. Preserve the original prompt for item extraction.\nBased on the prompt, you must route to EXACTLY ONE of the following modes:\n\n1. COMPLETE LOOK MODE: Triggered ONLY if the normalized prompt equals \"complete look\" (case-insensitive).\n2. ITEM MODE: Triggered if the prompt contains one or more clearly identifiable wearable item references (in English or Russian), separated by commas or conjunctions (\"and\", \"и\").\n3. INVALID PROMPT (Error): If the prompt is empty, not wearable-related, structurally unclear, or matches neither valid mode, trigger the \"broken list\" error schema.\n</prompt_routing>\n\n<error_schemas>\nEvaluate the image and prompt before proceeding. If an error condition is met, output ONLY the exact matching JSON object below. Do not output anything else.\n\n- If the image cannot be retrieved, loaded, decoded, or visually analyzed:\n{\"response\":\"error\",\"msg\":\"⚠ Error. Image could not be retrieved.\"}\n- If the prompt is invalid or separation is too ambiguous to parse reliably:\n{\"response\":\"error\",\"msg\":\"⚠ Error. List of items is broken.\"}\n- If ITEM MODE is triggered but ANY requested item is not found in the image:\n{\"response\":\"error\",\"msg\":\"⚠ Error. Selected item not found in the image.\"}\n- If COMPLETE LOOK MODE is triggered but the complete outfit is not sufficiently visible:\n{\"response\":\"error\",\"msg\":\"⚠ Error. Complete outfit is not sufficiently visible.\"}\n</error_schemas>\n\n<visual_fidelity_rules>\n- Describe ONLY directly visible wearable objects and attributes. NO speculation.\n- PRIOR-BUSTING: If an item's construction defies standard commercial tailoring, DO NOT use generic archetype words (e.g., \"trench coat\", \"blazer\", \"cardigan\") that trigger standard AI diffusion priors. Use structural terms like \"architectural jacket\", \"sculptural top\", or \"layered outerwear\".\n- SEQUENTIAL LAYER MAPPING: For complex, overlapping, or asymmetrical details (especially on the chest, collar, or closure), DO NOT summarize them as a single panel. Describe the exact topological sequence layer-by-layer (e.g., \"a wide geometric collar folded back on the right, resting entirely over a secondary asymmetrical angular flap crossing the mid-chest\").\n- PROPORTION ANCHORING & RIGIDITY: When describing oversized garments, \"oversized\" is insufficient. You must anchor proportions to the body using extreme anatomical markers (e.g., \"extreme dropped shoulders falling halfway down the bicep\"). Describe how the material behaves under tension (e.g., \"stiff volume that actively resists cinching at the waist, maintaining a dramatically wide, boxy upper silhouette\").\n- DO NOT reduce a distinctive item to a generic version. Do not replace visibly unusual objects with cleaner, flatter, slimmer, more tailored, or standard interpretations.\n- RESTRICTED CONTENT: Do not describe motion, implied action, pose, gesture, spatial location, identity, personality, environment, lighting, or photographic qualities.\n</visual_fidelity_rules>\n\n<item_mode_rules>\nIf routed to ITEM MODE, extract requested items in prompt order. Preserve duplicates in prompt order if multiple entries refer to the same visible object. Each requested item must clearly match the visible wearable category without contradicting visible attributes.\n\nSuccess Schema:\n{\"response\":\"success\",\"mode\":\"items\",\"items\":[{\"Item Title\":\"[English Item Title]\",\"Description\":\"[English Description]\"}]}\n\n- \"Item Title\": English only. Title Case. Concise and product-like (usually 2 to 4 words). May refine prompt wording to better reflect the visible matched object, but must NOT change the requested category.\n- \"Description\": English only. Target 3 to 5 dense sentences (approx. 45-65 words). Begin with \"A\" or \"An\". Describe ONLY the requested matched item. \n- Priority Order for Description: Category/silhouette -> volume/proportion -> sequential layer mapping (chest/closures) -> pockets/flaps -> hem/drape -> material/color. Explicitly describe non-flat, gathered, layered, asymmetric, or sculptural traits using raw geometry.\n</item_mode_rules>\n\n<complete_look_rules>\nIf routed to COMPLETE LOOK MODE, proceed only if the outfit is sufficiently complete and visible for a reliable outfit-level description.\n\nSuccess Schema:\n{\"response\":\"success\",\"mode\":\"complete_look\",\"Outfit Title\":\"[Title]\",\"Full Description\":\"[English full description]\",\"Short Description\":\"[Russian short description]\"}\n\n- \"Outfit Title\": English only. Title Case. 1 to 4 words. Alphabetic characters and spaces only (NO punctuation).\n- \"Full Description\": English only. Target 10 to 15 sentences (approx. 180-250 words). Begin with \"A\" or \"An\". Integrate all clearly visible clothing smoothly. Give extra structural detail to the most distinctive outer layer or hero item first using the Prior-Busting and Layer Mapping rules. Make visible layering explicit.\n- \"Short Description\": Russian only. Target 2 to 3 sentences (approx. 28-40 words). Summarize ONLY traits already present in the Full Description. Introduce no new items, colors, materials, or attributes. Describe the outfit as a whole.\n</complete_look_rules>\n\n<json_constraints>\n1. Output valid, strict JSON ONLY.\n2. DO NOT wrap the JSON in markdown formatting (e.g., no ```json ``` blocks). Output the raw brackets { to }.\n3. DO NOT include any conversational text, explanations, or metadata before or after the JSON object.\n4. Avoid malformed escapes, raw control characters, and unnecessary punctuation complexity inside string values.\n5. The active response case must perfectly match one of the allowed schemas.\n</json_constraints>",
                "type": "string"
              },
              {
                "id": "d40f012f-85d7-4b60-beec-1d014fa9d913",
                "name": "promptName",
                "value": "Items-Describer",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2080,
          384
        ],
        "id": "ddb665a8-c411-4403-95bc-9e8889a048f2",
        "name": "SP_ItemsDescriber"
      },
      {
        "parameters": {
          "errorMessage": "Нет данных для обработки"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          -2848,
          256
        ],
        "id": "2405519d-f5e5-4918-b944-9a98c3d7c868",
        "name": "Stop and Error"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "cy2OHtNbUQaDIMP4",
            "mode": "list",
            "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
            "cachedResultName": "subMkPlnTxt"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "systemPrompt_replace": "={{ $json.recievedPrompt }}"
            },
            "matchingColumns": [
              "systemPrompt_replace"
            ],
            "schema": [
              {
                "id": "systemPrompt_replace",
                "displayName": "systemPrompt_replace",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1232,
          400
        ],
        "id": "f48153ea-51be-440b-8f75-7a9d20525421",
        "name": "Call 'subMkPlnTxt'"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f3370f8c-837f-416e-a8b9-268ff8d544f5",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1808,
          368
        ],
        "id": "045b5080-66c2-475a-9ff9-dbf394d0676a",
        "name": "IfDebug1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "09b70afd-76f1-459c-9a7c-16af72a0a5de",
                "name": "recievedPrompt",
                "value": "={{$('GetPrompt1').isExecuted && $('GetPrompt1').item.json.PromptText.isNotEmpty()\n?$('GetPrompt1').item.json.PromptText\n:$('SP_ItemsDescriber').item.json.systemPrompt\n}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1488,
          384
        ],
        "id": "d774c257-5df2-4737-acfa-d997227612ec",
        "name": "SP_recievedPrompt1"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ",
            "mode": "list",
            "cachedResultName": "N8N prompts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "PromptName",
                "lookupValue": "={{ $('SP_ItemsDescriber').item.json.promptName }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1648,
          272
        ],
        "id": "4cdb518a-258a-4573-a05d-4bb61047b025",
        "name": "GetPrompt1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.callback_query_message_chat_id }}",
          "text": "=Собираю образ...",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -3712,
          384
        ],
        "id": "39b4a011-5384-46ca-83db-ddb5dbcd6d2c",
        "name": "OP_final_model",
        "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "keep": "lastItems"
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -352,
          224
        ],
        "id": "77d2df84-b0a2-4bfc-8e3c-5ff7c064ab6d",
        "name": "GetLast"
      }
    ],
    "connections": {
      "GetLastActiveTaskId": {
        "main": [
          [
            {
              "node": "GetLastTaskId",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetLastTaskId": {
        "main": [
          [
            {
              "node": "SP_ItemsDescriber",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfError1": {
        "main": [
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfResponseOk2": {
        "main": [
          [
            {
              "node": "IfError1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "OP_Err_ response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a chat action2": {
        "main": [
          [
            {
              "node": "Call 'subTR_API_AI_Selector'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UpdateAndGetImgs": {
        "main": [
          [
            {
              "node": "Remove Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update row(s)": {
        "main": [
          [
            {
              "node": "OP_final_model1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "GetLast",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a chat action2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OP_final_model1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HideButtons": {
        "main": [
          [
            {
              "node": "GetMsgId1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "OP_final_model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetMsgId1": {
        "main": [
          [
            {
              "node": "IfEmpty",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete a chat message2": {
        "main": [
          [
            {
              "node": "GetLastActiveTaskId",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfEmpty": {
        "main": [
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Delete a chat message2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'subTR_API_AI_Selector'": {
        "main": [
          [
            {
              "node": "IfResponseOk2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SP_ItemsDescriber": {
        "main": [
          [
            {
              "node": "IfDebug1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call subPoseNB": {
        "main": [
          []
        ]
      },
      "Call 'subMkPlnTxt'": {
        "main": [
          [
            {
              "node": "UpdateAndGetImgs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug1": {
        "main": [
          [
            {
              "node": "GetPrompt1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SP_recievedPrompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetPrompt1": {
        "main": [
          [
            {
              "node": "SP_recievedPrompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SP_recievedPrompt1": {
        "main": [
          [
            {
              "node": "Call 'subMkPlnTxt'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OP_final_model": {
        "main": [
          [
            {
              "node": "HideButtons",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetLast": {
        "main": [
          [
            {
              "node": "Call subPoseNB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DLS  ",
    "name": "Version 9be89552",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "9be89552-072f-43b0-af84-137367490fad",
  "connections": {
    "GetLastActiveTaskId": {
      "main": [
        [
          {
            "node": "GetLastTaskId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetLastTaskId": {
      "main": [
        [
          {
            "node": "SP_ItemsDescriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfError1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfResponseOk2": {
      "main": [
        [
          {
            "node": "IfError1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OP_Err_ response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action2": {
      "main": [
        [
          {
            "node": "Call 'subTR_API_AI_Selector'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateAndGetImgs": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "OP_final_model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "GetLast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a chat action2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OP_final_model1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HideButtons": {
      "main": [
        [
          {
            "node": "GetMsgId1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "OP_final_model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMsgId1": {
      "main": [
        [
          {
            "node": "IfEmpty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message2": {
      "main": [
        [
          {
            "node": "GetLastActiveTaskId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfEmpty": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a chat message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subTR_API_AI_Selector'": {
      "main": [
        [
          {
            "node": "IfResponseOk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP_ItemsDescriber": {
      "main": [
        [
          {
            "node": "IfDebug1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call subPoseNB": {
      "main": [
        []
      ]
    },
    "Call 'subMkPlnTxt'": {
      "main": [
        [
          {
            "node": "UpdateAndGetImgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug1": {
      "main": [
        [
          {
            "node": "GetPrompt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP_recievedPrompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetPrompt1": {
      "main": [
        [
          {
            "node": "SP_recievedPrompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP_recievedPrompt1": {
      "main": [
        [
          {
            "node": "Call 'subMkPlnTxt'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OP_final_model": {
      "main": [
        [
          {
            "node": "HideButtons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetLast": {
      "main": [
        [
          {
            "node": "Call subPoseNB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-02T17:14:31.881Z",
  "id": "gJg5NsES1tknmLxM",
  "isArchived": false,
  "meta": null,
  "name": "subTR_CL_Done",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message_chat_id }}",
        "text": "={{ \"Ошибка обработки: \" +  $('AI_ImageDesr').item.json.msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        544
      ],
      "id": "e4a21932-544a-414f-9047-313cb7596f2d",
      "name": "OP_Err_ response1",
      "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.dialogId }}",
        "text": "={{ $json.objNamesLocal}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        544
      ],
      "id": "29985136-424c-428f-b87c-75ba2baded83",
      "name": "OP_final_model1",
      "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ebf1b473-80ad-42bd-acaa-1446197e4bc1",
              "leftValue": "={{$json.data === empty }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        416
      ],
      "id": "edfcb1e8-cd40-4b55-93c0-91861e5c8389",
      "name": "IfResponseOk2"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "NJfAQt9WXtWm5g15",
          "mode": "list",
          "cachedResultName": "TrendcoreObjectDescr",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/NJfAQt9WXtWm5g15"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.chat_id }}"
            },
            {
              "keyName": "dialogId",
              "keyValue": "={{ $json.chat_id }}"
            },
            {
              "keyName": "objectMainId",
              "keyValue": "={{ $json.objectMainId }}"
            },
            {
              "keyName": "objUrl",
              "keyValue": "={{ $json.imgUrls }}"
            },
            {
              "keyName": "objNames",
              "keyValue": "={{ $json.ObjName }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "objectDescr": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.ObjName + \" - \" + \n\n$('IfResponseOk2').item.json.data.replaceAll(\"```\",\"\").replaceAll(\"json\",\"\").parseJson().items[0].Description\n\n\n\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "objectMainId",
              "displayName": "objectMainId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "objNames",
              "displayName": "objNames",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "objUrl",
              "displayName": "objUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "objectDescr",
              "displayName": "objectDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        608,
        368
      ],
      "id": "5a4be305-2719-4814-a64e-f3856dbd5686",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Start').item.json.callback_query_message_chat_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -368,
        416
      ],
      "id": "f88d0caa-e350-44ad-b190-e8153dd197fe",
      "name": "Send a chat action2",
      "webhookId": "d9b28dce-5a43-45b7-ae61-7a0113460e73",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "NJfAQt9WXtWm5g15",
          "mode": "list",
          "cachedResultName": "TrendcoreObjectDescr",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/NJfAQt9WXtWm5g15"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "objectMainId",
              "keyValue": "={{ $('GetLastTaskId').item.json.id }}"
            },
            {
              "keyName": "objNames",
              "condition": "isNotEmpty"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "GalleryForFaceRecieved"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "objectMainId",
              "displayName": "objectMainId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objNames",
              "displayName": "objNames",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "objUrl",
              "displayName": "objUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "objectDescr",
              "displayName": "objectDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1008,
        400
      ],
      "id": "f0140a87-a576-4189-a78f-a97b137abbf8",
      "name": "UpdateAndGetImgs"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -560,
        400
      ],
      "id": "720e632a-abef-46e7-a2f5-dc6d301cf077",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "compare": "allFieldsExcept",
        "fieldsToExclude": "id, createdAt, updatedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -784,
        400
      ],
      "id": "edeb6e89-1a30-459a-846f-a8fa0fbffde4",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
            },
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "GetGalleryForFace"
            },
            {
              "keyName": "process",
              "keyValue": "/createlook"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -2480,
        384
      ],
      "id": "8e763455-0848-4ebf-92ff-1029453fa805",
      "name": "GetLastActiveTaskId"
    },
    {
      "parameters": {
        "maxItems": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2288,
        384
      ],
      "id": "10317b26-7cc8-4404-a011-236a37173b36",
      "name": "GetLastTaskId"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a869a9c7-791d-4f1c-852e-828a3569b146",
              "leftValue": "={{$('IfResponseOk2').item.json.msg.replaceAll(\"```\",\"\").replaceAll(\"json\",\"\")}}",
              "rightValue": "Error",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        160
      ],
      "id": "2f6edcb9-4dee-4381-bb16-dff52ef43030",
      "name": "IfError1"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Start').item.json.callback_query_message_chat_id}}",
        "messageId": "={{ $('Start').item.json.callback_query_message_chat_id}}",
        "text": "={{ $('Start').item.json.message_chat_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3504,
        384
      ],
      "id": "b5aa499d-6fdf-460f-ace2-d363e9301ecf",
      "name": "HideButtons",
      "webhookId": "513cfb9a-8cac-4dd8-91c6-506dfb517402",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HAx71vJKguCGGUYW",
          "mode": "list",
          "cachedResultUrl": "/workflow/HAx71vJKguCGGUYW",
          "cachedResultName": "subTR_CL_Done_Pose"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message_chat_id": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
            "model": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.modelName }}",
            "modelApi": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.apiName }}",
            "debugMode": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.debugMode }}",
            "apiNameNB": "={{ $('Start').item.json.apiNB }}"
          },
          "matchingColumns": [
            "callback_query_message_chat_id",
            "message_chat_id",
            "msg"
          ],
          "schema": [
            {
              "id": "message_chat_id",
              "displayName": "message_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "modelApi",
              "displayName": "modelApi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "debugMode",
              "displayName": "debugMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apiNameNB",
              "displayName": "apiNameNB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -64,
        48
      ],
      "name": "Call subPoseNB",
      "id": "7c54fe64-d4de-447f-94e7-cff3495f00e6"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "callback_query_message_chat_id",
              "type": "any"
            },
            {
              "name": "modelName",
              "type": "any"
            },
            {
              "name": "modelApi"
            },
            {
              "name": "debugMode"
            },
            {
              "name": "apiNB"
            },
            {
              "name": "message_text"
            }
          ]
        }
      },
      "id": "cf4dcffc-0e1a-490b-99ef-1810850337ba",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -3952,
        384
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
            },
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
            },
            {
              "keyName": "process",
              "keyValue": "/createlook"
            },
            {
              "keyName": "status",
              "keyValue": "GetGalleryForFace"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3296,
        384
      ],
      "id": "731c00bc-406d-4ad9-9e47-087584e4c477",
      "name": "GetMsgId1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
        "messageId": "={{ $('GetMsgId1').item.json.replyToMessageIdGallery }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2688,
        384
      ],
      "id": "d8af6e69-2cef-4888-966e-7c43a82ad762",
      "name": "Delete a chat message2",
      "webhookId": "a37bcfb9-c873-4346-915b-d3059251a03f",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MCKUe6c7lEWRrPCq",
          "mode": "list",
          "cachedResultUrl": "/workflow/MCKUe6c7lEWRrPCq",
          "cachedResultName": "subTR_API_AI_Selector"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Start').item.json.callback_query_message_chat_id }}",
            "modelName": "={{ $('Start').item.json.modelName }}",
            "apiName": "={{ $('Start').item.json.modelApi }}",
            "userPrompt": "={{ $('UpdateAndGetImgs').item.json.objNames }}",
            "imgUrls": "={{ $('UpdateAndGetImgs').item.json.objUrl }}",
            "systemPrompt": "={{ $('Call \\'subMkPlnTxt\\'').item.json.plainText }}",
            "objectMainId": "={{ $('UpdateAndGetImgs').item.json.objectMainId }}",
            "ObjName": "={{ $('UpdateAndGetImgs').item.json.objNames }}",
            "ObjNameLocal": "={{ $('UpdateAndGetImgs').item.json.objNamesLocal }}",
            "debugMode": "={{ $('Start').item.json.debugMode }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "modelName",
              "displayName": "modelName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "apiName",
              "displayName": "apiName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imgUrls",
              "displayName": "imgUrls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "ObjName",
              "displayName": "ObjName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "objectMainId",
              "displayName": "objectMainId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "ObjNameLocal",
              "displayName": "ObjNameLocal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "botTocken",
              "displayName": "botTocken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "urlList_bool",
              "displayName": "urlList_bool",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "debugMode",
              "displayName": "debugMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -80,
        416
      ],
      "id": "03e23431-b662-4f7b-81e6-e802f469d1e1",
      "name": "Call 'subTR_API_AI_Selector'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "77eb54c4-0b4f-465f-8fa5-48060620c4f1",
              "leftValue": "={{ $('GetMsgId1').item.json.isEmpty()}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3088,
        384
      ],
      "id": "1ec55159-8062-4009-8ff2-8dd25eb3e812",
      "name": "IfEmpty"
    },
    {
      "parameters": {
        "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
        "text": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.data.trim() + \" \" + $('Call \\'subTR_API_AI_Selector\\'').item.json.ObjNameLocal}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        592
      ],
      "id": "1d24056d-c1aa-4e92-97f6-87140f23763d",
      "name": "Send a text message1",
      "webhookId": "2e1b5d3d-41a7-41b6-a200-624395fb6162",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b51b3b63-2255-45fe-9023-8b136b8f4080",
              "name": "systemPrompt",
              "value": "<system_identity>\nItems-Describer v31-R1 (Release 1 - Lost-n-Found 2).\nRole: Act as a visual wearable item and outfit describer, analyzing one image and one user prompt.\nObjective: Describe visible clothing, footwear, and accessories with maximum reconstruction value for a downstream prompt-building model. Preserve distinctive garment identity, structural logic, and unusual silhouettes. Prevent smoothing, simplifying, or normalizing distinctive items into generic versions by utilizing strict geometric and proportional anchoring. Output exactly ONE raw JSON object and nothing else.\n</system_identity>\n\n<prompt_routing>\nFirst, normalize the user prompt by trimming leading and trailing spaces and collapsing repeated internal spaces to a single space. Preserve the original prompt for item extraction.\nBased on the prompt, you must route to EXACTLY ONE of the following modes:\n\n1. COMPLETE LOOK MODE: Triggered ONLY if the normalized prompt equals \"complete look\" (case-insensitive).\n2. ITEM MODE: Triggered if the prompt contains one or more clearly identifiable wearable item references (in English or Russian), separated by commas or conjunctions (\"and\", \"и\").\n3. INVALID PROMPT (Error): If the prompt is empty, not wearable-related, structurally unclear, or matches neither valid mode, trigger the \"broken list\" error schema.\n</prompt_routing>\n\n<error_schemas>\nEvaluate the image and prompt before proceeding. If an error condition is met, output ONLY the exact matching JSON object below. Do not output anything else.\n\n- If the image cannot be retrieved, loaded, decoded, or visually analyzed:\n{\"response\":\"error\",\"msg\":\"⚠ Error. Image could not be retrieved.\"}\n- If the prompt is invalid or separation is too ambiguous to parse reliably:\n{\"response\":\"error\",\"msg\":\"⚠ Error. List of items is broken.\"}\n- If ITEM MODE is triggered but ANY requested item is not found in the image:\n{\"response\":\"error\",\"msg\":\"⚠ Error. Selected item not found in the image.\"}\n- If COMPLETE LOOK MODE is triggered but the complete outfit is not sufficiently visible:\n{\"response\":\"error\",\"msg\":\"⚠ Error. Complete outfit is not sufficiently visible.\"}\n</error_schemas>\n\n<visual_fidelity_rules>\n- Describe ONLY directly visible wearable objects and attributes. NO speculation.\n- PRIOR-BUSTING: If an item's construction defies standard commercial tailoring, DO NOT use generic archetype words (e.g., \"trench coat\", \"blazer\", \"cardigan\") that trigger standard AI diffusion priors. Use structural terms like \"architectural jacket\", \"sculptural top\", or \"layered outerwear\".\n- SEQUENTIAL LAYER MAPPING: For complex, overlapping, or asymmetrical details (especially on the chest, collar, or closure), DO NOT summarize them as a single panel. Describe the exact topological sequence layer-by-layer (e.g., \"a wide geometric collar folded back on the right, resting entirely over a secondary asymmetrical angular flap crossing the mid-chest\").\n- PROPORTION ANCHORING & RIGIDITY: When describing oversized garments, \"oversized\" is insufficient. You must anchor proportions to the body using extreme anatomical markers (e.g., \"extreme dropped shoulders falling halfway down the bicep\"). Describe how the material behaves under tension (e.g., \"stiff volume that actively resists cinching at the waist, maintaining a dramatically wide, boxy upper silhouette\").\n- DO NOT reduce a distinctive item to a generic version. Do not replace visibly unusual objects with cleaner, flatter, slimmer, more tailored, or standard interpretations.\n- RESTRICTED CONTENT: Do not describe motion, implied action, pose, gesture, spatial location, identity, personality, environment, lighting, or photographic qualities.\n</visual_fidelity_rules>\n\n<item_mode_rules>\nIf routed to ITEM MODE, extract requested items in prompt order. Preserve duplicates in prompt order if multiple entries refer to the same visible object. Each requested item must clearly match the visible wearable category without contradicting visible attributes.\n\nSuccess Schema:\n{\"response\":\"success\",\"mode\":\"items\",\"items\":[{\"Item Title\":\"[English Item Title]\",\"Description\":\"[English Description]\"}]}\n\n- \"Item Title\": English only. Title Case. Concise and product-like (usually 2 to 4 words). May refine prompt wording to better reflect the visible matched object, but must NOT change the requested category.\n- \"Description\": English only. Target 3 to 5 dense sentences (approx. 45-65 words). Begin with \"A\" or \"An\". Describe ONLY the requested matched item. \n- Priority Order for Description: Category/silhouette -> volume/proportion -> sequential layer mapping (chest/closures) -> pockets/flaps -> hem/drape -> material/color. Explicitly describe non-flat, gathered, layered, asymmetric, or sculptural traits using raw geometry.\n</item_mode_rules>\n\n<complete_look_rules>\nIf routed to COMPLETE LOOK MODE, proceed only if the outfit is sufficiently complete and visible for a reliable outfit-level description.\n\nSuccess Schema:\n{\"response\":\"success\",\"mode\":\"complete_look\",\"Outfit Title\":\"[Title]\",\"Full Description\":\"[English full description]\",\"Short Description\":\"[Russian short description]\"}\n\n- \"Outfit Title\": English only. Title Case. 1 to 4 words. Alphabetic characters and spaces only (NO punctuation).\n- \"Full Description\": English only. Target 10 to 15 sentences (approx. 180-250 words). Begin with \"A\" or \"An\". Integrate all clearly visible clothing smoothly. Give extra structural detail to the most distinctive outer layer or hero item first using the Prior-Busting and Layer Mapping rules. Make visible layering explicit.\n- \"Short Description\": Russian only. Target 2 to 3 sentences (approx. 28-40 words). Summarize ONLY traits already present in the Full Description. Introduce no new items, colors, materials, or attributes. Describe the outfit as a whole.\n</complete_look_rules>\n\n<json_constraints>\n1. Output valid, strict JSON ONLY.\n2. DO NOT wrap the JSON in markdown formatting (e.g., no ```json ``` blocks). Output the raw brackets { to }.\n3. DO NOT include any conversational text, explanations, or metadata before or after the JSON object.\n4. Avoid malformed escapes, raw control characters, and unnecessary punctuation complexity inside string values.\n5. The active response case must perfectly match one of the allowed schemas.\n</json_constraints>",
              "type": "string"
            },
            {
              "id": "d40f012f-85d7-4b60-beec-1d014fa9d913",
              "name": "promptName",
              "value": "Items-Describer",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2080,
        384
      ],
      "id": "ddb665a8-c411-4403-95bc-9e8889a048f2",
      "name": "SP_ItemsDescriber"
    },
    {
      "parameters": {
        "errorMessage": "Нет данных для обработки"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -2848,
        256
      ],
      "id": "2405519d-f5e5-4918-b944-9a98c3d7c868",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cy2OHtNbUQaDIMP4",
          "mode": "list",
          "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
          "cachedResultName": "subMkPlnTxt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt_replace": "={{ $json.recievedPrompt }}"
          },
          "matchingColumns": [
            "systemPrompt_replace"
          ],
          "schema": [
            {
              "id": "systemPrompt_replace",
              "displayName": "systemPrompt_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1232,
        400
      ],
      "id": "f48153ea-51be-440b-8f75-7a9d20525421",
      "name": "Call 'subMkPlnTxt'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f3370f8c-837f-416e-a8b9-268ff8d544f5",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1808,
        368
      ],
      "id": "045b5080-66c2-475a-9ff9-dbf394d0676a",
      "name": "IfDebug1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09b70afd-76f1-459c-9a7c-16af72a0a5de",
              "name": "recievedPrompt",
              "value": "={{$('GetPrompt1').isExecuted && $('GetPrompt1').item.json.PromptText.isNotEmpty()\n?$('GetPrompt1').item.json.PromptText\n:$('SP_ItemsDescriber').item.json.systemPrompt\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1488,
        384
      ],
      "id": "d774c257-5df2-4737-acfa-d997227612ec",
      "name": "SP_recievedPrompt1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ",
          "mode": "list",
          "cachedResultName": "N8N prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "PromptName",
              "lookupValue": "={{ $('SP_ItemsDescriber').item.json.promptName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1648,
        272
      ],
      "id": "4cdb518a-258a-4573-a05d-4bb61047b025",
      "name": "GetPrompt1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query_message_chat_id }}",
        "text": "=Собираю образ...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3712,
        384
      ],
      "id": "39b4a011-5384-46ca-83db-ddb5dbcd6d2c",
      "name": "OP_final_model",
      "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -352,
        224
      ],
      "id": "77d2df84-b0a2-4bfc-8e3c-5ff7c064ab6d",
      "name": "GetLast"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Db9RTL99yUCO77oO",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-02T17:14:31.883Z",
      "createdAt": "2026-03-02T17:14:31.883Z",
      "role": "workflow:owner",
      "workflowId": "gJg5NsES1tknmLxM",
      "projectId": "M9bTlSGaaAbsZxvs"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-02T14:25:49.831Z",
      "createdAt": "2026-03-02T14:25:49.831Z",
      "id": "6ZyTvRGaNVzskE04",
      "name": "TG_PROD"
    },
    {
      "updatedAt": "2026-03-02T14:27:55.507Z",
      "createdAt": "2026-03-02T14:27:55.507Z",
      "id": "XgyisslqXHscjiSb",
      "name": "SP_ItemsDescriber"
    },
    {
      "updatedAt": "2026-03-02T14:25:49.805Z",
      "createdAt": "2026-03-02T14:25:49.805Z",
      "id": "uZYZiWAvyVAXbBbR",
      "name": "CL"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-28T10:41:47.847Z",
  "versionId": "9be89552-072f-43b0-af84-137367490fad"
}