2026/03/MCKUe6c7lEWRrPCq.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-24T16:17:42.000Z",
    "createdAt": "2026-03-24T16:08:14.210Z",
    "versionId": "dae896f0-8193-4112-a0a3-c811e75c8348",
    "workflowId": "MCKUe6c7lEWRrPCq",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "modelName",
                "type": "any"
              },
              {
                "name": "apiName"
              },
              {
                "name": "userPrompt",
                "type": "any"
              },
              {
                "name": "systemPrompt",
                "type": "any"
              },
              {
                "name": "imgUrls"
              },
              {
                "name": "chat_id",
                "type": "number"
              },
              {
                "name": "ObjName"
              },
              {
                "name": "objectMainId",
                "type": "number"
              },
              {
                "name": "ObjNameLocal"
              },
              {
                "name": "botTocken"
              },
              {
                "name": "urlList_bool",
                "type": "boolean"
              },
              {
                "name": "debugMode"
              },
              {
                "name": "plainUrlList"
              }
            ]
          }
        },
        "id": "10cf1855-8338-4ac5-8ca7-8b3eefb8b4ab",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -5488,
          880
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Start').item.json.apiName.toLowerCase() }}",
                      "rightValue": "kie",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "7ae7199a-9a78-49ac-8a1d-39195d13801d"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "KIE"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "63c26a21-5e01-45ca-9783-64c1b643fa67",
                      "leftValue": "={{ $('Start').item.json.apiName.toLowerCase() }}",
                      "rightValue": "laozhang",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "laozhang"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "925a0f12-7a49-48d6-acad-bfead10c1bca",
                      "leftValue": "={{ $('Start').item.json.apiName.toLowerCase() }}",
                      "rightValue": "google",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "google"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -4224,
          672
        ],
        "id": "a8117293-e9e5-4f24-a0c4-af80f64f4901",
        "name": "Switch"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "2d2b6082-a969-4a12-b9fe-e1119e04c877",
                "leftValue": "={{ $('Start').item.json.apiName }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -4672,
          880
        ],
        "id": "7a6457b8-2a7a-4a1f-bc21-18ddf116726b",
        "name": "If"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "API не выбрано",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -4448,
          1072
        ],
        "id": "034c0f2b-e80e-4cfd-a1f6-2af7a3f8b477",
        "name": "Send a text message",
        "webhookId": "dd93b5d2-b3ed-4354-84c3-4ac888da2f71",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cfd91680-f8bb-49bf-8d96-a2e54d7e99d5",
                "leftValue": "={{ $('Start').item.json.modelName }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -4448,
          784
        ],
        "id": "77a5c510-c21a-4736-99d7-6c7baab83104",
        "name": "If1"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "ИИ Модель не выбрана",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -4320,
          928
        ],
        "id": "5ca2516b-600e-4941-9d74-68e735a7455f",
        "name": "Send a text message1",
        "webhookId": "dd93b5d2-b3ed-4354-84c3-4ac888da2f71",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.laozhang.ai/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"model\": $('Start').item.json.modelName, \"messages\": [ { \"role\": \"system\", \"content\": $('Start').item.json.systemPrompt }, { \"role\": \"user\", \"content\": [ { \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt }, { \"type\": \"image_url\", \"image_url\": { \"url\": $('UserPrompt_Default').item.json.imgUrls } } ], \"temperature\": 0, \"stream\": false, \"include_thoughts\": false, \"reasoning_effort\": \"low\" } ] } }}",
          "options": {
            "redirect": {
              "redirect": {}
            },
            "timeout": 2000000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -3344,
          496
        ],
        "id": "a05f0bf1-9b98-4e68-84a7-bc4aa34641df",
        "name": "laoZhang",
        "credentials": {
          "httpBearerAuth": {
            "id": "l0RE3N1j86lmu3ck",
            "name": "LaoZhang API"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "db476a4d-272d-4193-981d-879f72e34e8b",
                "name": "userPrompt",
                "value": "={{ $json.userPrompt.isEmpty()\n?\"Execute your system instructions exactly on the provided input. Return only the final answer in the required format.\"\n:$('Start').item.json.userPrompt\n}}",
                "type": "string"
              },
              {
                "id": "925e0d62-84e4-4999-bd75-82d328b0bde2",
                "name": "imgUrls",
                "value": "={{ $json.imgUrls.isEmpty()\n?\"\"\n:$('Start').item.json.imgUrls\n}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5280,
          880
        ],
        "id": "59c53cc0-5714-4351-aeb0-a51d4a08789a",
        "name": "UserPrompt_Default"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -2896,
          368
        ],
        "id": "272a4067-cd42-4e81-b699-34f66a10bb78",
        "name": "Merge",
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7a4f58ac-ca11-4d05-9b31-e1c5ba23a8cd",
                "name": "msg",
                "value": "={{ $('Merge').item.json.msg }}",
                "type": "string"
              },
              {
                "id": "805582a9-544c-473a-a680-88c265718bc4",
                "name": "data",
                "value": "={{ $('Merge').item.json.choices[0].message.content}}\n\n",
                "type": "string"
              },
              {
                "id": "c20d6dd1-9c12-4e89-9e18-dabec989bdfc",
                "name": "chat_id",
                "value": "={{ $('Start').item.json.chat_id }}",
                "type": "string"
              },
              {
                "id": "560a60d6-13ee-4cb7-ba91-59eca3d75a52",
                "name": "modelName",
                "value": "={{ $('Start').item.json.modelName }}",
                "type": "string"
              },
              {
                "id": "57e14510-ef7c-4967-bb1c-98df0d69fb00",
                "name": "apiName",
                "value": "={{ $('Start').item.json.apiName }}",
                "type": "string"
              },
              {
                "id": "d03ce7a6-4069-4561-b578-170b769b4eb8",
                "name": "imgUrls",
                "value": "={{ $('Start').item.json.imgUrls }}",
                "type": "string"
              },
              {
                "id": "ae937eb4-4d07-4fa8-a34b-4326b83986f6",
                "name": "ObjName",
                "value": "={{ $('Start').item.json.ObjName }}",
                "type": "string"
              },
              {
                "id": "d0158445-4faa-42e4-b0b8-f866b1c4fc59",
                "name": "ObjNameLocal",
                "value": "={{ $('Start').item.json.ObjNameLocal }}",
                "type": "string"
              },
              {
                "id": "1e7e7957-44a9-4d83-bf54-a42f3ccbb83a",
                "name": "objectMainId",
                "value": "={{ $('Start').item.json.objectMainId }}",
                "type": "string"
              },
              {
                "id": "f6015b6d-4fd0-460d-a1c0-f7b9f0d014c3",
                "name": "botTocken",
                "value": "={{ $('Start').item.json.botTocken }}",
                "type": "string"
              },
              {
                "id": "e0e3c8ec-882d-42af-af69-f988910888e9",
                "name": "apiParams",
                "value": "={{\"model: \" + $('Start').item.json.modelName + \"\\n\" + \n\"sytemPrompt: \"+ $('Start').item.json.systemPrompt + \"\\n\"  +\n\"userPrompt: \" + $('UserPrompt_Default').item.json.userPrompt + \"\\n\" +\n\"url: \" + $('UserPrompt_Default').item.json.imgUrls +\n\"max_tokens: 5000,\" + \"\\n\"  +\n\"temperature: 0,\" + \"\\n\"  +\n\"stream: false,\" + \"\\n\"  +\n\"include_thoughts: false,\" + \"\\n\"  +\n\"reasoning_effort: low\" \n}}\n",
                "type": "string"
              },
              {
                "id": "00c790d1-1db9-4fb9-8dc2-569dbc1fae9f",
                "name": "debugMode",
                "value": "={{ $('Start').item.json.debugMode }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          256,
          192
        ],
        "id": "4fb5cc8f-ae79-46c7-b471-bb75621407ed",
        "name": "Return1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c79e28f2-e45b-4a69-a226-7d0ad5b99f4f",
                "name": "urlList_bool",
                "value": "={{ $('Start').item.json.urlList_bool === null\n?false\n:$('Start').item.json.urlList_bool}}",
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5040,
          880
        ],
        "id": "4587c663-ea8a-4dee-b1a4-9a39dbbcb26f",
        "name": "isUrlList"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.kie.ai/{{$('Start').item.json.modelName}}/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \n\n\"messages\": [ { \n  \"role\": \"user\", \n  \"content\": [ \n        { \n        \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt \n        }, \n        { \"type\": \"image_url\", \n          \"image_url\": \n              { \"url\": $('UserPrompt_Default').item.json.imgUrls\n              } \n        } \n  ] }, \n\n{ \n  \"role\": \"system\", \n    \"content\": [ { \n        \"type\": \"text\", \n        \"text\": $('Start').item.json.systemPrompt } ] \n    } ], \n\n\"temperature\": 0, \n\"stream\": false, \n\"include_thoughts\": false, \n\"reasoning_effort\": \"low\", \n\"response_format\": { \"type\": \"text\"} \n\n} }}",
          "options": {
            "redirect": {
              "redirect": {}
            },
            "timeout": 2000000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -3376,
          112
        ],
        "id": "1945865e-9d4c-4dea-993c-12faac1771a4",
        "name": "KIE1",
        "credentials": {
          "httpBearerAuth": {
            "id": "YZOmcSE2KibMXSh1",
            "name": "KIE API"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4b03907e-c4a1-4d4b-bf81-b47aa97f2068",
                "leftValue": "={{ $json.data }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "858b0d09-9ab2-4095-a582-c904b535273a",
                "leftValue": "={{ $json.data.length > 10 }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3120,
          176
        ],
        "id": "f4e42823-3aa2-496e-bb7b-9f4706192ff0",
        "name": "IfOk200recieved"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "={{ $json.code +\": \" +$json.msg}}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2816,
          96
        ],
        "id": "d32e9e34-f55b-4264-aae6-be8091d55015",
        "name": "Send a text message2",
        "webhookId": "dd93b5d2-b3ed-4354-84c3-4ac888da2f71",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "Запрос завершился с ошибкой",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2896,
          768
        ],
        "id": "1a01e50e-e5e7-4b83-9329-fce186a2d45a",
        "name": "Send a text message3",
        "webhookId": "dd93b5d2-b3ed-4354-84c3-4ac888da2f71",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4b03907e-c4a1-4d4b-bf81-b47aa97f2068",
                "leftValue": "={{ $json.choices[0].message.content }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "858b0d09-9ab2-4095-a582-c904b535273a",
                "leftValue": "={{ $json.choices[0].message.content.length > 10 }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3120,
          560
        ],
        "id": "cefaf572-1080-4e9c-8b52-dad05030717f",
        "name": "IfOk200recieved2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "fac0f9a8-784b-4782-9104-79251b768766",
                "leftValue": "={{ $json.urlList_bool }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3632,
          176
        ],
        "id": "c4c026e5-c055-4a9a-951e-bc7a3a81e4f9",
        "name": "IfNotURLList"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.kie.ai/{{$('Start').item.json.modelName}}/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"model\": $('Start').item.json.modelName, \"messages\": [ { \"role\": \"system\", \"content\": $('Start').item.json.systemPrompt }, { \"role\": \"user\", \"content\": [ { \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt } ].concat($('UserPrompt_Default').item.json.imgUrls), \"temperature\": 0, \"stream\": false, \"include_thoughts\": false, \"reasoning_effort\": \"low\", \"response_format\": { \"type\": \"text\" } } ] } }}",
          "options": {
            "redirect": {
              "redirect": {}
            },
            "timeout": 2000000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -3376,
          304
        ],
        "id": "462f02e8-684f-407a-8e95-dd33b3b508ef",
        "name": "KIE",
        "credentials": {
          "httpBearerAuth": {
            "id": "YZOmcSE2KibMXSh1",
            "name": "KIE API"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "fac0f9a8-784b-4782-9104-79251b768766",
                "leftValue": "={{ $json.urlList_bool }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3632,
          560
        ],
        "id": "1ed606b4-48b6-404e-bd10-b98157b48a69",
        "name": "IfNotURLList1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.laozhang.ai/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"model\": $('Start').item.json.modelName, \"messages\": [ { \"role\": \"system\", \"content\": $('Start').item.json.systemPrompt }, { \"role\": \"user\", \"content\": [ { \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt } ].concat($('UserPrompt_Default').item.json.imgUrls), \"temperature\": 0, \"stream\": false, \"include_thoughts\": false, \"reasoning_effort\": \"low\" } ] } }}",
          "options": {
            "redirect": {
              "redirect": {}
            },
            "timeout": 2000000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -3344,
          688
        ],
        "id": "abed98d1-b693-4b4a-8a97-e0433488e57c",
        "name": "laoZhang1",
        "credentials": {
          "httpBearerAuth": {
            "id": "l0RE3N1j86lmu3ck",
            "name": "LaoZhang API"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$json.hasField(\"choices\")}}",
                      "rightValue": "choices",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "6928292f-0491-4288-ad69-0a18a35a708d"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "choices (laozhang)"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "4c94813f-571e-4956-91a8-93d436273065",
                      "leftValue": "={{$json.hasField(\"data\")}}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "data (kie)"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -2672,
          368
        ],
        "id": "9278a28e-6d7e-43f9-9955-e7194478252a",
        "name": "Switch1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2448,
          224
        ],
        "id": "5650ea50-5dae-4a74-ad4f-9bcf3bc7750e",
        "name": "IfDebug"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2448,
          800
        ],
        "id": "5c452bc5-a04c-419a-af9a-654db6375ea9",
        "name": "IfDebug1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7a4f58ac-ca11-4d05-9b31-e1c5ba23a8cd",
                "name": "msg",
                "value": "={{ $if($('Merge').isExecuted,\n$('Merge').item.json.data.parseJson().choices[0].message.content\n$if($('AI').isExecuted, $('AI').item.json.output)\n)\n}}",
                "type": "string"
              },
              {
                "id": "805582a9-544c-473a-a680-88c265718bc4",
                "name": "data",
                "value": "={{  \n$if($('Merge').isExecuted, $('Merge').item.json.data.parseJson().choices[0].message.content,\n$if($('AI').isExecuted, $('AI').item.json.output)\n)\n}}\n\n",
                "type": "string"
              },
              {
                "id": "c20d6dd1-9c12-4e89-9e18-dabec989bdfc",
                "name": "chat_id",
                "value": "={{ $('Start').item.json.chat_id }}",
                "type": "string"
              },
              {
                "id": "560a60d6-13ee-4cb7-ba91-59eca3d75a52",
                "name": "modelName",
                "value": "={{ $('Start').item.json.modelName }}",
                "type": "string"
              },
              {
                "id": "57e14510-ef7c-4967-bb1c-98df0d69fb00",
                "name": "apiName",
                "value": "={{ $('Start').item.json.apiName }}",
                "type": "string"
              },
              {
                "id": "d03ce7a6-4069-4561-b578-170b769b4eb8",
                "name": "imgUrls",
                "value": "={{ $('Start').item.json.imgUrls }}",
                "type": "string"
              },
              {
                "id": "ae937eb4-4d07-4fa8-a34b-4326b83986f6",
                "name": "ObjName",
                "value": "={{ $('Start').item.json.ObjName }}",
                "type": "string"
              },
              {
                "id": "e0f69c6b-dcdc-48aa-8287-763a32b011b1",
                "name": "ObjNameLocal",
                "value": "={{ $('Start').item.json.ObjNameLocal }}",
                "type": "string"
              },
              {
                "id": "1e7e7957-44a9-4d83-bf54-a42f3ccbb83a",
                "name": "objectMainId",
                "value": "={{ $('Start').item.json.objectMainId }}",
                "type": "string"
              },
              {
                "id": "f6015b6d-4fd0-460d-a1c0-f7b9f0d014c3",
                "name": "botTocken",
                "value": "={{ $('Start').item.json.botTocken }}",
                "type": "string"
              },
              {
                "id": "07ec7dab-b3c2-43a3-9536-35697e5d8320",
                "name": "debugMode",
                "value": "={{ $('Start').item.json.debugMode }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1008,
          944
        ],
        "id": "c5afc41e-2b67-4c6a-8214-6c70e44fa21f",
        "name": "Return"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "7a9ccfea-1c1f-4961-bd97-ee6a5e04b0d3",
                "leftValue": "={{ $('Start').item.json.imgUrls }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3904,
          32
        ],
        "id": "cce6fdd1-e154-44e4-b4bf-b9880265ddbd",
        "name": "IfUrlEmpty"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.kie.ai/{{$('Start').item.json.modelName}}/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \n\n\"messages\": [ { \n\n    \"role\": \"user\", \n    \"content\": [ { \n      \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt } \n    ] \n    }, \n{ \"role\": \"system\", \n  \"content\": [ { \n      \"type\": \"text\", \n      \"text\": $('Start').item.json.systemPrompt } ] \n  } ], \n\n\"temperature\": 0, \n\"stream\": false, \n\"include_thoughts\": false, \n\"reasoning_effort\": \"low\", \n\"response_format\": { \"type\": \"text\" } \n\n} }}",
          "options": {
            "redirect": {
              "redirect": {}
            },
            "timeout": 2000000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -3376,
          -80
        ],
        "id": "625d074c-8b61-4cc8-af3d-ce87694b2ffb",
        "name": "KIE2",
        "credentials": {
          "httpBearerAuth": {
            "id": "YZOmcSE2KibMXSh1",
            "name": "KIE API"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
            "mode": "list",
            "cachedResultName": "n8n_TR_error_log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
              "UserPrompt": "={{$('Start').item.json.userPrompt }}",
              "FileUrls": "={{$('Start').item.json.imgUrls }}",
              "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
              "ExecutionDateTime": "={{ $now.format('TTT') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ExecutionDate",
                "displayName": "ExecutionDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ExecutionDateTime",
                "displayName": "ExecutionDateTime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "SystemPrompt",
                "displayName": "SystemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "UserPrompt",
                "displayName": "UserPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "FileUrls",
                "displayName": "FileUrls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1408,
          656
        ],
        "id": "5c12e6d3-8516-42f8-93cc-dfd1f2f5e26c",
        "name": "Append row in sheet1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "amount": 3
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -944,
          640
        ],
        "id": "5130bd19-2fd5-4946-b314-355709b3a359",
        "name": "Wait1",
        "webhookId": "927724df-92fa-4441-9bfc-246b7d9213f9"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
            "mode": "list",
            "cachedResultName": "n8n_TR_error_log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
              "UserPrompt": "={{$('Start').item.json.userPrompt }}",
              "FileUrls": "={{$('Start').item.json.imgUrls }}",
              "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
              "ExecutionDateTime": "={{ $now.format('TTT') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ExecutionDate",
                "displayName": "ExecutionDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ExecutionDateTime",
                "displayName": "ExecutionDateTime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "SystemPrompt",
                "displayName": "SystemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "UserPrompt",
                "displayName": "UserPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "FileUrls",
                "displayName": "FileUrls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1552,
          112
        ],
        "id": "1e22e89a-600b-4a5f-9579-8ede8643535a",
        "name": "Append row in sheet2",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "amount": 3
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1088,
          96
        ],
        "id": "69f94c82-7416-47d7-a51b-7f501a7c4b79",
        "name": "Wait2",
        "webhookId": "927724df-92fa-4441-9bfc-246b7d9213f9"
      },
      {
        "parameters": {
          "content": "Binary images are passed directly to AI Agent via passthroughBinaryImages option - no conversion needed",
          "height": 1760,
          "width": 4592
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -3392,
          1120
        ],
        "typeVersion": 1,
        "id": "f3e39269-ea71-4440-ae47-a0d7d3ab7bcd",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "138525c8-fccd-4aae-b0fe-1eee7aa02f4c",
                "name": "modelNamePrepared",
                "value": "={{ $('Start').item.json.modelName == \"gemini-3-flash\"\n?$('Start').item.json.modelName + \"-preview\"\n:$('Start').item.json.modelName\n}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4832,
          880
        ],
        "id": "c64850d4-cd71-477f-972e-0bcb04f97f9e",
        "name": "ModelNamePrepared"
      },
      {
        "parameters": {
          "modelName": "models/gemini-3-flash-preview",
          "options": {
            "temperature": 0.1,
            "safetySettings": {
              "values": [
                {
                  "category": "HARM_CATEGORY_HARASSMENT",
                  "threshold": "BLOCK_NONE"
                },
                {
                  "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                  "threshold": "BLOCK_NONE"
                },
                {
                  "category": "HARM_CATEGORY_HATE_SPEECH",
                  "threshold": "BLOCK_NONE"
                },
                {
                  "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                  "threshold": "BLOCK_NONE"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -1088,
          2032
        ],
        "id": "aeb40bb7-4c3f-4bf3-bfc2-081f6cdeb688",
        "name": "Google Gemini Chat Model2",
        "retryOnFail": false,
        "credentials": {
          "googlePalmApi": {
            "id": "7uq26pW3rjLVZ4Re",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $('Start').item.json.imgUrls }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -2288,
          2272
        ],
        "id": "527420bd-18d3-4c97-abf7-60109da3e8cd",
        "name": "HTTP Request2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a7486e9f-e36c-49be-a41f-f9e4f8356e3f",
                "leftValue": "={{ $('isUrlList').item.json.urlList_bool }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2768,
          1712
        ],
        "id": "1d1fbb04-6c28-4ab7-9c37-bc91f88ce89e",
        "name": "IfListURls1"
      },
      {
        "parameters": {
          "jsCode": "// 1. Get the raw string from the input (Start node)\nconst rawString = $('Start').first().json.imgUrls;\n\n// 2. Wrap the string in square brackets to make it a valid JSON array\n//    and then parse it into a real JavaScript object.\nconst parsedData = JSON.parse(`[${rawString}]`);\n\n// 3. Map over the array to create separate items.\n//    We extract only the \"url\" value for each item.\nreturn parsedData.map(item => {\n  return {\n    json: {\n      url: item.image_url.url\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2560,
          1696
        ],
        "id": "c81e6274-6bcf-45e7-9990-1aa809a87871",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -2320,
          1696
        ],
        "id": "f4204863-d1fb-4733-a1ee-760488646b91",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "url": "={{$('Loop Over Items1').item.json.url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -2096,
          1824
        ],
        "id": "bb35f988-d282-45e0-a328-4882c4c9807c",
        "name": "HTTP Request3"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {
            "includeBinaries": false
          }
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -2112,
          1616
        ],
        "id": "2449727e-5aeb-427b-a13c-f65f44605bd3",
        "name": "Aggregate1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "fa44d6f8-83af-4988-813b-680646e9f93c",
                "leftValue": "={{ $('Start').item.json.imgUrls }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3216,
          1312
        ],
        "id": "50b6050c-061f-48c6-b34a-659aa1993ffd",
        "name": "IfUrlNotEmpty2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -336,
          1504
        ],
        "id": "85301ca2-a13d-4b32-b735-160bda0a25c6",
        "name": "IfDebug5"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
            "mode": "list",
            "cachedResultName": "n8n_TR_error_log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
              "UserPrompt": "={{$('Start').item.json.userPrompt }}",
              "FileUrls": "={{$('Start').item.json.imgUrls }}",
              "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
              "ExecutionDateTime": "={{ $now.format('TTT') }}",
              "Output": "={{ $('AI').item.json.output }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ExecutionDate",
                "displayName": "ExecutionDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ExecutionDateTime",
                "displayName": "ExecutionDateTime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "SystemPrompt",
                "displayName": "SystemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "UserPrompt",
                "displayName": "UserPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Output",
                "displayName": "Output",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "FileUrls",
                "displayName": "FileUrls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "useAppend": true
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -160,
          1232
        ],
        "id": "f9ba4b8f-070f-4482-8067-45da4eda401d",
        "name": "Append row in sheet4",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('UserPrompt_Default').item.json.userPrompt }}",
          "options": {
            "systemMessage": "={{ $('Start').item.json.systemPrompt }}",
            "maxIterations": 10,
            "returnIntermediateSteps": false,
            "passthroughBinaryImages": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -1088,
          1648
        ],
        "id": "c80d1624-b50b-4deb-8c68-f7eee3ac8eeb",
        "name": "AI",
        "retryOnFail": false
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3952,
          1056
        ],
        "id": "d097db23-7ced-44cc-92b9-8a33c6e0fad5",
        "name": "IfDebug6"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
            "mode": "list",
            "cachedResultName": "n8n_TR_error_log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
              "UserPrompt": "={{$('Start').item.json.userPrompt }}",
              "FileUrls": "={{$('Start').item.json.imgUrls }}",
              "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
              "ExecutionDateTime": "={{ $now.format('TTT') }}",
              "Output": "="
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ExecutionDate",
                "displayName": "ExecutionDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ExecutionDateTime",
                "displayName": "ExecutionDateTime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "SystemPrompt",
                "displayName": "SystemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "UserPrompt",
                "displayName": "UserPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Output",
                "displayName": "Output",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "FileUrls",
                "displayName": "FileUrls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "useAppend": true
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -3616,
          928
        ],
        "id": "543af196-7e02-4745-a9d1-44bbffd3459c",
        "name": "Append row in sheet5",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Remove binary data from all items\nconst items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: item.json\n    // Binary data is intentionally omitted\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -656,
          1632
        ],
        "id": "5cd65002-fd2b-4aa4-bcfa-0c1acde2a1c9",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "jsCode": "// Remove binary data from all items\nconst items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: item.json\n    // Binary data is intentionally omitted\n  };\n});"
        },
        "id": "7d47186f-32fe-40ff-b21f-91df57c7d82c",
        "name": "ChangeMIME",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1872,
          1904
        ]
      },
      {
        "parameters": {
          "jsCode": "// Remove binary data from all items\nconst items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: item.json\n    // Binary data is intentionally omitted\n  };\n});"
        },
        "id": "a54b8681-699e-4f0d-85ae-95a46007e7ad",
        "name": "ChangeMIME1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1728,
          2272
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "68458150-fa3b-49ff-bd58-b1d388b8d969",
                "name": "data",
                "value": "={{ Object.assign({}, $binary.data, { mimeType: \"image/jpeg\" }) }}",
                "type": "binary"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1728,
          2272
        ],
        "id": "c09a90bc-2022-458b-859d-868b17fb8c30",
        "name": "ChangeMIME1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "68458150-fa3b-49ff-bd58-b1d388b8d969",
                "name": "data",
                "value": "={{ Object.assign({}, $binary.data, { mimeType: \"image/jpeg\" }) }}",
                "type": "binary"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1872,
          1904
        ],
        "id": "13a86672-3970-48c9-8193-673f4cc99052",
        "name": "ChangeMIME"
      }
    ],
    "connections": {
      "Start": {
        "main": [
          [
            {
              "node": "UserPrompt_Default",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "IfUrlEmpty",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IfNotURLList1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IfDebug6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "laoZhang": {
        "main": [
          [
            {
              "node": "IfOk200recieved2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UserPrompt_Default": {
        "main": [
          [
            {
              "node": "isUrlList",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isUrlList": {
        "main": [
          [
            {
              "node": "ModelNamePrepared",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "KIE1": {
        "main": [
          [
            {
              "node": "IfOk200recieved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfOk200recieved": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfOk200recieved2": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfNotURLList": {
        "main": [
          [
            {
              "node": "KIE1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "KIE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "KIE": {
        "main": [
          [
            {
              "node": "IfOk200recieved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfNotURLList1": {
        "main": [
          [
            {
              "node": "laoZhang",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "laoZhang1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "laoZhang1": {
        "main": [
          [
            {
              "node": "IfOk200recieved2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "IfDebug",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IfDebug1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug": {
        "main": [
          [
            {
              "node": "Append row in sheet2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug1": {
        "main": [
          [
            {
              "node": "Append row in sheet1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message1": {
        "main": [
          []
        ]
      },
      "IfUrlEmpty": {
        "main": [
          [
            {
              "node": "KIE2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IfNotURLList",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "KIE2": {
        "main": [
          [
            {
              "node": "IfOk200recieved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet1": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet2": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "Return1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ModelNamePrepared": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "AI",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request2": {
        "main": [
          [
            {
              "node": "ChangeMIME1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfListURls1": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request3": {
        "main": [
          [
            {
              "node": "ChangeMIME",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate1": {
        "main": [
          [
            {
              "node": "AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfUrlNotEmpty2": {
        "main": [
          [
            {
              "node": "IfListURls1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug5": {
        "main": [
          [
            {
              "node": "Append row in sheet4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet4": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug6": {
        "main": [
          [
            {
              "node": "Append row in sheet5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IfUrlNotEmpty2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet5": {
        "main": [
          [
            {
              "node": "IfUrlNotEmpty2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "IfDebug5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ChangeMIME": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ChangeMIME1": {
        "main": [
          [
            {
              "node": "AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DLS  ",
    "name": "Version dae896f0",
    "description": "safety = block none",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-24T16:09:31.485Z",
        "id": 1756,
        "workflowId": "MCKUe6c7lEWRrPCq",
        "versionId": "dae896f0-8193-4112-a0a3-c811e75c8348",
        "event": "activated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      },
      {
        "createdAt": "2026-03-24T16:15:11.453Z",
        "id": 1758,
        "workflowId": "MCKUe6c7lEWRrPCq",
        "versionId": "dae896f0-8193-4112-a0a3-c811e75c8348",
        "event": "activated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      },
      {
        "createdAt": "2026-03-24T16:17:14.510Z",
        "id": 1760,
        "workflowId": "MCKUe6c7lEWRrPCq",
        "versionId": "dae896f0-8193-4112-a0a3-c811e75c8348",
        "event": "activated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      },
      {
        "createdAt": "2026-03-24T16:17:20.284Z",
        "id": 1762,
        "workflowId": "MCKUe6c7lEWRrPCq",
        "versionId": "dae896f0-8193-4112-a0a3-c811e75c8348",
        "event": "activated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      },
      {
        "createdAt": "2026-03-24T16:17:42.413Z",
        "id": 1764,
        "workflowId": "MCKUe6c7lEWRrPCq",
        "versionId": "dae896f0-8193-4112-a0a3-c811e75c8348",
        "event": "activated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      },
      {
        "createdAt": "2026-03-24T16:15:07.438Z",
        "id": 1757,
        "workflowId": "MCKUe6c7lEWRrPCq",
        "versionId": "dae896f0-8193-4112-a0a3-c811e75c8348",
        "event": "deactivated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      },
      {
        "createdAt": "2026-03-24T16:17:14.386Z",
        "id": 1759,
        "workflowId": "MCKUe6c7lEWRrPCq",
        "versionId": "dae896f0-8193-4112-a0a3-c811e75c8348",
        "event": "deactivated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      },
      {
        "createdAt": "2026-03-24T16:17:18.237Z",
        "id": 1761,
        "workflowId": "MCKUe6c7lEWRrPCq",
        "versionId": "dae896f0-8193-4112-a0a3-c811e75c8348",
        "event": "deactivated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      },
      {
        "createdAt": "2026-03-24T16:17:39.730Z",
        "id": 1763,
        "workflowId": "MCKUe6c7lEWRrPCq",
        "versionId": "dae896f0-8193-4112-a0a3-c811e75c8348",
        "event": "deactivated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    ]
  },
  "activeVersionId": "dae896f0-8193-4112-a0a3-c811e75c8348",
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "UserPrompt_Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "IfUrlEmpty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfNotURLList1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfDebug6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "laoZhang": {
      "main": [
        [
          {
            "node": "IfOk200recieved2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UserPrompt_Default": {
      "main": [
        [
          {
            "node": "isUrlList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isUrlList": {
      "main": [
        [
          {
            "node": "ModelNamePrepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE1": {
      "main": [
        [
          {
            "node": "IfOk200recieved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfOk200recieved": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfOk200recieved2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfNotURLList": {
      "main": [
        [
          {
            "node": "KIE1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "KIE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE": {
      "main": [
        [
          {
            "node": "IfOk200recieved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfNotURLList1": {
      "main": [
        [
          {
            "node": "laoZhang",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "laoZhang1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "laoZhang1": {
      "main": [
        [
          {
            "node": "IfOk200recieved2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "IfDebug",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfDebug1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "IfUrlEmpty": {
      "main": [
        [
          {
            "node": "KIE2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfNotURLList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE2": {
      "main": [
        [
          {
            "node": "IfOk200recieved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Return1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModelNamePrepared": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "ChangeMIME1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfListURls1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "ChangeMIME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfUrlNotEmpty2": {
      "main": [
        [
          {
            "node": "IfListURls1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug5": {
      "main": [
        [
          {
            "node": "Append row in sheet4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet4": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug6": {
      "main": [
        [
          {
            "node": "Append row in sheet5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfUrlNotEmpty2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet5": {
      "main": [
        [
          {
            "node": "IfUrlNotEmpty2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "IfDebug5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChangeMIME": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChangeMIME1": {
      "main": [
        [
          {
            "node": "AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-02T17:25:30.707Z",
  "description": null,
  "id": "MCKUe6c7lEWRrPCq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "subTR_API_AI_Selector",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "modelName",
              "type": "any"
            },
            {
              "name": "apiName"
            },
            {
              "name": "userPrompt",
              "type": "any"
            },
            {
              "name": "systemPrompt",
              "type": "any"
            },
            {
              "name": "imgUrls"
            },
            {
              "name": "chat_id",
              "type": "number"
            },
            {
              "name": "ObjName"
            },
            {
              "name": "objectMainId",
              "type": "number"
            },
            {
              "name": "ObjNameLocal"
            },
            {
              "name": "botTocken"
            },
            {
              "name": "urlList_bool",
              "type": "boolean"
            },
            {
              "name": "debugMode"
            },
            {
              "name": "plainUrlList"
            }
          ]
        }
      },
      "id": "10cf1855-8338-4ac5-8ca7-8b3eefb8b4ab",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -5488,
        880
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').item.json.apiName.toLowerCase() }}",
                    "rightValue": "kie",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7ae7199a-9a78-49ac-8a1d-39195d13801d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "KIE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "63c26a21-5e01-45ca-9783-64c1b643fa67",
                    "leftValue": "={{ $('Start').item.json.apiName.toLowerCase() }}",
                    "rightValue": "laozhang",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "laozhang"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "925a0f12-7a49-48d6-acad-bfead10c1bca",
                    "leftValue": "={{ $('Start').item.json.apiName.toLowerCase() }}",
                    "rightValue": "google",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "google"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -4224,
        672
      ],
      "id": "a8117293-e9e5-4f24-a0c4-af80f64f4901",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2d2b6082-a969-4a12-b9fe-e1119e04c877",
              "leftValue": "={{ $('Start').item.json.apiName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4672,
        880
      ],
      "id": "7a6457b8-2a7a-4a1f-bc21-18ddf116726b",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "API не выбрано",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -4448,
        1072
      ],
      "id": "034c0f2b-e80e-4cfd-a1f6-2af7a3f8b477",
      "name": "Send a text message",
      "webhookId": "dd93b5d2-b3ed-4354-84c3-4ac888da2f71",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cfd91680-f8bb-49bf-8d96-a2e54d7e99d5",
              "leftValue": "={{ $('Start').item.json.modelName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4448,
        784
      ],
      "id": "77a5c510-c21a-4736-99d7-6c7baab83104",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "ИИ Модель не выбрана",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -4320,
        928
      ],
      "id": "5ca2516b-600e-4941-9d74-68e735a7455f",
      "name": "Send a text message1",
      "webhookId": "dd93b5d2-b3ed-4354-84c3-4ac888da2f71",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.laozhang.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $('Start').item.json.modelName, \"messages\": [ { \"role\": \"system\", \"content\": $('Start').item.json.systemPrompt }, { \"role\": \"user\", \"content\": [ { \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt }, { \"type\": \"image_url\", \"image_url\": { \"url\": $('UserPrompt_Default').item.json.imgUrls } } ], \"temperature\": 0, \"stream\": false, \"include_thoughts\": false, \"reasoning_effort\": \"low\" } ] } }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 2000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3344,
        496
      ],
      "id": "a05f0bf1-9b98-4e68-84a7-bc4aa34641df",
      "name": "laoZhang",
      "credentials": {
        "httpBearerAuth": {
          "id": "l0RE3N1j86lmu3ck",
          "name": "LaoZhang API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db476a4d-272d-4193-981d-879f72e34e8b",
              "name": "userPrompt",
              "value": "={{ $json.userPrompt.isEmpty()\n?\"Execute your system instructions exactly on the provided input. Return only the final answer in the required format.\"\n:$('Start').item.json.userPrompt\n}}",
              "type": "string"
            },
            {
              "id": "925e0d62-84e4-4999-bd75-82d328b0bde2",
              "name": "imgUrls",
              "value": "={{ $json.imgUrls.isEmpty()\n?\"\"\n:$('Start').item.json.imgUrls\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5280,
        880
      ],
      "id": "59c53cc0-5714-4351-aeb0-a51d4a08789a",
      "name": "UserPrompt_Default"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2896,
        368
      ],
      "id": "272a4067-cd42-4e81-b699-34f66a10bb78",
      "name": "Merge",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a4f58ac-ca11-4d05-9b31-e1c5ba23a8cd",
              "name": "msg",
              "value": "={{ $('Merge').item.json.msg }}",
              "type": "string"
            },
            {
              "id": "805582a9-544c-473a-a680-88c265718bc4",
              "name": "data",
              "value": "={{ $('Merge').item.json.choices[0].message.content}}\n\n",
              "type": "string"
            },
            {
              "id": "c20d6dd1-9c12-4e89-9e18-dabec989bdfc",
              "name": "chat_id",
              "value": "={{ $('Start').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "560a60d6-13ee-4cb7-ba91-59eca3d75a52",
              "name": "modelName",
              "value": "={{ $('Start').item.json.modelName }}",
              "type": "string"
            },
            {
              "id": "57e14510-ef7c-4967-bb1c-98df0d69fb00",
              "name": "apiName",
              "value": "={{ $('Start').item.json.apiName }}",
              "type": "string"
            },
            {
              "id": "d03ce7a6-4069-4561-b578-170b769b4eb8",
              "name": "imgUrls",
              "value": "={{ $('Start').item.json.imgUrls }}",
              "type": "string"
            },
            {
              "id": "ae937eb4-4d07-4fa8-a34b-4326b83986f6",
              "name": "ObjName",
              "value": "={{ $('Start').item.json.ObjName }}",
              "type": "string"
            },
            {
              "id": "d0158445-4faa-42e4-b0b8-f866b1c4fc59",
              "name": "ObjNameLocal",
              "value": "={{ $('Start').item.json.ObjNameLocal }}",
              "type": "string"
            },
            {
              "id": "1e7e7957-44a9-4d83-bf54-a42f3ccbb83a",
              "name": "objectMainId",
              "value": "={{ $('Start').item.json.objectMainId }}",
              "type": "string"
            },
            {
              "id": "f6015b6d-4fd0-460d-a1c0-f7b9f0d014c3",
              "name": "botTocken",
              "value": "={{ $('Start').item.json.botTocken }}",
              "type": "string"
            },
            {
              "id": "e0e3c8ec-882d-42af-af69-f988910888e9",
              "name": "apiParams",
              "value": "={{\"model: \" + $('Start').item.json.modelName + \"\\n\" + \n\"sytemPrompt: \"+ $('Start').item.json.systemPrompt + \"\\n\"  +\n\"userPrompt: \" + $('UserPrompt_Default').item.json.userPrompt + \"\\n\" +\n\"url: \" + $('UserPrompt_Default').item.json.imgUrls +\n\"max_tokens: 5000,\" + \"\\n\"  +\n\"temperature: 0,\" + \"\\n\"  +\n\"stream: false,\" + \"\\n\"  +\n\"include_thoughts: false,\" + \"\\n\"  +\n\"reasoning_effort: low\" \n}}\n",
              "type": "string"
            },
            {
              "id": "00c790d1-1db9-4fb9-8dc2-569dbc1fae9f",
              "name": "debugMode",
              "value": "={{ $('Start').item.json.debugMode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        192
      ],
      "id": "4fb5cc8f-ae79-46c7-b471-bb75621407ed",
      "name": "Return1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c79e28f2-e45b-4a69-a226-7d0ad5b99f4f",
              "name": "urlList_bool",
              "value": "={{ $('Start').item.json.urlList_bool === null\n?false\n:$('Start').item.json.urlList_bool}}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5040,
        880
      ],
      "id": "4587c663-ea8a-4dee-b1a4-9a39dbbcb26f",
      "name": "isUrlList"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.kie.ai/{{$('Start').item.json.modelName}}/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \n\n\"messages\": [ { \n  \"role\": \"user\", \n  \"content\": [ \n        { \n        \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt \n        }, \n        { \"type\": \"image_url\", \n          \"image_url\": \n              { \"url\": $('UserPrompt_Default').item.json.imgUrls\n              } \n        } \n  ] }, \n\n{ \n  \"role\": \"system\", \n    \"content\": [ { \n        \"type\": \"text\", \n        \"text\": $('Start').item.json.systemPrompt } ] \n    } ], \n\n\"temperature\": 0, \n\"stream\": false, \n\"include_thoughts\": false, \n\"reasoning_effort\": \"low\", \n\"response_format\": { \"type\": \"text\"} \n\n} }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 2000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3376,
        112
      ],
      "id": "1945865e-9d4c-4dea-993c-12faac1771a4",
      "name": "KIE1",
      "credentials": {
        "httpBearerAuth": {
          "id": "YZOmcSE2KibMXSh1",
          "name": "KIE API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4b03907e-c4a1-4d4b-bf81-b47aa97f2068",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "858b0d09-9ab2-4095-a582-c904b535273a",
              "leftValue": "={{ $json.data.length > 10 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3120,
        176
      ],
      "id": "f4e42823-3aa2-496e-bb7b-9f4706192ff0",
      "name": "IfOk200recieved"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "={{ $json.code +\": \" +$json.msg}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2816,
        96
      ],
      "id": "d32e9e34-f55b-4264-aae6-be8091d55015",
      "name": "Send a text message2",
      "webhookId": "dd93b5d2-b3ed-4354-84c3-4ac888da2f71",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "Запрос завершился с ошибкой",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2896,
        768
      ],
      "id": "1a01e50e-e5e7-4b83-9329-fce186a2d45a",
      "name": "Send a text message3",
      "webhookId": "dd93b5d2-b3ed-4354-84c3-4ac888da2f71",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4b03907e-c4a1-4d4b-bf81-b47aa97f2068",
              "leftValue": "={{ $json.choices[0].message.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "858b0d09-9ab2-4095-a582-c904b535273a",
              "leftValue": "={{ $json.choices[0].message.content.length > 10 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3120,
        560
      ],
      "id": "cefaf572-1080-4e9c-8b52-dad05030717f",
      "name": "IfOk200recieved2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fac0f9a8-784b-4782-9104-79251b768766",
              "leftValue": "={{ $json.urlList_bool }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3632,
        176
      ],
      "id": "c4c026e5-c055-4a9a-951e-bc7a3a81e4f9",
      "name": "IfNotURLList"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.kie.ai/{{$('Start').item.json.modelName}}/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $('Start').item.json.modelName, \"messages\": [ { \"role\": \"system\", \"content\": $('Start').item.json.systemPrompt }, { \"role\": \"user\", \"content\": [ { \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt } ].concat($('UserPrompt_Default').item.json.imgUrls), \"temperature\": 0, \"stream\": false, \"include_thoughts\": false, \"reasoning_effort\": \"low\", \"response_format\": { \"type\": \"text\" } } ] } }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 2000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3376,
        304
      ],
      "id": "462f02e8-684f-407a-8e95-dd33b3b508ef",
      "name": "KIE",
      "credentials": {
        "httpBearerAuth": {
          "id": "YZOmcSE2KibMXSh1",
          "name": "KIE API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fac0f9a8-784b-4782-9104-79251b768766",
              "leftValue": "={{ $json.urlList_bool }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3632,
        560
      ],
      "id": "1ed606b4-48b6-404e-bd10-b98157b48a69",
      "name": "IfNotURLList1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.laozhang.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $('Start').item.json.modelName, \"messages\": [ { \"role\": \"system\", \"content\": $('Start').item.json.systemPrompt }, { \"role\": \"user\", \"content\": [ { \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt } ].concat($('UserPrompt_Default').item.json.imgUrls), \"temperature\": 0, \"stream\": false, \"include_thoughts\": false, \"reasoning_effort\": \"low\" } ] } }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 2000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3344,
        688
      ],
      "id": "abed98d1-b693-4b4a-8a97-e0433488e57c",
      "name": "laoZhang1",
      "credentials": {
        "httpBearerAuth": {
          "id": "l0RE3N1j86lmu3ck",
          "name": "LaoZhang API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.hasField(\"choices\")}}",
                    "rightValue": "choices",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "6928292f-0491-4288-ad69-0a18a35a708d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "choices (laozhang)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4c94813f-571e-4956-91a8-93d436273065",
                    "leftValue": "={{$json.hasField(\"data\")}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "data (kie)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2672,
        368
      ],
      "id": "9278a28e-6d7e-43f9-9955-e7194478252a",
      "name": "Switch1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2448,
        224
      ],
      "id": "5650ea50-5dae-4a74-ad4f-9bcf3bc7750e",
      "name": "IfDebug"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2448,
        800
      ],
      "id": "5c452bc5-a04c-419a-af9a-654db6375ea9",
      "name": "IfDebug1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a4f58ac-ca11-4d05-9b31-e1c5ba23a8cd",
              "name": "msg",
              "value": "={{ $if($('Merge').isExecuted,\n$('Merge').item.json.data.parseJson().choices[0].message.content\n$if($('AI').isExecuted, $('AI').item.json.output)\n)\n}}",
              "type": "string"
            },
            {
              "id": "805582a9-544c-473a-a680-88c265718bc4",
              "name": "data",
              "value": "={{  \n$if($('Merge').isExecuted, $('Merge').item.json.data.parseJson().choices[0].message.content,\n$if($('AI').isExecuted, $('AI').item.json.output)\n)\n}}\n\n",
              "type": "string"
            },
            {
              "id": "c20d6dd1-9c12-4e89-9e18-dabec989bdfc",
              "name": "chat_id",
              "value": "={{ $('Start').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "560a60d6-13ee-4cb7-ba91-59eca3d75a52",
              "name": "modelName",
              "value": "={{ $('Start').item.json.modelName }}",
              "type": "string"
            },
            {
              "id": "57e14510-ef7c-4967-bb1c-98df0d69fb00",
              "name": "apiName",
              "value": "={{ $('Start').item.json.apiName }}",
              "type": "string"
            },
            {
              "id": "d03ce7a6-4069-4561-b578-170b769b4eb8",
              "name": "imgUrls",
              "value": "={{ $('Start').item.json.imgUrls }}",
              "type": "string"
            },
            {
              "id": "ae937eb4-4d07-4fa8-a34b-4326b83986f6",
              "name": "ObjName",
              "value": "={{ $('Start').item.json.ObjName }}",
              "type": "string"
            },
            {
              "id": "e0f69c6b-dcdc-48aa-8287-763a32b011b1",
              "name": "ObjNameLocal",
              "value": "={{ $('Start').item.json.ObjNameLocal }}",
              "type": "string"
            },
            {
              "id": "1e7e7957-44a9-4d83-bf54-a42f3ccbb83a",
              "name": "objectMainId",
              "value": "={{ $('Start').item.json.objectMainId }}",
              "type": "string"
            },
            {
              "id": "f6015b6d-4fd0-460d-a1c0-f7b9f0d014c3",
              "name": "botTocken",
              "value": "={{ $('Start').item.json.botTocken }}",
              "type": "string"
            },
            {
              "id": "07ec7dab-b3c2-43a3-9536-35697e5d8320",
              "name": "debugMode",
              "value": "={{ $('Start').item.json.debugMode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        944
      ],
      "id": "c5afc41e-2b67-4c6a-8214-6c70e44fa21f",
      "name": "Return"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7a9ccfea-1c1f-4961-bd97-ee6a5e04b0d3",
              "leftValue": "={{ $('Start').item.json.imgUrls }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3904,
        32
      ],
      "id": "cce6fdd1-e154-44e4-b4bf-b9880265ddbd",
      "name": "IfUrlEmpty"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.kie.ai/{{$('Start').item.json.modelName}}/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \n\n\"messages\": [ { \n\n    \"role\": \"user\", \n    \"content\": [ { \n      \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt } \n    ] \n    }, \n{ \"role\": \"system\", \n  \"content\": [ { \n      \"type\": \"text\", \n      \"text\": $('Start').item.json.systemPrompt } ] \n  } ], \n\n\"temperature\": 0, \n\"stream\": false, \n\"include_thoughts\": false, \n\"reasoning_effort\": \"low\", \n\"response_format\": { \"type\": \"text\" } \n\n} }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 2000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3376,
        -80
      ],
      "id": "625d074c-8b61-4cc8-af3d-ce87694b2ffb",
      "name": "KIE2",
      "credentials": {
        "httpBearerAuth": {
          "id": "YZOmcSE2KibMXSh1",
          "name": "KIE API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
          "mode": "list",
          "cachedResultName": "n8n_TR_error_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
            "UserPrompt": "={{$('Start').item.json.userPrompt }}",
            "FileUrls": "={{$('Start').item.json.imgUrls }}",
            "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
            "ExecutionDateTime": "={{ $now.format('TTT') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ExecutionDate",
              "displayName": "ExecutionDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ExecutionDateTime",
              "displayName": "ExecutionDateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SystemPrompt",
              "displayName": "SystemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UserPrompt",
              "displayName": "UserPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FileUrls",
              "displayName": "FileUrls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1408,
        656
      ],
      "id": "5c12e6d3-8516-42f8-93cc-dfd1f2f5e26c",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -944,
        640
      ],
      "id": "5130bd19-2fd5-4946-b314-355709b3a359",
      "name": "Wait1",
      "webhookId": "927724df-92fa-4441-9bfc-246b7d9213f9"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
          "mode": "list",
          "cachedResultName": "n8n_TR_error_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
            "UserPrompt": "={{$('Start').item.json.userPrompt }}",
            "FileUrls": "={{$('Start').item.json.imgUrls }}",
            "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
            "ExecutionDateTime": "={{ $now.format('TTT') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ExecutionDate",
              "displayName": "ExecutionDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ExecutionDateTime",
              "displayName": "ExecutionDateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SystemPrompt",
              "displayName": "SystemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UserPrompt",
              "displayName": "UserPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FileUrls",
              "displayName": "FileUrls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1552,
        112
      ],
      "id": "1e22e89a-600b-4a5f-9579-8ede8643535a",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1088,
        96
      ],
      "id": "69f94c82-7416-47d7-a51b-7f501a7c4b79",
      "name": "Wait2",
      "webhookId": "927724df-92fa-4441-9bfc-246b7d9213f9"
    },
    {
      "parameters": {
        "content": "Binary images are passed directly to AI Agent via passthroughBinaryImages option - no conversion needed",
        "height": 1760,
        "width": 4592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3392,
        1120
      ],
      "typeVersion": 1,
      "id": "f3e39269-ea71-4440-ae47-a0d7d3ab7bcd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "138525c8-fccd-4aae-b0fe-1eee7aa02f4c",
              "name": "modelNamePrepared",
              "value": "={{ $('Start').item.json.modelName == \"gemini-3-flash\"\n?$('Start').item.json.modelName + \"-preview\"\n:$('Start').item.json.modelName\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4832,
        880
      ],
      "id": "c64850d4-cd71-477f-972e-0bcb04f97f9e",
      "name": "ModelNamePrepared"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {
          "temperature": 0.1,
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_HARASSMENT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_HATE_SPEECH",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1088,
        2032
      ],
      "id": "aeb40bb7-4c3f-4bf3-bfc2-081f6cdeb688",
      "name": "Google Gemini Chat Model2",
      "retryOnFail": false,
      "credentials": {
        "googlePalmApi": {
          "id": "7uq26pW3rjLVZ4Re",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Start').item.json.imgUrls }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2288,
        2272
      ],
      "id": "527420bd-18d3-4c97-abf7-60109da3e8cd",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a7486e9f-e36c-49be-a41f-f9e4f8356e3f",
              "leftValue": "={{ $('isUrlList').item.json.urlList_bool }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2768,
        1712
      ],
      "id": "1d1fbb04-6c28-4ab7-9c37-bc91f88ce89e",
      "name": "IfListURls1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw string from the input (Start node)\nconst rawString = $('Start').first().json.imgUrls;\n\n// 2. Wrap the string in square brackets to make it a valid JSON array\n//    and then parse it into a real JavaScript object.\nconst parsedData = JSON.parse(`[${rawString}]`);\n\n// 3. Map over the array to create separate items.\n//    We extract only the \"url\" value for each item.\nreturn parsedData.map(item => {\n  return {\n    json: {\n      url: item.image_url.url\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2560,
        1696
      ],
      "id": "c81e6274-6bcf-45e7-9990-1aa809a87871",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2320,
        1696
      ],
      "id": "f4204863-d1fb-4733-a1ee-760488646b91",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "url": "={{$('Loop Over Items1').item.json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2096,
        1824
      ],
      "id": "bb35f988-d282-45e0-a328-4882c4c9807c",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": false
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2112,
        1616
      ],
      "id": "2449727e-5aeb-427b-a13c-f65f44605bd3",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fa44d6f8-83af-4988-813b-680646e9f93c",
              "leftValue": "={{ $('Start').item.json.imgUrls }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3216,
        1312
      ],
      "id": "50b6050c-061f-48c6-b34a-659aa1993ffd",
      "name": "IfUrlNotEmpty2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        1504
      ],
      "id": "85301ca2-a13d-4b32-b735-160bda0a25c6",
      "name": "IfDebug5"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
          "mode": "list",
          "cachedResultName": "n8n_TR_error_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
            "UserPrompt": "={{$('Start').item.json.userPrompt }}",
            "FileUrls": "={{$('Start').item.json.imgUrls }}",
            "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
            "ExecutionDateTime": "={{ $now.format('TTT') }}",
            "Output": "={{ $('AI').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ExecutionDate",
              "displayName": "ExecutionDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ExecutionDateTime",
              "displayName": "ExecutionDateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SystemPrompt",
              "displayName": "SystemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UserPrompt",
              "displayName": "UserPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FileUrls",
              "displayName": "FileUrls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        1232
      ],
      "id": "f9ba4b8f-070f-4482-8067-45da4eda401d",
      "name": "Append row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('UserPrompt_Default').item.json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $('Start').item.json.systemPrompt }}",
          "maxIterations": 10,
          "returnIntermediateSteps": false,
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1088,
        1648
      ],
      "id": "c80d1624-b50b-4deb-8c68-f7eee3ac8eeb",
      "name": "AI",
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3952,
        1056
      ],
      "id": "d097db23-7ced-44cc-92b9-8a33c6e0fad5",
      "name": "IfDebug6"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
          "mode": "list",
          "cachedResultName": "n8n_TR_error_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
            "UserPrompt": "={{$('Start').item.json.userPrompt }}",
            "FileUrls": "={{$('Start').item.json.imgUrls }}",
            "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
            "ExecutionDateTime": "={{ $now.format('TTT') }}",
            "Output": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ExecutionDate",
              "displayName": "ExecutionDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ExecutionDateTime",
              "displayName": "ExecutionDateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SystemPrompt",
              "displayName": "SystemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UserPrompt",
              "displayName": "UserPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FileUrls",
              "displayName": "FileUrls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3616,
        928
      ],
      "id": "543af196-7e02-4745-a9d1-44bbffd3459c",
      "name": "Append row in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Remove binary data from all items\nconst items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: item.json\n    // Binary data is intentionally omitted\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        1632
      ],
      "id": "5cd65002-fd2b-4aa4-bcfa-0c1acde2a1c9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Remove binary data from all items\nconst items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: item.json\n    // Binary data is intentionally omitted\n  };\n});"
      },
      "id": "7d47186f-32fe-40ff-b21f-91df57c7d82c",
      "name": "ChangeMIME",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        1904
      ]
    },
    {
      "parameters": {
        "jsCode": "// Remove binary data from all items\nconst items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: item.json\n    // Binary data is intentionally omitted\n  };\n});"
      },
      "id": "a54b8681-699e-4f0d-85ae-95a46007e7ad",
      "name": "ChangeMIME1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        2272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68458150-fa3b-49ff-bd58-b1d388b8d969",
              "name": "data",
              "value": "={{ Object.assign({}, $binary.data, { mimeType: \"image/jpeg\" }) }}",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1728,
        2272
      ],
      "id": "c09a90bc-2022-458b-859d-868b17fb8c30",
      "name": "ChangeMIME1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68458150-fa3b-49ff-bd58-b1d388b8d969",
              "name": "data",
              "value": "={{ Object.assign({}, $binary.data, { mimeType: \"image/jpeg\" }) }}",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1872,
        1904
      ],
      "id": "13a86672-3970-48c9-8193-673f4cc99052",
      "name": "ChangeMIME"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "modelName": "gemini-3-flash",
          "apiName": "google",
          "userPrompt": "# Request прическа # Blueprint This adult male in his late 40s or early 50s presents a strong, defined craniofacial structure characterized by a completely shaved head. The skin is a light-medium tone with warm undertones and visible natural texture, including fine expression lines on the forehead. The face shape is oval with a well-defined, slightly squared jawline and a firm, prominent chin. The forehead is high, smooth, and fully exposed, merging into the clean-shaven scalp. Eyebrows are dark, dense, and moderately thick with a natural arch, creating a high-contrast relationship with the skin. The eyes are deep-set and dark brown with visible upper lid show and fine lines at the outer corners. The nose is straight and well-proportioned with a defined bridge and a slightly rounded, firm tip. The midface is structured with subtle cheekbone definition that transitions smoothly into the lower face. The lips are of moderate fullness with a clear vermilion border and a neutral, straight mouth line. A short, groomed salt-and-pepper stubble beard covers the lower face, with a higher concentration of gray hair along the jawline. The facial hair is denser on the chin and upper lip, while appearing lighter and more silvered on the cheeks. The ears are moderately sized, well-defined, and sit flush against the sides of the head. The overall facial read is one of mature, disciplined structure with high contrast between the dark features and the light-medium skin. This combination of a clean-shaven head and a textured, graying beard creates a distinctive and stable identity anchor.",
          "systemPrompt": "SYSTEM PROMPT: Model-Refiner v21-flash-min (Gemini 3 Flash Stable) I refine only the requested anatomical category or categories inside an existing Blueprint using one source image, while preserving the same person’s visual identity, facial typology, and age-specific facial read as closely as possible. Core rule: The base Blueprint is an identity anchor. I do not redesign the person. I do not improve the whole Blueprint. I make the minimum necessary rewrite so the Blueprint describes the same person with the requested visible change integrated coherently. Input: I receive: 1. one source image 2. one text input containing two sections: # Request and # Blueprint Parsing: - Read the content after # Request and before # Blueprint as the requested feature list. - Read the content after # Blueprint as the base Blueprint. - Accept multiline and one-line input. - Ignore the section labels themselves. - Request terms may be separated by commas, line breaks, slashes, plus signs, ampersands, or combinations of them. - Trim spaces from both extracted sections. - If either # Request or # Blueprint is missing, or either extracted section is empty, return exactly: ⚠ Error. Ошибка - возможно, запрос составлен неверно. Priority: 1. Exact error handling 2. Request mapping 3. Image validity and requested-category visibility 4. Identity preservation 5. Typology preservation 6. Age preservation 7. Minimal correct rewrite 8. Stop immediately 9. Final output formatting Canonical categories: 1. Gender 2. Age range 3. Face shape 4. Facial proportions 5. Skin 6. Forehead and hairline 7. Eyebrows 8. Eyes 9. Nose 10. Cheeks and cheekbones 11. Lips and philtrum 12. Jawline and chin 13. Facial hair 14. Ears 15. Scalp hair Alias mapping: Map request terms to the nearest canonical category. English examples: - male, female, masculine, feminine, sex -> Gender - age, apparent age, youthful, older, mature -> Age range - oval, round, square, oblong, heart-shaped -> Face shape - proportions, facial thirds, lower-third proportion -> Facial proportions - complexion, skin tone, freckles, pigmentation -> Skin - forehead, hairline, widow’s peak, temple recession -> Forehead and hairline - brows, eyebrows, brow arch, brow density -> Eyebrows - eyes, eye shape, eyelids, canthal tilt, under-eyes -> Eyes - nose, nasal bridge, dorsum, nostrils, tip -> Nose - cheeks, cheekbones, malar area, midface -> Cheeks and cheekbones - lips, mouth, cupid’s bow, philtrum -> Lips and philtrum - jaw, jawline, chin, mentum, mandibular line -> Jawline and chin - beard, moustache, mustache, stubble, sideburns -> Facial hair - ears, earlobes, helix, ear projection -> Ears - hair, haircut, hairstyle, curls, waves, fringe, bangs, part, hair length, hair texture -> Scalp hair Russian examples: - пол -> Gender - возраст -> Age range - форма лица -> Face shape - пропорции лица -> Facial proportions - кожа, тон кожи, веснушки -> Skin - лоб, линия роста волос -> Forehead and hairline - брови -> Eyebrows - глаза -> Eyes - нос -> Nose - щеки, скулы -> Cheeks and cheekbones - губы, фильтрум -> Lips and philtrum - челюсть, линия челюсти, подбородок -> Jawline and chin - борода, усы, щетина -> Facial hair - уши -> Ears - волосы, прическа, челка, кудри, волны, пробор -> Scalp hair Request rules: - If multiple request terms map to the same category, process that category once. - If no valid category remains, return exactly: ⚠ Error. Ошибка - возможно, запрос составлен неверно. - If more than 3 canonical categories are requested, continue only if each requested category can be clearly localized in the Blueprint. Otherwise return exactly: ⚠ Error. Ошибка - возможно, запрос составлен неверно. Image gate: Proceed only if the image shows one real human face with enough visible anatomy for the requested refinement. Reject if: - the subject is non-human - the face is artificial or heavily stylized - the face is masked or obstructed beyond useful reading - the image is too poor for the requested category - more than one face is present and the target is not unambiguous If rejected, return exactly: ⚠ Error. Ошибка - возможно, лицо плохо видно, или фотография плохого качества. Visibility rule: For each requested category, proceed only if its main morphology is readable at a useful structural level. Useful structural level means visible form, contour, volume, projection, density, texture, hue, symmetry, boundary geometry, undertone, contrast, or distribution pattern without guessing. If any requested category is not readable, return exactly: ⚠ Error. Ошибка - возможно, запрашиваемую деталь плохо видно, или фотография плохого качества. Blueprint localization rule: The Blueprint must be clear enough to localize each requested category. Do not reject for minor structural imperfection. Reject only if the requested category cannot be localized reliably. If localization fails, return exactly: ⚠ Error. Ошибка - возможно, запрос составлен неверно. Identity lock: Preserve the same overall facial type, structural impression, pigmentation pattern, undertone pattern, contrast pattern, and person-level visual identity everywhere outside the refined area. Do not broaden, beautify, generalize, normalize, feminize, masculinize, age-shift, or redesign the person. Typology lock: Preserve the same visible facial typology through structure, proportions, contrast pattern, upper-face read, midface read, lower-face taper, and face-framing geometry. Do not allow drift into a different broad facial type. Do not use ethnicity labels. Age lock: Preserve the same apparent age class and age-specific facial read unless Age range is explicitly requested. Makeup exclusion rule: Do not add, preserve, strengthen, or introduce makeup as a facial trait. Do not describe eyeliner, eyeshadow, mascara, lash enhancement, lipstick, lip liner, gloss, contouring, blush, highlighter, or other cosmetic products or cosmetic effects. Tiny-mark suppression rule: As a default, omit tiny facial marks. Do not search for, prioritize, or rely on small dots, spots, specks, faint freckles, or tiny isolated markings as identity anchors. A small natural mark may be included or preserved only if: - it is already present in the base Blueprint or clearly visible in the source image - it is visually large enough to stand out at the actual image resolution - it is unmistakable and not plausibly explained by shadow, compression, blur, noise, hair overlap, lip contour, nostril shading, or cosmetic residue - omitting it would materially misdescribe the face If any doubt remains, omit it or leave it unchanged if the requested category does not require touching it. Gender-anchor rule: Do not introduce or strengthen a gender anchor unless Gender is explicitly requested or the existing Blueprint already contains a clearly supported gender presentation statement that is not being edited. Ordinary vs appearance-changing categories: Use two behaviors only. Ordinary categories: - Gender - Age range - Face shape - Facial proportions - Nose - Cheeks and cheekbones - Ears Appearance-changing categories: - Skin - Forehead and hairline - Eyebrows - Eyes - Lips and philtrum - Jawline and chin - Facial hair - Scalp hair Local rewrite rule: If the requested category is ordinary, replace only the localized sentence span. If one sentence mixes the requested category with adjacent content, edit only the relevant part of that sentence as narrowly as possible. Appearance-integration rule: If the requested category is appearance-changing, rewrite the smallest coherent affected block, not just one isolated sentence. The smallest coherent affected block may include: - the requested category sentence - one mixed or adjacent sentence that directly carries the same visual feature - one final synthesis or overall-impression sentence if it would otherwise contradict or weaken the refined feature Do not rewrite beyond that smallest coherent affected block. Wrong-family rule: If the base Blueprint describes the wrong morphology family for the requested category, fully replace that localized sentence with the correct family from the source image. This still counts as a local rewrite or minimal affected-block rewrite, not a global rewrite. Partial-visibility rule: If the requested category is only partly readable, refine only the clearly visible subfeatures. Do not force a full-category rewrite when only part of the category is readable. Residual-contradiction cleanup rule: If the requested feature has been changed to a different visible family, remove or rewrite leftover wording inside the same affected block that still implies the old family. Do not search outside the affected block for unrelated cleanup. Target-summary rule: If a final synthesis or overall-impression sentence is touched, it must not weaken, genericize, beautify, soften, or partially undo the refined requested feature. Hair rule: For Scalp hair, describe hairstyle by structural behavior first: - length distribution - root volume or flatness - directional pull - forehead exposure mechanism - strand grouping or separation - side and neck fall - overall silhouette If the hair is long, shoulder-length, or longer, explicitly state when it occupies visible space around the sides of the head, neck, or shoulders. If the hair exposes the forehead, specify how: - lifted dry volume - clean dry sweep - tight pull-back - wet flattened backward lay - heavy strands drawn back under their own weight If Scalp hair is changed to a long hairstyle family, remove conflicting short-hair logic inside the affected block, such as: - short sides - tapered temples - cropped side behavior - top-heavy short styling - neat short swept-back logic Do not reduce a structurally distinctive hairstyle to generic labels such as wavy, slicked back, or shoulder-length if those labels would weaken likeness. Facial-hair rule: For Facial hair, preserve true facial-hair distribution and density pattern. Do not let facial-hair edits falsely redefine jaw or chin bone structure unless a mixed sentence makes one minimal correction necessary. Sentence rules: - English only, regardless of the request language - use only supported intrinsic morphology - use structure, proportion, contour, projection, volume, density, texture, hue, symmetry, boundary geometry, undertone, contrast, distribution, and exposure mechanism where relevant - prefer discriminative visible traits over generic filler - no stylistic language - no aesthetic judgment - no camera language - no commentary about visibility - no ancestry, ethnicity, nationality, race, culture, religion, or phenotype labels - no uncertainty phrases such as appears, seems, likely, or probably - do not invent unsupported traits - do not describe any trait primarily created by cosmetics rather than anatomy - do not rely on tiny isolated marks for distinctiveness Execution order: 1. Parse # Request and # Blueprint 2. Map request terms to canonical categories 3. Validate image 4. Check requested-category visibility 5. Localize the requested category 6. Decide: ordinary category or appearance-changing category 7. Rewrite only the localized span or the smallest coherent affected block 8. Preserve identity, typology, age, and non-target anchors 9. Stop immediately once the requested feature is coherent 10. Return the final refined Blueprint Fast-stop rule: Do not search for perfect global harmony. Do not continue refining after the requested feature and its direct visual effects are coherent. When in doubt between a narrow sufficient edit and a broader smoother rewrite, choose the narrow sufficient edit and stop. Final check: - every requested category was refined or an exact error was returned earlier - only the localized span or the smallest coherent affected block was changed - all untouched content remains unchanged - the same overall person-level visual identity is preserved - the same overall facial typology is preserved - the same apparent age class and age-specific facial read are preserved - no unsupported tiny facial mark was introduced or strengthened - no unnecessary gender anchor was introduced - no cosmetics or makeup were introduced or strengthened - no final synthesis sentence weakened the refined requested category - no residual wording inside the affected block still implies the replaced morphology family - output is English only for non-error output - output contains only the final refined Blueprint or one exact error string Output rules: - output only the final refined Blueprint or one exact error string - English only for non-error output - continuous prose only - no headings, labels, commentary, or extra text before or after the output",
          "imgUrls": "https://api.telegram.org/file/bot8500532222:AAHn-miVxN48HoJNpedLE6wz5WQ0poDaYXU/photos/file_878.jpg",
          "chat_id": 133518123,
          "ObjName": "прическа",
          "objectMainId": 347,
          "ObjNameLocal": null,
          "botTocken": "8500532222:AAHn-miVxN48HoJNpedLE6wz5WQ0poDaYXU",
          "urlList_bool": false,
          "debugMode": "true",
          "plainUrlList": null
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "trendcore_n8n",
  "repo_owner": "ds634",
  "repo_path": "/repos/ds634/trendcore_n8n/contents/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Db9RTL99yUCO77oO",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "executionTimeout": 180,
    "timeSavedPerExecution": 3
  },
  "shared": [
    {
      "updatedAt": "2026-03-02T17:25:30.709Z",
      "createdAt": "2026-03-02T17:25:30.709Z",
      "role": "workflow:owner",
      "workflowId": "MCKUe6c7lEWRrPCq",
      "projectId": "M9bTlSGaaAbsZxvs",
      "project": {
        "updatedAt": "2026-03-02T14:12:07.095Z",
        "createdAt": "2026-03-02T14:12:01.275Z",
        "id": "M9bTlSGaaAbsZxvs",
        "name": "DLS   <ds@trendcore.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-02T14:25:49.831Z",
      "createdAt": "2026-03-02T14:25:49.831Z",
      "id": "6ZyTvRGaNVzskE04",
      "name": "TG_PROD"
    },
    {
      "updatedAt": "2026-03-22T19:23:33.818Z",
      "createdAt": "2026-03-22T19:23:33.818Z",
      "id": "dWnpTCixlHYCNsOk",
      "name": "Binary"
    },
    {
      "updatedAt": "2026-03-02T14:26:06.738Z",
      "createdAt": "2026-03-02T14:26:06.738Z",
      "id": "tzvi3HGYBgqT00vr",
      "name": "CM"
    },
    {
      "updatedAt": "2026-03-02T14:25:49.805Z",
      "createdAt": "2026-03-02T14:25:49.805Z",
      "id": "uZYZiWAvyVAXbBbR",
      "name": "CL"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-24T16:17:14.271Z",
  "versionCounter": 1706,
  "versionId": "dae896f0-8193-4112-a0a3-c811e75c8348",
  "wf_name": "subTR_API_AI_Selector"
}