2026/03/MCKUe6c7lEWRrPCq.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-26T11:23:18.000Z",
    "createdAt": "2026-03-26T11:23:05.734Z",
    "versionId": "ff978ee1-139d-4e19-9fa1-2227c0865839",
    "workflowId": "MCKUe6c7lEWRrPCq",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "modelName",
                "type": "any"
              },
              {
                "name": "apiName"
              },
              {
                "name": "userPrompt",
                "type": "any"
              },
              {
                "name": "systemPrompt",
                "type": "any"
              },
              {
                "name": "imgUrls"
              },
              {
                "name": "chat_id",
                "type": "number"
              },
              {
                "name": "ObjName"
              },
              {
                "name": "objectMainId",
                "type": "number"
              },
              {
                "name": "ObjNameLocal"
              },
              {
                "name": "botTocken"
              },
              {
                "name": "urlList_bool",
                "type": "boolean"
              },
              {
                "name": "debugMode"
              },
              {
                "name": "plainUrlList"
              }
            ]
          }
        },
        "id": "10cf1855-8338-4ac5-8ca7-8b3eefb8b4ab",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -5712,
          880
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Start').item.json.apiName.toLowerCase() }}",
                      "rightValue": "kie",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "7ae7199a-9a78-49ac-8a1d-39195d13801d"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "KIE"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "63c26a21-5e01-45ca-9783-64c1b643fa67",
                      "leftValue": "={{ $('Start').item.json.apiName.toLowerCase() }}",
                      "rightValue": "laozhang",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "laozhang"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "925a0f12-7a49-48d6-acad-bfead10c1bca",
                      "leftValue": "={{ $('Start').item.json.apiName.toLowerCase() }}",
                      "rightValue": "google",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "google"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -4224,
          672
        ],
        "id": "a8117293-e9e5-4f24-a0c4-af80f64f4901",
        "name": "Switch"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "2d2b6082-a969-4a12-b9fe-e1119e04c877",
                "leftValue": "={{ $('Start').item.json.apiName }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -4672,
          880
        ],
        "id": "7a6457b8-2a7a-4a1f-bc21-18ddf116726b",
        "name": "If"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "API не выбрано",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -4448,
          1072
        ],
        "id": "034c0f2b-e80e-4cfd-a1f6-2af7a3f8b477",
        "name": "Send a text message",
        "webhookId": "dd93b5d2-b3ed-4354-84c3-4ac888da2f71",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cfd91680-f8bb-49bf-8d96-a2e54d7e99d5",
                "leftValue": "={{ $('Start').item.json.modelName }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -4448,
          784
        ],
        "id": "77a5c510-c21a-4736-99d7-6c7baab83104",
        "name": "If1"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "ИИ Модель не выбрана",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -4320,
          928
        ],
        "id": "5ca2516b-600e-4941-9d74-68e735a7455f",
        "name": "Send a text message1",
        "webhookId": "dd93b5d2-b3ed-4354-84c3-4ac888da2f71",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.laozhang.ai/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"model\": $('Start').item.json.modelName, \"messages\": [ { \"role\": \"system\", \"content\": $('Start').item.json.systemPrompt }, { \"role\": \"user\", \"content\": [ { \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt }, { \"type\": \"image_url\", \"image_url\": { \"url\": $('UserPrompt_Default').item.json.imgUrls } } ], \"temperature\": 0, \"stream\": false, \"include_thoughts\": false, \"reasoning_effort\": \"low\" } ] } }}",
          "options": {
            "redirect": {
              "redirect": {}
            },
            "timeout": 2000000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -3344,
          496
        ],
        "id": "a05f0bf1-9b98-4e68-84a7-bc4aa34641df",
        "name": "laoZhang",
        "credentials": {
          "httpBearerAuth": {
            "id": "l0RE3N1j86lmu3ck",
            "name": "LaoZhang API"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "db476a4d-272d-4193-981d-879f72e34e8b",
                "name": "userPrompt",
                "value": "={{ $json.userPrompt.isEmpty()\n?\"Execute your system instructions exactly on the provided input. Return only the final answer in the required format.\"\n:$('Start').item.json.userPrompt\n}}",
                "type": "string"
              },
              {
                "id": "925e0d62-84e4-4999-bd75-82d328b0bde2",
                "name": "imgUrls",
                "value": "={{ $json.imgUrls.isEmpty()\n?\"\"\n:$('Start').item.json.imgUrls\n}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5280,
          880
        ],
        "id": "59c53cc0-5714-4351-aeb0-a51d4a08789a",
        "name": "UserPrompt_Default"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -2896,
          368
        ],
        "id": "272a4067-cd42-4e81-b699-34f66a10bb78",
        "name": "Merge",
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7a4f58ac-ca11-4d05-9b31-e1c5ba23a8cd",
                "name": "msg",
                "value": "={{ $('Merge').item.json.msg }}",
                "type": "string"
              },
              {
                "id": "805582a9-544c-473a-a680-88c265718bc4",
                "name": "data",
                "value": "={{ $('Merge').item.json.choices[0].message.content}}\n\n",
                "type": "string"
              },
              {
                "id": "c20d6dd1-9c12-4e89-9e18-dabec989bdfc",
                "name": "chat_id",
                "value": "={{ $('Start').item.json.chat_id }}",
                "type": "string"
              },
              {
                "id": "560a60d6-13ee-4cb7-ba91-59eca3d75a52",
                "name": "modelName",
                "value": "={{ $('Start').item.json.modelName }}",
                "type": "string"
              },
              {
                "id": "57e14510-ef7c-4967-bb1c-98df0d69fb00",
                "name": "apiName",
                "value": "={{ $('Start').item.json.apiName }}",
                "type": "string"
              },
              {
                "id": "d03ce7a6-4069-4561-b578-170b769b4eb8",
                "name": "imgUrls",
                "value": "={{ $('Start').item.json.imgUrls }}",
                "type": "string"
              },
              {
                "id": "ae937eb4-4d07-4fa8-a34b-4326b83986f6",
                "name": "ObjName",
                "value": "={{ $('Start').item.json.ObjName }}",
                "type": "string"
              },
              {
                "id": "d0158445-4faa-42e4-b0b8-f866b1c4fc59",
                "name": "ObjNameLocal",
                "value": "={{ $('Start').item.json.ObjNameLocal }}",
                "type": "string"
              },
              {
                "id": "1e7e7957-44a9-4d83-bf54-a42f3ccbb83a",
                "name": "objectMainId",
                "value": "={{ $('Start').item.json.objectMainId }}",
                "type": "string"
              },
              {
                "id": "f6015b6d-4fd0-460d-a1c0-f7b9f0d014c3",
                "name": "botTocken",
                "value": "={{ $('Start').item.json.botTocken }}",
                "type": "string"
              },
              {
                "id": "e0e3c8ec-882d-42af-af69-f988910888e9",
                "name": "apiParams",
                "value": "={{\"model: \" + $('Start').item.json.modelName + \"\\n\" + \n\"sytemPrompt: \"+ $('Start').item.json.systemPrompt + \"\\n\"  +\n\"userPrompt: \" + $('UserPrompt_Default').item.json.userPrompt + \"\\n\" +\n\"url: \" + $('UserPrompt_Default').item.json.imgUrls +\n\"max_tokens: 5000,\" + \"\\n\"  +\n\"temperature: 0,\" + \"\\n\"  +\n\"stream: false,\" + \"\\n\"  +\n\"include_thoughts: false,\" + \"\\n\"  +\n\"reasoning_effort: low\" \n}}\n",
                "type": "string"
              },
              {
                "id": "00c790d1-1db9-4fb9-8dc2-569dbc1fae9f",
                "name": "debugMode",
                "value": "={{ $('Start').item.json.debugMode }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          256,
          192
        ],
        "id": "4fb5cc8f-ae79-46c7-b471-bb75621407ed",
        "name": "Return1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c79e28f2-e45b-4a69-a226-7d0ad5b99f4f",
                "name": "urlList_bool",
                "value": "={{ $('Start').item.json.urlList_bool === null\n?false\n:$('Start').item.json.urlList_bool}}",
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5040,
          880
        ],
        "id": "4587c663-ea8a-4dee-b1a4-9a39dbbcb26f",
        "name": "isUrlList"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.kie.ai/{{$('Start').item.json.modelName}}/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \n\n\"messages\": [ { \n  \"role\": \"user\", \n  \"content\": [ \n        { \n        \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt \n        }, \n        { \"type\": \"image_url\", \n          \"image_url\": \n              { \"url\": $('UserPrompt_Default').item.json.imgUrls\n              } \n        } \n  ] }, \n\n{ \n  \"role\": \"system\", \n    \"content\": [ { \n        \"type\": \"text\", \n        \"text\": $('Start').item.json.systemPrompt } ] \n    } ], \n\n\"temperature\": 0, \n\"stream\": false, \n\"include_thoughts\": false, \n\"reasoning_effort\": \"low\", \n\"response_format\": { \"type\": \"text\"} \n\n} }}",
          "options": {
            "redirect": {
              "redirect": {}
            },
            "timeout": 2000000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -3376,
          112
        ],
        "id": "1945865e-9d4c-4dea-993c-12faac1771a4",
        "name": "KIE1",
        "credentials": {
          "httpBearerAuth": {
            "id": "YZOmcSE2KibMXSh1",
            "name": "KIE API"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4b03907e-c4a1-4d4b-bf81-b47aa97f2068",
                "leftValue": "={{ $json.data }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "858b0d09-9ab2-4095-a582-c904b535273a",
                "leftValue": "={{ $json.data.length > 10 }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3120,
          176
        ],
        "id": "f4e42823-3aa2-496e-bb7b-9f4706192ff0",
        "name": "IfOk200recieved"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "={{ $json.code +\": \" +$json.msg}}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2816,
          96
        ],
        "id": "d32e9e34-f55b-4264-aae6-be8091d55015",
        "name": "Send a text message2",
        "webhookId": "dd93b5d2-b3ed-4354-84c3-4ac888da2f71",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "Запрос завершился с ошибкой",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2896,
          768
        ],
        "id": "1a01e50e-e5e7-4b83-9329-fce186a2d45a",
        "name": "Send a text message3",
        "webhookId": "dd93b5d2-b3ed-4354-84c3-4ac888da2f71",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4b03907e-c4a1-4d4b-bf81-b47aa97f2068",
                "leftValue": "={{ $json.choices[0].message.content }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "858b0d09-9ab2-4095-a582-c904b535273a",
                "leftValue": "={{ $json.choices[0].message.content.length > 10 }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3120,
          560
        ],
        "id": "cefaf572-1080-4e9c-8b52-dad05030717f",
        "name": "IfOk200recieved2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "fac0f9a8-784b-4782-9104-79251b768766",
                "leftValue": "={{ $json.urlList_bool }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3632,
          176
        ],
        "id": "c4c026e5-c055-4a9a-951e-bc7a3a81e4f9",
        "name": "IfNotURLList"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.kie.ai/{{$('Start').item.json.modelName}}/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"model\": $('Start').item.json.modelName, \"messages\": [ { \"role\": \"system\", \"content\": $('Start').item.json.systemPrompt }, { \"role\": \"user\", \"content\": [ { \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt } ].concat($('UserPrompt_Default').item.json.imgUrls), \"temperature\": 0, \"stream\": false, \"include_thoughts\": false, \"reasoning_effort\": \"low\", \"response_format\": { \"type\": \"text\" } } ] } }}",
          "options": {
            "redirect": {
              "redirect": {}
            },
            "timeout": 2000000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -3376,
          304
        ],
        "id": "462f02e8-684f-407a-8e95-dd33b3b508ef",
        "name": "KIE",
        "credentials": {
          "httpBearerAuth": {
            "id": "YZOmcSE2KibMXSh1",
            "name": "KIE API"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "fac0f9a8-784b-4782-9104-79251b768766",
                "leftValue": "={{ $json.urlList_bool }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3632,
          560
        ],
        "id": "1ed606b4-48b6-404e-bd10-b98157b48a69",
        "name": "IfNotURLList1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.laozhang.ai/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"model\": $('Start').item.json.modelName, \"messages\": [ { \"role\": \"system\", \"content\": $('Start').item.json.systemPrompt }, { \"role\": \"user\", \"content\": [ { \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt } ].concat($('UserPrompt_Default').item.json.imgUrls), \"temperature\": 0, \"stream\": false, \"include_thoughts\": false, \"reasoning_effort\": \"low\" } ] } }}",
          "options": {
            "redirect": {
              "redirect": {}
            },
            "timeout": 2000000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -3344,
          688
        ],
        "id": "abed98d1-b693-4b4a-8a97-e0433488e57c",
        "name": "laoZhang1",
        "credentials": {
          "httpBearerAuth": {
            "id": "l0RE3N1j86lmu3ck",
            "name": "LaoZhang API"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$json.hasField(\"choices\")}}",
                      "rightValue": "choices",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "6928292f-0491-4288-ad69-0a18a35a708d"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "choices (laozhang)"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "4c94813f-571e-4956-91a8-93d436273065",
                      "leftValue": "={{$json.hasField(\"data\")}}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "data (kie)"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -2672,
          368
        ],
        "id": "9278a28e-6d7e-43f9-9955-e7194478252a",
        "name": "Switch1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2448,
          224
        ],
        "id": "5650ea50-5dae-4a74-ad4f-9bcf3bc7750e",
        "name": "IfDebug"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2448,
          800
        ],
        "id": "5c452bc5-a04c-419a-af9a-654db6375ea9",
        "name": "IfDebug1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7a4f58ac-ca11-4d05-9b31-e1c5ba23a8cd",
                "name": "msg",
                "value": "={{ $if($('Merge').isExecuted,\n$('Merge').item.json.data.parseJson().choices[0].message.content\n$if($('AI').isExecuted, $('AI').item.json.output)\n)\n}}",
                "type": "string"
              },
              {
                "id": "805582a9-544c-473a-a680-88c265718bc4",
                "name": "data",
                "value": "={{  \n$if($('Merge').isExecuted, $('Merge').item.json.data.parseJson().choices[0].message.content,\n$if($('AI').isExecuted, $('AI').item.json.output)\n)\n}}\n\n",
                "type": "string"
              },
              {
                "id": "c20d6dd1-9c12-4e89-9e18-dabec989bdfc",
                "name": "chat_id",
                "value": "={{ $('Start').item.json.chat_id }}",
                "type": "string"
              },
              {
                "id": "560a60d6-13ee-4cb7-ba91-59eca3d75a52",
                "name": "modelName",
                "value": "={{ $('Start').item.json.modelName }}",
                "type": "string"
              },
              {
                "id": "57e14510-ef7c-4967-bb1c-98df0d69fb00",
                "name": "apiName",
                "value": "={{ $('Start').item.json.apiName }}",
                "type": "string"
              },
              {
                "id": "d03ce7a6-4069-4561-b578-170b769b4eb8",
                "name": "imgUrls",
                "value": "={{ $('Start').item.json.imgUrls }}",
                "type": "string"
              },
              {
                "id": "ae937eb4-4d07-4fa8-a34b-4326b83986f6",
                "name": "ObjName",
                "value": "={{ $('Start').item.json.ObjName }}",
                "type": "string"
              },
              {
                "id": "e0f69c6b-dcdc-48aa-8287-763a32b011b1",
                "name": "ObjNameLocal",
                "value": "={{ $('Start').item.json.ObjNameLocal }}",
                "type": "string"
              },
              {
                "id": "1e7e7957-44a9-4d83-bf54-a42f3ccbb83a",
                "name": "objectMainId",
                "value": "={{ $('Start').item.json.objectMainId }}",
                "type": "string"
              },
              {
                "id": "f6015b6d-4fd0-460d-a1c0-f7b9f0d014c3",
                "name": "botTocken",
                "value": "={{ $('Start').item.json.botTocken }}",
                "type": "string"
              },
              {
                "id": "07ec7dab-b3c2-43a3-9536-35697e5d8320",
                "name": "debugMode",
                "value": "={{ $('Start').item.json.debugMode }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1008,
          944
        ],
        "id": "c5afc41e-2b67-4c6a-8214-6c70e44fa21f",
        "name": "Return"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "7a9ccfea-1c1f-4961-bd97-ee6a5e04b0d3",
                "leftValue": "={{ $('Start').item.json.imgUrls }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3904,
          32
        ],
        "id": "cce6fdd1-e154-44e4-b4bf-b9880265ddbd",
        "name": "IfUrlEmpty"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.kie.ai/{{$('Start').item.json.modelName}}/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \n\n\"messages\": [ { \n\n    \"role\": \"user\", \n    \"content\": [ { \n      \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt } \n    ] \n    }, \n{ \"role\": \"system\", \n  \"content\": [ { \n      \"type\": \"text\", \n      \"text\": $('Start').item.json.systemPrompt } ] \n  } ], \n\n\"temperature\": 0, \n\"stream\": false, \n\"include_thoughts\": false, \n\"reasoning_effort\": \"low\", \n\"response_format\": { \"type\": \"text\" } \n\n} }}",
          "options": {
            "redirect": {
              "redirect": {}
            },
            "timeout": 2000000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -3376,
          -80
        ],
        "id": "625d074c-8b61-4cc8-af3d-ce87694b2ffb",
        "name": "KIE2",
        "credentials": {
          "httpBearerAuth": {
            "id": "YZOmcSE2KibMXSh1",
            "name": "KIE API"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
            "mode": "list",
            "cachedResultName": "n8n_TR_error_log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
              "UserPrompt": "={{$('Start').item.json.userPrompt }}",
              "FileUrls": "={{$('Start').item.json.imgUrls }}",
              "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
              "ExecutionDateTime": "={{ $now.format('TTT') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ExecutionDate",
                "displayName": "ExecutionDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ExecutionDateTime",
                "displayName": "ExecutionDateTime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "SystemPrompt",
                "displayName": "SystemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "UserPrompt",
                "displayName": "UserPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "FileUrls",
                "displayName": "FileUrls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1408,
          656
        ],
        "id": "5c12e6d3-8516-42f8-93cc-dfd1f2f5e26c",
        "name": "Append row in sheet1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "amount": 3
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -944,
          640
        ],
        "id": "5130bd19-2fd5-4946-b314-355709b3a359",
        "name": "Wait1",
        "webhookId": "927724df-92fa-4441-9bfc-246b7d9213f9"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
            "mode": "list",
            "cachedResultName": "n8n_TR_error_log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
              "UserPrompt": "={{$('Start').item.json.userPrompt }}",
              "FileUrls": "={{$('Start').item.json.imgUrls }}",
              "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
              "ExecutionDateTime": "={{ $now.format('TTT') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ExecutionDate",
                "displayName": "ExecutionDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ExecutionDateTime",
                "displayName": "ExecutionDateTime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "SystemPrompt",
                "displayName": "SystemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "UserPrompt",
                "displayName": "UserPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "FileUrls",
                "displayName": "FileUrls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1552,
          112
        ],
        "id": "1e22e89a-600b-4a5f-9579-8ede8643535a",
        "name": "Append row in sheet2",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "amount": 3
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1088,
          96
        ],
        "id": "69f94c82-7416-47d7-a51b-7f501a7c4b79",
        "name": "Wait2",
        "webhookId": "927724df-92fa-4441-9bfc-246b7d9213f9"
      },
      {
        "parameters": {
          "content": "Binary images are passed directly to AI Agent via passthroughBinaryImages option - no conversion needed",
          "height": 1760,
          "width": 4592
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -3392,
          1120
        ],
        "typeVersion": 1,
        "id": "f3e39269-ea71-4440-ae47-a0d7d3ab7bcd",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "138525c8-fccd-4aae-b0fe-1eee7aa02f4c",
                "name": "modelNamePrepared",
                "value": "={{ $('Start').item.json.modelName == \"gemini-3-flash\"\n?$('Start').item.json.modelName + \"-preview\"\n:$('Start').item.json.modelName\n}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4832,
          880
        ],
        "id": "c64850d4-cd71-477f-972e-0bcb04f97f9e",
        "name": "ModelNamePrepared"
      },
      {
        "parameters": {
          "modelName": "models/gemini-3-flash-preview",
          "options": {
            "temperature": 0.1,
            "safetySettings": {
              "values": [
                {
                  "category": "HARM_CATEGORY_HARASSMENT",
                  "threshold": "BLOCK_NONE"
                },
                {
                  "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                  "threshold": "BLOCK_NONE"
                },
                {
                  "category": "HARM_CATEGORY_HATE_SPEECH",
                  "threshold": "BLOCK_NONE"
                },
                {
                  "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                  "threshold": "BLOCK_NONE"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -1088,
          2032
        ],
        "id": "aeb40bb7-4c3f-4bf3-bfc2-081f6cdeb688",
        "name": "Google Gemini Chat Model2",
        "retryOnFail": false,
        "credentials": {
          "googlePalmApi": {
            "id": "7uq26pW3rjLVZ4Re",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $('Start').item.json.imgUrls }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -2288,
          2272
        ],
        "id": "527420bd-18d3-4c97-abf7-60109da3e8cd",
        "name": "HTTP Request2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a7486e9f-e36c-49be-a41f-f9e4f8356e3f",
                "leftValue": "={{ $('isUrlList').item.json.urlList_bool }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2768,
          1712
        ],
        "id": "1d1fbb04-6c28-4ab7-9c37-bc91f88ce89e",
        "name": "IfListURls1"
      },
      {
        "parameters": {
          "jsCode": "// 1. Get the raw string from the input (Start node)\nconst rawString = $('Start').first().json.imgUrls;\n\n// 2. Wrap the string in square brackets to make it a valid JSON array\n//    and then parse it into a real JavaScript object.\nconst parsedData = JSON.parse(`[${rawString}]`);\n\n// 3. Map over the array to create separate items.\n//    We extract only the \"url\" value for each item.\nreturn parsedData.map(item => {\n  return {\n    json: {\n      url: item.image_url.url\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2560,
          1696
        ],
        "id": "c81e6274-6bcf-45e7-9990-1aa809a87871",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -2320,
          1696
        ],
        "id": "f4204863-d1fb-4733-a1ee-760488646b91",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "url": "={{$('Loop Over Items1').item.json.url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -2096,
          1824
        ],
        "id": "bb35f988-d282-45e0-a328-4882c4c9807c",
        "name": "HTTP Request3"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {
            "includeBinaries": true
          }
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -2112,
          1616
        ],
        "id": "2449727e-5aeb-427b-a13c-f65f44605bd3",
        "name": "Aggregate1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "fa44d6f8-83af-4988-813b-680646e9f93c",
                "leftValue": "={{ $('Start').item.json.imgUrls }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3216,
          1312
        ],
        "id": "50b6050c-061f-48c6-b34a-659aa1993ffd",
        "name": "IfUrlNotEmpty2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -336,
          1504
        ],
        "id": "85301ca2-a13d-4b32-b735-160bda0a25c6",
        "name": "IfDebug5"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
            "mode": "list",
            "cachedResultName": "n8n_TR_error_log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
              "UserPrompt": "={{$('Start').item.json.userPrompt }}",
              "FileUrls": "={{$('Start').item.json.imgUrls }}",
              "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
              "ExecutionDateTime": "={{ $now.format('TTT') }}",
              "Output": "={{ $('AI').item.json.output }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ExecutionDate",
                "displayName": "ExecutionDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ExecutionDateTime",
                "displayName": "ExecutionDateTime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "SystemPrompt",
                "displayName": "SystemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "UserPrompt",
                "displayName": "UserPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Output",
                "displayName": "Output",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "FileUrls",
                "displayName": "FileUrls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "useAppend": true
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -160,
          1232
        ],
        "id": "f9ba4b8f-070f-4482-8067-45da4eda401d",
        "name": "Append row in sheet4",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('UserPrompt_Default').item.json.userPrompt }}",
          "options": {
            "systemMessage": "={{ $('Start').item.json.systemPrompt }}",
            "maxIterations": 10,
            "returnIntermediateSteps": false,
            "passthroughBinaryImages": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -1088,
          1648
        ],
        "id": "c80d1624-b50b-4deb-8c68-f7eee3ac8eeb",
        "name": "AI",
        "retryOnFail": false
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3952,
          1056
        ],
        "id": "d097db23-7ced-44cc-92b9-8a33c6e0fad5",
        "name": "IfDebug6"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
            "mode": "list",
            "cachedResultName": "n8n_TR_error_log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Log",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
              "UserPrompt": "={{$('Start').item.json.userPrompt }}",
              "FileUrls": "={{$('Start').item.json.imgUrls }}",
              "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
              "ExecutionDateTime": "={{ $now.format('TTT') }}",
              "Output": "="
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ExecutionDate",
                "displayName": "ExecutionDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ExecutionDateTime",
                "displayName": "ExecutionDateTime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "SystemPrompt",
                "displayName": "SystemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "UserPrompt",
                "displayName": "UserPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Output",
                "displayName": "Output",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "FileUrls",
                "displayName": "FileUrls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "useAppend": true
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -3616,
          928
        ],
        "id": "543af196-7e02-4745-a9d1-44bbffd3459c",
        "name": "Append row in sheet5",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Remove binary data from all items\nconst items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: item.json\n    // Binary data is intentionally omitted\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -656,
          1632
        ],
        "id": "5cd65002-fd2b-4aa4-bcfa-0c1acde2a1c9",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "jsCode": "// Remove binary data from all items\nconst items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: item.json\n    // Binary data is intentionally omitted\n  };\n});"
        },
        "id": "7d47186f-32fe-40ff-b21f-91df57c7d82c",
        "name": "ChangeMIME",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1872,
          1904
        ]
      },
      {
        "parameters": {
          "jsCode": "// Remove binary data from all items\nconst items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: item.json\n    // Binary data is intentionally omitted\n  };\n});"
        },
        "id": "a54b8681-699e-4f0d-85ae-95a46007e7ad",
        "name": "ChangeMIME1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1728,
          2272
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "68458150-fa3b-49ff-bd58-b1d388b8d969",
                "name": "data",
                "value": "={{ Object.assign({}, $binary.data, { mimeType: \"image/jpeg\" }) }}",
                "type": "binary"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1728,
          2272
        ],
        "id": "c09a90bc-2022-458b-859d-868b17fb8c30",
        "name": "ChangeMIME1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "68458150-fa3b-49ff-bd58-b1d388b8d969",
                "name": "data",
                "value": "={{ Object.assign({}, $binary.data, { mimeType: \"image/jpeg\" }) }}",
                "type": "binary"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1872,
          1904
        ],
        "id": "13a86672-3970-48c9-8193-673f4cc99052",
        "name": "ChangeMIME"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "TG_UserID",
                "value": "={{ $('Start').item.json.chat_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          512,
          208
        ],
        "id": "7581ce4d-0e34-4877-826a-1bbdd5a16252",
        "name": "Execution Data"
      },
      {
        "parameters": {
          "dataToSave": {
            "values": [
              {
                "key": "TG_UserID",
                "value": "={{ $('Start').item.json.chat_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executionData",
        "typeVersion": 1.1,
        "position": [
          1264,
          944
        ],
        "id": "129e1623-ec3f-41e6-8af4-72eb10f04b99",
        "name": "Execution Data1"
      }
    ],
    "connections": {
      "Start": {
        "main": [
          [
            {
              "node": "UserPrompt_Default",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "IfUrlEmpty",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IfNotURLList1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IfDebug6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "laoZhang": {
        "main": [
          [
            {
              "node": "IfOk200recieved2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UserPrompt_Default": {
        "main": [
          [
            {
              "node": "isUrlList",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isUrlList": {
        "main": [
          [
            {
              "node": "ModelNamePrepared",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "KIE1": {
        "main": [
          [
            {
              "node": "IfOk200recieved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfOk200recieved": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfOk200recieved2": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfNotURLList": {
        "main": [
          [
            {
              "node": "KIE1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "KIE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "KIE": {
        "main": [
          [
            {
              "node": "IfOk200recieved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfNotURLList1": {
        "main": [
          [
            {
              "node": "laoZhang",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "laoZhang1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "laoZhang1": {
        "main": [
          [
            {
              "node": "IfOk200recieved2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "IfDebug",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IfDebug1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug": {
        "main": [
          [
            {
              "node": "Append row in sheet2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug1": {
        "main": [
          [
            {
              "node": "Append row in sheet1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message1": {
        "main": [
          []
        ]
      },
      "IfUrlEmpty": {
        "main": [
          [
            {
              "node": "KIE2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IfNotURLList",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "KIE2": {
        "main": [
          [
            {
              "node": "IfOk200recieved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet1": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet2": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "Return1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ModelNamePrepared": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "AI",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request2": {
        "main": [
          [
            {
              "node": "ChangeMIME1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfListURls1": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request3": {
        "main": [
          [
            {
              "node": "ChangeMIME",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate1": {
        "main": [
          [
            {
              "node": "AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfUrlNotEmpty2": {
        "main": [
          [
            {
              "node": "IfListURls1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug5": {
        "main": [
          [
            {
              "node": "Append row in sheet4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet4": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug6": {
        "main": [
          [
            {
              "node": "Append row in sheet5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IfUrlNotEmpty2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet5": {
        "main": [
          [
            {
              "node": "IfUrlNotEmpty2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "IfDebug5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ChangeMIME": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ChangeMIME1": {
        "main": [
          [
            {
              "node": "AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return1": {
        "main": [
          [
            {
              "node": "Execution Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return": {
        "main": [
          [
            {
              "node": "Execution Data1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DLS  ",
    "name": "Version ff978ee1",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-26T11:23:18.779Z",
        "id": 1825,
        "workflowId": "MCKUe6c7lEWRrPCq",
        "versionId": "ff978ee1-139d-4e19-9fa1-2227c0865839",
        "event": "activated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    ]
  },
  "activeVersionId": "ff978ee1-139d-4e19-9fa1-2227c0865839",
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "UserPrompt_Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "IfUrlEmpty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfNotURLList1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfDebug6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "laoZhang": {
      "main": [
        [
          {
            "node": "IfOk200recieved2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UserPrompt_Default": {
      "main": [
        [
          {
            "node": "isUrlList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isUrlList": {
      "main": [
        [
          {
            "node": "ModelNamePrepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE1": {
      "main": [
        [
          {
            "node": "IfOk200recieved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfOk200recieved": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfOk200recieved2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfNotURLList": {
      "main": [
        [
          {
            "node": "KIE1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "KIE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE": {
      "main": [
        [
          {
            "node": "IfOk200recieved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfNotURLList1": {
      "main": [
        [
          {
            "node": "laoZhang",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "laoZhang1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "laoZhang1": {
      "main": [
        [
          {
            "node": "IfOk200recieved2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "IfDebug",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfDebug1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "IfUrlEmpty": {
      "main": [
        [
          {
            "node": "KIE2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfNotURLList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KIE2": {
      "main": [
        [
          {
            "node": "IfOk200recieved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Return1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModelNamePrepared": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "ChangeMIME1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfListURls1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "ChangeMIME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfUrlNotEmpty2": {
      "main": [
        [
          {
            "node": "IfListURls1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug5": {
      "main": [
        [
          {
            "node": "Append row in sheet4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet4": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug6": {
      "main": [
        [
          {
            "node": "Append row in sheet5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfUrlNotEmpty2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet5": {
      "main": [
        [
          {
            "node": "IfUrlNotEmpty2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "IfDebug5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChangeMIME": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChangeMIME1": {
      "main": [
        [
          {
            "node": "AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return1": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return": {
      "main": [
        [
          {
            "node": "Execution Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-02T17:25:30.707Z",
  "description": null,
  "id": "MCKUe6c7lEWRrPCq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "subTR_API_AI_Selector",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "modelName",
              "type": "any"
            },
            {
              "name": "apiName"
            },
            {
              "name": "userPrompt",
              "type": "any"
            },
            {
              "name": "systemPrompt",
              "type": "any"
            },
            {
              "name": "imgUrls"
            },
            {
              "name": "chat_id",
              "type": "number"
            },
            {
              "name": "ObjName"
            },
            {
              "name": "objectMainId",
              "type": "number"
            },
            {
              "name": "ObjNameLocal"
            },
            {
              "name": "botTocken"
            },
            {
              "name": "urlList_bool",
              "type": "boolean"
            },
            {
              "name": "debugMode"
            },
            {
              "name": "plainUrlList"
            }
          ]
        }
      },
      "id": "10cf1855-8338-4ac5-8ca7-8b3eefb8b4ab",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -5712,
        880
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').item.json.apiName.toLowerCase() }}",
                    "rightValue": "kie",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7ae7199a-9a78-49ac-8a1d-39195d13801d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "KIE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "63c26a21-5e01-45ca-9783-64c1b643fa67",
                    "leftValue": "={{ $('Start').item.json.apiName.toLowerCase() }}",
                    "rightValue": "laozhang",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "laozhang"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "925a0f12-7a49-48d6-acad-bfead10c1bca",
                    "leftValue": "={{ $('Start').item.json.apiName.toLowerCase() }}",
                    "rightValue": "google",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "google"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -4224,
        672
      ],
      "id": "a8117293-e9e5-4f24-a0c4-af80f64f4901",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2d2b6082-a969-4a12-b9fe-e1119e04c877",
              "leftValue": "={{ $('Start').item.json.apiName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4672,
        880
      ],
      "id": "7a6457b8-2a7a-4a1f-bc21-18ddf116726b",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "API не выбрано",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -4448,
        1072
      ],
      "id": "034c0f2b-e80e-4cfd-a1f6-2af7a3f8b477",
      "name": "Send a text message",
      "webhookId": "dd93b5d2-b3ed-4354-84c3-4ac888da2f71",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cfd91680-f8bb-49bf-8d96-a2e54d7e99d5",
              "leftValue": "={{ $('Start').item.json.modelName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4448,
        784
      ],
      "id": "77a5c510-c21a-4736-99d7-6c7baab83104",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "ИИ Модель не выбрана",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -4320,
        928
      ],
      "id": "5ca2516b-600e-4941-9d74-68e735a7455f",
      "name": "Send a text message1",
      "webhookId": "dd93b5d2-b3ed-4354-84c3-4ac888da2f71",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.laozhang.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $('Start').item.json.modelName, \"messages\": [ { \"role\": \"system\", \"content\": $('Start').item.json.systemPrompt }, { \"role\": \"user\", \"content\": [ { \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt }, { \"type\": \"image_url\", \"image_url\": { \"url\": $('UserPrompt_Default').item.json.imgUrls } } ], \"temperature\": 0, \"stream\": false, \"include_thoughts\": false, \"reasoning_effort\": \"low\" } ] } }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 2000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3344,
        496
      ],
      "id": "a05f0bf1-9b98-4e68-84a7-bc4aa34641df",
      "name": "laoZhang",
      "credentials": {
        "httpBearerAuth": {
          "id": "l0RE3N1j86lmu3ck",
          "name": "LaoZhang API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db476a4d-272d-4193-981d-879f72e34e8b",
              "name": "userPrompt",
              "value": "={{ $json.userPrompt.isEmpty()\n?\"Execute your system instructions exactly on the provided input. Return only the final answer in the required format.\"\n:$('Start').item.json.userPrompt\n}}",
              "type": "string"
            },
            {
              "id": "925e0d62-84e4-4999-bd75-82d328b0bde2",
              "name": "imgUrls",
              "value": "={{ $json.imgUrls.isEmpty()\n?\"\"\n:$('Start').item.json.imgUrls\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5280,
        880
      ],
      "id": "59c53cc0-5714-4351-aeb0-a51d4a08789a",
      "name": "UserPrompt_Default"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2896,
        368
      ],
      "id": "272a4067-cd42-4e81-b699-34f66a10bb78",
      "name": "Merge",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a4f58ac-ca11-4d05-9b31-e1c5ba23a8cd",
              "name": "msg",
              "value": "={{ $('Merge').item.json.msg }}",
              "type": "string"
            },
            {
              "id": "805582a9-544c-473a-a680-88c265718bc4",
              "name": "data",
              "value": "={{ $('Merge').item.json.choices[0].message.content}}\n\n",
              "type": "string"
            },
            {
              "id": "c20d6dd1-9c12-4e89-9e18-dabec989bdfc",
              "name": "chat_id",
              "value": "={{ $('Start').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "560a60d6-13ee-4cb7-ba91-59eca3d75a52",
              "name": "modelName",
              "value": "={{ $('Start').item.json.modelName }}",
              "type": "string"
            },
            {
              "id": "57e14510-ef7c-4967-bb1c-98df0d69fb00",
              "name": "apiName",
              "value": "={{ $('Start').item.json.apiName }}",
              "type": "string"
            },
            {
              "id": "d03ce7a6-4069-4561-b578-170b769b4eb8",
              "name": "imgUrls",
              "value": "={{ $('Start').item.json.imgUrls }}",
              "type": "string"
            },
            {
              "id": "ae937eb4-4d07-4fa8-a34b-4326b83986f6",
              "name": "ObjName",
              "value": "={{ $('Start').item.json.ObjName }}",
              "type": "string"
            },
            {
              "id": "d0158445-4faa-42e4-b0b8-f866b1c4fc59",
              "name": "ObjNameLocal",
              "value": "={{ $('Start').item.json.ObjNameLocal }}",
              "type": "string"
            },
            {
              "id": "1e7e7957-44a9-4d83-bf54-a42f3ccbb83a",
              "name": "objectMainId",
              "value": "={{ $('Start').item.json.objectMainId }}",
              "type": "string"
            },
            {
              "id": "f6015b6d-4fd0-460d-a1c0-f7b9f0d014c3",
              "name": "botTocken",
              "value": "={{ $('Start').item.json.botTocken }}",
              "type": "string"
            },
            {
              "id": "e0e3c8ec-882d-42af-af69-f988910888e9",
              "name": "apiParams",
              "value": "={{\"model: \" + $('Start').item.json.modelName + \"\\n\" + \n\"sytemPrompt: \"+ $('Start').item.json.systemPrompt + \"\\n\"  +\n\"userPrompt: \" + $('UserPrompt_Default').item.json.userPrompt + \"\\n\" +\n\"url: \" + $('UserPrompt_Default').item.json.imgUrls +\n\"max_tokens: 5000,\" + \"\\n\"  +\n\"temperature: 0,\" + \"\\n\"  +\n\"stream: false,\" + \"\\n\"  +\n\"include_thoughts: false,\" + \"\\n\"  +\n\"reasoning_effort: low\" \n}}\n",
              "type": "string"
            },
            {
              "id": "00c790d1-1db9-4fb9-8dc2-569dbc1fae9f",
              "name": "debugMode",
              "value": "={{ $('Start').item.json.debugMode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        192
      ],
      "id": "4fb5cc8f-ae79-46c7-b471-bb75621407ed",
      "name": "Return1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c79e28f2-e45b-4a69-a226-7d0ad5b99f4f",
              "name": "urlList_bool",
              "value": "={{ $('Start').item.json.urlList_bool === null\n?false\n:$('Start').item.json.urlList_bool}}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5040,
        880
      ],
      "id": "4587c663-ea8a-4dee-b1a4-9a39dbbcb26f",
      "name": "isUrlList"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.kie.ai/{{$('Start').item.json.modelName}}/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \n\n\"messages\": [ { \n  \"role\": \"user\", \n  \"content\": [ \n        { \n        \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt \n        }, \n        { \"type\": \"image_url\", \n          \"image_url\": \n              { \"url\": $('UserPrompt_Default').item.json.imgUrls\n              } \n        } \n  ] }, \n\n{ \n  \"role\": \"system\", \n    \"content\": [ { \n        \"type\": \"text\", \n        \"text\": $('Start').item.json.systemPrompt } ] \n    } ], \n\n\"temperature\": 0, \n\"stream\": false, \n\"include_thoughts\": false, \n\"reasoning_effort\": \"low\", \n\"response_format\": { \"type\": \"text\"} \n\n} }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 2000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3376,
        112
      ],
      "id": "1945865e-9d4c-4dea-993c-12faac1771a4",
      "name": "KIE1",
      "credentials": {
        "httpBearerAuth": {
          "id": "YZOmcSE2KibMXSh1",
          "name": "KIE API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4b03907e-c4a1-4d4b-bf81-b47aa97f2068",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "858b0d09-9ab2-4095-a582-c904b535273a",
              "leftValue": "={{ $json.data.length > 10 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3120,
        176
      ],
      "id": "f4e42823-3aa2-496e-bb7b-9f4706192ff0",
      "name": "IfOk200recieved"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "={{ $json.code +\": \" +$json.msg}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2816,
        96
      ],
      "id": "d32e9e34-f55b-4264-aae6-be8091d55015",
      "name": "Send a text message2",
      "webhookId": "dd93b5d2-b3ed-4354-84c3-4ac888da2f71",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "Запрос завершился с ошибкой",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2896,
        768
      ],
      "id": "1a01e50e-e5e7-4b83-9329-fce186a2d45a",
      "name": "Send a text message3",
      "webhookId": "dd93b5d2-b3ed-4354-84c3-4ac888da2f71",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4b03907e-c4a1-4d4b-bf81-b47aa97f2068",
              "leftValue": "={{ $json.choices[0].message.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "858b0d09-9ab2-4095-a582-c904b535273a",
              "leftValue": "={{ $json.choices[0].message.content.length > 10 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3120,
        560
      ],
      "id": "cefaf572-1080-4e9c-8b52-dad05030717f",
      "name": "IfOk200recieved2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fac0f9a8-784b-4782-9104-79251b768766",
              "leftValue": "={{ $json.urlList_bool }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3632,
        176
      ],
      "id": "c4c026e5-c055-4a9a-951e-bc7a3a81e4f9",
      "name": "IfNotURLList"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.kie.ai/{{$('Start').item.json.modelName}}/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $('Start').item.json.modelName, \"messages\": [ { \"role\": \"system\", \"content\": $('Start').item.json.systemPrompt }, { \"role\": \"user\", \"content\": [ { \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt } ].concat($('UserPrompt_Default').item.json.imgUrls), \"temperature\": 0, \"stream\": false, \"include_thoughts\": false, \"reasoning_effort\": \"low\", \"response_format\": { \"type\": \"text\" } } ] } }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 2000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3376,
        304
      ],
      "id": "462f02e8-684f-407a-8e95-dd33b3b508ef",
      "name": "KIE",
      "credentials": {
        "httpBearerAuth": {
          "id": "YZOmcSE2KibMXSh1",
          "name": "KIE API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fac0f9a8-784b-4782-9104-79251b768766",
              "leftValue": "={{ $json.urlList_bool }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3632,
        560
      ],
      "id": "1ed606b4-48b6-404e-bd10-b98157b48a69",
      "name": "IfNotURLList1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.laozhang.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $('Start').item.json.modelName, \"messages\": [ { \"role\": \"system\", \"content\": $('Start').item.json.systemPrompt }, { \"role\": \"user\", \"content\": [ { \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt } ].concat($('UserPrompt_Default').item.json.imgUrls), \"temperature\": 0, \"stream\": false, \"include_thoughts\": false, \"reasoning_effort\": \"low\" } ] } }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 2000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3344,
        688
      ],
      "id": "abed98d1-b693-4b4a-8a97-e0433488e57c",
      "name": "laoZhang1",
      "credentials": {
        "httpBearerAuth": {
          "id": "l0RE3N1j86lmu3ck",
          "name": "LaoZhang API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.hasField(\"choices\")}}",
                    "rightValue": "choices",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "6928292f-0491-4288-ad69-0a18a35a708d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "choices (laozhang)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4c94813f-571e-4956-91a8-93d436273065",
                    "leftValue": "={{$json.hasField(\"data\")}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "data (kie)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2672,
        368
      ],
      "id": "9278a28e-6d7e-43f9-9955-e7194478252a",
      "name": "Switch1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2448,
        224
      ],
      "id": "5650ea50-5dae-4a74-ad4f-9bcf3bc7750e",
      "name": "IfDebug"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2448,
        800
      ],
      "id": "5c452bc5-a04c-419a-af9a-654db6375ea9",
      "name": "IfDebug1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a4f58ac-ca11-4d05-9b31-e1c5ba23a8cd",
              "name": "msg",
              "value": "={{ $if($('Merge').isExecuted,\n$('Merge').item.json.data.parseJson().choices[0].message.content\n$if($('AI').isExecuted, $('AI').item.json.output)\n)\n}}",
              "type": "string"
            },
            {
              "id": "805582a9-544c-473a-a680-88c265718bc4",
              "name": "data",
              "value": "={{  \n$if($('Merge').isExecuted, $('Merge').item.json.data.parseJson().choices[0].message.content,\n$if($('AI').isExecuted, $('AI').item.json.output)\n)\n}}\n\n",
              "type": "string"
            },
            {
              "id": "c20d6dd1-9c12-4e89-9e18-dabec989bdfc",
              "name": "chat_id",
              "value": "={{ $('Start').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "560a60d6-13ee-4cb7-ba91-59eca3d75a52",
              "name": "modelName",
              "value": "={{ $('Start').item.json.modelName }}",
              "type": "string"
            },
            {
              "id": "57e14510-ef7c-4967-bb1c-98df0d69fb00",
              "name": "apiName",
              "value": "={{ $('Start').item.json.apiName }}",
              "type": "string"
            },
            {
              "id": "d03ce7a6-4069-4561-b578-170b769b4eb8",
              "name": "imgUrls",
              "value": "={{ $('Start').item.json.imgUrls }}",
              "type": "string"
            },
            {
              "id": "ae937eb4-4d07-4fa8-a34b-4326b83986f6",
              "name": "ObjName",
              "value": "={{ $('Start').item.json.ObjName }}",
              "type": "string"
            },
            {
              "id": "e0f69c6b-dcdc-48aa-8287-763a32b011b1",
              "name": "ObjNameLocal",
              "value": "={{ $('Start').item.json.ObjNameLocal }}",
              "type": "string"
            },
            {
              "id": "1e7e7957-44a9-4d83-bf54-a42f3ccbb83a",
              "name": "objectMainId",
              "value": "={{ $('Start').item.json.objectMainId }}",
              "type": "string"
            },
            {
              "id": "f6015b6d-4fd0-460d-a1c0-f7b9f0d014c3",
              "name": "botTocken",
              "value": "={{ $('Start').item.json.botTocken }}",
              "type": "string"
            },
            {
              "id": "07ec7dab-b3c2-43a3-9536-35697e5d8320",
              "name": "debugMode",
              "value": "={{ $('Start').item.json.debugMode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        944
      ],
      "id": "c5afc41e-2b67-4c6a-8214-6c70e44fa21f",
      "name": "Return"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7a9ccfea-1c1f-4961-bd97-ee6a5e04b0d3",
              "leftValue": "={{ $('Start').item.json.imgUrls }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3904,
        32
      ],
      "id": "cce6fdd1-e154-44e4-b4bf-b9880265ddbd",
      "name": "IfUrlEmpty"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.kie.ai/{{$('Start').item.json.modelName}}/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \n\n\"messages\": [ { \n\n    \"role\": \"user\", \n    \"content\": [ { \n      \"type\": \"text\", \"text\": $('UserPrompt_Default').item.json.userPrompt } \n    ] \n    }, \n{ \"role\": \"system\", \n  \"content\": [ { \n      \"type\": \"text\", \n      \"text\": $('Start').item.json.systemPrompt } ] \n  } ], \n\n\"temperature\": 0, \n\"stream\": false, \n\"include_thoughts\": false, \n\"reasoning_effort\": \"low\", \n\"response_format\": { \"type\": \"text\" } \n\n} }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 2000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3376,
        -80
      ],
      "id": "625d074c-8b61-4cc8-af3d-ce87694b2ffb",
      "name": "KIE2",
      "credentials": {
        "httpBearerAuth": {
          "id": "YZOmcSE2KibMXSh1",
          "name": "KIE API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
          "mode": "list",
          "cachedResultName": "n8n_TR_error_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
            "UserPrompt": "={{$('Start').item.json.userPrompt }}",
            "FileUrls": "={{$('Start').item.json.imgUrls }}",
            "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
            "ExecutionDateTime": "={{ $now.format('TTT') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ExecutionDate",
              "displayName": "ExecutionDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ExecutionDateTime",
              "displayName": "ExecutionDateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SystemPrompt",
              "displayName": "SystemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UserPrompt",
              "displayName": "UserPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FileUrls",
              "displayName": "FileUrls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1408,
        656
      ],
      "id": "5c12e6d3-8516-42f8-93cc-dfd1f2f5e26c",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -944,
        640
      ],
      "id": "5130bd19-2fd5-4946-b314-355709b3a359",
      "name": "Wait1",
      "webhookId": "927724df-92fa-4441-9bfc-246b7d9213f9"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
          "mode": "list",
          "cachedResultName": "n8n_TR_error_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
            "UserPrompt": "={{$('Start').item.json.userPrompt }}",
            "FileUrls": "={{$('Start').item.json.imgUrls }}",
            "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
            "ExecutionDateTime": "={{ $now.format('TTT') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ExecutionDate",
              "displayName": "ExecutionDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ExecutionDateTime",
              "displayName": "ExecutionDateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SystemPrompt",
              "displayName": "SystemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UserPrompt",
              "displayName": "UserPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FileUrls",
              "displayName": "FileUrls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1552,
        112
      ],
      "id": "1e22e89a-600b-4a5f-9579-8ede8643535a",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1088,
        96
      ],
      "id": "69f94c82-7416-47d7-a51b-7f501a7c4b79",
      "name": "Wait2",
      "webhookId": "927724df-92fa-4441-9bfc-246b7d9213f9"
    },
    {
      "parameters": {
        "content": "Binary images are passed directly to AI Agent via passthroughBinaryImages option - no conversion needed",
        "height": 1760,
        "width": 4592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3392,
        1120
      ],
      "typeVersion": 1,
      "id": "f3e39269-ea71-4440-ae47-a0d7d3ab7bcd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "138525c8-fccd-4aae-b0fe-1eee7aa02f4c",
              "name": "modelNamePrepared",
              "value": "={{ $('Start').item.json.modelName == \"gemini-3-flash\"\n?$('Start').item.json.modelName + \"-preview\"\n:$('Start').item.json.modelName\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4832,
        880
      ],
      "id": "c64850d4-cd71-477f-972e-0bcb04f97f9e",
      "name": "ModelNamePrepared"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {
          "temperature": 0.1,
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_HARASSMENT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_HATE_SPEECH",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1088,
        2032
      ],
      "id": "aeb40bb7-4c3f-4bf3-bfc2-081f6cdeb688",
      "name": "Google Gemini Chat Model2",
      "retryOnFail": false,
      "credentials": {
        "googlePalmApi": {
          "id": "7uq26pW3rjLVZ4Re",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Start').item.json.imgUrls }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2288,
        2272
      ],
      "id": "527420bd-18d3-4c97-abf7-60109da3e8cd",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a7486e9f-e36c-49be-a41f-f9e4f8356e3f",
              "leftValue": "={{ $('isUrlList').item.json.urlList_bool }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2768,
        1712
      ],
      "id": "1d1fbb04-6c28-4ab7-9c37-bc91f88ce89e",
      "name": "IfListURls1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw string from the input (Start node)\nconst rawString = $('Start').first().json.imgUrls;\n\n// 2. Wrap the string in square brackets to make it a valid JSON array\n//    and then parse it into a real JavaScript object.\nconst parsedData = JSON.parse(`[${rawString}]`);\n\n// 3. Map over the array to create separate items.\n//    We extract only the \"url\" value for each item.\nreturn parsedData.map(item => {\n  return {\n    json: {\n      url: item.image_url.url\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2560,
        1696
      ],
      "id": "c81e6274-6bcf-45e7-9990-1aa809a87871",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2320,
        1696
      ],
      "id": "f4204863-d1fb-4733-a1ee-760488646b91",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "url": "={{$('Loop Over Items1').item.json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2096,
        1824
      ],
      "id": "bb35f988-d282-45e0-a328-4882c4c9807c",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2112,
        1616
      ],
      "id": "2449727e-5aeb-427b-a13c-f65f44605bd3",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fa44d6f8-83af-4988-813b-680646e9f93c",
              "leftValue": "={{ $('Start').item.json.imgUrls }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3216,
        1312
      ],
      "id": "50b6050c-061f-48c6-b34a-659aa1993ffd",
      "name": "IfUrlNotEmpty2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        1504
      ],
      "id": "85301ca2-a13d-4b32-b735-160bda0a25c6",
      "name": "IfDebug5"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
          "mode": "list",
          "cachedResultName": "n8n_TR_error_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
            "UserPrompt": "={{$('Start').item.json.userPrompt }}",
            "FileUrls": "={{$('Start').item.json.imgUrls }}",
            "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
            "ExecutionDateTime": "={{ $now.format('TTT') }}",
            "Output": "={{ $('AI').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ExecutionDate",
              "displayName": "ExecutionDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ExecutionDateTime",
              "displayName": "ExecutionDateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SystemPrompt",
              "displayName": "SystemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UserPrompt",
              "displayName": "UserPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FileUrls",
              "displayName": "FileUrls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        1232
      ],
      "id": "f9ba4b8f-070f-4482-8067-45da4eda401d",
      "name": "Append row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('UserPrompt_Default').item.json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $('Start').item.json.systemPrompt }}",
          "maxIterations": 10,
          "returnIntermediateSteps": false,
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1088,
        1648
      ],
      "id": "c80d1624-b50b-4deb-8c68-f7eee3ac8eeb",
      "name": "AI",
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3952,
        1056
      ],
      "id": "d097db23-7ced-44cc-92b9-8a33c6e0fad5",
      "name": "IfDebug6"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs",
          "mode": "list",
          "cachedResultName": "n8n_TR_error_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKhlx3yWZmOWBXadYsMuX1ixj03pwcR9hqqt8daZIvs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SystemPrompt": "={{$('Start').item.json.systemPrompt }}",
            "UserPrompt": "={{$('Start').item.json.userPrompt }}",
            "FileUrls": "={{$('Start').item.json.imgUrls }}",
            "ExecutionDate": "={{ $today.format('yyyy-MM-dd') }}",
            "ExecutionDateTime": "={{ $now.format('TTT') }}",
            "Output": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ExecutionDate",
              "displayName": "ExecutionDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ExecutionDateTime",
              "displayName": "ExecutionDateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SystemPrompt",
              "displayName": "SystemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UserPrompt",
              "displayName": "UserPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FileUrls",
              "displayName": "FileUrls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3616,
        928
      ],
      "id": "543af196-7e02-4745-a9d1-44bbffd3459c",
      "name": "Append row in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Remove binary data from all items\nconst items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: item.json\n    // Binary data is intentionally omitted\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        1632
      ],
      "id": "5cd65002-fd2b-4aa4-bcfa-0c1acde2a1c9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Remove binary data from all items\nconst items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: item.json\n    // Binary data is intentionally omitted\n  };\n});"
      },
      "id": "7d47186f-32fe-40ff-b21f-91df57c7d82c",
      "name": "ChangeMIME",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        1904
      ]
    },
    {
      "parameters": {
        "jsCode": "// Remove binary data from all items\nconst items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: item.json\n    // Binary data is intentionally omitted\n  };\n});"
      },
      "id": "a54b8681-699e-4f0d-85ae-95a46007e7ad",
      "name": "ChangeMIME1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        2272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68458150-fa3b-49ff-bd58-b1d388b8d969",
              "name": "data",
              "value": "={{ Object.assign({}, $binary.data, { mimeType: \"image/jpeg\" }) }}",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1728,
        2272
      ],
      "id": "c09a90bc-2022-458b-859d-868b17fb8c30",
      "name": "ChangeMIME1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68458150-fa3b-49ff-bd58-b1d388b8d969",
              "name": "data",
              "value": "={{ Object.assign({}, $binary.data, { mimeType: \"image/jpeg\" }) }}",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1872,
        1904
      ],
      "id": "13a86672-3970-48c9-8193-673f4cc99052",
      "name": "ChangeMIME"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "TG_UserID",
              "value": "={{ $('Start').item.json.chat_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        512,
        208
      ],
      "id": "7581ce4d-0e34-4877-826a-1bbdd5a16252",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "TG_UserID",
              "value": "={{ $('Start').item.json.chat_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        1264,
        944
      ],
      "id": "129e1623-ec3f-41e6-8af4-72eb10f04b99",
      "name": "Execution Data1"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "modelName": "gemini-3-flash",
          "apiName": "google",
          "userPrompt": "## Model appearance\nA young adult woman with an oval face, high forehead, and prominent cheekbones. Her warm, light-brown skin features golden undertones and a few small moles on the neck, complemented by almond-shaped dark brown eyes and thin, arched brows. She has a slender nose, full symmetrical lips, and a defined, tapered jawline leading to a rounded chin. Her dark brown, tightly coiled hair is pulled back into a high ponytail, revealing a clean hairline. She possesses a long, slender neck and delicate shoulders on a slim build.\n\n##Look\nBeige Jacket - A beige architectural jacket featuring an extremely oversized, boxy silhouette with extreme dropped shoulders and voluminous sleeves. The garment is constructed from a stiff, matte material that maintains a sculptural shape, cinched tightly at the waist by a wide self-tie belt to create deep, structured folds. An asymmetrical front closure with silver-tone snap buttons sits beneath a wide pointed collar and a geometric storm flap on the right chest. Large, prominent cargo pockets with rectangular flaps are positioned at the hips, contributing to the irregular, flared hemline.\nBlue Jeans - A pair of relaxed, straight-leg jeans in a medium blue wash with a low-to-mid rise waist. The silhouette features a generous cut through the legs that creates soft stacking at the ankles. They are detailed with a classic five-pocket construction, a metal button closure, and subtle whiskering across the hips. The textured denim displays a stone-washed finish with lighter fading along the thighs.\nBrown Shoes - A pair of dark brown flat shoes featuring a soft, matte suede-like texture and a minimalist silhouette. The design includes a rounded toe box and a low-cut, curved vamp that exposes the top of the foot. The construction is sleek and unstructured, with a thin, flexible sole that sits flush against the ground. The deep chocolate brown color is uniform across the entire upper, providing a grounded contrast to the lighter denim hem resting above them.\nWhite Shirt - An oversized, long-sleeved button-down shirt in a crisp white hue. It features a relaxed, boxy silhouette with extreme dropped shoulders and wide sleeves ending in structured cuffs. The garment is fully buttoned, leading to a contrasting black pointed collar heavily embellished with white pearls and silver-tone studs. The straight hem falls to the mid-thigh, characterized by deep side slits that create a distinct panel separation.",
          "systemPrompt": "<system_identity> Pose-Prompter v32 (Assembled Look Fixes). Role: Assemble a precise fashion prompt for Nano Banana Pro by fusing a structured model appearance description, a list of outfit elements, and attached reference images. Objective: Build a single, visually coherent, and highly faithful description of the full outfit worn by the specified model. Enforce strict geometric and proportional anchoring to prevent downstream diffusion models from normalizing complex, oversized, or multi-layered garments. Output ONLY the final ready-to-use generation prompt. </system_identity> <input_processing> You will receive user input containing 'Model Appearance' (or similar headers), 'Look' (outfit elements/accessories), and attached reference images. 1. Extract and lock the exact 'Model Appearance' traits. Do not alter, omit, or overwrite any explicitly stated physical features. 2. Analyze attached images as the primary visual source for garment shape, volume, fit, proportion, texture, panel logic, and hardware. 3. Resolve text/image discrepancies by favoring the most structurally faithful and visually obvious traits, provided they do not break the user's core intent. 4. Determine how the items organically layer, fit, and interact on the body. Accessories must be placed functionally and logically without unnecessarily obstructing clothing details. </input_processing> <fidelity_rules> - DO NOT output intermediate analysis, explanations, or conversational filler. - DO NOT describe items as isolated catalog objects; they must be actively worn correctly and naturally by the model. - DO NOT simplify, normalize, or flatten distinctive garments into standard, generic, or symmetrical archetypes. - DO NOT invent missing garments, add unrequested accessories, or change colors/materials without justification. - DO NOT add background props, furniture, environments, or lifestyle/editorial scenes. Maintain a strict studio catalog context. - ANTI-NORMALIZATION PROTOCOL FOR HERO ITEMS: If a garment has distinct structural signals (asymmetry, extreme volume, gathered drape, irregular hems), you must enter strict Anti-Normalization Mode: 1. PRIOR BUSTING: DO NOT use generic garment archetypes (e.g., 'trench coat', 'blazer') or standard tailoring terms. Use terms like 'architectural jacket', 'sculptural piece', or 'voluminous outerwear'. 2. MULTI-LAYER MAPPING: Describe complex upper-body constructions layer-by-layer using raw geometry. 3. EXTREME PROPORTION ANCHORING: Anchor oversized fits using anatomical markers (e.g., 'extreme dropped shoulders falling down the upper arms') and material rigidity. 4. OUTERWEAR DOMINANCE (CONFLICT RESOLUTION): When assembling multiple items, the structural state of the outermost/most complex garment is SACRED. You MUST NOT open, unbutton, or untie a complex outer layer just to make inner layers (like a shirt) visible. If a jacket is described as cinched and tied, it MUST remain cinched and tied in the final prompt. Inner layers should only be visible where they naturally peek out (collar, cuffs, hem). </fidelity_rules> <output_formatting> Your sole output must be EXACTLY ONE continuous text string. Do not use markdown blocks, bullet points, or lists. You must assemble the final prompt using exactly this formula: [MANDATORY_PREFIX] + [UNIFIED_DESCRIPTION] + [MANDATORY_SUFFIX] <mandatory_prefix> You MUST begin the prompt exactly and verbatim with this text (including the trailing space): Photorealistic full-body fashion catalog photo on a pure white seamless background, head-to-toe, centered, subject ~85% of frame height. </mandatory_prefix> <unified_description> Immediately following the prefix, write a dense, concrete, highly visual description merging the exact Model Appearance with the worn Look. - Write as one continuous, fluent fashion-generation prompt. - Clearly communicate how layers are arranged, how fabrics look, garment proportions, and how garment structure behaves using the Anti-Normalization Protocol. - Ensure the description flows seamlessly from the model's physical traits into the cohesive head-to-toe outfit. </unified_description> <mandatory_suffix> You MUST end the prompt exactly and verbatim with this text (including the leading space): Model standing in a relaxed 3/4 stance angled approximately 30° toward camera-right. Weight distributed slightly onto the back leg, with the front leg subtly forward and knees softly relaxed. Torso aligned with hips; shoulders natural and level. Head turned toward the camera so both eyes are fully visible, looking directly into the camera with a natural smile. Right arm relaxed naturally along the torso. Left arm extended downward in a neutral relaxed position beside the thigh. Arms slightly separated from torso to preserve garment visibility. Outer layers hanging open naturally without collapsing over underlying garments. Feet parallel, shoulder-width apart, fully visible, front foot marginally closer to camera. No crossing of legs. Hemlines, belt placement, closures, and visible text remain unobstructed by arms or hair. High-key soft studio lighting, large diffused key light front-left, soft fill front-right, subtle rim separation, faint soft shadow under feet only. Sharp focus, accurate colors, realistic fabric textures and tailoring, visible material detail, crisp construction lines, clean edges, no distortion. </mandatory_suffix> </output_formatting>",
          "imgUrls": "{\"type\":\"image_url\",\"image_url\":{\"url\":\"https://api.telegram.org/file/bot8500532222:AAE7QQqHcVeAQaCLVe424kcfkKzUCEGLKHM/photos/file_21.jpg\"}},{\"type\":\"image_url\",\"image_url\":{\"url\":\"https://api.telegram.org/file/bot8500532222:AAE7QQqHcVeAQaCLVe424kcfkKzUCEGLKHM/photos/file_22.jpg\"}},{\"type\":\"image_url\",\"image_url\":{\"url\":\"https://api.telegram.org/file/bot8500532222:AAE7QQqHcVeAQaCLVe424kcfkKzUCEGLKHM/photos/file_23.jpg\"}},{\"type\":\"image_url\",\"image_url\":{\"url\":\"https://api.telegram.org/file/bot8500532222:AAE7QQqHcVeAQaCLVe424kcfkKzUCEGLKHM/photos/file_24.jpg\"}}",
          "chat_id": 133518123,
          "ObjName": null,
          "objectMainId": 0,
          "ObjNameLocal": null,
          "botTocken": null,
          "urlList_bool": true,
          "debugMode": "true",
          "plainUrlList": "[{\"type\":\"image_url\",\"image_url\":{\"url\":\"https://api.telegram.org/file/bot8500532222:AAE7QQqHcVeAQaCLVe424kcfkKzUCEGLKHM/photos/file_21.jpg\"}},{\"type\":\"image_url\",\"image_url\":{\"url\":\"https://api.telegram.org/file/bot8500532222:AAE7QQqHcVeAQaCLVe424kcfkKzUCEGLKHM/photos/file_22.jpg\"}},{\"type\":\"image_url\",\"image_url\":{\"url\":\"https://api.telegram.org/file/bot8500532222:AAE7QQqHcVeAQaCLVe424kcfkKzUCEGLKHM/photos/file_23.jpg\"}},{\"type\":\"image_url\",\"image_url\":{\"url\":\"https://api.telegram.org/file/bot8500532222:AAE7QQqHcVeAQaCLVe424kcfkKzUCEGLKHM/photos/file_24.jpg\"}}]"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "trendcore_n8n",
  "repo_owner": "ds634",
  "repo_path": "/repos/ds634/trendcore_n8n/contents/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Db9RTL99yUCO77oO",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "executionTimeout": 180,
    "timeSavedPerExecution": 3
  },
  "shared": [
    {
      "updatedAt": "2026-03-02T17:25:30.709Z",
      "createdAt": "2026-03-02T17:25:30.709Z",
      "role": "workflow:owner",
      "workflowId": "MCKUe6c7lEWRrPCq",
      "projectId": "M9bTlSGaaAbsZxvs",
      "project": {
        "updatedAt": "2026-03-02T14:12:07.095Z",
        "createdAt": "2026-03-02T14:12:01.275Z",
        "id": "M9bTlSGaaAbsZxvs",
        "name": "DLS   <ds@trendcore.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-02T14:25:49.831Z",
      "createdAt": "2026-03-02T14:25:49.831Z",
      "id": "6ZyTvRGaNVzskE04",
      "name": "TG_PROD"
    },
    {
      "updatedAt": "2026-03-22T19:23:33.818Z",
      "createdAt": "2026-03-22T19:23:33.818Z",
      "id": "dWnpTCixlHYCNsOk",
      "name": "Binary"
    },
    {
      "updatedAt": "2026-03-02T14:26:06.738Z",
      "createdAt": "2026-03-02T14:26:06.738Z",
      "id": "tzvi3HGYBgqT00vr",
      "name": "CM"
    },
    {
      "updatedAt": "2026-03-02T14:25:49.805Z",
      "createdAt": "2026-03-02T14:25:49.805Z",
      "id": "uZYZiWAvyVAXbBbR",
      "name": "CL"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-26T11:23:05.733Z",
  "versionCounter": 1725,
  "versionId": "ff978ee1-139d-4e19-9fa1-2227c0865839",
  "wf_name": "subTR_API_AI_Selector"
}