2026/03/o5zRqajKZRhdILNq.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-28T10:44:59.000Z",
    "createdAt": "2026-03-28T10:44:49.308Z",
    "versionId": "030e455b-da05-466f-b7eb-d5ee72ad29f4",
    "workflowId": "o5zRqajKZRhdILNq",
    "nodes": [
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "cy2OHtNbUQaDIMP4",
            "mode": "list",
            "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
            "cachedResultName": "subMkPlnTxt"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "systemPrompt_replace": "={{ $json.recievedPrompt }}"
            },
            "matchingColumns": [
              "systemPrompt_replace"
            ],
            "schema": [
              {
                "id": "systemPrompt_replace",
                "displayName": "systemPrompt_replace",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -3584,
          896
        ],
        "id": "7a46b4eb-abf3-43d3-8635-251186af95d9",
        "name": "subMkPlnTxt-SP"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "ebf1b473-80ad-42bd-acaa-1446197e4bc1",
                "leftValue": "={{$json.data === empty }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1296,
          672
        ],
        "id": "937ff3ce-aeec-4a71-8a3b-c582197de0d7",
        "name": "IfResponseOk2"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "callback_query_message_chat_id",
                "type": "any"
              },
              {
                "name": "objMainId",
                "type": "any"
              },
              {
                "name": "modelName",
                "type": "any"
              },
              {
                "name": "api",
                "type": "any"
              },
              {
                "name": "result_message_id",
                "type": "any"
              },
              {
                "name": "botTocken"
              },
              {
                "name": "debugMode"
              },
              {
                "name": "apiNameNB"
              }
            ]
          }
        },
        "id": "530dff35-9b19-4f9e-ba2f-2b7a03570d04",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -5504,
          576
        ]
      },
      {
        "parameters": {
          "content": "",
          "height": 192,
          "width": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -4544,
          528
        ],
        "typeVersion": 1,
        "id": "c1f1fecf-39d0-4e76-9e17-85e5117b1c55",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "errorMessage": "={{\"⚠️\" + $('call AIPreparePrompt').item.json.msg }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          -1024,
          832
        ],
        "id": "408ebe85-fa63-492a-a528-68a598f40d3b",
        "name": "Stop and Error"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f3370f8c-837f-416e-a8b9-268ff8d544f5",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -4240,
          592
        ],
        "id": "dead0212-d0af-4012-b199-dd62f77daee3",
        "name": "IfDebug1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "09b70afd-76f1-459c-9a7c-16af72a0a5de",
                "name": "recievedPrompt",
                "value": "={{$('GetPrompt1').isExecuted && $('GetPrompt1').item.json.PromptText.isNotEmpty()\n?$('GetPrompt1').item.json.PromptText\n:$('SP_FashionPrompter').item.json.Descr\n}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -3856,
          608
        ],
        "id": "3f7b00f3-b359-4a89-8313-0e650a7cc712",
        "name": "SP_recievedPrompt1"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ",
            "mode": "list",
            "cachedResultName": "N8N prompts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "PromptName",
                "lookupValue": "={{ $('SP_FashionPrompter').item.json.promptName }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -4032,
          432
        ],
        "id": "6c288ca9-a2e5-4162-ba28-f62fa44d7feb",
        "name": "GetPrompt1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
          "text": "Создаю изображения сценариев...",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -5264,
          576
        ],
        "id": "25ae4bfd-ccb8-4160-ac1e-2d1184b8a08a",
        "name": "Send a text message",
        "webhookId": "e21b31b7-2aba-4f70-b42f-587094e7971b",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "userId",
                "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
              },
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
              },
              {
                "keyValue": "={{ $('Start').item.json.objMainId }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -5024,
          576
        ],
        "id": "f045b534-941c-41d3-b52e-9c0a9783e644",
        "name": "GetScenarios"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "61437700-23ca-44fd-991a-f67ef715d03e",
                "name": "concatPrompt",
                "value": "={{\"# Creative Idea \" + $('GetScenarios').item.json.creativeScenarios + \"# Model & Look \" + $('GetScenarios').item.json.concatDescr}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4768,
          576
        ],
        "id": "bd192d50-dab3-471a-890b-0879292ca19f",
        "name": "UP_ConcatPrompt"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b51b3b63-2255-45fe-9023-8b136b8f4080",
                "name": "Descr",
                "value": "<system_identity>\nFashion-Prompter v31-R1 (Release 1 - Fixed Physics).\nRole: Nano Banana Pro High-Fidelity Fashion Prompt Architect.\nObjective: Transform structured creative and styling inputs into EXACTLY ONE high-fidelity, highly structured Markdown prompt optimized for fashion-editorial image generation. Focus on aggressive, dynamic composition execution to prevent boring catalog defaults.\n</system_identity>\n\n<input_schema>\nYou will receive two input blocks:\n1. Input A (Creative Idea): Location, mood, weather, narrative, camera angles, or editorial direction.\n2. Input B (Model & Look): \n  - Model Description: Physical traits and identity.\n  - Look: A list of clothing/accessories, each with a Name and Description.\n</input_schema>\n\n<immutable_rules>\n1. VERBATIM PRESERVATION: You MUST NOT alter, paraphrase, condense, reinterpret, stylize, or summarize the Model Description or any item in the Look.\n2. NO HALLUCINATION: DO NOT add new clothing, accessories, props, brands, or styling elements. DO NOT remove, merge, or rename items.\n3. ITEM INTEGRITY: Every item provided must appear in the output under its own subsection. Titles must match exactly.\n4. ALLOWED CREATIVITY: You may only exercise creative freedom regarding the Scene, Pose, Camera/Optics, Lighting, Composition, and Render Priorities.\n</immutable_rules>\n\n<internal_mode_selection>\nBefore generating the prompt, analyze the Creative Idea and silently select ONE of the following internal modes to govern your photographic decisions. (DO NOT print the mode name in your output).\n1. Luxury Studio: Controlled posing, precise light shaping, refined textures, clean backdrop. (For elegance, minimalism).\n2. Street Editorial: Natural asymmetry, contextual composition, environmental bounce light. (For urban, realism, grit).\n3. Campaign Minimalism: Simplified visual field, high readability, commercial lighting. (For product focus).\n4. Runway-Inspired: Assertive body line, directional movement, elongated framing. (For dramatic styling, motion).\n5. Beauty-Fashion Hybrid: Refined facial lighting, closer crop, skin texture preserved. (For upper-body/face emphasis).\n</internal_mode_selection>\n\n<photographic_intelligence>\nApply these principles based on your selected Mode and the provided Outfit:\n- Dynamic Composition Execution (CRITICAL): You must actively fight the image generator's tendency to produce standard, static, front-facing catalog shots. \n- If the Creative Idea implies movement, you MUST enforce kinetic prompts (e.g., \"dynamic asymmetric weight shift\", \"captured in mid-stride\", \"fluid editorial movement\").\n- If the Creative Idea implies a specific camera placement, you MUST enforce spatial prompts (e.g., \"extreme low angle perspective\", \"shot through foreground elements to create depth\", \"over-the-shoulder framing\").\n- Ensure the model's pose aggressively utilizes the environment to create a 3D sense of space.\n- Camera Logic: 35mm (environmental/story), 50mm (balanced realism), 85mm (luxury/beauty). Aperture f/2.8-f/4 (texture focus) or f/4-f/5.6 (full-body clarity).\n- Lighting Logic: Flatter the face, reveal material textures honestly, and match the environment.\n- Environment: Must amplify the fashion story, not compete with it.\n</photographic_intelligence>\n\n<forbidden_actions>\n- DO NOT output negative prompts phrased as \"no [X]\".\n- DO NOT use casual, conversational, or robotic tone.\n- DO NOT output any meta-commentary, greetings, or explanations before or after the Markdown prompt.\n- DO NOT allow the environment to overpower the outfit.\n- DO NOT alter the locked output formatting structure below.\n</forbidden_actions>\n\n<locked_output_format>\nYou MUST output EXACTLY this Markdown structure. Do not change the headers. Replace the bracketed text with your generated or copied content.\n\n## Nano Banana Pro — High Fidelity Prompt\n\n**Type:** Fashion Editorial Photography\n\n---\n\n### Scene & Creative Narrative\n[Generate a vivid, coherent description of the environment, spatial logic, mood, time of day, and atmospheric conditions based on the Creative Idea and Mode.]\n\n---\n\n### Model Description\n[INSERT THE PROVIDED MODEL DESCRIPTION HERE EXACTLY VERBATIM]\n\n---\n\n### Outfit Breakdown\n\n[For EVERY item in the input, create a subsection formatted exactly like this:]\n#### [Item Name exactly as provided]\n[INSERT THE ITEM DESCRIPTION HERE EXACTLY VERBATIM]\n\n---\n\n### Pose, Movement & Expression\n[Define posture, weight distribution, torso/shoulder angles, hand placement, gaze, and expression. EXPLICITLY FORBID stiff, symmetrical, passport-style standing. Enforce the kinetic micro-action from the Creative Idea. Keep garment physics natural and heavy; strictly forbid exaggerated wind-blown billowing unless requested.]\n\n---\n\n### Camera & Optics\n[Specify lens choice, aperture/depth strategy, camera angle, and focus priority. Execute dynamic spatial perspectives (e.g., low angle, over-the-shoulder) if requested.]\n\n---\n\n### Lighting Design\n[Define primary light source, directionality, softness/contrast, shadow logic, and atmospheric integration.]\n\n---\n\n### Composition & Editorial Styling Logic\n[Specify framing choice, subject placement, relationship to environment, and spatial clarity.]\n\n---\n\n### Rendering Priorities\n[State the visual hierarchy. E.g., 1. Facial integrity, 2. Silhouette readability, 3. Material textures...]\n\n---\n\n### Image Quality & Rendering Constraints\nUltra-high realism with professional editorial color grading. Accurate anatomy and natural body proportions. Natural skin texture with realistic pores and tonal transitions. Faithful material rendering, fabric behavior, and garment structure. Realistic interaction between clothing, body, light, and environment. Sharp, publication-ready finish with no distortion.\n</locked_output_format>",
                "type": "string"
              },
              {
                "id": "1b2dcb78-90bf-4ef0-b716-7bc80e779032",
                "name": "promptName",
                "value": "Fashion-Prompter",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4480,
          576
        ],
        "id": "247f4417-124a-4fc8-8393-fb13924f77c8",
        "name": "SP_FashionPrompter"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "377048c5-a36e-4450-a483-c5cf1a1b6532",
                "name": "Scen",
                "value": "={{$('GetScenarios').item.json.creativeScenarios }}\n",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2544,
          576
        ],
        "id": "27ff6b4f-7ebb-43dc-8fd0-722a9f733eb6",
        "name": "Scenarios1"
      },
      {
        "parameters": {
          "fieldToSplitOut": "Scen.Scenarios",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -2336,
          576
        ],
        "id": "fc560c2e-0dd2-4b6e-b013-23fb2f668626",
        "name": "Split Out"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -2128,
          576
        ],
        "id": "60edb4e1-565a-4f9e-bfe5-0b88cc27bc17",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "eb69b7b9-5e34-4c63-8269-e0e04d786ed8",
                "name": "concatPrompt",
                "value": "={{\"# Creative Idea \" + $('Split Out').item.json.Description + \"# Model & Look \" + $('GetScenarios').item.json.concatDescr.removeMarkdown()}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1936,
          672
        ],
        "id": "4a7a1bb3-47ba-44aa-a8f8-51212768a2c1",
        "name": "UP_fashionPrompt"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "9A6kp0SAPV2FCdMQ",
            "mode": "list",
            "cachedResultUrl": "/workflow/9A6kp0SAPV2FCdMQ",
            "cachedResultName": "subTR_NB_Fal"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "systemPrompt": "={{ $('Call \\'subMkPlnTxt\\'').item.json.plainText }}",
              "urls": "={{ $('Aggregate').item.json.urls.toJsonString() }}",
              "chatId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
              "debugMode": "={{ $('Start').item.json.debugMode }}",
              "apiName": "={{ $('Start').item.json.api }}",
              "aspectRatioNoCommas": "3:4",
              "apiNameNB": "={{ $('Start').item.json.apiNameNB }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "systemPrompt",
                "displayName": "systemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "urls",
                "displayName": "urls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "chatId",
                "displayName": "chatId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "debugMode",
                "displayName": "debugMode",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "apiName",
                "displayName": "apiName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "apiNameNB",
                "displayName": "apiNameNB",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "aspectRatioNoCommas",
                "displayName": "aspectRatioNoCommas",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": true,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -544,
          720
        ],
        "id": "b70b49b9-dbe8-40c4-8c94-b42f3b20f2b8",
        "name": "Call 'subTR_NB_Fal'1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "cy2OHtNbUQaDIMP4",
            "mode": "list",
            "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
            "cachedResultName": "subMkPlnTxt"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "systemPrompt_replace": "={{ $json.data }}"
            },
            "matchingColumns": [
              "systemPrompt_replace"
            ],
            "schema": [
              {
                "id": "systemPrompt_replace",
                "displayName": "systemPrompt_replace",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1104,
          576
        ],
        "id": "eed648b3-33fe-4ce5-a5ad-adc69aa17fcc",
        "name": "Call 'subMkPlnTxt'"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "336990ef-a4aa-40fc-8e92-ce18e5643636",
                "name": "urls",
                "value": "={{$('GetScenarios').item.json.faceImgUrl  }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -3264,
          448
        ],
        "id": "cb8a8a9e-113f-4bda-af55-ed20a3ca434a",
        "name": "ModelUrl"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "336990ef-a4aa-40fc-8e92-ce18e5643636",
                "name": "urls",
                "value": "={{ $('GetScenarios').item.json.generatedModelUrl  }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -3280,
          656
        ],
        "id": "8ea5337a-ad43-48a3-af3f-8e6935e2d440",
        "name": "LookUrl"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -3024,
          576
        ],
        "id": "3150c40d-c09e-4f6a-90f1-f562f026f60f",
        "name": "Merge"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "urls"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -2816,
          576
        ],
        "id": "005bc53b-2979-4097-9e7f-011d5a8ac10c",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
          "text": "={{ $('Split Out').item.json.ScenarioLocal }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -912,
          576
        ],
        "id": "454add0c-dc50-41a8-8c7a-202efd171877",
        "name": "Send a text message1",
        "webhookId": "e21b31b7-2aba-4f70-b42f-587094e7971b",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "om5OeSVLkkTw1obl",
            "mode": "list",
            "cachedResultName": "TrendcoreScenariosDescr",
            "cachedResultUrl": "/projects/M9bTlSGaaAbsZxvs/datatables/om5OeSVLkkTw1obl"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "scenarioImgUrl": "={{ $json.result }}",
              "orderId": "={{ $('Loop Over Items').item.json.OrderId }}",
              "scenario": "={{ $('Loop Over Items').item.json.Scenario }}",
              "description": "={{ $('Loop Over Items').item.json.Description }}",
              "scenarioLocal": "={{ $('Loop Over Items').item.json.ScenarioLocal }}",
              "descriptionLocal": "={{ $('Loop Over Items').item.json.DescriptionLocal }}",
              "scenarioMainId": "={{ $('GetScenarios').item.json.id }}",
              "userId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
              "dialogId": "={{ $('Start').item.json.callback_query_message_chat_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "scenarioMainId",
                "displayName": "scenarioMainId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "orderId",
                "displayName": "orderId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "scenario",
                "displayName": "scenario",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "scenarioLocal",
                "displayName": "scenarioLocal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "description",
                "displayName": "description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "descriptionLocal",
                "displayName": "descriptionLocal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "scenarioImgUrl",
                "displayName": "scenarioImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -272,
          880
        ],
        "id": "309418c5-5c1a-4dd6-90bf-d7996cc16016",
        "name": "Insert row"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "scenarioLocal"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -1840,
          480
        ],
        "id": "c3ac3614-c8fe-4c01-87ed-4bbb3e068b5c",
        "name": "Aggregate1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "cy2OHtNbUQaDIMP4",
            "mode": "list",
            "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
            "cachedResultName": "subMkPlnTxt"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "systemPrompt_replace": "={{ $json.concatPrompt }}"
            },
            "matchingColumns": [
              "systemPrompt_replace"
            ],
            "schema": [
              {
                "id": "systemPrompt_replace",
                "displayName": "systemPrompt_replace",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1744,
          864
        ],
        "id": "216f9ec2-f5d7-4750-bfe7-13673a508c30",
        "name": "Call 'subMkPlnTxt'1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "MCKUe6c7lEWRrPCq",
            "mode": "list",
            "cachedResultUrl": "/workflow/MCKUe6c7lEWRrPCq",
            "cachedResultName": "subTR_API_AI_Selector"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "modelName": "={{ $('Start').item.json.modelName }}",
              "apiName": "={{ $('Start').item.json.api }}",
              "systemPrompt": "={{ $('SP_recievedPrompt1').item.json.recievedPrompt }}",
              "chat_id": "={{ $('Start').item.json.callback_query_message_chat_id }}",
              "userPrompt": "={{ $('UP_fashionPrompt').item.json.concatPrompt }}",
              "objectMainId": 0,
              "botTocken": "={{ $('Start').item.json.botTocken }}",
              "debugMode": "={{ $('Start').item.json.debugMode }}",
              "urlList_bool": false
            },
            "matchingColumns": [
              "modelName",
              "objectDescr",
              "plainText"
            ],
            "schema": [
              {
                "id": "modelName",
                "displayName": "modelName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "apiName",
                "displayName": "apiName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "userPrompt",
                "displayName": "userPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "systemPrompt",
                "displayName": "systemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "imgUrls",
                "displayName": "imgUrls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "ObjName",
                "displayName": "ObjName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "objectMainId",
                "displayName": "objectMainId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "ObjNameLocal",
                "displayName": "ObjNameLocal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "botTocken",
                "displayName": "botTocken",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "urlList_bool",
                "displayName": "urlList_bool",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean",
                "removed": false
              },
              {
                "id": "debugMode",
                "displayName": "debugMode",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "plainUrlList",
                "displayName": "plainUrlList",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": true,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -1536,
          672
        ],
        "name": "call AIPreparePrompt1",
        "id": "96d9f048-b94f-4098-baec-d9ad5d6bb405"
      }
    ],
    "connections": {
      "IfResponseOk2": {
        "main": [
          [
            {
              "node": "Call 'subMkPlnTxt'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "subMkPlnTxt-SP": {
        "main": [
          []
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug1": {
        "main": [
          [
            {
              "node": "GetPrompt1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SP_recievedPrompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetPrompt1": {
        "main": [
          [
            {
              "node": "SP_recievedPrompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SP_recievedPrompt1": {
        "main": [
          [
            {
              "node": "ModelUrl",
              "type": "main",
              "index": 0
            },
            {
              "node": "LookUrl",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          [
            {
              "node": "GetScenarios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetScenarios": {
        "main": [
          [
            {
              "node": "UP_ConcatPrompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UP_ConcatPrompt": {
        "main": [
          [
            {
              "node": "SP_FashionPrompter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SP_FashionPrompter": {
        "main": [
          [
            {
              "node": "IfDebug1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scenarios1": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "UP_fashionPrompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UP_fashionPrompt": {
        "main": [
          [
            {
              "node": "call AIPreparePrompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'subMkPlnTxt'": {
        "main": [
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ModelUrl": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LookUrl": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Scenarios1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message1": {
        "main": [
          [
            {
              "node": "Call 'subTR_NB_Fal'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'subTR_NB_Fal'1": {
        "main": [
          [
            {
              "node": "Insert row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert row": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'subMkPlnTxt'1": {
        "main": [
          []
        ]
      },
      "call AIPreparePrompt1": {
        "main": [
          [
            {
              "node": "IfResponseOk2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DLS  ",
    "name": "Version 030e455b",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "030e455b-da05-466f-b7eb-d5ee72ad29f4",
  "connections": {
    "IfResponseOk2": {
      "main": [
        [
          {
            "node": "Call 'subMkPlnTxt'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "subMkPlnTxt-SP": {
      "main": [
        []
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug1": {
      "main": [
        [
          {
            "node": "GetPrompt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP_recievedPrompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetPrompt1": {
      "main": [
        [
          {
            "node": "SP_recievedPrompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP_recievedPrompt1": {
      "main": [
        [
          {
            "node": "ModelUrl",
            "type": "main",
            "index": 0
          },
          {
            "node": "LookUrl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "GetScenarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetScenarios": {
      "main": [
        [
          {
            "node": "UP_ConcatPrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UP_ConcatPrompt": {
      "main": [
        [
          {
            "node": "SP_FashionPrompter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP_FashionPrompter": {
      "main": [
        [
          {
            "node": "IfDebug1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scenarios1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UP_fashionPrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UP_fashionPrompt": {
      "main": [
        [
          {
            "node": "call AIPreparePrompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subMkPlnTxt'": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ModelUrl": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LookUrl": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Scenarios1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Call 'subTR_NB_Fal'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subTR_NB_Fal'1": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subMkPlnTxt'1": {
      "main": [
        []
      ]
    },
    "call AIPreparePrompt1": {
      "main": [
        [
          {
            "node": "IfResponseOk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-11T14:43:28.824Z",
  "id": "o5zRqajKZRhdILNq",
  "isArchived": false,
  "meta": null,
  "name": "subTR_CL_ScenarioPhotos",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cy2OHtNbUQaDIMP4",
          "mode": "list",
          "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
          "cachedResultName": "subMkPlnTxt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt_replace": "={{ $json.recievedPrompt }}"
          },
          "matchingColumns": [
            "systemPrompt_replace"
          ],
          "schema": [
            {
              "id": "systemPrompt_replace",
              "displayName": "systemPrompt_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3584,
        896
      ],
      "id": "7a46b4eb-abf3-43d3-8635-251186af95d9",
      "name": "subMkPlnTxt-SP"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ebf1b473-80ad-42bd-acaa-1446197e4bc1",
              "leftValue": "={{$json.data === empty }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1296,
        672
      ],
      "id": "937ff3ce-aeec-4a71-8a3b-c582197de0d7",
      "name": "IfResponseOk2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "callback_query_message_chat_id",
              "type": "any"
            },
            {
              "name": "objMainId",
              "type": "any"
            },
            {
              "name": "modelName",
              "type": "any"
            },
            {
              "name": "api",
              "type": "any"
            },
            {
              "name": "result_message_id",
              "type": "any"
            },
            {
              "name": "botTocken"
            },
            {
              "name": "debugMode"
            },
            {
              "name": "apiNameNB"
            }
          ]
        }
      },
      "id": "530dff35-9b19-4f9e-ba2f-2b7a03570d04",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -5504,
        576
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4544,
        528
      ],
      "typeVersion": 1,
      "id": "c1f1fecf-39d0-4e76-9e17-85e5117b1c55",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "errorMessage": "={{\"⚠️\" + $('call AIPreparePrompt').item.json.msg }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1024,
        832
      ],
      "id": "408ebe85-fa63-492a-a528-68a598f40d3b",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f3370f8c-837f-416e-a8b9-268ff8d544f5",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4240,
        592
      ],
      "id": "dead0212-d0af-4012-b199-dd62f77daee3",
      "name": "IfDebug1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09b70afd-76f1-459c-9a7c-16af72a0a5de",
              "name": "recievedPrompt",
              "value": "={{$('GetPrompt1').isExecuted && $('GetPrompt1').item.json.PromptText.isNotEmpty()\n?$('GetPrompt1').item.json.PromptText\n:$('SP_FashionPrompter').item.json.Descr\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3856,
        608
      ],
      "id": "3f7b00f3-b359-4a89-8313-0e650a7cc712",
      "name": "SP_recievedPrompt1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ",
          "mode": "list",
          "cachedResultName": "N8N prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "PromptName",
              "lookupValue": "={{ $('SP_FashionPrompter').item.json.promptName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4032,
        432
      ],
      "id": "6c288ca9-a2e5-4162-ba28-f62fa44d7feb",
      "name": "GetPrompt1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
        "text": "Создаю изображения сценариев...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -5264,
        576
      ],
      "id": "25ae4bfd-ccb8-4160-ac1e-2d1184b8a08a",
      "name": "Send a text message",
      "webhookId": "e21b31b7-2aba-4f70-b42f-587094e7971b",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
            },
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Start').item.json.callback_query_message_chat_id }}"
            },
            {
              "keyValue": "={{ $('Start').item.json.objMainId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -5024,
        576
      ],
      "id": "f045b534-941c-41d3-b52e-9c0a9783e644",
      "name": "GetScenarios"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61437700-23ca-44fd-991a-f67ef715d03e",
              "name": "concatPrompt",
              "value": "={{\"# Creative Idea \" + $('GetScenarios').item.json.creativeScenarios + \"# Model & Look \" + $('GetScenarios').item.json.concatDescr}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4768,
        576
      ],
      "id": "bd192d50-dab3-471a-890b-0879292ca19f",
      "name": "UP_ConcatPrompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b51b3b63-2255-45fe-9023-8b136b8f4080",
              "name": "Descr",
              "value": "<system_identity>\nFashion-Prompter v31-R1 (Release 1 - Fixed Physics).\nRole: Nano Banana Pro High-Fidelity Fashion Prompt Architect.\nObjective: Transform structured creative and styling inputs into EXACTLY ONE high-fidelity, highly structured Markdown prompt optimized for fashion-editorial image generation. Focus on aggressive, dynamic composition execution to prevent boring catalog defaults.\n</system_identity>\n\n<input_schema>\nYou will receive two input blocks:\n1. Input A (Creative Idea): Location, mood, weather, narrative, camera angles, or editorial direction.\n2. Input B (Model & Look): \n  - Model Description: Physical traits and identity.\n  - Look: A list of clothing/accessories, each with a Name and Description.\n</input_schema>\n\n<immutable_rules>\n1. VERBATIM PRESERVATION: You MUST NOT alter, paraphrase, condense, reinterpret, stylize, or summarize the Model Description or any item in the Look.\n2. NO HALLUCINATION: DO NOT add new clothing, accessories, props, brands, or styling elements. DO NOT remove, merge, or rename items.\n3. ITEM INTEGRITY: Every item provided must appear in the output under its own subsection. Titles must match exactly.\n4. ALLOWED CREATIVITY: You may only exercise creative freedom regarding the Scene, Pose, Camera/Optics, Lighting, Composition, and Render Priorities.\n</immutable_rules>\n\n<internal_mode_selection>\nBefore generating the prompt, analyze the Creative Idea and silently select ONE of the following internal modes to govern your photographic decisions. (DO NOT print the mode name in your output).\n1. Luxury Studio: Controlled posing, precise light shaping, refined textures, clean backdrop. (For elegance, minimalism).\n2. Street Editorial: Natural asymmetry, contextual composition, environmental bounce light. (For urban, realism, grit).\n3. Campaign Minimalism: Simplified visual field, high readability, commercial lighting. (For product focus).\n4. Runway-Inspired: Assertive body line, directional movement, elongated framing. (For dramatic styling, motion).\n5. Beauty-Fashion Hybrid: Refined facial lighting, closer crop, skin texture preserved. (For upper-body/face emphasis).\n</internal_mode_selection>\n\n<photographic_intelligence>\nApply these principles based on your selected Mode and the provided Outfit:\n- Dynamic Composition Execution (CRITICAL): You must actively fight the image generator's tendency to produce standard, static, front-facing catalog shots. \n- If the Creative Idea implies movement, you MUST enforce kinetic prompts (e.g., \"dynamic asymmetric weight shift\", \"captured in mid-stride\", \"fluid editorial movement\").\n- If the Creative Idea implies a specific camera placement, you MUST enforce spatial prompts (e.g., \"extreme low angle perspective\", \"shot through foreground elements to create depth\", \"over-the-shoulder framing\").\n- Ensure the model's pose aggressively utilizes the environment to create a 3D sense of space.\n- Camera Logic: 35mm (environmental/story), 50mm (balanced realism), 85mm (luxury/beauty). Aperture f/2.8-f/4 (texture focus) or f/4-f/5.6 (full-body clarity).\n- Lighting Logic: Flatter the face, reveal material textures honestly, and match the environment.\n- Environment: Must amplify the fashion story, not compete with it.\n</photographic_intelligence>\n\n<forbidden_actions>\n- DO NOT output negative prompts phrased as \"no [X]\".\n- DO NOT use casual, conversational, or robotic tone.\n- DO NOT output any meta-commentary, greetings, or explanations before or after the Markdown prompt.\n- DO NOT allow the environment to overpower the outfit.\n- DO NOT alter the locked output formatting structure below.\n</forbidden_actions>\n\n<locked_output_format>\nYou MUST output EXACTLY this Markdown structure. Do not change the headers. Replace the bracketed text with your generated or copied content.\n\n## Nano Banana Pro — High Fidelity Prompt\n\n**Type:** Fashion Editorial Photography\n\n---\n\n### Scene & Creative Narrative\n[Generate a vivid, coherent description of the environment, spatial logic, mood, time of day, and atmospheric conditions based on the Creative Idea and Mode.]\n\n---\n\n### Model Description\n[INSERT THE PROVIDED MODEL DESCRIPTION HERE EXACTLY VERBATIM]\n\n---\n\n### Outfit Breakdown\n\n[For EVERY item in the input, create a subsection formatted exactly like this:]\n#### [Item Name exactly as provided]\n[INSERT THE ITEM DESCRIPTION HERE EXACTLY VERBATIM]\n\n---\n\n### Pose, Movement & Expression\n[Define posture, weight distribution, torso/shoulder angles, hand placement, gaze, and expression. EXPLICITLY FORBID stiff, symmetrical, passport-style standing. Enforce the kinetic micro-action from the Creative Idea. Keep garment physics natural and heavy; strictly forbid exaggerated wind-blown billowing unless requested.]\n\n---\n\n### Camera & Optics\n[Specify lens choice, aperture/depth strategy, camera angle, and focus priority. Execute dynamic spatial perspectives (e.g., low angle, over-the-shoulder) if requested.]\n\n---\n\n### Lighting Design\n[Define primary light source, directionality, softness/contrast, shadow logic, and atmospheric integration.]\n\n---\n\n### Composition & Editorial Styling Logic\n[Specify framing choice, subject placement, relationship to environment, and spatial clarity.]\n\n---\n\n### Rendering Priorities\n[State the visual hierarchy. E.g., 1. Facial integrity, 2. Silhouette readability, 3. Material textures...]\n\n---\n\n### Image Quality & Rendering Constraints\nUltra-high realism with professional editorial color grading. Accurate anatomy and natural body proportions. Natural skin texture with realistic pores and tonal transitions. Faithful material rendering, fabric behavior, and garment structure. Realistic interaction between clothing, body, light, and environment. Sharp, publication-ready finish with no distortion.\n</locked_output_format>",
              "type": "string"
            },
            {
              "id": "1b2dcb78-90bf-4ef0-b716-7bc80e779032",
              "name": "promptName",
              "value": "Fashion-Prompter",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4480,
        576
      ],
      "id": "247f4417-124a-4fc8-8393-fb13924f77c8",
      "name": "SP_FashionPrompter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "377048c5-a36e-4450-a483-c5cf1a1b6532",
              "name": "Scen",
              "value": "={{$('GetScenarios').item.json.creativeScenarios }}\n",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2544,
        576
      ],
      "id": "27ff6b4f-7ebb-43dc-8fd0-722a9f733eb6",
      "name": "Scenarios1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Scen.Scenarios",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2336,
        576
      ],
      "id": "fc560c2e-0dd2-4b6e-b013-23fb2f668626",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2128,
        576
      ],
      "id": "60edb4e1-565a-4f9e-bfe5-0b88cc27bc17",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb69b7b9-5e34-4c63-8269-e0e04d786ed8",
              "name": "concatPrompt",
              "value": "={{\"# Creative Idea \" + $('Split Out').item.json.Description + \"# Model & Look \" + $('GetScenarios').item.json.concatDescr.removeMarkdown()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1936,
        672
      ],
      "id": "4a7a1bb3-47ba-44aa-a8f8-51212768a2c1",
      "name": "UP_fashionPrompt"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9A6kp0SAPV2FCdMQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/9A6kp0SAPV2FCdMQ",
          "cachedResultName": "subTR_NB_Fal"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt": "={{ $('Call \\'subMkPlnTxt\\'').item.json.plainText }}",
            "urls": "={{ $('Aggregate').item.json.urls.toJsonString() }}",
            "chatId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
            "debugMode": "={{ $('Start').item.json.debugMode }}",
            "apiName": "={{ $('Start').item.json.api }}",
            "aspectRatioNoCommas": "3:4",
            "apiNameNB": "={{ $('Start').item.json.apiNameNB }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "urls",
              "displayName": "urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "debugMode",
              "displayName": "debugMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apiName",
              "displayName": "apiName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apiNameNB",
              "displayName": "apiNameNB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "aspectRatioNoCommas",
              "displayName": "aspectRatioNoCommas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -544,
        720
      ],
      "id": "b70b49b9-dbe8-40c4-8c94-b42f3b20f2b8",
      "name": "Call 'subTR_NB_Fal'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cy2OHtNbUQaDIMP4",
          "mode": "list",
          "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
          "cachedResultName": "subMkPlnTxt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt_replace": "={{ $json.data }}"
          },
          "matchingColumns": [
            "systemPrompt_replace"
          ],
          "schema": [
            {
              "id": "systemPrompt_replace",
              "displayName": "systemPrompt_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1104,
        576
      ],
      "id": "eed648b3-33fe-4ce5-a5ad-adc69aa17fcc",
      "name": "Call 'subMkPlnTxt'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "336990ef-a4aa-40fc-8e92-ce18e5643636",
              "name": "urls",
              "value": "={{$('GetScenarios').item.json.faceImgUrl  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3264,
        448
      ],
      "id": "cb8a8a9e-113f-4bda-af55-ed20a3ca434a",
      "name": "ModelUrl"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "336990ef-a4aa-40fc-8e92-ce18e5643636",
              "name": "urls",
              "value": "={{ $('GetScenarios').item.json.generatedModelUrl  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3280,
        656
      ],
      "id": "8ea5337a-ad43-48a3-af3f-8e6935e2d440",
      "name": "LookUrl"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3024,
        576
      ],
      "id": "3150c40d-c09e-4f6a-90f1-f562f026f60f",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "urls"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2816,
        576
      ],
      "id": "005bc53b-2979-4097-9e7f-011d5a8ac10c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
        "text": "={{ $('Split Out').item.json.ScenarioLocal }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -912,
        576
      ],
      "id": "454add0c-dc50-41a8-8c7a-202efd171877",
      "name": "Send a text message1",
      "webhookId": "e21b31b7-2aba-4f70-b42f-587094e7971b",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "om5OeSVLkkTw1obl",
          "mode": "list",
          "cachedResultName": "TrendcoreScenariosDescr",
          "cachedResultUrl": "/projects/M9bTlSGaaAbsZxvs/datatables/om5OeSVLkkTw1obl"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "scenarioImgUrl": "={{ $json.result }}",
            "orderId": "={{ $('Loop Over Items').item.json.OrderId }}",
            "scenario": "={{ $('Loop Over Items').item.json.Scenario }}",
            "description": "={{ $('Loop Over Items').item.json.Description }}",
            "scenarioLocal": "={{ $('Loop Over Items').item.json.ScenarioLocal }}",
            "descriptionLocal": "={{ $('Loop Over Items').item.json.DescriptionLocal }}",
            "scenarioMainId": "={{ $('GetScenarios').item.json.id }}",
            "userId": "={{ $('Start').item.json.callback_query_message_chat_id }}",
            "dialogId": "={{ $('Start').item.json.callback_query_message_chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scenarioMainId",
              "displayName": "scenarioMainId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "orderId",
              "displayName": "orderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scenario",
              "displayName": "scenario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scenarioLocal",
              "displayName": "scenarioLocal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "descriptionLocal",
              "displayName": "descriptionLocal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scenarioImgUrl",
              "displayName": "scenarioImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -272,
        880
      ],
      "id": "309418c5-5c1a-4dd6-90bf-d7996cc16016",
      "name": "Insert row"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "scenarioLocal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1840,
        480
      ],
      "id": "c3ac3614-c8fe-4c01-87ed-4bbb3e068b5c",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cy2OHtNbUQaDIMP4",
          "mode": "list",
          "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
          "cachedResultName": "subMkPlnTxt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt_replace": "={{ $json.concatPrompt }}"
          },
          "matchingColumns": [
            "systemPrompt_replace"
          ],
          "schema": [
            {
              "id": "systemPrompt_replace",
              "displayName": "systemPrompt_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1744,
        864
      ],
      "id": "216f9ec2-f5d7-4750-bfe7-13673a508c30",
      "name": "Call 'subMkPlnTxt'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MCKUe6c7lEWRrPCq",
          "mode": "list",
          "cachedResultUrl": "/workflow/MCKUe6c7lEWRrPCq",
          "cachedResultName": "subTR_API_AI_Selector"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "modelName": "={{ $('Start').item.json.modelName }}",
            "apiName": "={{ $('Start').item.json.api }}",
            "systemPrompt": "={{ $('SP_recievedPrompt1').item.json.recievedPrompt }}",
            "chat_id": "={{ $('Start').item.json.callback_query_message_chat_id }}",
            "userPrompt": "={{ $('UP_fashionPrompt').item.json.concatPrompt }}",
            "objectMainId": 0,
            "botTocken": "={{ $('Start').item.json.botTocken }}",
            "debugMode": "={{ $('Start').item.json.debugMode }}",
            "urlList_bool": false
          },
          "matchingColumns": [
            "modelName",
            "objectDescr",
            "plainText"
          ],
          "schema": [
            {
              "id": "modelName",
              "displayName": "modelName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "apiName",
              "displayName": "apiName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imgUrls",
              "displayName": "imgUrls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "ObjName",
              "displayName": "ObjName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "objectMainId",
              "displayName": "objectMainId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "ObjNameLocal",
              "displayName": "ObjNameLocal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "botTocken",
              "displayName": "botTocken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "urlList_bool",
              "displayName": "urlList_bool",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "debugMode",
              "displayName": "debugMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "plainUrlList",
              "displayName": "plainUrlList",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1536,
        672
      ],
      "name": "call AIPreparePrompt1",
      "id": "96d9f048-b94f-4098-baec-d9ad5d6bb405"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Db9RTL99yUCO77oO",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 20,
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "saveDataErrorExecution": "all",
    "saveExecutionProgress": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-11T14:43:28.826Z",
      "createdAt": "2026-03-11T14:43:28.826Z",
      "role": "workflow:owner",
      "workflowId": "o5zRqajKZRhdILNq",
      "projectId": "M9bTlSGaaAbsZxvs"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-02T14:25:49.831Z",
      "createdAt": "2026-03-02T14:25:49.831Z",
      "id": "6ZyTvRGaNVzskE04",
      "name": "TG_PROD"
    },
    {
      "updatedAt": "2026-03-11T15:09:42.956Z",
      "createdAt": "2026-03-11T15:09:42.956Z",
      "id": "Sh0xVn4qKXg2QmFg",
      "name": "SP_FashionPrompter"
    },
    {
      "updatedAt": "2026-03-02T14:27:20.441Z",
      "createdAt": "2026-03-02T14:27:20.441Z",
      "id": "sJgdMesU0ia9ad2u",
      "name": "NB"
    },
    {
      "updatedAt": "2026-03-02T14:25:49.805Z",
      "createdAt": "2026-03-02T14:25:49.805Z",
      "id": "uZYZiWAvyVAXbBbR",
      "name": "CL"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-28T10:44:49.307Z",
  "versionId": "030e455b-da05-466f-b7eb-d5ee72ad29f4"
}