2026/03/OvyFK4P4uTnOpF0u.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-06T21:04:54.000Z",
    "createdAt": "2026-03-06T21:04:43.495Z",
    "versionId": "bb5c5e38-681e-4b49-b7bd-91295a59950e",
    "workflowId": "OvyFK4P4uTnOpF0u",
    "nodes": [
      {
        "parameters": {
          "operation": "editMessageText",
          "chatId": "={{ $('Start').item.json.message_chat_id }}",
          "messageId": "={{ $('GetMsgId1').item.json.replyToMessageIdGallery }}",
          "text": "Загрузка отменена.",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          720,
          0
        ],
        "id": "7d9228c5-6cb3-4fbb-a1f0-c1c6258eb973",
        "name": "Edit a text message1",
        "webhookId": "888b2dc8-23ec-450f-8f07-bba9bed18dde",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "userId",
                "keyValue": "={{ $('Start').item.json.message_chat_id }}"
              },
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Start').item.json.message_chat_id }}"
              },
              {
                "keyName": "status",
                "condition": "neq",
                "keyValue": "=Done"
              },
              {
                "keyName": "status",
                "condition": "neq",
                "keyValue": "Error"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "status": "Error"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Process",
                "displayName": "Process",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceImgUrl",
                "displayName": "faceImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "replyToMessageIdGallery",
                "displayName": "replyToMessageIdGallery",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceGalleryUrl",
                "displayName": "faceGalleryUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "FaceErrToMsgId",
                "displayName": "FaceErrToMsgId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1568,
          32
        ],
        "id": "b7de9764-fcb7-48a7-a1e7-f192eb0d0f8a",
        "name": "Set Error if left not done1",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4c8db9da-d4a5-4079-8e4f-938b39ef7007",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1728,
          32
        ],
        "id": "263fabca-4618-4913-b8ac-108c26879cd7",
        "name": "UpdatedIds",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "userId",
                "keyValue": "={{ $json.message_chat_id }}"
              },
              {
                "keyName": "dialogId",
                "keyValue": "={{ $json.message_chat_id }}"
              },
              {
                "keyName": "status",
                "condition": "neq",
                "keyValue": "Error"
              },
              {
                "keyName": "status",
                "condition": "neq",
                "keyValue": "Done"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          176,
          0
        ],
        "id": "7983fabe-f25a-4a26-be81-f8898724025c",
        "name": "GetMsgId1",
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "NJfAQt9WXtWm5g15",
            "mode": "list",
            "cachedResultName": "TrendcoreObjectDescr",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/NJfAQt9WXtWm5g15"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "userId",
                "keyValue": "={{ $('Start').item.json._message_chat_id }}"
              },
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Start').item.json.message_chat_id }}"
              },
              {
                "keyName": "objectMainId",
                "keyValue": "= {{ $json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "status": "Error"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "objectMainId",
                "displayName": "objectMainId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objNames",
                "displayName": "objNames",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "objUrl",
                "displayName": "objUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "objectDescr",
                "displayName": "objectDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1888,
          32
        ],
        "id": "f15095e4-088a-4524-bf0e-bbc5b0298030",
        "name": "Set ErrorForDescr",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "message_chat_id",
                "type": "any"
              }
            ]
          }
        },
        "id": "69305b71-f18d-44f4-8c48-4d1f4db76e8b",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "keep": "lastItems"
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          336,
          0
        ],
        "id": "690f9a6b-af3a-434c-803f-0695c688211c",
        "name": "Limit",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "editMessageText",
          "chatId": "={{ $('Start').item.json.message_chat_id }}",
          "messageId": "={{ $('Limit').item.json.replyToMessageIdGallery }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          528,
          0
        ],
        "id": "9fded979-3e96-47d0-b18e-0a18b4fd296b",
        "name": "Edit a text message",
        "webhookId": "9b13c89d-2cfa-4f6f-a967-f61aceaaeebe",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        },
        "disabled": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.message_chat_id }}",
          "text": "={{\n\"<b>Я готов создать фотомодель.</b>\" +\"\\n\\n\"+\n\n\"Вы также можете продолжить вносить правки \"  + \"(осталось \" + (3- $('GetMsgId1').item.json.imgsCount) +\" правки).\"\n\n }}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Внести правки",
                      "additionalFields": {
                        "callback_data": "addFeature"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Создать модель",
                      "additionalFields": {
                        "callback_data": "generateModel"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          960,
          0
        ],
        "id": "45ec6e76-b625-4c82-bef5-9efc6d554d8c",
        "name": "OP_final_model3",
        "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('GetMsgId1').item.json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "replyToMessageIdGallery": "={{ $json.result.message_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "process",
                "displayName": "process",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceImgUrl",
                "displayName": "faceImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceDescr",
                "displayName": "faceDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "replyToMessageIdGallery",
                "displayName": "replyToMessageIdGallery",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "generatedModelUrl",
                "displayName": "generatedModelUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "generatedModelPrompt",
                "displayName": "generatedModelPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1152,
          0
        ],
        "id": "b0a88126-b8a6-42b3-98f3-03e758b6c3ee",
        "name": "UpdateImgCount1"
      }
    ],
    "connections": {
      "Edit a text message1": {
        "main": [
          [
            {
              "node": "OP_final_model3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Error if left not done1": {
        "main": [
          [
            {
              "node": "UpdatedIds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UpdatedIds": {
        "main": [
          [
            {
              "node": "Set ErrorForDescr",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetMsgId1": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "GetMsgId1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Edit a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit a text message": {
        "main": [
          [
            {
              "node": "Edit a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OP_final_model3": {
        "main": [
          [
            {
              "node": "UpdateImgCount1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DLS  ",
    "name": "Version bb5c5e38",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-06T21:04:54.865Z",
        "id": 385,
        "workflowId": "OvyFK4P4uTnOpF0u",
        "versionId": "bb5c5e38-681e-4b49-b7bd-91295a59950e",
        "event": "activated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    ]
  },
  "activeVersionId": "bb5c5e38-681e-4b49-b7bd-91295a59950e",
  "connections": {
    "Edit a text message1": {
      "main": [
        [
          {
            "node": "OP_final_model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error if left not done1": {
      "main": [
        [
          {
            "node": "UpdatedIds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdatedIds": {
      "main": [
        [
          {
            "node": "Set ErrorForDescr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMsgId1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "GetMsgId1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a text message": {
      "main": [
        [
          {
            "node": "Edit a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OP_final_model3": {
      "main": [
        [
          {
            "node": "UpdateImgCount1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-06T20:40:50.471Z",
  "description": null,
  "id": "OvyFK4P4uTnOpF0u",
  "isArchived": false,
  "meta": null,
  "name": "subTR_CM_CancelClbk",
  "nodes": [
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Start').item.json.message_chat_id }}",
        "messageId": "={{ $('GetMsgId1').item.json.replyToMessageIdGallery }}",
        "text": "Загрузка отменена.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        0
      ],
      "id": "7d9228c5-6cb3-4fbb-a1f0-c1c6258eb973",
      "name": "Edit a text message1",
      "webhookId": "888b2dc8-23ec-450f-8f07-bba9bed18dde",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $('Start').item.json.message_chat_id }}"
            },
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Start').item.json.message_chat_id }}"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "=Done"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "Error"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Error"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Process",
              "displayName": "Process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceImgUrl",
              "displayName": "faceImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "replyToMessageIdGallery",
              "displayName": "replyToMessageIdGallery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceGalleryUrl",
              "displayName": "faceGalleryUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FaceErrToMsgId",
              "displayName": "FaceErrToMsgId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1568,
        32
      ],
      "id": "b7de9764-fcb7-48a7-a1e7-f192eb0d0f8a",
      "name": "Set Error if left not done1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c8db9da-d4a5-4079-8e4f-938b39ef7007",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        32
      ],
      "id": "263fabca-4618-4913-b8ac-108c26879cd7",
      "name": "UpdatedIds",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.message_chat_id }}"
            },
            {
              "keyName": "dialogId",
              "keyValue": "={{ $json.message_chat_id }}"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "Error"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "Done"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        176,
        0
      ],
      "id": "7983fabe-f25a-4a26-be81-f8898724025c",
      "name": "GetMsgId1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "NJfAQt9WXtWm5g15",
          "mode": "list",
          "cachedResultName": "TrendcoreObjectDescr",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/NJfAQt9WXtWm5g15"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $('Start').item.json._message_chat_id }}"
            },
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Start').item.json.message_chat_id }}"
            },
            {
              "keyName": "objectMainId",
              "keyValue": "= {{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Error"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "objectMainId",
              "displayName": "objectMainId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objNames",
              "displayName": "objNames",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "objUrl",
              "displayName": "objUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "objectDescr",
              "displayName": "objectDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1888,
        32
      ],
      "id": "f15095e4-088a-4524-bf0e-bbc5b0298030",
      "name": "Set ErrorForDescr",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message_chat_id",
              "type": "any"
            }
          ]
        }
      },
      "id": "69305b71-f18d-44f4-8c48-4d1f4db76e8b",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        336,
        0
      ],
      "id": "690f9a6b-af3a-434c-803f-0695c688211c",
      "name": "Limit",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Start').item.json.message_chat_id }}",
        "messageId": "={{ $('Limit').item.json.replyToMessageIdGallery }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        0
      ],
      "id": "9fded979-3e96-47d0-b18e-0a18b4fd296b",
      "name": "Edit a text message",
      "webhookId": "9b13c89d-2cfa-4f6f-a967-f61aceaaeebe",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message_chat_id }}",
        "text": "={{\n\"<b>Я готов создать фотомодель.</b>\" +\"\\n\\n\"+\n\n\"Вы также можете продолжить вносить правки \"  + \"(осталось \" + (3- $('GetMsgId1').item.json.imgsCount) +\" правки).\"\n\n }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Внести правки",
                    "additionalFields": {
                      "callback_data": "addFeature"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Создать модель",
                    "additionalFields": {
                      "callback_data": "generateModel"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        0
      ],
      "id": "45ec6e76-b625-4c82-bef5-9efc6d554d8c",
      "name": "OP_final_model3",
      "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('GetMsgId1').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "replyToMessageIdGallery": "={{ $json.result.message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "process",
              "displayName": "process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceImgUrl",
              "displayName": "faceImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceDescr",
              "displayName": "faceDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "replyToMessageIdGallery",
              "displayName": "replyToMessageIdGallery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generatedModelUrl",
              "displayName": "generatedModelUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generatedModelPrompt",
              "displayName": "generatedModelPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1152,
        0
      ],
      "id": "b0a88126-b8a6-42b3-98f3-03e758b6c3ee",
      "name": "UpdateImgCount1"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "message_chat_id": 1723701965
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "trendcore_n8n",
  "repo_owner": "ds634",
  "repo_path": "/repos/ds634/trendcore_n8n/contents/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Db9RTL99yUCO77oO",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-06T20:40:50.473Z",
      "createdAt": "2026-03-06T20:40:50.473Z",
      "role": "workflow:owner",
      "workflowId": "OvyFK4P4uTnOpF0u",
      "projectId": "M9bTlSGaaAbsZxvs",
      "project": {
        "updatedAt": "2026-03-02T14:12:07.095Z",
        "createdAt": "2026-03-02T14:12:01.275Z",
        "id": "M9bTlSGaaAbsZxvs",
        "name": "DLS   <ds@trendcore.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-02T14:25:49.831Z",
      "createdAt": "2026-03-02T14:25:49.831Z",
      "id": "6ZyTvRGaNVzskE04",
      "name": "TG_PROD"
    },
    {
      "updatedAt": "2026-03-02T14:26:06.738Z",
      "createdAt": "2026-03-02T14:26:06.738Z",
      "id": "tzvi3HGYBgqT00vr",
      "name": "CM"
    },
    {
      "updatedAt": "2026-03-02T14:25:49.805Z",
      "createdAt": "2026-03-02T14:25:49.805Z",
      "id": "uZYZiWAvyVAXbBbR",
      "name": "CL"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-11T10:47:24.070Z",
  "versionCounter": 47,
  "versionId": "bb5c5e38-681e-4b49-b7bd-91295a59950e",
  "wf_name": "subTR_CM_CancelClbk"
}