2026/03/sFyMGNUs6LuI4JIn.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-04T17:55:13.000Z",
    "createdAt": "2026-04-04T17:55:11.816Z",
    "versionId": "004eb671-bc45-4c52-aaf0-185c96d81e24",
    "workflowId": "sFyMGNUs6LuI4JIn",
    "nodes": [
      {
        "parameters": {},
        "id": "a8cc9efd-7b41-4f43-b375-1aaf7700e62c",
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          64,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "returnAll": false,
          "filters": {
            "activeWorkflows": true,
            "excludePinnedData": true
          },
          "requestOptions": {}
        },
        "id": "09727012-966b-4946-ae38-3c8cae9c53d0",
        "name": "n8n",
        "type": "n8n-nodes-base.n8n",
        "position": [
          464,
          112
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "Kn9x6aFBAvTLrAKr",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "b9e1d3e8-6b1c-4a68-853a-0b3cd6640a51",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          880,
          112
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "daysInterval": 5,
                "triggerAtHour": 1,
                "triggerAtMinute": 33
              }
            ]
          }
        },
        "id": "9ef2b1be-d34c-4c58-8800-832fe890fd39",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          64,
          208
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
          "height": 417,
          "width": 385,
          "color": 4
        },
        "id": "97adc812-857a-41f6-b8f7-ba8bc76d7336",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -576,
          -112
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Main workflow loop",
          "height": 416.1856906618075,
          "width": 1428,
          "color": 7
        },
        "id": "60f47401-6cd4-45b5-a553-143c813f52a7",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          32,
          -80
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "chatId": "=1723701965",
          "text": "=Начинаем бекап",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          288,
          112
        ],
        "id": "c4f6c984-bd0a-4851-9420-62ec63c43d77",
        "name": "CancelEditScenario1",
        "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
        "executeOnce": false,
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "chatId": "=1723701965",
          "text": "=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1344,
          144
        ],
        "id": "1d94f6c0-4b29-426b-a365-e4578e4b9a6f",
        "name": "CancelEditScenario",
        "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
        "executeOnce": false,
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "chatId": "=1723701965",
          "text": "=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1136,
          -48
        ],
        "id": "f3a10c33-6175-4566-a1d9-21a5df411bdc",
        "name": "CancelEditScenario2",
        "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
        "executeOnce": true,
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "aVhzSZVhaIgYn1CD",
            "mode": "list",
            "cachedResultUrl": "/workflow/aVhzSZVhaIgYn1CD",
            "cachedResultName": "subBACKUPS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "workflow_id": "={{ $json.id }}",
              "createdAt": "={{ $json.createdAt }}",
              "workflow_name": "={{ $json.name }}",
              "workflowJson": "={{ $('n8n').item.json }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "workflow_id",
                "displayName": "workflow_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "workflow_name",
                "displayName": "workflow_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "createdAt",
                "displayName": "createdAt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "workflowJson",
                "displayName": "workflowJson",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1104,
          128
        ],
        "id": "aebc3c65-b440-428d-a957-831f87bb829c",
        "name": "Call 'subBACKUPS'",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "maxItems": 1000
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          640,
          112
        ],
        "id": "dd4433f5-4d97-4f2d-80ce-71871854f6df",
        "name": "Limit"
      }
    ],
    "connections": {
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "CancelEditScenario1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "n8n": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "CancelEditScenario2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'subBACKUPS'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "CancelEditScenario1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CancelEditScenario1": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CancelEditScenario": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'subBACKUPS'": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CancelEditScenario",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DLS  ",
    "name": "Version 004eb671",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "004eb671-bc45-4c52-aaf0-185c96d81e24",
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "CancelEditScenario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "CancelEditScenario2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'subBACKUPS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CancelEditScenario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CancelEditScenario1": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CancelEditScenario": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subBACKUPS'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CancelEditScenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-22T17:57:50.032Z",
  "id": "sFyMGNUs6LuI4JIn",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BACKUPS",
  "nodes": [
    {
      "parameters": {},
      "id": "a8cc9efd-7b41-4f43-b375-1aaf7700e62c",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        64,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "returnAll": false,
        "filters": {
          "activeWorkflows": true,
          "excludePinnedData": true
        },
        "requestOptions": {}
      },
      "id": "09727012-966b-4946-ae38-3c8cae9c53d0",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        464,
        112
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "Kn9x6aFBAvTLrAKr",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b9e1d3e8-6b1c-4a68-853a-0b3cd6640a51",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        880,
        112
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 5,
              "triggerAtHour": 1,
              "triggerAtMinute": 33
            }
          ]
        }
      },
      "id": "9ef2b1be-d34c-4c58-8800-832fe890fd39",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        64,
        208
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
        "height": 417,
        "width": 385,
        "color": 4
      },
      "id": "97adc812-857a-41f6-b8f7-ba8bc76d7336",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 416.1856906618075,
        "width": 1428,
        "color": 7
      },
      "id": "60f47401-6cd4-45b5-a553-143c813f52a7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "=1723701965",
        "text": "=Начинаем бекап",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        288,
        112
      ],
      "id": "c4f6c984-bd0a-4851-9420-62ec63c43d77",
      "name": "CancelEditScenario1",
      "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=1723701965",
        "text": "=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        144
      ],
      "id": "1d94f6c0-4b29-426b-a365-e4578e4b9a6f",
      "name": "CancelEditScenario",
      "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=1723701965",
        "text": "=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        -48
      ],
      "id": "f3a10c33-6175-4566-a1d9-21a5df411bdc",
      "name": "CancelEditScenario2",
      "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aVhzSZVhaIgYn1CD",
          "mode": "list",
          "cachedResultUrl": "/workflow/aVhzSZVhaIgYn1CD",
          "cachedResultName": "subBACKUPS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_id": "={{ $json.id }}",
            "createdAt": "={{ $json.createdAt }}",
            "workflow_name": "={{ $json.name }}",
            "workflowJson": "={{ $('n8n').item.json }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "workflowJson",
              "displayName": "workflowJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1104,
        128
      ],
      "id": "aebc3c65-b440-428d-a957-831f87bb829c",
      "name": "Call 'subBACKUPS'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "maxItems": 1000
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        640,
        112
      ],
      "id": "dd4433f5-4d97-4f2d-80ce-71871854f6df",
      "name": "Limit"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-22T17:57:50.034Z",
      "createdAt": "2026-03-22T17:57:50.034Z",
      "role": "workflow:owner",
      "workflowId": "sFyMGNUs6LuI4JIn",
      "projectId": "M9bTlSGaaAbsZxvs"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        115
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-04T17:55:11.815Z",
  "versionId": "004eb671-bc45-4c52-aaf0-185c96d81e24"
}