2026/03/wiWVjK9If7AXfrMb.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-28T10:43:39.000Z",
    "createdAt": "2026-03-28T10:43:17.070Z",
    "versionId": "1616e951-e17f-4546-9ed9-cf150772bc0c",
    "workflowId": "wiWVjK9If7AXfrMb",
    "nodes": [
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.message_chat_id }}",
          "text": "={{\"Что-то пошло не так: \" + $('IfResponseOk3').item.json.msg}}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          48,
          672
        ],
        "id": "383c4d48-240d-4829-9c01-cb73a4739042",
        "name": "Send a text message1",
        "webhookId": "c2768f85-f20e-4f82-96e0-41de3c69bd92",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.kie.ai/{{$('Start').item.json.modelName}}/v1/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "=json",
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Start').item.json.message_caption }}\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $('UpsertUrl-Object-Status2').item.json.objUrl }}\"\n          }\n        }\n      ]\n    },\n    {\n      \"role\": \"system\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('SP_plain').item.json.plainText }}\"\n        }\n      ]\n    }\n  ],\n  \"tools\": [\n    {\n      \"type\": \"function\",\n      \"function\": {\n        \"name\": \"googleSearch\"\n      }\n    }\n  ],\n  \"stream\": false,\n  \"include_thoughts\": false,\n  \"reasoning_effort\": \"low\",\n  \"response_format\": {\n    \"type\": \"text\"\n  }\n}",
          "options": {
            "redirect": {
              "redirect": {}
            },
            "timeout": 1000000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1008,
          96
        ],
        "id": "e1ac7625-054d-4d7a-baee-f171a78234d7",
        "name": "AI_Model+Feature"
      },
      {
        "parameters": {
          "operation": "sendChatAction",
          "chatId": "={{ $('Start').item.json.message_chat_id }}"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1072,
          384
        ],
        "id": "35996858-9dcf-4bf6-ba08-5d5e1cd4582c",
        "name": "Send a chat action5",
        "webhookId": "d9b28dce-5a43-45b7-ae61-7a0113460e73",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "ebf1b473-80ad-42bd-acaa-1446197e4bc1",
                "leftValue": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.data === empty }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -272,
          384
        ],
        "id": "21f16e17-95a8-40c6-8908-5e8653387f8c",
        "name": "IfResponseOk3"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Start').item.json.message_chat_id }}"
              },
              {
                "keyName": "userId",
                "keyValue": "={{ $('Start').item.json.message_chat_id }}"
              },
              {
                "keyName": "process",
                "keyValue": "/createmodel"
              },
              {
                "keyName": "status",
                "keyValue": "GetFeatureGallery"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "userId": "={{ $('Start').item.json.message_chat_id }}",
              "dialogId": "={{ $('Start').item.json.message_chat_id }}",
              "imgsCount": "={{ $('GetCurrentCount4').item.json.isNotEmpty()\n?$('GetCurrentCount4').item.json.imgsCount+1\n:1\n}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "promptModel",
                "displayName": "promptModel",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -48,
          176
        ],
        "id": "441afd97-2dab-4d83-9043-c969e2c26fa2",
        "name": "UpdateImgCount"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Start').item.json.message_chat_id }}"
              },
              {
                "keyName": "userId",
                "keyValue": "={{ $('Start').item.json.message_chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "GetFeatureGallery"
              },
              {
                "keyName": "process",
                "keyValue": "/createmodel"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -3440,
          368
        ],
        "id": "da19cc49-9033-4db0-8435-901a492b163b",
        "name": "GetCurrentCount4",
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "aa07ac43-d5ec-4875-980b-2bd546fe2c4e",
                "name": "imgUrl",
                "value": "={{ \"https://api.telegram.org/file/bot\" +$('Start').item.json.botToken + \"/\" + $('Start').item.json.result_file_path }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -3824,
          368
        ],
        "id": "36c8979b-dbf5-429c-83f8-07daae18c206",
        "name": "urlModel3"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "NJfAQt9WXtWm5g15",
            "mode": "list",
            "cachedResultName": "TrendcoreObjectDescr",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/NJfAQt9WXtWm5g15"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Start').item.json.message_chat_id }}"
              },
              {
                "keyName": "userId",
                "keyValue": "={{ $('Start').item.json.message_chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "FeatureGalleryRecieved"
              },
              {
                "keyName": "objUrl",
                "keyValue": "={{ \"https://api.telegram.org/file/bot\" + $('Start').item.json.botToken +\"/\"+ $('Start').item.json.result_file_path }}"
              },
              {
                "keyName": "objectMainId",
                "keyValue": "={{ $('Start').item.json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "objUrl": "={{ \"https://api.telegram.org/file/bot\" + $('Start').item.json.botToken + \"/\"+$('Start').item.json.result_file_path }}",
              "objNames": "={{ $('Start').item.json.message_caption }}",
              "userId": "={{ $('Start').item.json.message_chat_id }}",
              "dialogId": "={{ $('Start').item.json.message_chat_id }}",
              "status": "FeatureGalleryRecieved",
              "objectMainId": "={{ $('Start').item.json.id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objectMainId",
                "displayName": "objectMainId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objNames",
                "displayName": "objNames",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objUrl",
                "displayName": "objUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objectDescr",
                "displayName": "objectDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -3632,
          368
        ],
        "id": "a9584209-0319-4af6-9d73-b6e7e168225a",
        "name": "UpsertUrl-Object-Status2"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "NJfAQt9WXtWm5g15",
            "mode": "list",
            "cachedResultName": "TrendcoreObjectDescr",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/NJfAQt9WXtWm5g15"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "userId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "objectMainId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}"
              },
              {
                "keyName": "status",
                "keyValue": "FeatureGalleryRecieved"
              },
              {
                "keyName": "objUrl",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.imgUrls }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "userId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
              "dialogId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
              "objectMainId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}",
              "status": "FeatureGalleryRecieved",
              "objNames": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.ObjName }}",
              "objUrl": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.imgUrls }}",
              "objectDescr": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.data }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objectMainId",
                "displayName": "objectMainId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objNames",
                "displayName": "objNames",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objUrl",
                "displayName": "objUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objectDescr",
                "displayName": "objectDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          544,
          192
        ],
        "id": "fbb98d86-7fa7-42a1-8478-21710f69cf81",
        "name": "UpsertFeatureNameDecr"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          800,
          192
        ],
        "id": "3bad004f-fed1-48ac-8353-09b3ad17a066",
        "name": "GetCurrentCount5"
      },
      {
        "parameters": {
          "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
          "text": "={{\n\"Правки внесены!\" +\"\\n\\n\"+\n\n\"<b>Я готов создать фотомодель.</b>\" +\"\\n\\n\"+\n\n\"Вы также можете продолжить вносить правки\"+\"\\n\" + \"(осталось правок: \" + (3- $('GetCurrentCount5').item.json.imgsCount) +\").\"\n\n }}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Внести правки",
                      "additionalFields": {
                        "callback_data": "addFeature"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Создать модель",
                      "additionalFields": {
                        "callback_data": "generateModel"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1280,
          144
        ],
        "id": "a777df74-7db8-4b82-941c-8f1a31f27bc7",
        "name": "OP_final_model3",
        "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "message_chat_id",
                "type": "any"
              },
              {
                "name": "message_caption",
                "type": "any"
              },
              {
                "name": "result_file_path",
                "type": "any"
              },
              {
                "name": "botToken",
                "type": "any"
              },
              {
                "name": "modelName",
                "type": "any"
              },
              {
                "name": "id",
                "type": "any"
              },
              {
                "name": "modelApi"
              },
              {
                "name": "debugMode"
              }
            ]
          }
        },
        "id": "dd39d920-e747-4eb0-9658-23003fd979bb",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -4064,
          368
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "MCKUe6c7lEWRrPCq",
            "mode": "list",
            "cachedResultUrl": "/workflow/MCKUe6c7lEWRrPCq",
            "cachedResultName": "subTR_API_AI_Selector"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "urlList_bool": false,
              "chat_id": "={{ $('Start').item.json.message_chat_id }}",
              "objectMainId": "={{ $('Start').item.json.id }}",
              "modelName": "={{ $('Start').item.json.modelName }}",
              "apiName": "={{ $('Start').item.json.modelApi }}",
              "botTocken": "={{ $('Start').item.json.botToken }}",
              "imgUrls": "={{ \"https://api.telegram.org/file/bot\" + $('Start').item.json.botToken + \"/\" + $('Start').item.json.result_file_path }}",
              "ObjName": "={{ $('Start').item.json.message_caption }}",
              "userPrompt": "={{ $('UP_plain').item.json.plainText }}",
              "systemPrompt": "={{ $('SP_plain').item.json.plainText }}",
              "debugMode": "={{ $('Start').item.json.debugMode }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "modelName",
                "displayName": "modelName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "apiName",
                "displayName": "apiName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "userPrompt",
                "displayName": "userPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "systemPrompt",
                "displayName": "systemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "imgUrls",
                "displayName": "imgUrls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "ObjName",
                "displayName": "ObjName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "objectMainId",
                "displayName": "objectMainId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "ObjNameLocal",
                "displayName": "ObjNameLocal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "botTocken",
                "displayName": "botTocken",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "urlList_bool",
                "displayName": "urlList_bool",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean",
                "removed": false
              },
              {
                "id": "debugMode",
                "displayName": "debugMode",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -848,
          384
        ],
        "id": "421f3fe7-0c32-407f-a22e-129c723cc08d",
        "name": "Call 'subTR_API_AI_Selector'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "cy2OHtNbUQaDIMP4",
            "mode": "list",
            "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
            "cachedResultName": "subMkPlnTxt"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "systemPrompt_replace": "={{ $json.data }}"
            },
            "matchingColumns": [
              "systemPrompt_replace"
            ],
            "schema": [
              {
                "id": "systemPrompt_replace",
                "displayName": "systemPrompt_replace",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -672,
          384
        ],
        "id": "952c26ca-2773-4b96-a13f-e2171f7e3efa",
        "name": "Call 'subMkPlnTxt'"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "73b813d4-c0fe-4d83-9fb2-c9b594025fb9",
                "leftValue": "={{ $json.imgsCount }}",
                "rightValue": 3,
                "operator": {
                  "type": "number",
                  "operation": "lt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1072,
          192
        ],
        "id": "55693ede-645e-4ac2-a9c0-c3622267f0f7",
        "name": "If<3iterations"
      },
      {
        "parameters": {
          "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
          "text": "={{\"<b>Все правки внесены!</b>\" + \"\\n\\n\" +\n\n\"Я готов создать фотомодель.\" }}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Создать фотомодель",
                      "additionalFields": {
                        "callback_data": "generateModel"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1280,
          336
        ],
        "id": "4014fa15-fca4-4453-a4c1-219c339ea045",
        "name": "OP_final_model",
        "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b51b3b63-2255-45fe-9023-8b136b8f4080",
                "name": "systemPromptImgFeature",
                "value": "<system_identity>\nModel-Refiner v31-R1 (Release 1 - Gemini 3.1 Validated + Kids Age Lock).\nObjective: Refine ONLY the requested anatomical category inside an existing Blueprint using a source image. Preserve the original visual identity, facial typology, and age-specific read. Do not redesign the person or improve the whole Blueprint. Update only the requested feature via visible morphology and structural geometry.\n</system_identity>\n\n<input_parsing_and_errors>\nYou will receive one source image and a text input with two sections: \"# Request\" and \"# Blueprint\". Ignore the labels themselves during output. Trim all spaces.\n\nCRITICAL ERROR HANDLING (Return EXACT strings only, no other text):\n1. IF \"# Request\" or \"# Blueprint\" is missing, OR if either section is empty, OR if Blueprint localization fails, OR if no valid category remains after alias mapping:\n   Return EXACTLY: ⚠ Error. Ошибка - возможно, запрос составлен неверно.\n2. IF the image is non-human, heavily stylized, obstructed, or the requested category is not structurally readable:\n   Return EXACTLY: ⚠ Error. Ошибка - возможно, лицо плохо видно, или запрашиваемую деталь невозможно распознать.\n</input_parsing_and_errors>\n\n<category_mapping>\nCanonical Categories: 1. Gender 2. Age range 3. Face shape 4. Facial proportions 5. Skin 6. Forehead and hairline 7. Eyebrows 8. Eyes 9. Nose 10. Cheeks and cheekbones 11. Lips and philtrum 12. Jawline and chin 13. Facial hair 14. Ears 15. Scalp hair.\n- Map request terms (e.g., \"прическа\" -> Scalp hair) to the nearest canonical category. Process duplicate category requests only once.\n</category_mapping>\n\n<core_preservation_guardrails>\n- Lock all non-requested categories.\n- Preserve overall facial type, structural impression, pigmentation, and contrast pattern. Preserve age class strictly UNLESS \"Age range\" is the specific requested category for refinement.\n- Wrapper-Resistance: Preserve skin depth/undertone, midface structure, lip outline, and jaw taper with extra care.\n- Do NOT beautify, average, or age-shift. Do NOT add makeup. Omit tiny facial marks unless omitting them severely misdescribes the face.\n- Cross-Identity Styling Exception: The user may provide a reference image of a completely different person (different ethnicity, skin color, or gender) solely to extract the requested feature (e.g., a hairstyle). If this occurs, DO NOT flag it as an error. Extract ONLY the geometry, texture, and volume of the requested feature from the image, and seamlessly adapt it to fit the locked identity defined in the Blueprint.\n</core_preservation_guardrails>\n\n<anti_inertia_and_integration>\nCRITICAL: If a requested feature changes the visual silhouette (especially Hair or Facial Hair), treat it as an appearance-transforming feature. You MUST refine the smallest coherent affected block and AGGRESSIVELY clear residual structural anchors from the old Blueprint that conflict with the new feature.\n- Target-Summary Consistency: The final synthesis sentence must explicitly reinforce the new structural mass. It must not genericize or undo the refined category.\n\nLinked-Category Conflict Repair (IF X changes, MUST check Y):\n- Scalp hair <-> Forehead, hairline, ears, and neck profile (e.g., changing to long hair MUST remove \"clean hairline\", \"exposed temples\", \"short sides\", or \"clean jawline profile\").\n- Facial hair <-> Jawline and chin.\n- Eyes <-> Eyebrows.\n- Lips and philtrum <-> Jawline and chin.\n- Age range <-> Facial proportions, Cheeks, Jawline, and Skin: \n  * If the requested refinement changes an adult to a child/preteen, you MUST insert a specific numerical age (e.g., \"7-year-old\") and aggressively clear adult structural terms (e.g., \"sharp jaw,\" \"defined cheekbones\"), replacing them with juvenile morphology (e.g., \"soft buccal fat,\" \"undeveloped jawline,\" \"high eye-to-face ratio\").\n  * If the requested refinement changes a child to an adult, you MUST aggressively remove numerical child ages and all juvenile morphology, replacing them with mature adult bone definition.\n</anti_inertia_and_integration>\n\n<hair_and_mass_override_rules>\nWhen refining Scalp Hair, describe structural behavior and mass first:\n- Overall length and spatial volume (Does it cover ears/neck/shoulders?). If the new hair is long, explicitly state it covers the neck/shoulders to OVERRIDE downstream short-hair bias.\n- Root volume/flatness and Directional pull (e.g., \"heavy strands falling to shoulders\"). \n- Use \"slicked back\" ONLY for short hair. For long hair, use \"pushed back\" or \"weighted back behind ears\".\n- Forehead-exposure mechanism: Specify if exposure is caused by lifted volume, clean dry sweep, tight pull-back, or heavy wet strands. Do not leave underspecified.\n- Do not reduce distinctive styles to generic labels.\n</hair_and_mass_override_rules>\n\n<execution_flow>\n1. Parse Request and base Blueprint.\n2. Validate image visibility against requested categories (Trigger Error 2 if invalid).\n3. Map Request to Canonical Categories (Trigger Error 1 if invalid).\n4. Localize the specific sentence(s) in the Blueprint.\n5. Apply local refinement based on the image using structure, mass, contour, volume, and texture (No stylistic/camera language. English only).\n6. Apply `<anti_inertia_and_integration>`: Minimally repair directly adjacent sentences to fix factual/structural incompatibilities.\n7. Verify all non-requested `<core_preservation_guardrails>` remain locked.\n8. Output ONLY the final refined Blueprint as one continuous prose paragraph.\n</execution_flow>\n\n<strict_output_contract>\nOutput EXACTLY ONE continuous prose paragraph in English (the refined Blueprint), OR one of the exact Russian error strings. \nNO markdown, NO code blocks, NO bold text, NO bullet points, NO labels, NO prefixes, NO newline characters.\n</strict_output_contract>",
                "type": "string"
              },
              {
                "id": "0d6a95d6-233d-448e-b28d-92ae6992c689",
                "name": "systemPromptModelDescr",
                "value": "={{ $('GetCurrentCount4').item.json.faceDescr }}",
                "type": "string"
              },
              {
                "id": "70ccc749-a57a-4c10-b585-6363ead0a506",
                "name": "promptName",
                "value": "Model-Refiner",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2320,
          368
        ],
        "id": "0f44bcef-a177-43ec-97e9-d97ffc7a0c6c",
        "name": "SP_ModelRefiner"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "037443f6-4f02-4014-9521-711cefbca918",
                "leftValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.data }}",
                "rightValue": "Error",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          160,
          96
        ],
        "id": "36435dfc-395c-47c4-988d-a6904ae79d7f",
        "name": "IfError"
      },
      {
        "parameters": {
          "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
          "text": "={{ $('Call \\'subMkPlnTxt\\'').item.json.plainText }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          400,
          0
        ],
        "id": "8d2c9779-6cac-407f-9318-657c79b24224",
        "name": "OP_final_model4",
        "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "errorMessage": "={{\"Что-то пошло не так: \" + $('IfResponseOk3').item.json.msg}}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          192,
          448
        ],
        "id": "17c3e986-3d19-4378-b6f2-73e1eb617a0c",
        "name": "Stop and Error"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "60962d5d-2a8a-4b9a-8cbf-70f7d181b7ab",
                "leftValue": "={{ $json.imgsCount }}",
                "rightValue": 3,
                "operator": {
                  "type": "number",
                  "operation": "lt"
                }
              },
              {
                "id": "c4d18a02-62b3-4043-9abd-fd7d589837ea",
                "leftValue": "={{ $json.isEmpty() }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2880,
          384
        ],
        "id": "a77bfa69-21cd-402f-b8db-25fac5259d72",
        "name": "If"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.message_chat_id }}",
          "text": "={{\"Внесено максимальное количество изменений!\\nУчтены в модели только первые три.\" }}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Создать модель",
                      "additionalFields": {
                        "callback_data": "generateModel"
                      }
                    },
                    {
                      "text": "Прервать",
                      "additionalFields": {
                        "callback_data": "cancel"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2688,
          560
        ],
        "id": "79a424d5-00e1-472f-8b50-c5af8dc85854",
        "name": "OP_final_model1",
        "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f3370f8c-837f-416e-a8b9-268ff8d544f5",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2080,
          368
        ],
        "id": "c5ad3103-8bdd-4505-a35f-c9c86cae57be",
        "name": "IfDebug1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "09b70afd-76f1-459c-9a7c-16af72a0a5de",
                "name": "recievedPrompt",
                "value": "={{$('GetPrompt1').isExecuted && $('GetPrompt1').item.json.PromptText.isNotEmpty()\n?$('GetPrompt1').item.json.PromptText\n:$('SP_ModelRefiner').item.json.systemPromptImgFeature\n}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1760,
          384
        ],
        "id": "4479ebe2-47f7-4adf-b97a-adfaba46a95b",
        "name": "SP_recievedPrompt1"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ",
            "mode": "list",
            "cachedResultName": "N8N prompts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "PromptName",
                "lookupValue": "={{ $('SP_ModelRefiner').item.json.promptName }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1872,
          208
        ],
        "id": "54f17b1f-58fb-45a3-b94e-3b244d20886f",
        "name": "GetPrompt1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          592,
          0
        ],
        "id": "03f43406-1e29-46aa-af7d-70e9c8db66c7",
        "name": "GetCurrentCount"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "replyToMessageIdGallery": 0,
              "imgsCount": "={{ $json.imgsCount>0\n?$json.imgsCount-1\n:0}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "process",
                "displayName": "process",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "faceImgUrl",
                "displayName": "faceImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "faceDescr",
                "displayName": "faceDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "replyToMessageIdGallery",
                "displayName": "replyToMessageIdGallery",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "generatedModelUrl",
                "displayName": "generatedModelUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "generatedModelPrompt",
                "displayName": "generatedModelPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          832,
          0
        ],
        "id": "0a6c9c06-1ff5-4715-acb2-bdcf258d1392",
        "name": "count-1"
      },
      {
        "parameters": {
          "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
          "text": "={{\n\"<b>Я готов создать фотомодель.</b>\" +\"\\n\\n\"+\n\n\"Вы также можете продолжить вносить правки\"+\"\\n\" + \"(осталось правок: \" + (3- $json.imgsCount) +\").\"\n\n }}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Внести правки",
                      "additionalFields": {
                        "callback_data": "addFeature"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Создать модель",
                      "additionalFields": {
                        "callback_data": "generateModel"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1168,
          -64
        ],
        "id": "890ff583-7e8a-4dbe-9503-58740682c95f",
        "name": "OP_final_model5",
        "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cd4ce484-afa3-4d2f-8100-2977a73ae421",
                "name": "upPrompt",
                "value": "={{\"# Request \" + $('UpsertUrl-Object-Status2').item.json.objNames +  \" # Blueprint \" +  $('GetCurrentCount4').item.json.faceDescr }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1440,
          384
        ],
        "id": "6e378eb4-f9a7-4d9d-87a0-bd9400889511",
        "name": "UP_prompt"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "cy2OHtNbUQaDIMP4",
            "mode": "list",
            "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
            "cachedResultName": "subMkPlnTxt"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "systemPrompt_replace": "={{ $json.upPrompt }}"
            },
            "matchingColumns": [
              "systemPrompt_replace"
            ],
            "schema": [
              {
                "id": "systemPrompt_replace",
                "displayName": "systemPrompt_replace",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1264,
          384
        ],
        "id": "2cc3a3c4-e312-4dd9-a8e6-340b9180389d",
        "name": "UP_plain"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "cy2OHtNbUQaDIMP4",
            "mode": "list",
            "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
            "cachedResultName": "subMkPlnTxt"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "systemPrompt_replace": "={{ $json.recievedPrompt}}"
            },
            "matchingColumns": [
              "systemPrompt_replace"
            ],
            "schema": [
              {
                "id": "systemPrompt_replace",
                "displayName": "systemPrompt_replace",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1600,
          384
        ],
        "id": "6d6951cc-b4b4-47e8-85c9-7eaf76496125",
        "name": "SP_plain"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "replyToMessageIdGallery": "={{ $json.result.message_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "process",
                "displayName": "process",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceImgUrl",
                "displayName": "faceImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceDescr",
                "displayName": "faceDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "replyToMessageIdGallery",
                "displayName": "replyToMessageIdGallery",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "generatedModelUrl",
                "displayName": "generatedModelUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "generatedModelPrompt",
                "displayName": "generatedModelPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1408,
          -64
        ],
        "id": "41671c8e-94c4-4350-bbf6-633bd687beba",
        "name": "UpdateImgid"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "replyToMessageIdGallery": "={{ $json.result.message_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "process",
                "displayName": "process",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceImgUrl",
                "displayName": "faceImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceDescr",
                "displayName": "faceDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "replyToMessageIdGallery",
                "displayName": "replyToMessageIdGallery",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "generatedModelUrl",
                "displayName": "generatedModelUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "generatedModelPrompt",
                "displayName": "generatedModelPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1472,
          144
        ],
        "id": "137cd3c3-4779-4651-a5b8-5eb58939e82b",
        "name": "UpdateImgid1"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "replyToMessageIdGallery": "={{ $json.result.message_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "process",
                "displayName": "process",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceImgUrl",
                "displayName": "faceImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceDescr",
                "displayName": "faceDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "replyToMessageIdGallery",
                "displayName": "replyToMessageIdGallery",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "generatedModelUrl",
                "displayName": "generatedModelUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "generatedModelPrompt",
                "displayName": "generatedModelPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1504,
          336
        ],
        "id": "f6e14820-adad-49d1-94ae-6717d5a45c8f",
        "name": "UpdateImgid2"
      }
    ],
    "connections": {
      "urlModel3": {
        "main": [
          [
            {
              "node": "UpsertUrl-Object-Status2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UpsertFeatureNameDecr": {
        "main": [
          [
            {
              "node": "GetCurrentCount5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetCurrentCount5": {
        "main": [
          [
            {
              "node": "If<3iterations",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a chat action5": {
        "main": [
          [
            {
              "node": "Call 'subTR_API_AI_Selector'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfResponseOk3": {
        "main": [
          [
            {
              "node": "UpdateImgCount",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UpdateImgCount": {
        "main": [
          [
            {
              "node": "IfError",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetCurrentCount4": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UpsertUrl-Object-Status2": {
        "main": [
          [
            {
              "node": "GetCurrentCount4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "urlModel3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'subTR_API_AI_Selector'": {
        "main": [
          [
            {
              "node": "Call 'subMkPlnTxt'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'subMkPlnTxt'": {
        "main": [
          [
            {
              "node": "IfResponseOk3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If<3iterations": {
        "main": [
          [
            {
              "node": "OP_final_model3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "OP_final_model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OP_final_model3": {
        "main": [
          [
            {
              "node": "UpdateImgid1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OP_final_model": {
        "main": [
          [
            {
              "node": "UpdateImgid2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SP_ModelRefiner": {
        "main": [
          [
            {
              "node": "IfDebug1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfError": {
        "main": [
          [
            {
              "node": "OP_final_model4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "UpsertFeatureNameDecr",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "SP_ModelRefiner",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "OP_final_model1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug1": {
        "main": [
          [
            {
              "node": "GetPrompt1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SP_recievedPrompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetPrompt1": {
        "main": [
          [
            {
              "node": "SP_recievedPrompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SP_recievedPrompt1": {
        "main": [
          [
            {
              "node": "SP_plain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OP_final_model4": {
        "main": [
          [
            {
              "node": "GetCurrentCount",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetCurrentCount": {
        "main": [
          [
            {
              "node": "count-1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "count-1": {
        "main": [
          [
            {
              "node": "OP_final_model5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OP_final_model5": {
        "main": [
          [
            {
              "node": "UpdateImgid",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UP_prompt": {
        "main": [
          [
            {
              "node": "UP_plain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UP_plain": {
        "main": [
          [
            {
              "node": "Send a chat action5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SP_plain": {
        "main": [
          [
            {
              "node": "UP_prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DLS  ",
    "name": "Version 1616e951",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "1616e951-e17f-4546-9ed9-cf150772bc0c",
  "connections": {
    "urlModel3": {
      "main": [
        [
          {
            "node": "UpsertUrl-Object-Status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpsertFeatureNameDecr": {
      "main": [
        [
          {
            "node": "GetCurrentCount5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCurrentCount5": {
      "main": [
        [
          {
            "node": "If<3iterations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action5": {
      "main": [
        [
          {
            "node": "Call 'subTR_API_AI_Selector'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfResponseOk3": {
      "main": [
        [
          {
            "node": "UpdateImgCount",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateImgCount": {
      "main": [
        [
          {
            "node": "IfError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCurrentCount4": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpsertUrl-Object-Status2": {
      "main": [
        [
          {
            "node": "GetCurrentCount4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "urlModel3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subTR_API_AI_Selector'": {
      "main": [
        [
          {
            "node": "Call 'subMkPlnTxt'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subMkPlnTxt'": {
      "main": [
        [
          {
            "node": "IfResponseOk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If<3iterations": {
      "main": [
        [
          {
            "node": "OP_final_model3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OP_final_model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OP_final_model3": {
      "main": [
        [
          {
            "node": "UpdateImgid1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OP_final_model": {
      "main": [
        [
          {
            "node": "UpdateImgid2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP_ModelRefiner": {
      "main": [
        [
          {
            "node": "IfDebug1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfError": {
      "main": [
        [
          {
            "node": "OP_final_model4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UpsertFeatureNameDecr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "SP_ModelRefiner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OP_final_model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug1": {
      "main": [
        [
          {
            "node": "GetPrompt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP_recievedPrompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetPrompt1": {
      "main": [
        [
          {
            "node": "SP_recievedPrompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP_recievedPrompt1": {
      "main": [
        [
          {
            "node": "SP_plain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OP_final_model4": {
      "main": [
        [
          {
            "node": "GetCurrentCount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCurrentCount": {
      "main": [
        [
          {
            "node": "count-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "count-1": {
      "main": [
        [
          {
            "node": "OP_final_model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OP_final_model5": {
      "main": [
        [
          {
            "node": "UpdateImgid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UP_prompt": {
      "main": [
        [
          {
            "node": "UP_plain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UP_plain": {
      "main": [
        [
          {
            "node": "Send a chat action5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP_plain": {
      "main": [
        [
          {
            "node": "UP_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-02T16:44:29.999Z",
  "id": "wiWVjK9If7AXfrMb",
  "isArchived": false,
  "meta": null,
  "name": "subTR_CM_GetFeature",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message_chat_id }}",
        "text": "={{\"Что-то пошло не так: \" + $('IfResponseOk3').item.json.msg}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        672
      ],
      "id": "383c4d48-240d-4829-9c01-cb73a4739042",
      "name": "Send a text message1",
      "webhookId": "c2768f85-f20e-4f82-96e0-41de3c69bd92",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.kie.ai/{{$('Start').item.json.modelName}}/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Start').item.json.message_caption }}\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $('UpsertUrl-Object-Status2').item.json.objUrl }}\"\n          }\n        }\n      ]\n    },\n    {\n      \"role\": \"system\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('SP_plain').item.json.plainText }}\"\n        }\n      ]\n    }\n  ],\n  \"tools\": [\n    {\n      \"type\": \"function\",\n      \"function\": {\n        \"name\": \"googleSearch\"\n      }\n    }\n  ],\n  \"stream\": false,\n  \"include_thoughts\": false,\n  \"reasoning_effort\": \"low\",\n  \"response_format\": {\n    \"type\": \"text\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 1000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1008,
        96
      ],
      "id": "e1ac7625-054d-4d7a-baee-f171a78234d7",
      "name": "AI_Model+Feature"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Start').item.json.message_chat_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1072,
        384
      ],
      "id": "35996858-9dcf-4bf6-ba08-5d5e1cd4582c",
      "name": "Send a chat action5",
      "webhookId": "d9b28dce-5a43-45b7-ae61-7a0113460e73",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ebf1b473-80ad-42bd-acaa-1446197e4bc1",
              "leftValue": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.data === empty }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        384
      ],
      "id": "21f16e17-95a8-40c6-8908-5e8653387f8c",
      "name": "IfResponseOk3"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Start').item.json.message_chat_id }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $('Start').item.json.message_chat_id }}"
            },
            {
              "keyName": "process",
              "keyValue": "/createmodel"
            },
            {
              "keyName": "status",
              "keyValue": "GetFeatureGallery"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $('Start').item.json.message_chat_id }}",
            "dialogId": "={{ $('Start').item.json.message_chat_id }}",
            "imgsCount": "={{ $('GetCurrentCount4').item.json.isNotEmpty()\n?$('GetCurrentCount4').item.json.imgsCount+1\n:1\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "promptModel",
              "displayName": "promptModel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -48,
        176
      ],
      "id": "441afd97-2dab-4d83-9043-c969e2c26fa2",
      "name": "UpdateImgCount"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Start').item.json.message_chat_id }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $('Start').item.json.message_chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "GetFeatureGallery"
            },
            {
              "keyName": "process",
              "keyValue": "/createmodel"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3440,
        368
      ],
      "id": "da19cc49-9033-4db0-8435-901a492b163b",
      "name": "GetCurrentCount4",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa07ac43-d5ec-4875-980b-2bd546fe2c4e",
              "name": "imgUrl",
              "value": "={{ \"https://api.telegram.org/file/bot\" +$('Start').item.json.botToken + \"/\" + $('Start').item.json.result_file_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3824,
        368
      ],
      "id": "36c8979b-dbf5-429c-83f8-07daae18c206",
      "name": "urlModel3"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "NJfAQt9WXtWm5g15",
          "mode": "list",
          "cachedResultName": "TrendcoreObjectDescr",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/NJfAQt9WXtWm5g15"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Start').item.json.message_chat_id }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $('Start').item.json.message_chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "FeatureGalleryRecieved"
            },
            {
              "keyName": "objUrl",
              "keyValue": "={{ \"https://api.telegram.org/file/bot\" + $('Start').item.json.botToken +\"/\"+ $('Start').item.json.result_file_path }}"
            },
            {
              "keyName": "objectMainId",
              "keyValue": "={{ $('Start').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "objUrl": "={{ \"https://api.telegram.org/file/bot\" + $('Start').item.json.botToken + \"/\"+$('Start').item.json.result_file_path }}",
            "objNames": "={{ $('Start').item.json.message_caption }}",
            "userId": "={{ $('Start').item.json.message_chat_id }}",
            "dialogId": "={{ $('Start').item.json.message_chat_id }}",
            "status": "FeatureGalleryRecieved",
            "objectMainId": "={{ $('Start').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objectMainId",
              "displayName": "objectMainId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objNames",
              "displayName": "objNames",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objUrl",
              "displayName": "objUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objectDescr",
              "displayName": "objectDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3632,
        368
      ],
      "id": "a9584209-0319-4af6-9d73-b6e7e168225a",
      "name": "UpsertUrl-Object-Status2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "NJfAQt9WXtWm5g15",
          "mode": "list",
          "cachedResultName": "TrendcoreObjectDescr",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/NJfAQt9WXtWm5g15"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "objectMainId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}"
            },
            {
              "keyName": "status",
              "keyValue": "FeatureGalleryRecieved"
            },
            {
              "keyName": "objUrl",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.imgUrls }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
            "dialogId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
            "objectMainId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}",
            "status": "FeatureGalleryRecieved",
            "objNames": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.ObjName }}",
            "objUrl": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.imgUrls }}",
            "objectDescr": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objectMainId",
              "displayName": "objectMainId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objNames",
              "displayName": "objNames",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objUrl",
              "displayName": "objUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objectDescr",
              "displayName": "objectDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        544,
        192
      ],
      "id": "fbb98d86-7fa7-42a1-8478-21710f69cf81",
      "name": "UpsertFeatureNameDecr"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        800,
        192
      ],
      "id": "3bad004f-fed1-48ac-8353-09b3ad17a066",
      "name": "GetCurrentCount5"
    },
    {
      "parameters": {
        "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
        "text": "={{\n\"Правки внесены!\" +\"\\n\\n\"+\n\n\"<b>Я готов создать фотомодель.</b>\" +\"\\n\\n\"+\n\n\"Вы также можете продолжить вносить правки\"+\"\\n\" + \"(осталось правок: \" + (3- $('GetCurrentCount5').item.json.imgsCount) +\").\"\n\n }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Внести правки",
                    "additionalFields": {
                      "callback_data": "addFeature"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Создать модель",
                    "additionalFields": {
                      "callback_data": "generateModel"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        144
      ],
      "id": "a777df74-7db8-4b82-941c-8f1a31f27bc7",
      "name": "OP_final_model3",
      "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message_chat_id",
              "type": "any"
            },
            {
              "name": "message_caption",
              "type": "any"
            },
            {
              "name": "result_file_path",
              "type": "any"
            },
            {
              "name": "botToken",
              "type": "any"
            },
            {
              "name": "modelName",
              "type": "any"
            },
            {
              "name": "id",
              "type": "any"
            },
            {
              "name": "modelApi"
            },
            {
              "name": "debugMode"
            }
          ]
        }
      },
      "id": "dd39d920-e747-4eb0-9658-23003fd979bb",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -4064,
        368
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MCKUe6c7lEWRrPCq",
          "mode": "list",
          "cachedResultUrl": "/workflow/MCKUe6c7lEWRrPCq",
          "cachedResultName": "subTR_API_AI_Selector"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "urlList_bool": false,
            "chat_id": "={{ $('Start').item.json.message_chat_id }}",
            "objectMainId": "={{ $('Start').item.json.id }}",
            "modelName": "={{ $('Start').item.json.modelName }}",
            "apiName": "={{ $('Start').item.json.modelApi }}",
            "botTocken": "={{ $('Start').item.json.botToken }}",
            "imgUrls": "={{ \"https://api.telegram.org/file/bot\" + $('Start').item.json.botToken + \"/\" + $('Start').item.json.result_file_path }}",
            "ObjName": "={{ $('Start').item.json.message_caption }}",
            "userPrompt": "={{ $('UP_plain').item.json.plainText }}",
            "systemPrompt": "={{ $('SP_plain').item.json.plainText }}",
            "debugMode": "={{ $('Start').item.json.debugMode }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "modelName",
              "displayName": "modelName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "apiName",
              "displayName": "apiName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imgUrls",
              "displayName": "imgUrls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "ObjName",
              "displayName": "ObjName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "objectMainId",
              "displayName": "objectMainId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "ObjNameLocal",
              "displayName": "ObjNameLocal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "botTocken",
              "displayName": "botTocken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "urlList_bool",
              "displayName": "urlList_bool",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "debugMode",
              "displayName": "debugMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -848,
        384
      ],
      "id": "421f3fe7-0c32-407f-a22e-129c723cc08d",
      "name": "Call 'subTR_API_AI_Selector'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cy2OHtNbUQaDIMP4",
          "mode": "list",
          "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
          "cachedResultName": "subMkPlnTxt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt_replace": "={{ $json.data }}"
          },
          "matchingColumns": [
            "systemPrompt_replace"
          ],
          "schema": [
            {
              "id": "systemPrompt_replace",
              "displayName": "systemPrompt_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -672,
        384
      ],
      "id": "952c26ca-2773-4b96-a13f-e2171f7e3efa",
      "name": "Call 'subMkPlnTxt'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "73b813d4-c0fe-4d83-9fb2-c9b594025fb9",
              "leftValue": "={{ $json.imgsCount }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        192
      ],
      "id": "55693ede-645e-4ac2-a9c0-c3622267f0f7",
      "name": "If<3iterations"
    },
    {
      "parameters": {
        "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
        "text": "={{\"<b>Все правки внесены!</b>\" + \"\\n\\n\" +\n\n\"Я готов создать фотомодель.\" }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Создать фотомодель",
                    "additionalFields": {
                      "callback_data": "generateModel"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        336
      ],
      "id": "4014fa15-fca4-4453-a4c1-219c339ea045",
      "name": "OP_final_model",
      "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b51b3b63-2255-45fe-9023-8b136b8f4080",
              "name": "systemPromptImgFeature",
              "value": "<system_identity>\nModel-Refiner v31-R1 (Release 1 - Gemini 3.1 Validated + Kids Age Lock).\nObjective: Refine ONLY the requested anatomical category inside an existing Blueprint using a source image. Preserve the original visual identity, facial typology, and age-specific read. Do not redesign the person or improve the whole Blueprint. Update only the requested feature via visible morphology and structural geometry.\n</system_identity>\n\n<input_parsing_and_errors>\nYou will receive one source image and a text input with two sections: \"# Request\" and \"# Blueprint\". Ignore the labels themselves during output. Trim all spaces.\n\nCRITICAL ERROR HANDLING (Return EXACT strings only, no other text):\n1. IF \"# Request\" or \"# Blueprint\" is missing, OR if either section is empty, OR if Blueprint localization fails, OR if no valid category remains after alias mapping:\n   Return EXACTLY: ⚠ Error. Ошибка - возможно, запрос составлен неверно.\n2. IF the image is non-human, heavily stylized, obstructed, or the requested category is not structurally readable:\n   Return EXACTLY: ⚠ Error. Ошибка - возможно, лицо плохо видно, или запрашиваемую деталь невозможно распознать.\n</input_parsing_and_errors>\n\n<category_mapping>\nCanonical Categories: 1. Gender 2. Age range 3. Face shape 4. Facial proportions 5. Skin 6. Forehead and hairline 7. Eyebrows 8. Eyes 9. Nose 10. Cheeks and cheekbones 11. Lips and philtrum 12. Jawline and chin 13. Facial hair 14. Ears 15. Scalp hair.\n- Map request terms (e.g., \"прическа\" -> Scalp hair) to the nearest canonical category. Process duplicate category requests only once.\n</category_mapping>\n\n<core_preservation_guardrails>\n- Lock all non-requested categories.\n- Preserve overall facial type, structural impression, pigmentation, and contrast pattern. Preserve age class strictly UNLESS \"Age range\" is the specific requested category for refinement.\n- Wrapper-Resistance: Preserve skin depth/undertone, midface structure, lip outline, and jaw taper with extra care.\n- Do NOT beautify, average, or age-shift. Do NOT add makeup. Omit tiny facial marks unless omitting them severely misdescribes the face.\n- Cross-Identity Styling Exception: The user may provide a reference image of a completely different person (different ethnicity, skin color, or gender) solely to extract the requested feature (e.g., a hairstyle). If this occurs, DO NOT flag it as an error. Extract ONLY the geometry, texture, and volume of the requested feature from the image, and seamlessly adapt it to fit the locked identity defined in the Blueprint.\n</core_preservation_guardrails>\n\n<anti_inertia_and_integration>\nCRITICAL: If a requested feature changes the visual silhouette (especially Hair or Facial Hair), treat it as an appearance-transforming feature. You MUST refine the smallest coherent affected block and AGGRESSIVELY clear residual structural anchors from the old Blueprint that conflict with the new feature.\n- Target-Summary Consistency: The final synthesis sentence must explicitly reinforce the new structural mass. It must not genericize or undo the refined category.\n\nLinked-Category Conflict Repair (IF X changes, MUST check Y):\n- Scalp hair <-> Forehead, hairline, ears, and neck profile (e.g., changing to long hair MUST remove \"clean hairline\", \"exposed temples\", \"short sides\", or \"clean jawline profile\").\n- Facial hair <-> Jawline and chin.\n- Eyes <-> Eyebrows.\n- Lips and philtrum <-> Jawline and chin.\n- Age range <-> Facial proportions, Cheeks, Jawline, and Skin: \n  * If the requested refinement changes an adult to a child/preteen, you MUST insert a specific numerical age (e.g., \"7-year-old\") and aggressively clear adult structural terms (e.g., \"sharp jaw,\" \"defined cheekbones\"), replacing them with juvenile morphology (e.g., \"soft buccal fat,\" \"undeveloped jawline,\" \"high eye-to-face ratio\").\n  * If the requested refinement changes a child to an adult, you MUST aggressively remove numerical child ages and all juvenile morphology, replacing them with mature adult bone definition.\n</anti_inertia_and_integration>\n\n<hair_and_mass_override_rules>\nWhen refining Scalp Hair, describe structural behavior and mass first:\n- Overall length and spatial volume (Does it cover ears/neck/shoulders?). If the new hair is long, explicitly state it covers the neck/shoulders to OVERRIDE downstream short-hair bias.\n- Root volume/flatness and Directional pull (e.g., \"heavy strands falling to shoulders\"). \n- Use \"slicked back\" ONLY for short hair. For long hair, use \"pushed back\" or \"weighted back behind ears\".\n- Forehead-exposure mechanism: Specify if exposure is caused by lifted volume, clean dry sweep, tight pull-back, or heavy wet strands. Do not leave underspecified.\n- Do not reduce distinctive styles to generic labels.\n</hair_and_mass_override_rules>\n\n<execution_flow>\n1. Parse Request and base Blueprint.\n2. Validate image visibility against requested categories (Trigger Error 2 if invalid).\n3. Map Request to Canonical Categories (Trigger Error 1 if invalid).\n4. Localize the specific sentence(s) in the Blueprint.\n5. Apply local refinement based on the image using structure, mass, contour, volume, and texture (No stylistic/camera language. English only).\n6. Apply `<anti_inertia_and_integration>`: Minimally repair directly adjacent sentences to fix factual/structural incompatibilities.\n7. Verify all non-requested `<core_preservation_guardrails>` remain locked.\n8. Output ONLY the final refined Blueprint as one continuous prose paragraph.\n</execution_flow>\n\n<strict_output_contract>\nOutput EXACTLY ONE continuous prose paragraph in English (the refined Blueprint), OR one of the exact Russian error strings. \nNO markdown, NO code blocks, NO bold text, NO bullet points, NO labels, NO prefixes, NO newline characters.\n</strict_output_contract>",
              "type": "string"
            },
            {
              "id": "0d6a95d6-233d-448e-b28d-92ae6992c689",
              "name": "systemPromptModelDescr",
              "value": "={{ $('GetCurrentCount4').item.json.faceDescr }}",
              "type": "string"
            },
            {
              "id": "70ccc749-a57a-4c10-b585-6363ead0a506",
              "name": "promptName",
              "value": "Model-Refiner",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2320,
        368
      ],
      "id": "0f44bcef-a177-43ec-97e9-d97ffc7a0c6c",
      "name": "SP_ModelRefiner"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "037443f6-4f02-4014-9521-711cefbca918",
              "leftValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.data }}",
              "rightValue": "Error",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        96
      ],
      "id": "36435dfc-395c-47c4-988d-a6904ae79d7f",
      "name": "IfError"
    },
    {
      "parameters": {
        "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
        "text": "={{ $('Call \\'subMkPlnTxt\\'').item.json.plainText }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        0
      ],
      "id": "8d2c9779-6cac-407f-9318-657c79b24224",
      "name": "OP_final_model4",
      "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "errorMessage": "={{\"Что-то пошло не так: \" + $('IfResponseOk3').item.json.msg}}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        192,
        448
      ],
      "id": "17c3e986-3d19-4378-b6f2-73e1eb617a0c",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "60962d5d-2a8a-4b9a-8cbf-70f7d181b7ab",
              "leftValue": "={{ $json.imgsCount }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "c4d18a02-62b3-4043-9abd-fd7d589837ea",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2880,
        384
      ],
      "id": "a77bfa69-21cd-402f-b8db-25fac5259d72",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message_chat_id }}",
        "text": "={{\"Внесено максимальное количество изменений!\\nУчтены в модели только первые три.\" }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Создать модель",
                    "additionalFields": {
                      "callback_data": "generateModel"
                    }
                  },
                  {
                    "text": "Прервать",
                    "additionalFields": {
                      "callback_data": "cancel"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2688,
        560
      ],
      "id": "79a424d5-00e1-472f-8b50-c5af8dc85854",
      "name": "OP_final_model1",
      "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f3370f8c-837f-416e-a8b9-268ff8d544f5",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2080,
        368
      ],
      "id": "c5ad3103-8bdd-4505-a35f-c9c86cae57be",
      "name": "IfDebug1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09b70afd-76f1-459c-9a7c-16af72a0a5de",
              "name": "recievedPrompt",
              "value": "={{$('GetPrompt1').isExecuted && $('GetPrompt1').item.json.PromptText.isNotEmpty()\n?$('GetPrompt1').item.json.PromptText\n:$('SP_ModelRefiner').item.json.systemPromptImgFeature\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        384
      ],
      "id": "4479ebe2-47f7-4adf-b97a-adfaba46a95b",
      "name": "SP_recievedPrompt1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ",
          "mode": "list",
          "cachedResultName": "N8N prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "PromptName",
              "lookupValue": "={{ $('SP_ModelRefiner').item.json.promptName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1872,
        208
      ],
      "id": "54f17b1f-58fb-45a3-b94e-3b244d20886f",
      "name": "GetPrompt1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        592,
        0
      ],
      "id": "03f43406-1e29-46aa-af7d-70e9c8db66c7",
      "name": "GetCurrentCount"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "replyToMessageIdGallery": 0,
            "imgsCount": "={{ $json.imgsCount>0\n?$json.imgsCount-1\n:0}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "process",
              "displayName": "process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "faceImgUrl",
              "displayName": "faceImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "faceDescr",
              "displayName": "faceDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "replyToMessageIdGallery",
              "displayName": "replyToMessageIdGallery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generatedModelUrl",
              "displayName": "generatedModelUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generatedModelPrompt",
              "displayName": "generatedModelPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        832,
        0
      ],
      "id": "0a6c9c06-1ff5-4715-acb2-bdcf258d1392",
      "name": "count-1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
        "text": "={{\n\"<b>Я готов создать фотомодель.</b>\" +\"\\n\\n\"+\n\n\"Вы также можете продолжить вносить правки\"+\"\\n\" + \"(осталось правок: \" + (3- $json.imgsCount) +\").\"\n\n }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Внести правки",
                    "additionalFields": {
                      "callback_data": "addFeature"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Создать модель",
                    "additionalFields": {
                      "callback_data": "generateModel"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1168,
        -64
      ],
      "id": "890ff583-7e8a-4dbe-9503-58740682c95f",
      "name": "OP_final_model5",
      "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd4ce484-afa3-4d2f-8100-2977a73ae421",
              "name": "upPrompt",
              "value": "={{\"# Request \" + $('UpsertUrl-Object-Status2').item.json.objNames +  \" # Blueprint \" +  $('GetCurrentCount4').item.json.faceDescr }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        384
      ],
      "id": "6e378eb4-f9a7-4d9d-87a0-bd9400889511",
      "name": "UP_prompt"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cy2OHtNbUQaDIMP4",
          "mode": "list",
          "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
          "cachedResultName": "subMkPlnTxt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt_replace": "={{ $json.upPrompt }}"
          },
          "matchingColumns": [
            "systemPrompt_replace"
          ],
          "schema": [
            {
              "id": "systemPrompt_replace",
              "displayName": "systemPrompt_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1264,
        384
      ],
      "id": "2cc3a3c4-e312-4dd9-a8e6-340b9180389d",
      "name": "UP_plain"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cy2OHtNbUQaDIMP4",
          "mode": "list",
          "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
          "cachedResultName": "subMkPlnTxt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt_replace": "={{ $json.recievedPrompt}}"
          },
          "matchingColumns": [
            "systemPrompt_replace"
          ],
          "schema": [
            {
              "id": "systemPrompt_replace",
              "displayName": "systemPrompt_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1600,
        384
      ],
      "id": "6d6951cc-b4b4-47e8-85c9-7eaf76496125",
      "name": "SP_plain"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "replyToMessageIdGallery": "={{ $json.result.message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "process",
              "displayName": "process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceImgUrl",
              "displayName": "faceImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceDescr",
              "displayName": "faceDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "replyToMessageIdGallery",
              "displayName": "replyToMessageIdGallery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generatedModelUrl",
              "displayName": "generatedModelUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generatedModelPrompt",
              "displayName": "generatedModelPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1408,
        -64
      ],
      "id": "41671c8e-94c4-4350-bbf6-633bd687beba",
      "name": "UpdateImgid"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "replyToMessageIdGallery": "={{ $json.result.message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "process",
              "displayName": "process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceImgUrl",
              "displayName": "faceImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceDescr",
              "displayName": "faceDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "replyToMessageIdGallery",
              "displayName": "replyToMessageIdGallery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generatedModelUrl",
              "displayName": "generatedModelUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generatedModelPrompt",
              "displayName": "generatedModelPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1472,
        144
      ],
      "id": "137cd3c3-4779-4651-a5b8-5eb58939e82b",
      "name": "UpdateImgid1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "replyToMessageIdGallery": "={{ $json.result.message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "process",
              "displayName": "process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceImgUrl",
              "displayName": "faceImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceDescr",
              "displayName": "faceDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "replyToMessageIdGallery",
              "displayName": "replyToMessageIdGallery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generatedModelUrl",
              "displayName": "generatedModelUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generatedModelPrompt",
              "displayName": "generatedModelPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1504,
        336
      ],
      "id": "f6e14820-adad-49d1-94ae-6717d5a45c8f",
      "name": "UpdateImgid2"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Db9RTL99yUCO77oO",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-02T16:44:30.001Z",
      "createdAt": "2026-03-02T16:44:30.001Z",
      "role": "workflow:owner",
      "workflowId": "wiWVjK9If7AXfrMb",
      "projectId": "M9bTlSGaaAbsZxvs"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-02T14:25:49.831Z",
      "createdAt": "2026-03-02T14:25:49.831Z",
      "id": "6ZyTvRGaNVzskE04",
      "name": "TG_PROD"
    },
    {
      "updatedAt": "2026-03-02T14:26:37.547Z",
      "createdAt": "2026-03-02T14:26:37.547Z",
      "id": "GMjsmRwAA3LPhUiT",
      "name": "SP_ModelRefiner"
    },
    {
      "updatedAt": "2026-03-02T14:26:06.738Z",
      "createdAt": "2026-03-02T14:26:06.738Z",
      "id": "tzvi3HGYBgqT00vr",
      "name": "CM"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-28T10:43:17.068Z",
  "versionId": "1616e951-e17f-4546-9ed9-cf150772bc0c"
}