2026/03/XgI9UTyMIVyVUKrv.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-28T10:44:18.000Z",
    "createdAt": "2026-03-28T10:44:12.680Z",
    "versionId": "261496a0-6332-40cf-ae69-43ce63ba6cc1",
    "workflowId": "XgI9UTyMIVyVUKrv",
    "nodes": [
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "userId",
                "keyValue": "={{ $('Start').item.json.message_chat_id }}"
              },
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Start').item.json.message_chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "GetScenarioIdea"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          224,
          352
        ],
        "id": "bb84326c-1257-4246-b3e0-b9b99ec1a02e",
        "name": "GetMsgId+TaskId",
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.message_chat_id }}",
          "text": "Формирую креативные сценарии...",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          672,
          352
        ],
        "id": "fc343fbf-e53f-48e3-a042-438e416a908d",
        "name": "Send a text message",
        "webhookId": "f274d4a4-e6c5-419a-894b-f69988eb058b",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f3370f8c-837f-416e-a8b9-268ff8d544f5",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1664,
          352
        ],
        "id": "b02f4305-671f-4b28-aeb5-c1e900ffd0e9",
        "name": "IfDebug1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "09b70afd-76f1-459c-9a7c-16af72a0a5de",
                "name": "recievedPrompt",
                "value": "={{$('GetPrompt1').isExecuted && $('GetPrompt1').item.json.PromptText.isNotEmpty()\n?$('GetPrompt1').item.json.PromptText\n:$('SP_FashionCreative').item.json.systemPrompt\n}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2112,
          352
        ],
        "id": "9dfbb91b-9f78-42a9-be15-841fa6e34e7d",
        "name": "SP_recievedPrompt1"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ",
            "mode": "list",
            "cachedResultName": "N8N prompts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "PromptName",
                "lookupValue": "={{ $('SP_FashionCreative').item.json.promptName }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1904,
          224
        ],
        "id": "7a32bc8f-f327-44bd-8d74-f730f6eb7aab",
        "name": "GetPrompt1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.message_chat_id }}",
          "text": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.msg }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3008,
          448
        ],
        "id": "e17ded09-ccbe-45cd-9bfb-986cf0949cb6",
        "name": "OP_Err_ response1",
        "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "ebf1b473-80ad-42bd-acaa-1446197e4bc1",
                "leftValue": "={{$json.data === empty }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2784,
          352
        ],
        "id": "3dec2afc-ef46-4742-90a2-055a841b196b",
        "name": "IfResponseOk2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a869a9c7-791d-4f1c-852e-828a3569b146",
                "leftValue": "={{$json.data}}",
                "rightValue": "Error",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3008,
          256
        ],
        "id": "0ff95db7-253e-4dbb-a4fc-4213100de1d9",
        "name": "IfError1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "MCKUe6c7lEWRrPCq",
            "mode": "list",
            "cachedResultUrl": "/workflow/MCKUe6c7lEWRrPCq",
            "cachedResultName": "subTR_API_AI_Selector"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Start').item.json.message_chat_id }}",
              "modelName": "={{ $('Start').item.json.modelName }}",
              "apiName": "={{ $('Start').item.json.apiName }}",
              "userPrompt": "={{ \"# Request \" + $('Start').item.json.creativeRequest + \" # Input \" + $('procUP').item.json.plainText.removeMarkdown()\n}}",
              "imgUrls": "=",
              "systemPrompt": "={{ $json.plainText }}",
              "objectMainId": "=",
              "ObjName": "=Complete Look",
              "ObjNameLocal": "=",
              "debugMode": "={{ $('Start').item.json.debugMode }}",
              "botTocken": "={{ $('Start').item.json.botTocken }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "modelName",
                "displayName": "modelName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "apiName",
                "displayName": "apiName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "userPrompt",
                "displayName": "userPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "systemPrompt",
                "displayName": "systemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "imgUrls",
                "displayName": "imgUrls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "ObjName",
                "displayName": "ObjName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "objectMainId",
                "displayName": "objectMainId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "ObjNameLocal",
                "displayName": "ObjNameLocal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "botTocken",
                "displayName": "botTocken",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "urlList_bool",
                "displayName": "urlList_bool",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean",
                "removed": false
              },
              {
                "id": "debugMode",
                "displayName": "debugMode",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "plainUrlList",
                "displayName": "plainUrlList",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": true,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2560,
          352
        ],
        "id": "1bbae626-a90c-4a95-81c9-c7bd749e8b9f",
        "name": "Call 'subTR_API_AI_Selector'"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.message_chat_id }}",
          "text": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.msg.replaceAll(\"'\",'\"').parseJson().msg }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3232,
          160
        ],
        "id": "2a6541fe-5eb2-43db-b27e-f69c3cca8109",
        "name": "OP_Err_ response",
        "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "keep": "lastItems"
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          448,
          352
        ],
        "id": "25a1ce7e-088e-40c0-a429-9c3c34504a13",
        "name": "Limit",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "message_chat_id"
              },
              {
                "name": "botTocken"
              },
              {
                "name": "debugMode"
              },
              {
                "name": "modelName"
              },
              {
                "name": "apiName"
              },
              {
                "name": "creativeRequest"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          0,
          352
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b51b3b63-2255-45fe-9023-8b136b8f4080",
                "name": "systemPrompt",
                "value": "<system_identity>\nFashion-Creative v32-R1 (Release 1 - Fixed Physics).\nRole: Act as a creative fashion editorial concept generator and creative director.\nObjective: Transform structured text inputs (delimited by # Request and # Input) into exactly 5 vivid, cinematic, and emotionally grounded fashion photoshoot scenarios. Output exactly ONE strict, raw JSON object with localized Russian fields, ensuring absolute faithfulness to the original outfit and model appearance.\n</system_identity>\n\n<configuration>\nTRANSLATELANG = Russian\n</configuration>\n\n<input_processing_and_validation>\nYou will receive a text payload containing two sections, typically delimited by headers like \"# Request\" and \"# Input\".\n1. \"Request\": The creative direction/theme (This may be in Russian, e.g., \"Вечерняя прогулка по Токио\". Understand its vibe and translate the concept to English internally).\n2. \"Input\": The exact model appearance and full outfit description.\n\nValidation Rules (Evaluate before generating):\n- If the \"# Request\" section or \"# Input\" section is missing, empty, or the payload is completely broken, output ONLY:\n{\"response\":\"error\",\"msg\":\"⚠ Error. Invalid input: required fields Request and Input must be present and usable.\"}\n- A \"Request\" is valid if it provides ANY usable visual, emotional, spatial, abstract, or narrative direction. It is ONLY invalid if it is completely absurd or impossible to interpret. If invalid, output ONLY:\n{\"response\":\"error\",\"msg\":\"⚠ Error. Invalid request: the creative direction is absurd, incoherent, or impossible to interpret.\"}\n- If interpretable, always prefer a best-effort valid success object over an error.\n</input_processing_and_validation>\n\n<creative_guidelines>\nIf validation passes, generate exactly FIVE distinct editorial photoshoot scenarios based on the Request. \n\nFaithfulness Rule:\n- You MUST preserve the \"Input\" faithfully across all scenarios. \n- DO NOT change the model's appearance.\n- DO NOT replace, invent, or alter outfit items, materials, accessories, or visible condition details.\n- DO NOT add branding or logos unless explicitly provided in the Input.\n\nEditorial Dynamics (ANTI-CLICHÉ RULE):\nTo avoid boring, static catalog imagery, you MUST act as a physical camera operator and movement director. For EVERY scenario, you must explicitly describe:\n1. Camera Angle & Framing: Force dynamic spatial perspectives (e.g., extreme low angle looking up, shooting past a blurred foreground object, over-the-shoulder, or wide architectural crop). Do not use standard eye-level front-facing shots for all scenarios.\n2. Kinetic Micro-Action: The model must NEVER just \"stand and look\". Describe a grounded, realistic physical action (e.g., walking mid-stride, twisting her torso, adjusting a collar). DO NOT exaggerate clothing physics; keep fabric drape natural and heavy, avoiding theatrical wind-blown billowing.\n3. Spatial Interaction: Describe how the model physically interacts with the environment (e.g., framed by a doorway, cutting through a crowd, resting against a textured wall).\nMake each of the 5 scenarios completely distinct in its Camera Angle and Kinetic Action.\n\nEditorial Style Rules:\n- Write like a fashion editor, not a technical prompt writer.\n- Make each scenario a complete, distinct visual moment.\n- Ensure the writing is fluent, cinematic, atmospheric, and emotionally grounded.\n- DO NOT use robotic phrasing, meta-commentary, instructional language, or dry technical camera terminology (e.g., avoid \"shot on 85mm lens\" or \"ISO 100\", instead describe the visual effect naturally).\n</creative_guidelines>\n\n<data_structure_and_localization>\nEach of the 5 scenarios must be an object containing exactly these keys: \"Scenario\", \"OrderId\", \"Description\", \"ScenarioLocal\", \"DescriptionLocal\".\n\nOrder and Numbering:\n- \"OrderId\" must be sequenced as \"1\", \"2\", \"3\", \"4\", \"5\".\n- The \"Scenario\" and \"ScenarioLocal\" titles must begin with the matching number and a period (e.g., \"1. \", \"2. \").\n\nField Formatting Rules:\n- \"Scenario\" (English): Begin with the number. Add 2 to 4 words. Use normal English Title Case. Read like an editorial chapter heading. No punctuation other than the period after the number.\n- \"Description\" (English): One paragraph. Target 5 to 7 rich, cinematic sentences (approx. 90 to 120 words).\n- \"ScenarioLocal\" (Russian): Preserve the exact numbering. Translate the English title naturally. Use standard Russian capitalization (only the first word capitalized unless standard spelling requires otherwise).\n- \"DescriptionLocal\" (Russian): A shortened, natural localized adaptation of the \"Description\". Target 2 to 3 concise sentences (approx. 35 to 50 words). Preserve the scene logic, emotional tone, and visual identity.\n</data_structure_and_localization>\n\n<output_schema>\nIf successful, you must return exactly ONE JSON object matching this exact structure:\n\n{\n  \"Scenarios\": [\n    {\n      \"Scenario\": \"1. [English Title]\",\n      \"OrderId\": \"1\",\n      \"Description\": \"[English cinematic description, 5-7 sentences]\",\n      \"ScenarioLocal\": \"1. [Russian Title]\",\n      \"DescriptionLocal\": \"[Shortened Russian description, 2-3 sentences]\"\n    },\n    {\n      \"Scenario\": \"2. [English Title]\",\n      \"OrderId\": \"2\",\n      \"Description\": \"[English cinematic description, 5-7 sentences]\",\n      \"ScenarioLocal\": \"2. [Russian Title]\",\n      \"DescriptionLocal\": \"[Shortened Russian description, 2-3 sentences]\"\n    }\n    // ... Continue for objects 3, 4, and 5 following the exact same pattern.\n  ]\n}\n</output_schema>\n\n<json_constraints>\n1. Output valid, strict JSON ONLY.\n2. DO NOT wrap the JSON in markdown formatting (e.g., no ```json ``` blocks). Output the raw brackets { to }.\n3. DO NOT include any conversational text, explanations, or metadata before or after the JSON object.\n4. Avoid malformed escapes, raw control characters, and unnecessary punctuation complexity inside string values.\n5. No trailing commas. All keys and string values must use standard JSON double quotes.\n</json_constraints>",
                "type": "string"
              },
              {
                "id": "d40f012f-85d7-4b60-beec-1d014fa9d913",
                "name": "promptName",
                "value": "Fashion-Creative",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1440,
          352
        ],
        "id": "68c75683-afe6-49bb-9272-21740b4efd61",
        "name": "SP_FashionCreative"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b51b3b63-2255-45fe-9023-8b136b8f4080",
                "name": "userPrompt",
                "value": "={{ $('GetMsgId+TaskId').item.json.concatDescr }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          896,
          352
        ],
        "id": "c50ccbc6-33cb-4eb2-aa66-963763a52dbb",
        "name": "UP_FashionCreative"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('GetMsgId+TaskId').item.json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "creativeScenarios": "={{ $('IfResponseOk2').item.json.data.replaceAll(\"```\",\"\").replaceAll(\"json\",\"\") }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "process",
                "displayName": "process",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "lookSelected",
                "displayName": "lookSelected",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceImgUrl",
                "displayName": "faceImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceDescr",
                "displayName": "faceDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "concatDescr",
                "displayName": "concatDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "replyToMessageIdGallery",
                "displayName": "replyToMessageIdGallery",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "generatedModelUrl",
                "displayName": "generatedModelUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "generatedModelPrompt",
                "displayName": "generatedModelPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "creativeScenarios",
                "displayName": "creativeScenarios",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          3232,
          352
        ],
        "id": "e4f32ea9-488f-4f62-a0e4-0f00c5d4a21b",
        "name": "SaveScenarios",
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "30f32611-2d96-442a-8443-e466e7dd061d",
                "name": "forMsg",
                "value": "={{ $json.creativeScenarios.parseJson().Scenarios.map( item => item.ScenarioLocal +\"\\n\\n\"+ item.DescriptionLocal +\"\\n\\n\").join(\"\") }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3456,
          352
        ],
        "id": "fc782283-747a-493b-86a2-57feb0fb9cf8",
        "name": "Scenarios"
      },
      {
        "parameters": {
          "jsCode": "const text = $input.first().json.forMsg.join('');\n\nif (text.length > 4096) {\n  return [{ json: { message: text.substring(0, 4000) + '... (truncated)', tooLong: true } }];\n}\n\nreturn [{ json: { message: text, tooLong: false } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3728,
          352
        ],
        "id": "5d5b49a4-6dd2-4095-b057-e12a5748e89c",
        "name": "Code in JavaScript",
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a7c4266b-fcdb-4ab1-838d-dbee86ea575a",
                "name": "errResponse",
                "value": "Error",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3440,
          160
        ],
        "id": "a1f946be-f091-463a-a8cb-f906aaff570c",
        "name": "Return"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "cy2OHtNbUQaDIMP4",
            "mode": "list",
            "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
            "cachedResultName": "subMkPlnTxt"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "systemPrompt_replace": "={{ $json.userPrompt }}"
            },
            "matchingColumns": [
              "systemPrompt_replace"
            ],
            "schema": [
              {
                "id": "systemPrompt_replace",
                "displayName": "systemPrompt_replace",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1184,
          352
        ],
        "id": "bca13e75-008a-4b5f-a244-cbf1d091e18b",
        "name": "procUP"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "cy2OHtNbUQaDIMP4",
            "mode": "list",
            "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
            "cachedResultName": "subMkPlnTxt"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "systemPrompt_replace": "={{$json.recievedPrompt}}"
            },
            "matchingColumns": [
              "systemPrompt_replace"
            ],
            "schema": [
              {
                "id": "systemPrompt_replace",
                "displayName": "systemPrompt_replace",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2336,
          352
        ],
        "id": "ed368ff1-a143-42a1-8d5f-02a234414160",
        "name": "procSP"
      }
    ],
    "connections": {
      "GetMsgId+TaskId": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          [
            {
              "node": "UP_FashionCreative",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug1": {
        "main": [
          [
            {
              "node": "GetPrompt1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SP_recievedPrompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SP_recievedPrompt1": {
        "main": [
          [
            {
              "node": "procSP",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetPrompt1": {
        "main": [
          [
            {
              "node": "SP_recievedPrompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfResponseOk2": {
        "main": [
          [
            {
              "node": "IfError1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "OP_Err_ response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfError1": {
        "main": [
          [
            {
              "node": "OP_Err_ response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SaveScenarios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'subTR_API_AI_Selector'": {
        "main": [
          [
            {
              "node": "IfResponseOk2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "GetMsgId+TaskId",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SP_FashionCreative": {
        "main": [
          [
            {
              "node": "IfDebug1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UP_FashionCreative": {
        "main": [
          [
            {
              "node": "procUP",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SaveScenarios": {
        "main": [
          [
            {
              "node": "Scenarios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scenarios": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          []
        ]
      },
      "OP_Err_ response": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "procUP": {
        "main": [
          [
            {
              "node": "SP_FashionCreative",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "procSP": {
        "main": [
          [
            {
              "node": "Call 'subTR_API_AI_Selector'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DLS  ",
    "name": "Version 261496a0",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "261496a0-6332-40cf-ae69-43ce63ba6cc1",
  "connections": {
    "GetMsgId+TaskId": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "UP_FashionCreative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug1": {
      "main": [
        [
          {
            "node": "GetPrompt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP_recievedPrompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP_recievedPrompt1": {
      "main": [
        [
          {
            "node": "procSP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetPrompt1": {
      "main": [
        [
          {
            "node": "SP_recievedPrompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfResponseOk2": {
      "main": [
        [
          {
            "node": "IfError1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OP_Err_ response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfError1": {
      "main": [
        [
          {
            "node": "OP_Err_ response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SaveScenarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subTR_API_AI_Selector'": {
      "main": [
        [
          {
            "node": "IfResponseOk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "GetMsgId+TaskId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP_FashionCreative": {
      "main": [
        [
          {
            "node": "IfDebug1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UP_FashionCreative": {
      "main": [
        [
          {
            "node": "procUP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaveScenarios": {
      "main": [
        [
          {
            "node": "Scenarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scenarios": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "OP_Err_ response": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procUP": {
      "main": [
        [
          {
            "node": "SP_FashionCreative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procSP": {
      "main": [
        [
          {
            "node": "Call 'subTR_API_AI_Selector'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-10T20:22:40.809Z",
  "id": "XgI9UTyMIVyVUKrv",
  "isArchived": false,
  "meta": null,
  "name": "subTR_CL_CreateScenarios",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $('Start').item.json.message_chat_id }}"
            },
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Start').item.json.message_chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "GetScenarioIdea"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        224,
        352
      ],
      "id": "bb84326c-1257-4246-b3e0-b9b99ec1a02e",
      "name": "GetMsgId+TaskId",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message_chat_id }}",
        "text": "Формирую креативные сценарии...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        352
      ],
      "id": "fc343fbf-e53f-48e3-a042-438e416a908d",
      "name": "Send a text message",
      "webhookId": "f274d4a4-e6c5-419a-894b-f69988eb058b",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f3370f8c-837f-416e-a8b9-268ff8d544f5",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1664,
        352
      ],
      "id": "b02f4305-671f-4b28-aeb5-c1e900ffd0e9",
      "name": "IfDebug1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09b70afd-76f1-459c-9a7c-16af72a0a5de",
              "name": "recievedPrompt",
              "value": "={{$('GetPrompt1').isExecuted && $('GetPrompt1').item.json.PromptText.isNotEmpty()\n?$('GetPrompt1').item.json.PromptText\n:$('SP_FashionCreative').item.json.systemPrompt\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        352
      ],
      "id": "9dfbb91b-9f78-42a9-be15-841fa6e34e7d",
      "name": "SP_recievedPrompt1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ",
          "mode": "list",
          "cachedResultName": "N8N prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "PromptName",
              "lookupValue": "={{ $('SP_FashionCreative').item.json.promptName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        224
      ],
      "id": "7a32bc8f-f327-44bd-8d74-f730f6eb7aab",
      "name": "GetPrompt1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message_chat_id }}",
        "text": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3008,
        448
      ],
      "id": "e17ded09-ccbe-45cd-9bfb-986cf0949cb6",
      "name": "OP_Err_ response1",
      "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ebf1b473-80ad-42bd-acaa-1446197e4bc1",
              "leftValue": "={{$json.data === empty }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2784,
        352
      ],
      "id": "3dec2afc-ef46-4742-90a2-055a841b196b",
      "name": "IfResponseOk2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a869a9c7-791d-4f1c-852e-828a3569b146",
              "leftValue": "={{$json.data}}",
              "rightValue": "Error",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3008,
        256
      ],
      "id": "0ff95db7-253e-4dbb-a4fc-4213100de1d9",
      "name": "IfError1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MCKUe6c7lEWRrPCq",
          "mode": "list",
          "cachedResultUrl": "/workflow/MCKUe6c7lEWRrPCq",
          "cachedResultName": "subTR_API_AI_Selector"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Start').item.json.message_chat_id }}",
            "modelName": "={{ $('Start').item.json.modelName }}",
            "apiName": "={{ $('Start').item.json.apiName }}",
            "userPrompt": "={{ \"# Request \" + $('Start').item.json.creativeRequest + \" # Input \" + $('procUP').item.json.plainText.removeMarkdown()\n}}",
            "imgUrls": "=",
            "systemPrompt": "={{ $json.plainText }}",
            "objectMainId": "=",
            "ObjName": "=Complete Look",
            "ObjNameLocal": "=",
            "debugMode": "={{ $('Start').item.json.debugMode }}",
            "botTocken": "={{ $('Start').item.json.botTocken }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "modelName",
              "displayName": "modelName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "apiName",
              "displayName": "apiName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imgUrls",
              "displayName": "imgUrls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "ObjName",
              "displayName": "ObjName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "objectMainId",
              "displayName": "objectMainId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "ObjNameLocal",
              "displayName": "ObjNameLocal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "botTocken",
              "displayName": "botTocken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "urlList_bool",
              "displayName": "urlList_bool",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "debugMode",
              "displayName": "debugMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "plainUrlList",
              "displayName": "plainUrlList",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2560,
        352
      ],
      "id": "1bbae626-a90c-4a95-81c9-c7bd749e8b9f",
      "name": "Call 'subTR_API_AI_Selector'"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message_chat_id }}",
        "text": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.msg.replaceAll(\"'\",'\"').parseJson().msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3232,
        160
      ],
      "id": "2a6541fe-5eb2-43db-b27e-f69c3cca8109",
      "name": "OP_Err_ response",
      "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        448,
        352
      ],
      "id": "25a1ce7e-088e-40c0-a429-9c3c34504a13",
      "name": "Limit",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message_chat_id"
            },
            {
              "name": "botTocken"
            },
            {
              "name": "debugMode"
            },
            {
              "name": "modelName"
            },
            {
              "name": "apiName"
            },
            {
              "name": "creativeRequest"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b51b3b63-2255-45fe-9023-8b136b8f4080",
              "name": "systemPrompt",
              "value": "<system_identity>\nFashion-Creative v32-R1 (Release 1 - Fixed Physics).\nRole: Act as a creative fashion editorial concept generator and creative director.\nObjective: Transform structured text inputs (delimited by # Request and # Input) into exactly 5 vivid, cinematic, and emotionally grounded fashion photoshoot scenarios. Output exactly ONE strict, raw JSON object with localized Russian fields, ensuring absolute faithfulness to the original outfit and model appearance.\n</system_identity>\n\n<configuration>\nTRANSLATELANG = Russian\n</configuration>\n\n<input_processing_and_validation>\nYou will receive a text payload containing two sections, typically delimited by headers like \"# Request\" and \"# Input\".\n1. \"Request\": The creative direction/theme (This may be in Russian, e.g., \"Вечерняя прогулка по Токио\". Understand its vibe and translate the concept to English internally).\n2. \"Input\": The exact model appearance and full outfit description.\n\nValidation Rules (Evaluate before generating):\n- If the \"# Request\" section or \"# Input\" section is missing, empty, or the payload is completely broken, output ONLY:\n{\"response\":\"error\",\"msg\":\"⚠ Error. Invalid input: required fields Request and Input must be present and usable.\"}\n- A \"Request\" is valid if it provides ANY usable visual, emotional, spatial, abstract, or narrative direction. It is ONLY invalid if it is completely absurd or impossible to interpret. If invalid, output ONLY:\n{\"response\":\"error\",\"msg\":\"⚠ Error. Invalid request: the creative direction is absurd, incoherent, or impossible to interpret.\"}\n- If interpretable, always prefer a best-effort valid success object over an error.\n</input_processing_and_validation>\n\n<creative_guidelines>\nIf validation passes, generate exactly FIVE distinct editorial photoshoot scenarios based on the Request. \n\nFaithfulness Rule:\n- You MUST preserve the \"Input\" faithfully across all scenarios. \n- DO NOT change the model's appearance.\n- DO NOT replace, invent, or alter outfit items, materials, accessories, or visible condition details.\n- DO NOT add branding or logos unless explicitly provided in the Input.\n\nEditorial Dynamics (ANTI-CLICHÉ RULE):\nTo avoid boring, static catalog imagery, you MUST act as a physical camera operator and movement director. For EVERY scenario, you must explicitly describe:\n1. Camera Angle & Framing: Force dynamic spatial perspectives (e.g., extreme low angle looking up, shooting past a blurred foreground object, over-the-shoulder, or wide architectural crop). Do not use standard eye-level front-facing shots for all scenarios.\n2. Kinetic Micro-Action: The model must NEVER just \"stand and look\". Describe a grounded, realistic physical action (e.g., walking mid-stride, twisting her torso, adjusting a collar). DO NOT exaggerate clothing physics; keep fabric drape natural and heavy, avoiding theatrical wind-blown billowing.\n3. Spatial Interaction: Describe how the model physically interacts with the environment (e.g., framed by a doorway, cutting through a crowd, resting against a textured wall).\nMake each of the 5 scenarios completely distinct in its Camera Angle and Kinetic Action.\n\nEditorial Style Rules:\n- Write like a fashion editor, not a technical prompt writer.\n- Make each scenario a complete, distinct visual moment.\n- Ensure the writing is fluent, cinematic, atmospheric, and emotionally grounded.\n- DO NOT use robotic phrasing, meta-commentary, instructional language, or dry technical camera terminology (e.g., avoid \"shot on 85mm lens\" or \"ISO 100\", instead describe the visual effect naturally).\n</creative_guidelines>\n\n<data_structure_and_localization>\nEach of the 5 scenarios must be an object containing exactly these keys: \"Scenario\", \"OrderId\", \"Description\", \"ScenarioLocal\", \"DescriptionLocal\".\n\nOrder and Numbering:\n- \"OrderId\" must be sequenced as \"1\", \"2\", \"3\", \"4\", \"5\".\n- The \"Scenario\" and \"ScenarioLocal\" titles must begin with the matching number and a period (e.g., \"1. \", \"2. \").\n\nField Formatting Rules:\n- \"Scenario\" (English): Begin with the number. Add 2 to 4 words. Use normal English Title Case. Read like an editorial chapter heading. No punctuation other than the period after the number.\n- \"Description\" (English): One paragraph. Target 5 to 7 rich, cinematic sentences (approx. 90 to 120 words).\n- \"ScenarioLocal\" (Russian): Preserve the exact numbering. Translate the English title naturally. Use standard Russian capitalization (only the first word capitalized unless standard spelling requires otherwise).\n- \"DescriptionLocal\" (Russian): A shortened, natural localized adaptation of the \"Description\". Target 2 to 3 concise sentences (approx. 35 to 50 words). Preserve the scene logic, emotional tone, and visual identity.\n</data_structure_and_localization>\n\n<output_schema>\nIf successful, you must return exactly ONE JSON object matching this exact structure:\n\n{\n  \"Scenarios\": [\n    {\n      \"Scenario\": \"1. [English Title]\",\n      \"OrderId\": \"1\",\n      \"Description\": \"[English cinematic description, 5-7 sentences]\",\n      \"ScenarioLocal\": \"1. [Russian Title]\",\n      \"DescriptionLocal\": \"[Shortened Russian description, 2-3 sentences]\"\n    },\n    {\n      \"Scenario\": \"2. [English Title]\",\n      \"OrderId\": \"2\",\n      \"Description\": \"[English cinematic description, 5-7 sentences]\",\n      \"ScenarioLocal\": \"2. [Russian Title]\",\n      \"DescriptionLocal\": \"[Shortened Russian description, 2-3 sentences]\"\n    }\n    // ... Continue for objects 3, 4, and 5 following the exact same pattern.\n  ]\n}\n</output_schema>\n\n<json_constraints>\n1. Output valid, strict JSON ONLY.\n2. DO NOT wrap the JSON in markdown formatting (e.g., no ```json ``` blocks). Output the raw brackets { to }.\n3. DO NOT include any conversational text, explanations, or metadata before or after the JSON object.\n4. Avoid malformed escapes, raw control characters, and unnecessary punctuation complexity inside string values.\n5. No trailing commas. All keys and string values must use standard JSON double quotes.\n</json_constraints>",
              "type": "string"
            },
            {
              "id": "d40f012f-85d7-4b60-beec-1d014fa9d913",
              "name": "promptName",
              "value": "Fashion-Creative",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        352
      ],
      "id": "68c75683-afe6-49bb-9272-21740b4efd61",
      "name": "SP_FashionCreative"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b51b3b63-2255-45fe-9023-8b136b8f4080",
              "name": "userPrompt",
              "value": "={{ $('GetMsgId+TaskId').item.json.concatDescr }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        352
      ],
      "id": "c50ccbc6-33cb-4eb2-aa66-963763a52dbb",
      "name": "UP_FashionCreative"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('GetMsgId+TaskId').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "creativeScenarios": "={{ $('IfResponseOk2').item.json.data.replaceAll(\"```\",\"\").replaceAll(\"json\",\"\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "process",
              "displayName": "process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lookSelected",
              "displayName": "lookSelected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceImgUrl",
              "displayName": "faceImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceDescr",
              "displayName": "faceDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "concatDescr",
              "displayName": "concatDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "replyToMessageIdGallery",
              "displayName": "replyToMessageIdGallery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generatedModelUrl",
              "displayName": "generatedModelUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generatedModelPrompt",
              "displayName": "generatedModelPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "creativeScenarios",
              "displayName": "creativeScenarios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3232,
        352
      ],
      "id": "e4f32ea9-488f-4f62-a0e4-0f00c5d4a21b",
      "name": "SaveScenarios",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30f32611-2d96-442a-8443-e466e7dd061d",
              "name": "forMsg",
              "value": "={{ $json.creativeScenarios.parseJson().Scenarios.map( item => item.ScenarioLocal +\"\\n\\n\"+ item.DescriptionLocal +\"\\n\\n\").join(\"\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3456,
        352
      ],
      "id": "fc782283-747a-493b-86a2-57feb0fb9cf8",
      "name": "Scenarios"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.forMsg.join('');\n\nif (text.length > 4096) {\n  return [{ json: { message: text.substring(0, 4000) + '... (truncated)', tooLong: true } }];\n}\n\nreturn [{ json: { message: text, tooLong: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        352
      ],
      "id": "5d5b49a4-6dd2-4095-b057-e12a5748e89c",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7c4266b-fcdb-4ab1-838d-dbee86ea575a",
              "name": "errResponse",
              "value": "Error",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3440,
        160
      ],
      "id": "a1f946be-f091-463a-a8cb-f906aaff570c",
      "name": "Return"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cy2OHtNbUQaDIMP4",
          "mode": "list",
          "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
          "cachedResultName": "subMkPlnTxt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt_replace": "={{ $json.userPrompt }}"
          },
          "matchingColumns": [
            "systemPrompt_replace"
          ],
          "schema": [
            {
              "id": "systemPrompt_replace",
              "displayName": "systemPrompt_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1184,
        352
      ],
      "id": "bca13e75-008a-4b5f-a244-cbf1d091e18b",
      "name": "procUP"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cy2OHtNbUQaDIMP4",
          "mode": "list",
          "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
          "cachedResultName": "subMkPlnTxt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt_replace": "={{$json.recievedPrompt}}"
          },
          "matchingColumns": [
            "systemPrompt_replace"
          ],
          "schema": [
            {
              "id": "systemPrompt_replace",
              "displayName": "systemPrompt_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2336,
        352
      ],
      "id": "ed368ff1-a143-42a1-8d5f-02a234414160",
      "name": "procSP"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Db9RTL99yUCO77oO",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-03-10T20:22:40.812Z",
      "createdAt": "2026-03-10T20:22:40.812Z",
      "role": "workflow:owner",
      "workflowId": "XgI9UTyMIVyVUKrv",
      "projectId": "M9bTlSGaaAbsZxvs"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-10T22:42:06.797Z",
      "createdAt": "2026-03-10T20:29:40.741Z",
      "id": "HSeQ7xesTRYUoDv8",
      "name": "SP_FashionCreative"
    },
    {
      "updatedAt": "2026-03-02T14:25:49.805Z",
      "createdAt": "2026-03-02T14:25:49.805Z",
      "id": "uZYZiWAvyVAXbBbR",
      "name": "CL"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-28T10:44:12.679Z",
  "versionId": "261496a0-6332-40cf-ae69-43ce63ba6cc1"
}