2026/03/xlNhXdZBgSYRuqw1.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-28T10:45:50.000Z",
    "createdAt": "2026-03-28T10:45:44.639Z",
    "versionId": "875b8b51-7466-411b-af3c-2c9fbba3958e",
    "workflowId": "xlNhXdZBgSYRuqw1",
    "nodes": [
      {
        "parameters": {
          "operation": "sendChatAction",
          "chatId": "={{ $('Start').item.json.message_chat_id }}"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1072,
          384
        ],
        "id": "f8610580-feb3-4475-bef6-b40a511909f0",
        "name": "Send a chat action5",
        "webhookId": "eaaf83f2-2dd9-4794-b28e-eef89452b7da",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "ebf1b473-80ad-42bd-acaa-1446197e4bc1",
                "leftValue": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.data === empty }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -448,
          384
        ],
        "id": "bf1c6836-bf44-429f-85b2-98693a2e2d39",
        "name": "IfResponseOk3"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Start').item.json.message_chat_id }}"
              },
              {
                "keyName": "userId",
                "keyValue": "={{ $('Start').item.json.message_chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "GetScenarioIdeaEdits"
              },
              {
                "keyName": "process",
                "keyValue": "/createlook"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -3136,
          384
        ],
        "id": "27ccdc82-a450-4227-ab5e-73cdbe47fc63",
        "name": "GetCurrentCount4",
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "message_chat_id",
                "type": "any"
              },
              {
                "name": "botToken",
                "type": "any"
              },
              {
                "name": "modelName",
                "type": "any"
              },
              {
                "name": "id",
                "type": "any"
              },
              {
                "name": "modelApi"
              },
              {
                "name": "debugMode"
              },
              {
                "name": "requestText"
              }
            ]
          }
        },
        "id": "2ca73b75-29b3-47e8-9aa1-824d9b53ac37",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -3712,
          384
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "MCKUe6c7lEWRrPCq",
            "mode": "list",
            "cachedResultUrl": "/workflow/MCKUe6c7lEWRrPCq",
            "cachedResultName": "subTR_API_AI_Selector"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "urlList_bool": false,
              "chat_id": "={{ $('Start').item.json.message_chat_id }}",
              "objectMainId": "={{ $('Start').item.json.id }}",
              "modelName": "={{ $('Start').item.json.modelName }}",
              "apiName": "={{ $('Start').item.json.modelApi }}",
              "botTocken": "={{ $('Start').item.json.botToken }}",
              "imgUrls": "=",
              "ObjName": "=",
              "userPrompt": "={{ $('UP_plain').item.json.plainText }}",
              "systemPrompt": "={{ $('SP_plain').item.json.plainText }}",
              "debugMode": "={{ $('Start').item.json.debugMode }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "modelName",
                "displayName": "modelName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "apiName",
                "displayName": "apiName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "userPrompt",
                "displayName": "userPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "systemPrompt",
                "displayName": "systemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "imgUrls",
                "displayName": "imgUrls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "ObjName",
                "displayName": "ObjName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "objectMainId",
                "displayName": "objectMainId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "ObjNameLocal",
                "displayName": "ObjNameLocal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "botTocken",
                "displayName": "botTocken",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "urlList_bool",
                "displayName": "urlList_bool",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean",
                "removed": false
              },
              {
                "id": "debugMode",
                "displayName": "debugMode",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -848,
          384
        ],
        "id": "5faac335-bdca-4d42-8d53-d97d9ff26f9b",
        "name": "Call 'subTR_API_AI_Selector'"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "037443f6-4f02-4014-9521-711cefbca918",
                "leftValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.data }}",
                "rightValue": "Error",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -240,
          96
        ],
        "id": "fe3bc681-375a-4c63-a023-f1415356e5ee",
        "name": "IfError"
      },
      {
        "parameters": {
          "errorMessage": "={{\"Что-то пошло не так: \" + $('IfResponseOk3').item.json.msg}}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          -208,
          448
        ],
        "id": "868e4e43-208e-4a0c-b8b2-0581801e883e",
        "name": "Stop and Error"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.message_chat_id }}",
          "text": "={{\"Перейдите в режим внесения правок!\" }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2688,
          560
        ],
        "id": "c63150ea-bbf2-4966-b281-2c49dc86aa39",
        "name": "OP_final_model1",
        "webhookId": "94a2a412-d5cb-4e76-9dca-37636f429bd2",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f3370f8c-837f-416e-a8b9-268ff8d544f5",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2080,
          368
        ],
        "id": "221bf6c3-be94-4a07-b5a9-644fc95a6de9",
        "name": "IfDebug1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "09b70afd-76f1-459c-9a7c-16af72a0a5de",
                "name": "recievedPrompt",
                "value": "={{$('GetPrompt1').isExecuted && $('GetPrompt1').item.json.PromptText.isNotEmpty()\n?$('GetPrompt1').item.json.PromptText\n:$('SP_IdeasRefiner').item.json.systemPromptImgFeature\n}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1760,
          384
        ],
        "id": "438be632-74d7-469b-845a-72aa53c58c83",
        "name": "SP_recievedPrompt1"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ",
            "mode": "list",
            "cachedResultName": "N8N prompts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "PromptName",
                "lookupValue": "={{ $('SP_IdeasRefiner').item.json.promptName }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1872,
          208
        ],
        "id": "e1058346-ba41-4211-9397-bb1e1661e5a3",
        "name": "GetPrompt1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cd4ce484-afa3-4d2f-8100-2977a73ae421",
                "name": "upPrompt",
                "value": "={{\"{'Request':'\" + $('Start').item.json.requestText +  \"',\" +\"'Input':\" + $('GetCurrentCount4').item.json.creativeScenarios \n+ \"}\"\n\n}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1424,
          384
        ],
        "id": "0f8189a1-aa3b-41b7-8541-c44cecaf2986",
        "name": "UP_prompt"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "cy2OHtNbUQaDIMP4",
            "mode": "list",
            "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
            "cachedResultName": "subMkPlnTxt"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "systemPrompt_replace": "={{ $json.upPrompt }}"
            },
            "matchingColumns": [
              "systemPrompt_replace"
            ],
            "schema": [
              {
                "id": "systemPrompt_replace",
                "displayName": "systemPrompt_replace",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1264,
          384
        ],
        "id": "5cecec6a-bd4f-45d6-848a-5e65981ccf9f",
        "name": "UP_plain"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "cy2OHtNbUQaDIMP4",
            "mode": "list",
            "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
            "cachedResultName": "subMkPlnTxt"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "systemPrompt_replace": "={{ $json.recievedPrompt}}"
            },
            "matchingColumns": [
              "systemPrompt_replace"
            ],
            "schema": [
              {
                "id": "systemPrompt_replace",
                "displayName": "systemPrompt_replace",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1600,
          384
        ],
        "id": "a525f14d-313d-48a3-acdd-f04b36c3755d",
        "name": "SP_plain"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b51b3b63-2255-45fe-9023-8b136b8f4080",
                "name": "systemPromptImgFeature",
                "value": "<system_identity>\nIdeas-Refiner v30-R1 (Release 1 - Flash 3.0).\nRole: Act as a surgical editor for existing bilingual fashion photoshoot scenarios. \nObjective: Apply user refinements ONLY to targeted scenarios while preserving the exact text of unaffected scenarios. Maintain editorial integrity, cinematic tone, and strict bilingual JSON structure. Output exactly ONE raw JSON object and nothing else.\n</system_identity>\n\n<configuration>\nTRANSLATELANG = Russian\nCanonical Fields (Must remain English): \"Scenario\", \"Description\"\nLocalized Fields (Must map to Russian): \"ScenarioLocal\", \"DescriptionLocal\"\n</configuration>\n\n<input_validation_and_errors>\nYou will receive an input containing a \"Request\" (the refinement instruction) and an \"Input\" (an array of exactly 5 scenario objects). Tolerate minor formatting noise if the 5 scenarios are recoverable.\n\nEvaluate before processing. If an error condition is met, output ONLY the exact matching JSON error object:\n\n1. Invalid Input (Missing Request/Input, cannot recover exactly 5 valid scenarios, or missing/invalid OrderIds 1-5):\n{\"response\":\"error\",\"msg\":\"⚠ Error. Invalid input: refinement request and five usable bilingual scenario objects must be present.\"}\n\n2. Invalid Request (The instruction is meaningless token noise, completely incoherent, or devoid of actionable intent):\n{\"response\":\"error\",\"msg\":\"⚠ Error. Invalid request: the refinement instructions are absurd, incoherent, or impossible to interpret.\"}\n</input_validation_and_errors>\n\n<scope_detection>\nDetermine WHICH scenarios to edit based on the \"Request\". Follow this priority order:\n\n1. Explicit Selectors (Numbers & Ordinals): Look for leading digits/separators (e.g., \"1.\", \"1 - \", \"2, 4\") OR textual ordinals in English/Russian (e.g., \"first\", \"last\", \"первый\", \"последний\", \"во втором\", \"для третьей\"). If found, lock these as the target scope, REMOVE the selector from the text, and treat the rest as the instruction.\n2. Global Wording: Look for global commands (e.g., \"all scenarios\", \"для всех\", \"везде\").\n3. Semantic / Content-Based Mapping: If no direct numbers or ordinals exist, match the instruction to a specific scenario based on textual references to the scene's title, location, or distinct content (e.g., \"сцена в храме\" maps to the Temple scenario, \"где она на эстакаде\" maps to the Overpass scenario). Lock scope to this scenario if the match is High Confidence.\n\nScope Ambiguity Error: If the instruction is meaningful but you cannot reliably determine WHICH scenario(s) it applies to, output ONLY:\n{\"response\":\"error\",\"msg\":\"⚠ Error. Invalid request: the refinement scope is ambiguous or impossible to determine reliably.\"}\n</scope_detection>\n\n<surgical_refinement_rules>\nThis is a surgical editorial pass, not a rewrite. \n\nFor UNAFFECTED Scenarios (Not in scope):\n- PRESERVE ABSOLUTELY. Copy the \"Scenario\", \"Description\", \"ScenarioLocal\", and \"DescriptionLocal\" exactly as they appear in the input. DO NOT alter a single word of unaffected scenarios.\n\nFor AFFECTED Scenarios (In scope):\n- Change ONLY what the Request requires. Preserve the original wording, rhythm, and imagery as much as possible. Do not invent new outfits or add accessories unless explicitly requested.\n- English First: \n  - Update \"Scenario\" (Title) ONLY if the core scene identity changes (not just mood/weather). Keep it 2-4 words, Title Case.\n  - Update \"Description\": Modify the 5-7 sentence paragraph (approx. 95-115 words) to reflect the refinement. Maintain a fluent, cinematic, non-technical, editorial tone.\n- Russian Localization Second:\n  - If \"Scenario\" changed, update \"ScenarioLocal\" naturally.\n  - If \"Description\" changed, update \"DescriptionLocal\" to reflect the changes. Keep it concise (2-3 sentences, approx. 35-45 words). Ensure semantic alignment with the final English text.\n</surgical_refinement_rules>\n\n<output_schema>\nIf successful, return exactly ONE JSON object matching this exact structure containing all 5 scenarios (both edited and preserved):\n\n{\n  \"Scenarios\": [\n    {\n      \"Scenario\": \"1. [English Title]\",\n      \"OrderId\": \"1\",\n      \"Description\": \"[English cinematic description]\",\n      \"ScenarioLocal\": \"1. [Russian Title]\",\n      \"DescriptionLocal\": \"[Shortened Russian description]\"\n    },\n    // ... Output all 5 objects in OrderId sequence (1, 2, 3, 4, 5)\n  ]\n}\n</output_schema>\n\n<json_constraints>\n1. Output valid, strict JSON ONLY.\n2. DO NOT wrap the JSON in markdown formatting (e.g., no ```json ``` blocks). Output the raw brackets { to }.\n3. DO NOT include any conversational text, explanations, or metadata before or after the JSON object.\n4. \"OrderId\" values must remain strictly \"1\", \"2\", \"3\", \"4\", \"5\".\n5. Do not use malformed escapes, raw control characters, or unescaped quotes inside string values.\n</json_constraints>",
                "type": "string"
              },
              {
                "id": "70ccc749-a57a-4c10-b585-6363ead0a506",
                "name": "promptName",
                "value": "Ideas-Refiner",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2352,
          368
        ],
        "id": "ce8c5ecf-fcf4-4ce7-8586-75d46568e808",
        "name": "SP_IdeasRefiner"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('GetCurrentCount4').item.json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "creativeScenarios": "={{ $('IfResponseOk3').item.json.data.replaceAll(\"```\",\"\").replaceAll(\"json\",\"\") }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "process",
                "displayName": "process",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "lookSelected",
                "displayName": "lookSelected",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceImgUrl",
                "displayName": "faceImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceDescr",
                "displayName": "faceDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "concatDescr",
                "displayName": "concatDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "replyToMessageIdGallery",
                "displayName": "replyToMessageIdGallery",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "generatedModelUrl",
                "displayName": "generatedModelUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "generatedModelPrompt",
                "displayName": "generatedModelPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "creativeScenarios",
                "displayName": "creativeScenarios",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -16,
          208
        ],
        "id": "a8fff9f6-e5da-45ce-bd55-b04dea95f1b9",
        "name": "SaveScenarios",
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "30f32611-2d96-442a-8443-e466e7dd061d",
                "name": "forMsg",
                "value": "={{ $json.creativeScenarios.replaceAll(\"```\",\"\").replaceAll(\"json\",\"\").parseJson().Scenarios.map( item => item.ScenarioLocal +\"\\n\\n\"+ item.DescriptionLocal +\"\\n\\n\").join(\"\") \n}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          208
        ],
        "id": "541caa5c-464a-4fad-9b9d-37bf42cc70b2",
        "name": "Scenarios"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.message_chat_id }}",
          "text": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.msg.replaceAll(\"'\",'\"').parseJson().msg }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          0,
          16
        ],
        "id": "95df84be-200f-4dc0-9811-9bd320fc6f4c",
        "name": "OP_Err_ response",
        "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c4d18a02-62b3-4043-9abd-fd7d589837ea",
                "leftValue": "={{ $json.isEmpty() }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2880,
          384
        ],
        "id": "762afb2c-45bf-4da3-a8a8-c9010ff0f810",
        "name": "IfEmpty"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.message_chat_id }}",
          "text": "={{\"Действие отменено.\" +\"\\n\\n\" +\n\n\"Вы можете внести правки в сценарии, либо создать изображения для всей серии.\" \n}}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Внести правки",
                      "additionalFields": {
                        "callback_data": "addScenarioIdeaEdits"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Создать изображения",
                      "additionalFields": {
                        "callback_data": "generatePhotoset"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2480,
          560
        ],
        "id": "95f40abe-b9ff-455f-955a-dcaf5dac84f0",
        "name": "initMsg2",
        "webhookId": "da04a605-c2ff-4b52-8fb9-ad119febfe61",
        "executeOnce": false,
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Start').item.json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "replyToMessageIdGallery": "={{ $json.result.message_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "process",
                "displayName": "process",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceImgUrl",
                "displayName": "faceImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "replyToMessageIdGallery",
                "displayName": "replyToMessageIdGallery",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "faceGalleryUrl",
                "displayName": "faceGalleryUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "FaceErrToMsgId",
                "displayName": "FaceErrToMsgId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -2240,
          560
        ],
        "id": "a01684bc-68a4-4c13-a57e-980273b00ef2",
        "name": "Set GalleryForFaceRecieved"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.message_chat_id }}",
          "text": "=Принято! Вношу правки...",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -3424,
          384
        ],
        "id": "bcf30de2-e2ec-4f5a-abe2-8c8c44be4b82",
        "name": "OP_Err_ response1",
        "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "TG PROD"
          }
        },
        "disabled": true
      }
    ],
    "connections": {
      "Send a chat action5": {
        "main": [
          [
            {
              "node": "Call 'subTR_API_AI_Selector'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfResponseOk3": {
        "main": [
          [
            {
              "node": "IfError",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetCurrentCount4": {
        "main": [
          [
            {
              "node": "IfEmpty",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "OP_Err_ response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'subTR_API_AI_Selector'": {
        "main": [
          [
            {
              "node": "IfResponseOk3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfError": {
        "main": [
          [
            {
              "node": "OP_Err_ response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SaveScenarios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug1": {
        "main": [
          [
            {
              "node": "GetPrompt1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SP_recievedPrompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetPrompt1": {
        "main": [
          [
            {
              "node": "SP_recievedPrompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SP_recievedPrompt1": {
        "main": [
          [
            {
              "node": "SP_plain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UP_prompt": {
        "main": [
          [
            {
              "node": "UP_plain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UP_plain": {
        "main": [
          [
            {
              "node": "Send a chat action5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SP_plain": {
        "main": [
          [
            {
              "node": "UP_prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SP_IdeasRefiner": {
        "main": [
          [
            {
              "node": "IfDebug1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SaveScenarios": {
        "main": [
          [
            {
              "node": "Scenarios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scenarios": {
        "main": [
          []
        ]
      },
      "IfEmpty": {
        "main": [
          [
            {
              "node": "SP_IdeasRefiner",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "OP_final_model1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OP_final_model1": {
        "main": [
          [
            {
              "node": "initMsg2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "initMsg2": {
        "main": [
          [
            {
              "node": "Set GalleryForFaceRecieved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OP_Err_ response1": {
        "main": [
          [
            {
              "node": "GetCurrentCount4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DLS  ",
    "name": "Version 875b8b51",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "875b8b51-7466-411b-af3c-2c9fbba3958e",
  "connections": {
    "Send a chat action5": {
      "main": [
        [
          {
            "node": "Call 'subTR_API_AI_Selector'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfResponseOk3": {
      "main": [
        [
          {
            "node": "IfError",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCurrentCount4": {
      "main": [
        [
          {
            "node": "IfEmpty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "OP_Err_ response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subTR_API_AI_Selector'": {
      "main": [
        [
          {
            "node": "IfResponseOk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfError": {
      "main": [
        [
          {
            "node": "OP_Err_ response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SaveScenarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug1": {
      "main": [
        [
          {
            "node": "GetPrompt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP_recievedPrompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetPrompt1": {
      "main": [
        [
          {
            "node": "SP_recievedPrompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP_recievedPrompt1": {
      "main": [
        [
          {
            "node": "SP_plain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UP_prompt": {
      "main": [
        [
          {
            "node": "UP_plain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UP_plain": {
      "main": [
        [
          {
            "node": "Send a chat action5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP_plain": {
      "main": [
        [
          {
            "node": "UP_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP_IdeasRefiner": {
      "main": [
        [
          {
            "node": "IfDebug1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaveScenarios": {
      "main": [
        [
          {
            "node": "Scenarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scenarios": {
      "main": [
        []
      ]
    },
    "IfEmpty": {
      "main": [
        [
          {
            "node": "SP_IdeasRefiner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OP_final_model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OP_final_model1": {
      "main": [
        [
          {
            "node": "initMsg2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "initMsg2": {
      "main": [
        [
          {
            "node": "Set GalleryForFaceRecieved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OP_Err_ response1": {
      "main": [
        [
          {
            "node": "GetCurrentCount4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-11T12:15:45.214Z",
  "id": "xlNhXdZBgSYRuqw1",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "subTR_CM_UpdScenario",
  "nodes": [
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Start').item.json.message_chat_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1072,
        384
      ],
      "id": "f8610580-feb3-4475-bef6-b40a511909f0",
      "name": "Send a chat action5",
      "webhookId": "eaaf83f2-2dd9-4794-b28e-eef89452b7da",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ebf1b473-80ad-42bd-acaa-1446197e4bc1",
              "leftValue": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.data === empty }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        384
      ],
      "id": "bf1c6836-bf44-429f-85b2-98693a2e2d39",
      "name": "IfResponseOk3"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Start').item.json.message_chat_id }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $('Start').item.json.message_chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "GetScenarioIdeaEdits"
            },
            {
              "keyName": "process",
              "keyValue": "/createlook"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3136,
        384
      ],
      "id": "27ccdc82-a450-4227-ab5e-73cdbe47fc63",
      "name": "GetCurrentCount4",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message_chat_id",
              "type": "any"
            },
            {
              "name": "botToken",
              "type": "any"
            },
            {
              "name": "modelName",
              "type": "any"
            },
            {
              "name": "id",
              "type": "any"
            },
            {
              "name": "modelApi"
            },
            {
              "name": "debugMode"
            },
            {
              "name": "requestText"
            }
          ]
        }
      },
      "id": "2ca73b75-29b3-47e8-9aa1-824d9b53ac37",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -3712,
        384
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MCKUe6c7lEWRrPCq",
          "mode": "list",
          "cachedResultUrl": "/workflow/MCKUe6c7lEWRrPCq",
          "cachedResultName": "subTR_API_AI_Selector"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "urlList_bool": false,
            "chat_id": "={{ $('Start').item.json.message_chat_id }}",
            "objectMainId": "={{ $('Start').item.json.id }}",
            "modelName": "={{ $('Start').item.json.modelName }}",
            "apiName": "={{ $('Start').item.json.modelApi }}",
            "botTocken": "={{ $('Start').item.json.botToken }}",
            "imgUrls": "=",
            "ObjName": "=",
            "userPrompt": "={{ $('UP_plain').item.json.plainText }}",
            "systemPrompt": "={{ $('SP_plain').item.json.plainText }}",
            "debugMode": "={{ $('Start').item.json.debugMode }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "modelName",
              "displayName": "modelName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "apiName",
              "displayName": "apiName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imgUrls",
              "displayName": "imgUrls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "ObjName",
              "displayName": "ObjName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "objectMainId",
              "displayName": "objectMainId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "ObjNameLocal",
              "displayName": "ObjNameLocal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "botTocken",
              "displayName": "botTocken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "urlList_bool",
              "displayName": "urlList_bool",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "debugMode",
              "displayName": "debugMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -848,
        384
      ],
      "id": "5faac335-bdca-4d42-8d53-d97d9ff26f9b",
      "name": "Call 'subTR_API_AI_Selector'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "037443f6-4f02-4014-9521-711cefbca918",
              "leftValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.data }}",
              "rightValue": "Error",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        96
      ],
      "id": "fe3bc681-375a-4c63-a023-f1415356e5ee",
      "name": "IfError"
    },
    {
      "parameters": {
        "errorMessage": "={{\"Что-то пошло не так: \" + $('IfResponseOk3').item.json.msg}}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -208,
        448
      ],
      "id": "868e4e43-208e-4a0c-b8b2-0581801e883e",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message_chat_id }}",
        "text": "={{\"Перейдите в режим внесения правок!\" }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2688,
        560
      ],
      "id": "c63150ea-bbf2-4966-b281-2c49dc86aa39",
      "name": "OP_final_model1",
      "webhookId": "94a2a412-d5cb-4e76-9dca-37636f429bd2",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f3370f8c-837f-416e-a8b9-268ff8d544f5",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2080,
        368
      ],
      "id": "221bf6c3-be94-4a07-b5a9-644fc95a6de9",
      "name": "IfDebug1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09b70afd-76f1-459c-9a7c-16af72a0a5de",
              "name": "recievedPrompt",
              "value": "={{$('GetPrompt1').isExecuted && $('GetPrompt1').item.json.PromptText.isNotEmpty()\n?$('GetPrompt1').item.json.PromptText\n:$('SP_IdeasRefiner').item.json.systemPromptImgFeature\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        384
      ],
      "id": "438be632-74d7-469b-845a-72aa53c58c83",
      "name": "SP_recievedPrompt1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ",
          "mode": "list",
          "cachedResultName": "N8N prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "PromptName",
              "lookupValue": "={{ $('SP_IdeasRefiner').item.json.promptName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1872,
        208
      ],
      "id": "e1058346-ba41-4211-9397-bb1e1661e5a3",
      "name": "GetPrompt1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd4ce484-afa3-4d2f-8100-2977a73ae421",
              "name": "upPrompt",
              "value": "={{\"{'Request':'\" + $('Start').item.json.requestText +  \"',\" +\"'Input':\" + $('GetCurrentCount4').item.json.creativeScenarios \n+ \"}\"\n\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1424,
        384
      ],
      "id": "0f8189a1-aa3b-41b7-8541-c44cecaf2986",
      "name": "UP_prompt"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cy2OHtNbUQaDIMP4",
          "mode": "list",
          "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
          "cachedResultName": "subMkPlnTxt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt_replace": "={{ $json.upPrompt }}"
          },
          "matchingColumns": [
            "systemPrompt_replace"
          ],
          "schema": [
            {
              "id": "systemPrompt_replace",
              "displayName": "systemPrompt_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1264,
        384
      ],
      "id": "5cecec6a-bd4f-45d6-848a-5e65981ccf9f",
      "name": "UP_plain"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cy2OHtNbUQaDIMP4",
          "mode": "list",
          "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
          "cachedResultName": "subMkPlnTxt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt_replace": "={{ $json.recievedPrompt}}"
          },
          "matchingColumns": [
            "systemPrompt_replace"
          ],
          "schema": [
            {
              "id": "systemPrompt_replace",
              "displayName": "systemPrompt_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1600,
        384
      ],
      "id": "a525f14d-313d-48a3-acdd-f04b36c3755d",
      "name": "SP_plain"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b51b3b63-2255-45fe-9023-8b136b8f4080",
              "name": "systemPromptImgFeature",
              "value": "<system_identity>\nIdeas-Refiner v30-R1 (Release 1 - Flash 3.0).\nRole: Act as a surgical editor for existing bilingual fashion photoshoot scenarios. \nObjective: Apply user refinements ONLY to targeted scenarios while preserving the exact text of unaffected scenarios. Maintain editorial integrity, cinematic tone, and strict bilingual JSON structure. Output exactly ONE raw JSON object and nothing else.\n</system_identity>\n\n<configuration>\nTRANSLATELANG = Russian\nCanonical Fields (Must remain English): \"Scenario\", \"Description\"\nLocalized Fields (Must map to Russian): \"ScenarioLocal\", \"DescriptionLocal\"\n</configuration>\n\n<input_validation_and_errors>\nYou will receive an input containing a \"Request\" (the refinement instruction) and an \"Input\" (an array of exactly 5 scenario objects). Tolerate minor formatting noise if the 5 scenarios are recoverable.\n\nEvaluate before processing. If an error condition is met, output ONLY the exact matching JSON error object:\n\n1. Invalid Input (Missing Request/Input, cannot recover exactly 5 valid scenarios, or missing/invalid OrderIds 1-5):\n{\"response\":\"error\",\"msg\":\"⚠ Error. Invalid input: refinement request and five usable bilingual scenario objects must be present.\"}\n\n2. Invalid Request (The instruction is meaningless token noise, completely incoherent, or devoid of actionable intent):\n{\"response\":\"error\",\"msg\":\"⚠ Error. Invalid request: the refinement instructions are absurd, incoherent, or impossible to interpret.\"}\n</input_validation_and_errors>\n\n<scope_detection>\nDetermine WHICH scenarios to edit based on the \"Request\". Follow this priority order:\n\n1. Explicit Selectors (Numbers & Ordinals): Look for leading digits/separators (e.g., \"1.\", \"1 - \", \"2, 4\") OR textual ordinals in English/Russian (e.g., \"first\", \"last\", \"первый\", \"последний\", \"во втором\", \"для третьей\"). If found, lock these as the target scope, REMOVE the selector from the text, and treat the rest as the instruction.\n2. Global Wording: Look for global commands (e.g., \"all scenarios\", \"для всех\", \"везде\").\n3. Semantic / Content-Based Mapping: If no direct numbers or ordinals exist, match the instruction to a specific scenario based on textual references to the scene's title, location, or distinct content (e.g., \"сцена в храме\" maps to the Temple scenario, \"где она на эстакаде\" maps to the Overpass scenario). Lock scope to this scenario if the match is High Confidence.\n\nScope Ambiguity Error: If the instruction is meaningful but you cannot reliably determine WHICH scenario(s) it applies to, output ONLY:\n{\"response\":\"error\",\"msg\":\"⚠ Error. Invalid request: the refinement scope is ambiguous or impossible to determine reliably.\"}\n</scope_detection>\n\n<surgical_refinement_rules>\nThis is a surgical editorial pass, not a rewrite. \n\nFor UNAFFECTED Scenarios (Not in scope):\n- PRESERVE ABSOLUTELY. Copy the \"Scenario\", \"Description\", \"ScenarioLocal\", and \"DescriptionLocal\" exactly as they appear in the input. DO NOT alter a single word of unaffected scenarios.\n\nFor AFFECTED Scenarios (In scope):\n- Change ONLY what the Request requires. Preserve the original wording, rhythm, and imagery as much as possible. Do not invent new outfits or add accessories unless explicitly requested.\n- English First: \n  - Update \"Scenario\" (Title) ONLY if the core scene identity changes (not just mood/weather). Keep it 2-4 words, Title Case.\n  - Update \"Description\": Modify the 5-7 sentence paragraph (approx. 95-115 words) to reflect the refinement. Maintain a fluent, cinematic, non-technical, editorial tone.\n- Russian Localization Second:\n  - If \"Scenario\" changed, update \"ScenarioLocal\" naturally.\n  - If \"Description\" changed, update \"DescriptionLocal\" to reflect the changes. Keep it concise (2-3 sentences, approx. 35-45 words). Ensure semantic alignment with the final English text.\n</surgical_refinement_rules>\n\n<output_schema>\nIf successful, return exactly ONE JSON object matching this exact structure containing all 5 scenarios (both edited and preserved):\n\n{\n  \"Scenarios\": [\n    {\n      \"Scenario\": \"1. [English Title]\",\n      \"OrderId\": \"1\",\n      \"Description\": \"[English cinematic description]\",\n      \"ScenarioLocal\": \"1. [Russian Title]\",\n      \"DescriptionLocal\": \"[Shortened Russian description]\"\n    },\n    // ... Output all 5 objects in OrderId sequence (1, 2, 3, 4, 5)\n  ]\n}\n</output_schema>\n\n<json_constraints>\n1. Output valid, strict JSON ONLY.\n2. DO NOT wrap the JSON in markdown formatting (e.g., no ```json ``` blocks). Output the raw brackets { to }.\n3. DO NOT include any conversational text, explanations, or metadata before or after the JSON object.\n4. \"OrderId\" values must remain strictly \"1\", \"2\", \"3\", \"4\", \"5\".\n5. Do not use malformed escapes, raw control characters, or unescaped quotes inside string values.\n</json_constraints>",
              "type": "string"
            },
            {
              "id": "70ccc749-a57a-4c10-b585-6363ead0a506",
              "name": "promptName",
              "value": "Ideas-Refiner",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2352,
        368
      ],
      "id": "ce8c5ecf-fcf4-4ce7-8586-75d46568e808",
      "name": "SP_IdeasRefiner"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('GetCurrentCount4').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "creativeScenarios": "={{ $('IfResponseOk3').item.json.data.replaceAll(\"```\",\"\").replaceAll(\"json\",\"\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "process",
              "displayName": "process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lookSelected",
              "displayName": "lookSelected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceImgUrl",
              "displayName": "faceImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceDescr",
              "displayName": "faceDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "concatDescr",
              "displayName": "concatDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "replyToMessageIdGallery",
              "displayName": "replyToMessageIdGallery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generatedModelUrl",
              "displayName": "generatedModelUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generatedModelPrompt",
              "displayName": "generatedModelPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "creativeScenarios",
              "displayName": "creativeScenarios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -16,
        208
      ],
      "id": "a8fff9f6-e5da-45ce-bd55-b04dea95f1b9",
      "name": "SaveScenarios",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30f32611-2d96-442a-8443-e466e7dd061d",
              "name": "forMsg",
              "value": "={{ $json.creativeScenarios.replaceAll(\"```\",\"\").replaceAll(\"json\",\"\").parseJson().Scenarios.map( item => item.ScenarioLocal +\"\\n\\n\"+ item.DescriptionLocal +\"\\n\\n\").join(\"\") \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        208
      ],
      "id": "541caa5c-464a-4fad-9b9d-37bf42cc70b2",
      "name": "Scenarios"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message_chat_id }}",
        "text": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.msg.replaceAll(\"'\",'\"').parseJson().msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        16
      ],
      "id": "95df84be-200f-4dc0-9811-9bd320fc6f4c",
      "name": "OP_Err_ response",
      "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4d18a02-62b3-4043-9abd-fd7d589837ea",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2880,
        384
      ],
      "id": "762afb2c-45bf-4da3-a8a8-c9010ff0f810",
      "name": "IfEmpty"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message_chat_id }}",
        "text": "={{\"Действие отменено.\" +\"\\n\\n\" +\n\n\"Вы можете внести правки в сценарии, либо создать изображения для всей серии.\" \n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Внести правки",
                    "additionalFields": {
                      "callback_data": "addScenarioIdeaEdits"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Создать изображения",
                    "additionalFields": {
                      "callback_data": "generatePhotoset"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2480,
        560
      ],
      "id": "95f40abe-b9ff-455f-955a-dcaf5dac84f0",
      "name": "initMsg2",
      "webhookId": "da04a605-c2ff-4b52-8fb9-ad119febfe61",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Start').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "replyToMessageIdGallery": "={{ $json.result.message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "process",
              "displayName": "process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceImgUrl",
              "displayName": "faceImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "replyToMessageIdGallery",
              "displayName": "replyToMessageIdGallery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "faceGalleryUrl",
              "displayName": "faceGalleryUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FaceErrToMsgId",
              "displayName": "FaceErrToMsgId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -2240,
        560
      ],
      "id": "a01684bc-68a4-4c13-a57e-980273b00ef2",
      "name": "Set GalleryForFaceRecieved"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message_chat_id }}",
        "text": "=Принято! Вношу правки...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3424,
        384
      ],
      "id": "bcf30de2-e2ec-4f5a-abe2-8c8c44be4b82",
      "name": "OP_Err_ response1",
      "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "TG PROD"
        }
      },
      "disabled": true
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Db9RTL99yUCO77oO",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-11T12:15:45.217Z",
      "createdAt": "2026-03-11T12:15:45.217Z",
      "role": "workflow:owner",
      "workflowId": "xlNhXdZBgSYRuqw1",
      "projectId": "M9bTlSGaaAbsZxvs"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-02T14:25:49.831Z",
      "createdAt": "2026-03-02T14:25:49.831Z",
      "id": "6ZyTvRGaNVzskE04",
      "name": "TG_PROD"
    },
    {
      "updatedAt": "2026-03-11T12:16:20.815Z",
      "createdAt": "2026-03-11T12:16:09.041Z",
      "id": "Jln8nsNUFAcJYl11",
      "name": "SP_IdeasRefiner"
    },
    {
      "updatedAt": "2026-03-02T14:26:06.738Z",
      "createdAt": "2026-03-02T14:26:06.738Z",
      "id": "tzvi3HGYBgqT00vr",
      "name": "CM"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-28T10:45:44.638Z",
  "versionId": "875b8b51-7466-411b-af3c-2c9fbba3958e"
}