2026/03/YVTngpIa8BIVq22d.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-22T12:20:08.000Z",
    "createdAt": "2026-03-22T12:19:23.347Z",
    "versionId": "c7c1f9ae-4917-49dd-96d5-b04c005a1222",
    "workflowId": "YVTngpIa8BIVq22d",
    "nodes": [
      {
        "parameters": {
          "errorMessage": "⚠️ Ошибка генерации."
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          -1520,
          512
        ],
        "id": "3209b36f-4f27-40c5-b2e7-8235992031e8",
        "name": "Stop and Error2"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "cy2OHtNbUQaDIMP4",
            "mode": "list",
            "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
            "cachedResultName": "subMkPlnTxt"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "systemPrompt_replace": "={{ $json.recievedPrompt }}"
            },
            "matchingColumns": [
              "systemPrompt_replace"
            ],
            "schema": [
              {
                "id": "systemPrompt_replace",
                "displayName": "systemPrompt_replace",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1968,
          416
        ],
        "id": "fb8f8cc8-ebb0-4905-b0de-9780c9cd7258",
        "name": "subMkPlnTxt-SP1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b51b3b63-2255-45fe-9023-8b136b8f4080",
                "name": "Descr",
                "value": "\"USER PROMPT: Model-MagazinePrompter v7 (VOGUE Style Optimized)\n\nUse the reference portrait as the identity anchor and create a photorealistic luxury fashion magazine cover featuring the same person, preserving their recognizable facial structure, skin tone, eye color, hairstyle, and overall appearance. Design the image as an authentic Vogue-style high-fashion cover with vertical framing, premium editorial realism, and polished magazine layout.\n\nThe most important composition rule is the masthead layering: place \"\"VOGUE\"\" at the top center as a true background element behind the subject’s head and hair. The person must be rendered in front of the masthead so the head and hair naturally occlude the lower portions of the letters wherever they overlap. Parts of the logo must disappear behind the silhouette in classic printed-cover style, while the word \"\"VOGUE\"\" remains clearly recognizable. The masthead must never appear as a foreground overlay and must never be printed across the forehead, face, skin, or front surface of the hair. Frame the subject high enough so the top of the head and hair physically intersect the lower part of the masthead, creating unmistakable depth layering.\n\nChange the pose and facial expression from the source image while keeping the person clearly identifiable. The pose should feel distinctly editorial and visibly different from the reference, such as a three-quarter turn, subtle torso rotation, over-the-shoulder angle, seated posture, asymmetric shoulder line, or graceful hand interaction with the garment. The facial expression should also be newly interpreted rather than copied from the source, with a camera-aware editorial mood such as soft confidence, luminous warmth, poised glamour, playful sophistication, or quietly powerful intensity. Avoid blank or emotionally flat expressions.\n\nDress the subject in premium high-fashion styling chosen to suit their features and presence, such as sculptural tailoring, refined draping, couture-inspired eveningwear, statement outerwear, elegant separates, monochrome minimalism, or richly textured luxury fabrics. Avoid generic repetitive blazer-only styling unless it is transformed into a strong editorial look.\n\nUse high-end editorial lighting, crisp facial detail, natural skin texture, believable fabric realism, elegant color grading, shallow controlled depth of field, and a glossy print-magazine finish against a clean luxurious background. Include realistic magazine typography with the exact masthead \"\"VOGUE\"\" at the top center behind the subject’s head, one sophisticated main feature headline in the lower third, and 4 to 7 polished supporting cover lines along the sides with believable editorial hierarchy, refined fonts, balanced spacing, and text that does not cover the eyes or key facial features.\n\nAvoid identity drift, warped text, awkward anatomy, weak wardrobe choices, repetitive beauty-cover posing, and any result where the \"\"VOGUE\"\" masthead appears detached above the head or visibly over the forehead, face, or front surface of the hair.\nIf any part of the masthead appears on the forehead, face, or front plane of the hair, the result is incorrect.\"",
                "type": "string"
              },
              {
                "id": "96e51268-f65c-4e7d-be8b-854b5443d90f",
                "name": "promptName",
                "value": "Model-MagazinePrompter",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -3344,
          400
        ],
        "id": "81446fbf-ed65-4e22-8d32-af9bec6edf57",
        "name": "SP_MagazinePrompter"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.laozhang.ai/v1beta/models/gemini-3-pro-image-preview:generateContent",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"model\": \"gemini-3-pro-image-preview\",\n   \n    \"stream\": false,\n    \"temperature\": 0.3,\n\n    \"messages\": [\n        {\n            \"role\": \"user\",\n            \"content\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $json.plainText }}\"\n                },\n\n                {\n                    \"type\": \"image_url\",\n                    \"image_url\": \"{{ $('Start').item.json.generatedModelUrl }}\"\n                    \n                }\n                   \n            ],\n            \"generationConfig\": {\n            \"responseModalities\": [\"IMAGE\"],\n                \"imageConfig\": {\n                    \"aspectRatio\": \"1:1\",\n                    \"imageSize\": \"2K\",\n                    \"output_format\": \".png\"\n                 }\n            }\n           \n        }\n    ]    \n}",
          "options": {
            "redirect": {
              "redirect": {}
            },
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 100000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1744,
          416
        ],
        "id": "d0ed874d-077a-4d3c-a47a-5c132ca1a317",
        "name": "SetNBgen1",
        "executeOnce": false,
        "credentials": {
          "httpBearerAuth": {
            "id": "l0RE3N1j86lmu3ck",
            "name": "LaoZhang API"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "choices",
          "options": {
            "mimeType": ""
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          544,
          528
        ],
        "id": "929a3990-75bc-4f79-9a6e-eea3a1d1a9b3",
        "name": "Convert to File1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "23d8f101-b8b7-4eb2-992d-2bed28cc7da5",
                "name": "choices",
                "value": "={{ $('SetNBgen1').item.json.choices[0].message.content.split(',')[1].replaceAll(')','')}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          320,
          528
        ],
        "id": "77a4ceba-9d08-4855-ab10-b2263621584a",
        "name": "str1"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "generatedModelUrl",
                "type": "any"
              },
              {
                "name": "chat_id",
                "type": "number"
              },
              {
                "name": "debugMode"
              },
              {
                "name": "apiName"
              },
              {
                "name": "apiNameNB"
              }
            ]
          }
        },
        "id": "32b3bbb8-60c0-4370-b119-6c4dbcf11bbc",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -3568,
          400
        ]
      },
      {
        "parameters": {
          "operation": "sendPhoto",
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "binaryData": true,
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          960,
          656
        ],
        "id": "9ecea4f6-f524-4141-9c01-d6e54910e924",
        "name": "Send a photo message",
        "webhookId": "a1561c3c-114a-4aca-8ae2-15e214f286ef",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cab538c3-5d16-4717-8392-8cea80e6ff3a",
                "leftValue": "={{ $json.debugMsg.length>4000 }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -928,
          192
        ],
        "id": "d0f8db45-ff79-443e-9bc8-7c2f8f46b585",
        "name": "If>4000"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cab538c3-5d16-4717-8392-8cea80e6ff3a",
                "leftValue": "={{ $json.debugMsg.length>8000 }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -272,
          80
        ],
        "id": "4e7b3786-afb7-4175-91d8-8bebfec728fa",
        "name": "If>8000"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "={{ $('DebugMsg1').item.json.debugMsg.substring(8000) }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "106ea3db-09c4-49e7-9f1f-fce0db384962",
        "name": "SendParam2part1",
        "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "426f7bb3-d212-4d21-9f74-2682c61d9dde",
                "name": "debugMsg",
                "value": "={{\"*model*: gemini-3-pro-image-preview\"  + \"\\n\\n\" +  \"*sytemPrompt*: '\"+  $('subMkPlnTxt-SP1').item.json.plainText  + \"' \\n\\n\"  + \"*userPrompt*: \"  + \"\\n\\n\" +  \"*responseModalities*: ['IMAGE']\" + \"\\n\"  + \"*temperature*: 0.3,\" + \"\\n\"  + \n\"*stream*: false,\" + \"\\n\"  + \n\"*aspect_ratio*: 9:16,\" + \"\\n\"  + \n\"*resolution*: 2K,\" + \"\\n\"  + \"*output_format* :'png'\"  \n}}\n\n \n  \n",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1152,
          192
        ],
        "id": "7c2e9185-7c13-4147-ac10-9334d0afb86f",
        "name": "DebugMsg1"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "={{ $('DebugMsg1').item.json.debugMsg }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -144,
          336
        ],
        "id": "781e2217-bcc5-42b9-a7ab-2f13bb1bf4c9",
        "name": "Send a text message",
        "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "={{ $('DebugMsg1').item.json.debugMsg.substring(0,4000) }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -656,
          80
        ],
        "id": "c7aa0936-55dd-48b6-a970-58183fbb891c",
        "name": "SendParam1part1",
        "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "={{ $('DebugMsg1').item.json.debugMsg.substring(4000,8000) }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -464,
          64
        ],
        "id": "9a5166e6-30d8-4f5c-948d-59d2e3d23a30",
        "name": "SendParam2part2",
        "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1408,
          368
        ],
        "id": "75384fd1-a343-4fc9-bed9-23f21b102048",
        "name": "IfDebug1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "09b70afd-76f1-459c-9a7c-16af72a0a5de",
                "name": "recievedPrompt",
                "value": "={{$('GetPrompt1').isExecuted && $('GetPrompt1').item.json.PromptText.isNotEmpty()\n?$('GetPrompt1').item.json.PromptText\n:$('SP_MagazinePrompter').item.json.Descr\n}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2736,
          432
        ],
        "id": "48623ba4-b301-4577-947a-4cc48f04287f",
        "name": "SP_recievedPrompt1"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ",
            "mode": "list",
            "cachedResultName": "N8N prompts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "PromptName",
                "lookupValue": "={{ $('SP_MagazinePrompter').item.json.promptName }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -2912,
          256
        ],
        "id": "d3141778-3a35-405c-af46-09b143cc8d7a",
        "name": "GetPrompt1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f3370f8c-837f-416e-a8b9-268ff8d544f5",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3120,
          416
        ],
        "id": "97e42e59-bf20-4305-a29b-612b7458bcb3",
        "name": "IfDebug"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$('Start').item.json.apiNameNB.toLowerCase()  }}",
                      "rightValue": "laozhang",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "13b7a774-7a01-4ecb-9a14-da2f3b5891b7"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "laozhang"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ed735cd5-2d59-49dc-a384-d3be2f8dc49b",
                      "leftValue": "={{ $('Start').item.json.apiNameNB.toLowerCase()  }}",
                      "rightValue": "google",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "google"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "0de8e230-9eca-42a7-91e8-1f445140209f",
                      "leftValue": "={{ $('Start').item.json.apiNameNB.toLowerCase() }}",
                      "rightValue": "fal",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "fal"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -2528,
          528
        ],
        "id": "05d04368-ab16-42a1-820d-2eb6577aeaa6",
        "name": "Switch"
      },
      {
        "parameters": {
          "resource": "image",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-3-pro-image-preview",
            "mode": "list",
            "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
          },
          "prompt": "={{ $('SP_recievedPrompt1').item.json.recievedPrompt }}",
          "options": {
            "sampleCount": 1,
            "binaryPropertyOutput": "data"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          -816,
          800
        ],
        "id": "2b94370d-c5ce-4788-bb79-d665ec9add3d",
        "name": "Generate an image",
        "credentials": {
          "googlePalmApi": {
            "id": "7uq26pW3rjLVZ4Re",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $('Start').item.json.generatedModelUrl }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1952,
          672
        ],
        "id": "ab01dd3b-0eb0-4210-977a-1f01b1cf26b2",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "binaryPropertyName": "={{ Object.keys($binary).first() }}",
          "options": {}
        },
        "id": "531c522a-56ec-40a5-800c-3f45a0330873",
        "name": "Extract from File",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          -1440,
          816
        ],
        "typeVersion": 1,
        "notes": "© 2025 Lucas Peyrin"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "db6b30b5-a420-430b-87ae-a4887bfe9628",
                "name": "binary_key",
                "type": "string",
                "value": "={{ Object.keys($binary).first() }}"
              },
              {
                "id": "8e1643f7-e794-43b2-a5ac-80b6b621b547",
                "name": "output_file_name",
                "type": "string",
                "value": "={{ $('Start').item.json.imgUrls }}"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "ee7426e9-4e52-4b41-89f7-424ba2101fe5",
        "name": "SET OUTPUT FILE NAME",
        "type": "n8n-nodes-base.set",
        "position": [
          -1696,
          768
        ],
        "typeVersion": 3.4,
        "notes": "© 2025 Lucas Peyrin"
      },
      {
        "parameters": {
          "jsCode": "const myBuffer = Buffer.from($json.data, 'base64');\n\n$input.item.binary = {\n  [$('SET OUTPUT FILE NAME').last().json.binary_key]: await this.helpers.prepareBinaryData(myBuffer, $('SET OUTPUT FILE NAME').last().json.output_file_name)\n};\n\nreturn $input.item;\n"
        },
        "id": "6f734f71-4aa2-40db-9068-91b74e706ed2",
        "name": "Change Binary Data Type",
        "type": "n8n-nodes-base.code",
        "position": [
          -1120,
          800
        ],
        "typeVersion": 2,
        "notes": "© 2025 Lucas Peyrin"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "abe0fb54-830c-44aa-90c0-9e56746cdb0a",
                "leftValue": "={{ $('Start').item.json.generatedModelUrl }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2256,
          640
        ],
        "id": "d93829ec-2815-4ba2-b59b-15be1b9a350c",
        "name": "IfNotEmpty"
      },
      {
        "parameters": {
          "errorMessage": "⚠️ Нет изображения модели."
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          -2048,
          896
        ],
        "id": "0456b765-b6b8-492a-8d99-eac70c3a7b28",
        "name": "Stop and Error"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('SP_recievedPrompt1').item.json.recievedPrompt }}",
          "options": {
            "passthroughBinaryImages": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          128,
          1808
        ],
        "id": "55bdac61-1185-4c93-b20c-20f3415269be",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "modelName": "models/gemini-3-pro-image-preview",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          288,
          2160
        ],
        "id": "86f8b866-c9cd-4ede-b81a-ab1ff2e67199",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "7uq26pW3rjLVZ4Re",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "426f7bb3-d212-4d21-9f74-2682c61d9dde",
                "name": "debugMsg",
                "value": "={{\"*sytemPrompt*: \"+ $('SP_recievedPrompt1').item.json.recievedPrompt +  \"\\n\\n\" + \"*urls*: [\\'\"  + $('Start').item.json.generatedModelUrl +\"\\']\"  +\"\\n\" +  + \"*temperature*: 0,\" + \"\\n\"  + \"*stream*: false,\" + \"\\n\"  + \"*include_thoughts*: false,\" + \"\\n\"  + \"*reasoning_effort*: low\" \n}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -240,
          1072
        ],
        "id": "abb0b991-60de-4316-b40e-4ec0a4a0ed6a",
        "name": "DebugMsg3"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "={{$('IfDebug3').item.json.output.substring(0,4000)}}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1392,
          864
        ],
        "id": "82dd6be6-fcb3-4edb-896c-39e7ecd400a0",
        "name": "Send a text message22",
        "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "={{ $('DebugMsg3').item.json.debugMsg }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          880,
          1216
        ],
        "id": "9b660501-48f0-4bf9-8541-895a5e050ab9",
        "name": "Send a text message23",
        "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "={{ $('DebugMsg3').item.json.debugMsg.substring(0,4000).toJsonString() + \"]\" }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          256,
          928
        ],
        "id": "2e5d7a45-45bd-4db1-addb-9eaec9a47357",
        "name": "SendParam1part3",
        "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "={{ \"[\" + $('DebugMsg3').item.json.debugMsg.substring(4000,8000) }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          480,
          912
        ],
        "id": "bdebfa18-231a-428b-9f9c-4efe4a41ed85",
        "name": "SendParam2part6",
        "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -528,
          816
        ],
        "id": "2e475866-0419-48bc-82bb-ecd63a6bcf62",
        "name": "IfDebug3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d2cd486f-2d9d-4225-aea4-891c1d102cf2",
                "leftValue": "={{$('DebugMsg3').item.json.debugMsg.length>4000 }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1104,
          1072
        ],
        "id": "5eae5cd3-7d4b-4b5c-abae-2ba9d304dc90",
        "name": "IfAnswerTooLong3"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "={{ $('DebugMsg3').item.json.debugMsg }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1952,
          1152
        ],
        "id": "e8fdd889-7810-4f60-bcaf-209132af67fc",
        "name": "Send a text message24",
        "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "={{ $('IfDebug3').item.json.output.substring(4000,8000)}}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1616,
          864
        ],
        "id": "2127be23-4006-4413-a077-696d5a0c6f65",
        "name": "Send a text message25",
        "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "={{\n$('DebugMsg3').item.json.debugMsg.substring(8000) \n}}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          848,
          880
        ],
        "id": "1a16c611-1e80-4483-8750-83967e21d7ef",
        "name": "SendParam2part7",
        "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "={{$('IfDebug3').item.json.output.substring(8000)}}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2032,
          704
        ],
        "id": "051b201d-06e3-463a-8161-55b7aaa2d425",
        "name": "Send a text message26",
        "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d74e92d6-9c39-4236-acba-1f2ee63b8d59",
                "leftValue": "={{$('DebugMsg3').item.json.debugMsg.length>8000 }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          672,
          1024
        ],
        "id": "9a5fa81f-36d8-404d-ac5f-fe8951ed78fe",
        "name": "If>2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cab538c3-5d16-4717-8392-8cea80e6ff3a",
                "leftValue": "={{ $json.debugMsg.length>4000 }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -16,
          1072
        ],
        "id": "b2c226ce-a784-4aab-97ce-3094d8c8e8a2",
        "name": "IfT>2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d74e92d6-9c39-4236-acba-1f2ee63b8d59",
                "leftValue": "={{$('IfDebug3').item.json.output.length>8000 }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1840,
          864
        ],
        "id": "f7f05df4-3f02-492e-a805-c6fd36d684c5",
        "name": "If>8004"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "cy2OHtNbUQaDIMP4",
            "mode": "list",
            "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
            "cachedResultName": "subMkPlnTxt"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "systemPrompt_replace": "={{ $('SP_recievedPrompt1').item.json.recievedPrompt }}"
            },
            "matchingColumns": [
              "systemPrompt_replace"
            ],
            "schema": [
              {
                "id": "systemPrompt_replace",
                "displayName": "systemPrompt_replace",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -2016,
          1408
        ],
        "id": "b518a7ee-4d87-4278-9905-ffeb3473bc24",
        "name": "subMkPlnTxt-SP"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "9A6kp0SAPV2FCdMQ",
            "mode": "list",
            "cachedResultUrl": "/workflow/9A6kp0SAPV2FCdMQ",
            "cachedResultName": "subTR_NB_Fal"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "systemPrompt": "={{ $json.plainText }}",
              "urls": "={{ $('convertToArray').item.json.urlArray.toJsonString() }}",
              "chatId": "={{ $('Start').item.json.chat_id }}",
              "debugMode": "={{ $('Start').item.json.debugMode }}",
              "apiName": "={{ $('Start').item.json.apiName }}",
              "apiNameNB": "={{ $('Start').item.json.apiNameNB }}",
              "aspectRatioNoCommas": "3:4"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "systemPrompt",
                "displayName": "systemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "urls",
                "displayName": "urls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "chatId",
                "displayName": "chatId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "debugMode",
                "displayName": "debugMode",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "apiName",
                "displayName": "apiName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "apiNameNB",
                "displayName": "apiNameNB",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "aspectRatioNoCommas",
                "displayName": "aspectRatioNoCommas",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": true,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1808,
          1408
        ],
        "id": "1bca26df-c896-4e4e-95be-cab20377c531",
        "name": "Call 'subTR_NB_Fal'"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.chat_id }}",
          "text": "={{\"Фотомодель готова к работе!\" + \"\\n\" +\n\"Подберите идеальный образ и разработайте концепцию креативной фотосессии в уникальных локациях.\"  + \"\\n\" +\n\"👇\" }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1568,
          1408
        ],
        "id": "42f6cbd9-2fc5-46b7-8eb9-a6d8c49fd68b",
        "name": "Send a text message27",
        "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "97d32985-16f8-4f45-adc1-abfb2e55018b",
                "name": "urlArray",
                "value": "={{[ $('Start').item.json.generatedModelUrl ]}}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2368,
          944
        ],
        "id": "fad2c869-3592-4469-8b64-5871e16f19d5",
        "name": "convertToArray"
      }
    ],
    "connections": {
      "SP_MagazinePrompter": {
        "main": [
          [
            {
              "node": "IfDebug",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "subMkPlnTxt-SP1": {
        "main": [
          [
            {
              "node": "SetNBgen1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "str1": {
        "main": [
          [
            {
              "node": "Convert to File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SetNBgen1": {
        "main": [
          [
            {
              "node": "IfDebug1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "SP_MagazinePrompter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File1": {
        "main": [
          [
            {
              "node": "Send a photo message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If>4000": {
        "main": [
          [
            {
              "node": "SendParam1part1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If>8000": {
        "main": [
          [
            {
              "node": "SendParam2part1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "str1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DebugMsg1": {
        "main": [
          [
            {
              "node": "If>4000",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SendParam1part1": {
        "main": [
          [
            {
              "node": "SendParam2part2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SendParam2part2": {
        "main": [
          [
            {
              "node": "If>8000",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug1": {
        "main": [
          [
            {
              "node": "DebugMsg1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "str1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SendParam2part1": {
        "main": [
          [
            {
              "node": "str1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          [
            {
              "node": "str1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetPrompt1": {
        "main": [
          [
            {
              "node": "SP_recievedPrompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug": {
        "main": [
          [
            {
              "node": "GetPrompt1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SP_recievedPrompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SP_recievedPrompt1": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "subMkPlnTxt-SP1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IfNotEmpty",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "convertToArray",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate an image": {
        "main": [
          [
            {
              "node": "IfDebug3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "SET OUTPUT FILE NAME",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Change Binary Data Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SET OUTPUT FILE NAME": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfNotEmpty": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Change Binary Data Type": {
        "main": [
          [
            {
              "node": "Generate an image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "DebugMsg3": {
        "main": [
          [
            {
              "node": "IfT>2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message22": {
        "main": [
          [
            {
              "node": "Send a text message25",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message23": {
        "main": [
          [
            {
              "node": "IfAnswerTooLong3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SendParam1part3": {
        "main": [
          [
            {
              "node": "SendParam2part6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SendParam2part6": {
        "main": [
          [
            {
              "node": "If>2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug3": {
        "main": [
          [
            {
              "node": "DebugMsg3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a photo message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfAnswerTooLong3": {
        "main": [
          [
            {
              "node": "Send a text message22",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message24",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message25": {
        "main": [
          [
            {
              "node": "If>8004",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SendParam2part7": {
        "main": [
          [
            {
              "node": "IfAnswerTooLong3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If>2": {
        "main": [
          [
            {
              "node": "SendParam2part7",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IfAnswerTooLong3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfT>2": {
        "main": [
          [
            {
              "node": "SendParam1part3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message23",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If>8004": {
        "main": [
          [
            {
              "node": "Send a text message26",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "subMkPlnTxt-SP": {
        "main": [
          [
            {
              "node": "Call 'subTR_NB_Fal'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'subTR_NB_Fal'": {
        "main": [
          [
            {
              "node": "Send a text message27",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "convertToArray": {
        "main": [
          [
            {
              "node": "subMkPlnTxt-SP",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DLS  ",
    "name": "Version c7c1f9ae",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-22T12:20:08.866Z",
        "id": 1622,
        "workflowId": "YVTngpIa8BIVq22d",
        "versionId": "c7c1f9ae-4917-49dd-96d5-b04c005a1222",
        "event": "activated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    ]
  },
  "activeVersionId": "c7c1f9ae-4917-49dd-96d5-b04c005a1222",
  "connections": {
    "SP_MagazinePrompter": {
      "main": [
        [
          {
            "node": "IfDebug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "subMkPlnTxt-SP1": {
      "main": [
        [
          {
            "node": "SetNBgen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "str1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetNBgen1": {
      "main": [
        [
          {
            "node": "IfDebug1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "SP_MagazinePrompter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If>4000": {
      "main": [
        [
          {
            "node": "SendParam1part1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If>8000": {
      "main": [
        [
          {
            "node": "SendParam2part1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "str1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DebugMsg1": {
      "main": [
        [
          {
            "node": "If>4000",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendParam1part1": {
      "main": [
        [
          {
            "node": "SendParam2part2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendParam2part2": {
      "main": [
        [
          {
            "node": "If>8000",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug1": {
      "main": [
        [
          {
            "node": "DebugMsg1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "str1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendParam2part1": {
      "main": [
        [
          {
            "node": "str1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "str1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetPrompt1": {
      "main": [
        [
          {
            "node": "SP_recievedPrompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug": {
      "main": [
        [
          {
            "node": "GetPrompt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP_recievedPrompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP_recievedPrompt1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "subMkPlnTxt-SP1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfNotEmpty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "convertToArray",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "IfDebug3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "SET OUTPUT FILE NAME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Change Binary Data Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET OUTPUT FILE NAME": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfNotEmpty": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Binary Data Type": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DebugMsg3": {
      "main": [
        [
          {
            "node": "IfT>2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message22": {
      "main": [
        [
          {
            "node": "Send a text message25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message23": {
      "main": [
        [
          {
            "node": "IfAnswerTooLong3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendParam1part3": {
      "main": [
        [
          {
            "node": "SendParam2part6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendParam2part6": {
      "main": [
        [
          {
            "node": "If>2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug3": {
      "main": [
        [
          {
            "node": "DebugMsg3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfAnswerTooLong3": {
      "main": [
        [
          {
            "node": "Send a text message22",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message25": {
      "main": [
        [
          {
            "node": "If>8004",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendParam2part7": {
      "main": [
        [
          {
            "node": "IfAnswerTooLong3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If>2": {
      "main": [
        [
          {
            "node": "SendParam2part7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfAnswerTooLong3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfT>2": {
      "main": [
        [
          {
            "node": "SendParam1part3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If>8004": {
      "main": [
        [
          {
            "node": "Send a text message26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "subMkPlnTxt-SP": {
      "main": [
        [
          {
            "node": "Call 'subTR_NB_Fal'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subTR_NB_Fal'": {
      "main": [
        [
          {
            "node": "Send a text message27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convertToArray": {
      "main": [
        [
          {
            "node": "subMkPlnTxt-SP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-02T17:33:59.546Z",
  "description": null,
  "id": "YVTngpIa8BIVq22d",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "subTR_CM_Photo",
  "nodes": [
    {
      "parameters": {
        "errorMessage": "⚠️ Ошибка генерации."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1520,
        512
      ],
      "id": "3209b36f-4f27-40c5-b2e7-8235992031e8",
      "name": "Stop and Error2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cy2OHtNbUQaDIMP4",
          "mode": "list",
          "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
          "cachedResultName": "subMkPlnTxt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt_replace": "={{ $json.recievedPrompt }}"
          },
          "matchingColumns": [
            "systemPrompt_replace"
          ],
          "schema": [
            {
              "id": "systemPrompt_replace",
              "displayName": "systemPrompt_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1968,
        416
      ],
      "id": "fb8f8cc8-ebb0-4905-b0de-9780c9cd7258",
      "name": "subMkPlnTxt-SP1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b51b3b63-2255-45fe-9023-8b136b8f4080",
              "name": "Descr",
              "value": "\"USER PROMPT: Model-MagazinePrompter v7 (VOGUE Style Optimized)\n\nUse the reference portrait as the identity anchor and create a photorealistic luxury fashion magazine cover featuring the same person, preserving their recognizable facial structure, skin tone, eye color, hairstyle, and overall appearance. Design the image as an authentic Vogue-style high-fashion cover with vertical framing, premium editorial realism, and polished magazine layout.\n\nThe most important composition rule is the masthead layering: place \"\"VOGUE\"\" at the top center as a true background element behind the subject’s head and hair. The person must be rendered in front of the masthead so the head and hair naturally occlude the lower portions of the letters wherever they overlap. Parts of the logo must disappear behind the silhouette in classic printed-cover style, while the word \"\"VOGUE\"\" remains clearly recognizable. The masthead must never appear as a foreground overlay and must never be printed across the forehead, face, skin, or front surface of the hair. Frame the subject high enough so the top of the head and hair physically intersect the lower part of the masthead, creating unmistakable depth layering.\n\nChange the pose and facial expression from the source image while keeping the person clearly identifiable. The pose should feel distinctly editorial and visibly different from the reference, such as a three-quarter turn, subtle torso rotation, over-the-shoulder angle, seated posture, asymmetric shoulder line, or graceful hand interaction with the garment. The facial expression should also be newly interpreted rather than copied from the source, with a camera-aware editorial mood such as soft confidence, luminous warmth, poised glamour, playful sophistication, or quietly powerful intensity. Avoid blank or emotionally flat expressions.\n\nDress the subject in premium high-fashion styling chosen to suit their features and presence, such as sculptural tailoring, refined draping, couture-inspired eveningwear, statement outerwear, elegant separates, monochrome minimalism, or richly textured luxury fabrics. Avoid generic repetitive blazer-only styling unless it is transformed into a strong editorial look.\n\nUse high-end editorial lighting, crisp facial detail, natural skin texture, believable fabric realism, elegant color grading, shallow controlled depth of field, and a glossy print-magazine finish against a clean luxurious background. Include realistic magazine typography with the exact masthead \"\"VOGUE\"\" at the top center behind the subject’s head, one sophisticated main feature headline in the lower third, and 4 to 7 polished supporting cover lines along the sides with believable editorial hierarchy, refined fonts, balanced spacing, and text that does not cover the eyes or key facial features.\n\nAvoid identity drift, warped text, awkward anatomy, weak wardrobe choices, repetitive beauty-cover posing, and any result where the \"\"VOGUE\"\" masthead appears detached above the head or visibly over the forehead, face, or front surface of the hair.\nIf any part of the masthead appears on the forehead, face, or front plane of the hair, the result is incorrect.\"",
              "type": "string"
            },
            {
              "id": "96e51268-f65c-4e7d-be8b-854b5443d90f",
              "name": "promptName",
              "value": "Model-MagazinePrompter",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3344,
        400
      ],
      "id": "81446fbf-ed65-4e22-8d32-af9bec6edf57",
      "name": "SP_MagazinePrompter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.laozhang.ai/v1beta/models/gemini-3-pro-image-preview:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"gemini-3-pro-image-preview\",\n   \n    \"stream\": false,\n    \"temperature\": 0.3,\n\n    \"messages\": [\n        {\n            \"role\": \"user\",\n            \"content\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $json.plainText }}\"\n                },\n\n                {\n                    \"type\": \"image_url\",\n                    \"image_url\": \"{{ $('Start').item.json.generatedModelUrl }}\"\n                    \n                }\n                   \n            ],\n            \"generationConfig\": {\n            \"responseModalities\": [\"IMAGE\"],\n                \"imageConfig\": {\n                    \"aspectRatio\": \"1:1\",\n                    \"imageSize\": \"2K\",\n                    \"output_format\": \".png\"\n                 }\n            }\n           \n        }\n    ]    \n}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 100000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1744,
        416
      ],
      "id": "d0ed874d-077a-4d3c-a47a-5c132ca1a317",
      "name": "SetNBgen1",
      "executeOnce": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "l0RE3N1j86lmu3ck",
          "name": "LaoZhang API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "choices",
        "options": {
          "mimeType": ""
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        544,
        528
      ],
      "id": "929a3990-75bc-4f79-9a6e-eea3a1d1a9b3",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23d8f101-b8b7-4eb2-992d-2bed28cc7da5",
              "name": "choices",
              "value": "={{ $('SetNBgen1').item.json.choices[0].message.content.split(',')[1].replaceAll(')','')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        528
      ],
      "id": "77a4ceba-9d08-4855-ab10-b2263621584a",
      "name": "str1"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "generatedModelUrl",
              "type": "any"
            },
            {
              "name": "chat_id",
              "type": "number"
            },
            {
              "name": "debugMode"
            },
            {
              "name": "apiName"
            },
            {
              "name": "apiNameNB"
            }
          ]
        }
      },
      "id": "32b3bbb8-60c0-4370-b119-6c4dbcf11bbc",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -3568,
        400
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        656
      ],
      "id": "9ecea4f6-f524-4141-9c01-d6e54910e924",
      "name": "Send a photo message",
      "webhookId": "a1561c3c-114a-4aca-8ae2-15e214f286ef",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cab538c3-5d16-4717-8392-8cea80e6ff3a",
              "leftValue": "={{ $json.debugMsg.length>4000 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -928,
        192
      ],
      "id": "d0f8db45-ff79-443e-9bc8-7c2f8f46b585",
      "name": "If>4000"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cab538c3-5d16-4717-8392-8cea80e6ff3a",
              "leftValue": "={{ $json.debugMsg.length>8000 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        80
      ],
      "id": "4e7b3786-afb7-4175-91d8-8bebfec728fa",
      "name": "If>8000"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "={{ $('DebugMsg1').item.json.debugMsg.substring(8000) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "106ea3db-09c4-49e7-9f1f-fce0db384962",
      "name": "SendParam2part1",
      "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "426f7bb3-d212-4d21-9f74-2682c61d9dde",
              "name": "debugMsg",
              "value": "={{\"*model*: gemini-3-pro-image-preview\"  + \"\\n\\n\" +  \"*sytemPrompt*: '\"+  $('subMkPlnTxt-SP1').item.json.plainText  + \"' \\n\\n\"  + \"*userPrompt*: \"  + \"\\n\\n\" +  \"*responseModalities*: ['IMAGE']\" + \"\\n\"  + \"*temperature*: 0.3,\" + \"\\n\"  + \n\"*stream*: false,\" + \"\\n\"  + \n\"*aspect_ratio*: 9:16,\" + \"\\n\"  + \n\"*resolution*: 2K,\" + \"\\n\"  + \"*output_format* :'png'\"  \n}}\n\n \n  \n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        192
      ],
      "id": "7c2e9185-7c13-4147-ac10-9334d0afb86f",
      "name": "DebugMsg1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "={{ $('DebugMsg1').item.json.debugMsg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -144,
        336
      ],
      "id": "781e2217-bcc5-42b9-a7ab-2f13bb1bf4c9",
      "name": "Send a text message",
      "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "={{ $('DebugMsg1').item.json.debugMsg.substring(0,4000) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -656,
        80
      ],
      "id": "c7aa0936-55dd-48b6-a970-58183fbb891c",
      "name": "SendParam1part1",
      "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "={{ $('DebugMsg1').item.json.debugMsg.substring(4000,8000) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -464,
        64
      ],
      "id": "9a5166e6-30d8-4f5c-948d-59d2e3d23a30",
      "name": "SendParam2part2",
      "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1408,
        368
      ],
      "id": "75384fd1-a343-4fc9-bed9-23f21b102048",
      "name": "IfDebug1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09b70afd-76f1-459c-9a7c-16af72a0a5de",
              "name": "recievedPrompt",
              "value": "={{$('GetPrompt1').isExecuted && $('GetPrompt1').item.json.PromptText.isNotEmpty()\n?$('GetPrompt1').item.json.PromptText\n:$('SP_MagazinePrompter').item.json.Descr\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2736,
        432
      ],
      "id": "48623ba4-b301-4577-947a-4cc48f04287f",
      "name": "SP_recievedPrompt1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ",
          "mode": "list",
          "cachedResultName": "N8N prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "PromptName",
              "lookupValue": "={{ $('SP_MagazinePrompter').item.json.promptName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2912,
        256
      ],
      "id": "d3141778-3a35-405c-af46-09b143cc8d7a",
      "name": "GetPrompt1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f3370f8c-837f-416e-a8b9-268ff8d544f5",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3120,
        416
      ],
      "id": "97e42e59-bf20-4305-a29b-612b7458bcb3",
      "name": "IfDebug"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$('Start').item.json.apiNameNB.toLowerCase()  }}",
                    "rightValue": "laozhang",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "13b7a774-7a01-4ecb-9a14-da2f3b5891b7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "laozhang"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ed735cd5-2d59-49dc-a384-d3be2f8dc49b",
                    "leftValue": "={{ $('Start').item.json.apiNameNB.toLowerCase()  }}",
                    "rightValue": "google",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "google"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0de8e230-9eca-42a7-91e8-1f445140209f",
                    "leftValue": "={{ $('Start').item.json.apiNameNB.toLowerCase() }}",
                    "rightValue": "fal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2528,
        528
      ],
      "id": "05d04368-ab16-42a1-820d-2eb6577aeaa6",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "={{ $('SP_recievedPrompt1').item.json.recievedPrompt }}",
        "options": {
          "sampleCount": 1,
          "binaryPropertyOutput": "data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -816,
        800
      ],
      "id": "2b94370d-c5ce-4788-bb79-d665ec9add3d",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "7uq26pW3rjLVZ4Re",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Start').item.json.generatedModelUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1952,
        672
      ],
      "id": "ab01dd3b-0eb0-4210-977a-1f01b1cf26b2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "={{ Object.keys($binary).first() }}",
        "options": {}
      },
      "id": "531c522a-56ec-40a5-800c-3f45a0330873",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -1440,
        816
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db6b30b5-a420-430b-87ae-a4887bfe9628",
              "name": "binary_key",
              "type": "string",
              "value": "={{ Object.keys($binary).first() }}"
            },
            {
              "id": "8e1643f7-e794-43b2-a5ac-80b6b621b547",
              "name": "output_file_name",
              "type": "string",
              "value": "={{ $('Start').item.json.imgUrls }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ee7426e9-4e52-4b41-89f7-424ba2101fe5",
      "name": "SET OUTPUT FILE NAME",
      "type": "n8n-nodes-base.set",
      "position": [
        -1696,
        768
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "jsCode": "const myBuffer = Buffer.from($json.data, 'base64');\n\n$input.item.binary = {\n  [$('SET OUTPUT FILE NAME').last().json.binary_key]: await this.helpers.prepareBinaryData(myBuffer, $('SET OUTPUT FILE NAME').last().json.output_file_name)\n};\n\nreturn $input.item;\n"
      },
      "id": "6f734f71-4aa2-40db-9068-91b74e706ed2",
      "name": "Change Binary Data Type",
      "type": "n8n-nodes-base.code",
      "position": [
        -1120,
        800
      ],
      "typeVersion": 2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "abe0fb54-830c-44aa-90c0-9e56746cdb0a",
              "leftValue": "={{ $('Start').item.json.generatedModelUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2256,
        640
      ],
      "id": "d93829ec-2815-4ba2-b59b-15be1b9a350c",
      "name": "IfNotEmpty"
    },
    {
      "parameters": {
        "errorMessage": "⚠️ Нет изображения модели."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -2048,
        896
      ],
      "id": "0456b765-b6b8-492a-8d99-eac70c3a7b28",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('SP_recievedPrompt1').item.json.recievedPrompt }}",
        "options": {
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        1808
      ],
      "id": "55bdac61-1185-4c93-b20c-20f3415269be",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-image-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        2160
      ],
      "id": "86f8b866-c9cd-4ede-b81a-ab1ff2e67199",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7uq26pW3rjLVZ4Re",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "426f7bb3-d212-4d21-9f74-2682c61d9dde",
              "name": "debugMsg",
              "value": "={{\"*sytemPrompt*: \"+ $('SP_recievedPrompt1').item.json.recievedPrompt +  \"\\n\\n\" + \"*urls*: [\\'\"  + $('Start').item.json.generatedModelUrl +\"\\']\"  +\"\\n\" +  + \"*temperature*: 0,\" + \"\\n\"  + \"*stream*: false,\" + \"\\n\"  + \"*include_thoughts*: false,\" + \"\\n\"  + \"*reasoning_effort*: low\" \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        1072
      ],
      "id": "abb0b991-60de-4316-b40e-4ec0a4a0ed6a",
      "name": "DebugMsg3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "={{$('IfDebug3').item.json.output.substring(0,4000)}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1392,
        864
      ],
      "id": "82dd6be6-fcb3-4edb-896c-39e7ecd400a0",
      "name": "Send a text message22",
      "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "={{ $('DebugMsg3').item.json.debugMsg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        1216
      ],
      "id": "9b660501-48f0-4bf9-8541-895a5e050ab9",
      "name": "Send a text message23",
      "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "={{ $('DebugMsg3').item.json.debugMsg.substring(0,4000).toJsonString() + \"]\" }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        928
      ],
      "id": "2e5d7a45-45bd-4db1-addb-9eaec9a47357",
      "name": "SendParam1part3",
      "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "={{ \"[\" + $('DebugMsg3').item.json.debugMsg.substring(4000,8000) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        912
      ],
      "id": "bdebfa18-231a-428b-9f9c-4efe4a41ed85",
      "name": "SendParam2part6",
      "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0de765e-567c-4916-984a-5e4d15aa13bb",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -528,
        816
      ],
      "id": "2e475866-0419-48bc-82bb-ecd63a6bcf62",
      "name": "IfDebug3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d2cd486f-2d9d-4225-aea4-891c1d102cf2",
              "leftValue": "={{$('DebugMsg3').item.json.debugMsg.length>4000 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1104,
        1072
      ],
      "id": "5eae5cd3-7d4b-4b5c-abae-2ba9d304dc90",
      "name": "IfAnswerTooLong3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "={{ $('DebugMsg3').item.json.debugMsg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1952,
        1152
      ],
      "id": "e8fdd889-7810-4f60-bcaf-209132af67fc",
      "name": "Send a text message24",
      "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "={{ $('IfDebug3').item.json.output.substring(4000,8000)}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        864
      ],
      "id": "2127be23-4006-4413-a077-696d5a0c6f65",
      "name": "Send a text message25",
      "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "={{\n$('DebugMsg3').item.json.debugMsg.substring(8000) \n}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        880
      ],
      "id": "1a16c611-1e80-4483-8750-83967e21d7ef",
      "name": "SendParam2part7",
      "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "={{$('IfDebug3').item.json.output.substring(8000)}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2032,
        704
      ],
      "id": "051b201d-06e3-463a-8161-55b7aaa2d425",
      "name": "Send a text message26",
      "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d74e92d6-9c39-4236-acba-1f2ee63b8d59",
              "leftValue": "={{$('DebugMsg3').item.json.debugMsg.length>8000 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        1024
      ],
      "id": "9a5fa81f-36d8-404d-ac5f-fe8951ed78fe",
      "name": "If>2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cab538c3-5d16-4717-8392-8cea80e6ff3a",
              "leftValue": "={{ $json.debugMsg.length>4000 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        1072
      ],
      "id": "b2c226ce-a784-4aab-97ce-3094d8c8e8a2",
      "name": "IfT>2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d74e92d6-9c39-4236-acba-1f2ee63b8d59",
              "leftValue": "={{$('IfDebug3').item.json.output.length>8000 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1840,
        864
      ],
      "id": "f7f05df4-3f02-492e-a805-c6fd36d684c5",
      "name": "If>8004"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cy2OHtNbUQaDIMP4",
          "mode": "list",
          "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
          "cachedResultName": "subMkPlnTxt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt_replace": "={{ $('SP_recievedPrompt1').item.json.recievedPrompt }}"
          },
          "matchingColumns": [
            "systemPrompt_replace"
          ],
          "schema": [
            {
              "id": "systemPrompt_replace",
              "displayName": "systemPrompt_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2016,
        1408
      ],
      "id": "b518a7ee-4d87-4278-9905-ffeb3473bc24",
      "name": "subMkPlnTxt-SP"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9A6kp0SAPV2FCdMQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/9A6kp0SAPV2FCdMQ",
          "cachedResultName": "subTR_NB_Fal"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt": "={{ $json.plainText }}",
            "urls": "={{ $('convertToArray').item.json.urlArray.toJsonString() }}",
            "chatId": "={{ $('Start').item.json.chat_id }}",
            "debugMode": "={{ $('Start').item.json.debugMode }}",
            "apiName": "={{ $('Start').item.json.apiName }}",
            "apiNameNB": "={{ $('Start').item.json.apiNameNB }}",
            "aspectRatioNoCommas": "3:4"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "urls",
              "displayName": "urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "debugMode",
              "displayName": "debugMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apiName",
              "displayName": "apiName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apiNameNB",
              "displayName": "apiNameNB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "aspectRatioNoCommas",
              "displayName": "aspectRatioNoCommas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1808,
        1408
      ],
      "id": "1bca26df-c896-4e4e-95be-cab20377c531",
      "name": "Call 'subTR_NB_Fal'"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "text": "={{\"Фотомодель готова к работе!\" + \"\\n\" +\n\"Подберите идеальный образ и разработайте концепцию креативной фотосессии в уникальных локациях.\"  + \"\\n\" +\n\"👇\" }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1568,
        1408
      ],
      "id": "42f6cbd9-2fc5-46b7-8eb9-a6d8c49fd68b",
      "name": "Send a text message27",
      "webhookId": "8b1910d1-cda2-4d91-a401-86928c95a9ab",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97d32985-16f8-4f45-adc1-abfb2e55018b",
              "name": "urlArray",
              "value": "={{[ $('Start').item.json.generatedModelUrl ]}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2368,
        944
      ],
      "id": "fad2c869-3592-4469-8b64-5871e16f19d5",
      "name": "convertToArray"
    }
  ],
  "pinData": {
    "AI Agent": [
      {
        "json": {
          "output": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Start": [
      {
        "json": {
          "generatedModelUrl": "https://v3b.fal.media/files/b/0a9332a7/oe5cNdUS9WiY8zFBDG9_D_QCV0t8SO.png",
          "chat_id": 133518123,
          "debugMode": "true",
          "apiName": "google",
          "apiNameNB": "fal"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "trendcore_n8n",
  "repo_owner": "ds634",
  "repo_path": "/repos/ds634/trendcore_n8n/contents/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Db9RTL99yUCO77oO",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 180,
    "timeSavedPerExecution": 3
  },
  "shared": [
    {
      "updatedAt": "2026-03-02T17:33:59.548Z",
      "createdAt": "2026-03-02T17:33:59.548Z",
      "role": "workflow:owner",
      "workflowId": "YVTngpIa8BIVq22d",
      "projectId": "M9bTlSGaaAbsZxvs",
      "project": {
        "updatedAt": "2026-03-02T14:12:07.095Z",
        "createdAt": "2026-03-02T14:12:01.275Z",
        "id": "M9bTlSGaaAbsZxvs",
        "name": "DLS   <ds@trendcore.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-02T14:26:56.083Z",
      "createdAt": "2026-03-02T14:26:56.083Z",
      "id": "1a27liNYY5RWAk9l",
      "name": "SP_MagazinePrompter"
    },
    {
      "updatedAt": "2026-03-02T14:25:49.831Z",
      "createdAt": "2026-03-02T14:25:49.831Z",
      "id": "6ZyTvRGaNVzskE04",
      "name": "TG_PROD"
    },
    {
      "updatedAt": "2026-03-02T14:27:20.441Z",
      "createdAt": "2026-03-02T14:27:20.441Z",
      "id": "sJgdMesU0ia9ad2u",
      "name": "NB"
    },
    {
      "updatedAt": "2026-03-02T14:26:06.738Z",
      "createdAt": "2026-03-02T14:26:06.738Z",
      "id": "tzvi3HGYBgqT00vr",
      "name": "CM"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-22T14:23:40.363Z",
  "versionCounter": 498,
  "versionId": "c7c1f9ae-4917-49dd-96d5-b04c005a1222",
  "wf_name": "subTR_CM_Photo"
}