2026/03/zUatcgkw4d6mR6A9.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-18T14:53:06.000Z",
    "createdAt": "2026-03-18T14:52:42.376Z",
    "versionId": "a428591f-5fd2-416f-883c-f7d08c35400f",
    "workflowId": "zUatcgkw4d6mR6A9",
    "nodes": [
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.message_chat_id}}",
          "text": "={{\"Сборка образа завершена!\" }}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Создать образ",
                      "additionalFields": {
                        "callback_data": "done"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1616,
          576
        ],
        "id": "a509577e-e4ce-4f18-962e-3c28cd9c456f",
        "name": "msgImgCounterEnd",
        "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
        "executeOnce": false,
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
          "text": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().msg }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          48,
          480
        ],
        "id": "d3f7ad08-c96e-4e7e-8c90-bb3990949790",
        "name": "OP_oneImgOk",
        "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b2f7c3ab-0d54-4ba0-a7fc-d9880c28b087",
                "name": "taskRecordId",
                "value": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          272,
          480
        ],
        "id": "24ef3c4a-2e8f-401d-9161-9af437ba1a0c",
        "name": "taskRecIdMsg"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "NJfAQt9WXtWm5g15",
            "mode": "list",
            "cachedResultName": "TrendcoreObjectDescr",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/NJfAQt9WXtWm5g15"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "userId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "GalleryForFaceRecieved"
              },
              {
                "keyName": "objUrl",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.imgUrls }}"
              },
              {
                "keyName": "objNames",
                "keyValue": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().items[0].callback_data }}"
              },
              {
                "keyName": "objectMainId",
                "keyValue": "={{ $('GetMsgId').item.json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "objUrl": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.imgUrls }}",
              "objNames": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().items[0].callback_data }}",
              "userId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
              "dialogId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
              "status": "GalleryForFaceRecieved",
              "objectMainId": "={{ $('taskRecIdMsg').item.json.taskRecordId }}",
              "objNamesLocal": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().items[0].text }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objectMainId",
                "displayName": "objectMainId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objNames",
                "displayName": "objNames",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objNamesLocal",
                "displayName": "objNamesLocal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objUrl",
                "displayName": "objUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objectDescr",
                "displayName": "objectDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          496,
          480
        ],
        "id": "7b006d69-d072-4401-99aa-ba31be7bb78b",
        "name": "UpsertUrl-Object-Status"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "userId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "GetGalleryForFace"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "userId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
              "dialogId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
              "status": "GetGalleryForFace",
              "imgsCount": "={{$('GetImgsCountAdd').item.json.imgsCount}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "promptModel",
                "displayName": "promptModel",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1168,
          480
        ],
        "id": "1f4e371b-24e7-44d1-8359-a08dd6a08fb8",
        "name": "UpsertTaskId"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "userId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "GetGalleryForFace"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          720,
          480
        ],
        "id": "dea27789-205d-42aa-8016-e369f64a4bfb",
        "name": "GetCurrentCount"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a85626a7-cd44-4e1d-b6e1-7aaa35a931c4",
                "name": "imgsCount",
                "value": "={{ $json.imgsCount +1 }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          944,
          480
        ],
        "id": "7f413051-9a99-4bf4-9dc7-60f7818a5a93",
        "name": "GetImgsCountAdd"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "73d8f392-1716-4e75-b2c3-d417fdf3f492",
                "leftValue": "={{$('GetImgsCountAdd').item.json.imgsCount}}",
                "rightValue": 7,
                "operator": {
                  "type": "number",
                  "operation": "lt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1392,
          480
        ],
        "id": "d235a09e-feee-48fa-9cb4-36d5fb71b8f9",
        "name": "IfImgsLessEg_"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "aa07ac43-d5ec-4875-980b-2bd546fe2c4e",
                "name": "imgUrl",
                "value": "={{ \"https://api.telegram.org/file/bot\" + $('Start').item.json.botToken + \"/\" +$('GetObjectGallery').item.json.result.file_path }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -848,
          384
        ],
        "id": "36941cd4-0b61-4f2b-bcfa-1502e12ea8ca",
        "name": "urlModel1"
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $('Start').item.json.fileId }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1072,
          384
        ],
        "id": "291cb6cf-0565-46c0-89e4-df26976c191b",
        "name": "GetObjectGallery",
        "webhookId": "4f1966cf-8a36-4a5d-934e-54187c786d15",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "ebf1b473-80ad-42bd-acaa-1446197e4bc1",
                "leftValue": "={{$json.data === empty }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -400,
          384
        ],
        "id": "a66b2e9f-6cca-45d2-9fbd-d25ba86125f6",
        "name": "IfResponseOk1"
      },
      {
        "parameters": {
          "operation": "sendChatAction",
          "chatId": "={{ $('Start').item.json.message_chat_id }}"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -1296,
          384
        ],
        "id": "d63d8684-c129-4863-a443-6875f76148b2",
        "name": "Send a chat action1",
        "webhookId": "d9b28dce-5a43-45b7-ae61-7a0113460e73",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "53d6b4f5-0b1b-410a-ba94-1ca3eb5b1ae0",
                      "leftValue": "={{$('IfResponseOk1').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().response}}",
                      "rightValue": "error",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "error"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$('IfResponseOk1').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().response}}",
                      "rightValue": "false",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "781a4f1d-3ff4-4e65-80a4-8a464fad6b5f"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "false"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "61024915-310c-4668-b3e6-55e36e3efc30",
                      "leftValue": "={{$('IfResponseOk1').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().response}}",
                      "rightValue": "true",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "true"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "48a97d23-b04c-40f8-8094-152fe580b1d5",
                      "leftValue": "={{$('IfResponseOk1').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().response !== 'true' && $('IfResponseOk1').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().response !== 'false' && $('IfResponseOk1').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().response !== 'error'}}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "problem"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -176,
          256
        ],
        "id": "e8cbf329-1d74-4e1a-82ba-b2b0a8e5694a",
        "name": "ImgResponse"
      },
      {
        "parameters": {
          "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
          "text": "={{\"Вы можете добавить еще \" + (7-$('GetImgsCountAdd').item.json.imgsCount) + \" изображений предметов гардероба, по одному за раз.\" \n\n\n}}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Добавить предметы",
                      "additionalFields": {
                        "callback_data": "addObject"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Завершить образ",
                      "additionalFields": {
                        "callback_data": "done"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1616,
          384
        ],
        "id": "e0635591-b8c6-46e8-ae39-8f733a5738a0",
        "name": "msgImgCounter",
        "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
        "executeOnce": false,
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b2f7c3ab-0d54-4ba0-a7fc-d9880c28b087",
                "name": "taskRecordId",
                "value": "={{ $json.id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          272,
          192
        ],
        "id": "1a9219d0-dbbf-4f29-b0b1-21add0a25604",
        "name": "taskRecIdMsg1"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "NJfAQt9WXtWm5g15",
            "mode": "list",
            "cachedResultName": "TrendcoreObjectDescr",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/NJfAQt9WXtWm5g15"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "userId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "GetGalleryForFace"
              },
              {
                "keyName": "objUrl",
                "condition": "isEmpty"
              },
              {
                "keyName": "objNames",
                "condition": "isEmpty"
              },
              {
                "keyName": "objectMainId",
                "keyValue": "={{ $('GetCurrentCount1').item.json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "objUrl": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.imgUrls }}",
              "userId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
              "dialogId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
              "status": "GetGalleryForFace",
              "objectMainId": "={{ $('taskRecIdMsg1').item.json.taskRecordId }}",
              "objectTGbuttons": "={{JSON.stringify($('Call \\'subTR_API_AI_Selector\\'').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().items)}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objectMainId",
                "displayName": "objectMainId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objNames",
                "displayName": "objNames",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "objNamesLocal",
                "displayName": "objNamesLocal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objUrl",
                "displayName": "objUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objectTGbuttons",
                "displayName": "objectTGbuttons",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "objectDescr",
                "displayName": "objectDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          496,
          192
        ],
        "id": "72ef232b-f297-4c46-ac0a-b2fb7dcdc142",
        "name": "UpsertUrl-ObjectList"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "userId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "GetGalleryForFace"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "userId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
              "dialogId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
              "status": "GetGalleryForFace",
              "replyToMessageIdGallery": "={{ $('OP_oneImgOk1').item.json.result.message_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "process",
                "displayName": "process",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceImgUrl",
                "displayName": "faceImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceDescr",
                "displayName": "faceDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "replyToMessageIdGallery",
                "displayName": "replyToMessageIdGallery",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "generatedModelUrl",
                "displayName": "generatedModelUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "generatedModelPrompt",
                "displayName": "generatedModelPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1456,
          -16
        ],
        "id": "9765a9df-9118-488e-b7bc-95c7b4bdf43a",
        "name": "UpsertTaskId1"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "userId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "GetGalleryForFace"
              },
              {
                "keyValue": "={{ $json.objectMainId }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          48,
          192
        ],
        "id": "212a79b8-c2e4-45e7-ace7-2989548183c0",
        "name": "GetCurrentCount1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a85626a7-cd44-4e1d-b6e1-7aaa35a931c4",
                "name": "imgsCount",
                "value": "={{ $('GetCurrentCount1').item.json.imgsCount }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          720,
          192
        ],
        "id": "2f151f3d-41b9-494d-b741-4917cb5eeee4",
        "name": "GetImgsCount"
      },
      {
        "parameters": {
          "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
          "text": "={{$json.data.parseJson().response}}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          48,
          0
        ],
        "id": "57e552d1-548f-4091-ab9b-99297dbefcdd",
        "name": "OP_oneImgErr",
        "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
          "text": "={{\"Пожалуйста, загрузите изображения\\n для лука (максимум семь)\" }}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Готово",
                      "additionalFields": {
                        "callback_data": "done"
                      }
                    },
                    {
                      "text": "Отменить",
                      "additionalFields": {
                        "callback_data": "cancel"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          272,
          0
        ],
        "id": "98848f4d-fa55-4bea-916a-b170ba2dfa45",
        "name": "send msg to upload target",
        "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
        "executeOnce": false,
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "userId",
                "keyValue": "={{ $('Start').item.json.message_from_id }}"
              },
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Start').item.json.message_chat_id }}"
              },
              {
                "keyName": "process",
                "keyValue": "/createlook"
              },
              {
                "keyName": "status",
                "keyValue": "FaceRecieved"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "replyToMessageIdGallery": "={{ $json.result.message_id }}",
              "imgsCount": 0,
              "status": "GetGalleryForFace"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "process",
                "displayName": "process",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "faceImgUrl",
                "displayName": "faceImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "replyToMessageIdGallery",
                "displayName": "replyToMessageIdGallery",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "faceGalleryUrl",
                "displayName": "faceGalleryUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "FaceErrToMsgId",
                "displayName": "FaceErrToMsgId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          496,
          0
        ],
        "id": "c4d72719-6656-4e91-8c6d-9e73631962e0",
        "name": "Set GetGalleryForFace status"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "fileId"
              },
              {
                "name": "message_chat_id",
                "type": "number"
              },
              {
                "name": "modelName",
                "type": "any"
              },
              {
                "name": "apiName"
              },
              {
                "name": "botToken"
              },
              {
                "name": "objName"
              },
              {
                "name": "objMainId",
                "type": "number"
              },
              {
                "name": "debugMode"
              },
              {
                "name": "LookSelected"
              }
            ]
          }
        },
        "id": "c5b26730-eae2-4435-bfbb-c85fca1bfc1f",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -3312,
          480
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "userId",
                "keyValue": "={{ $json.message_chat_id }}"
              },
              {
                "keyName": "dialogId",
                "keyValue": "={{ $json.message_chat_id }}"
              },
              {
                "keyName": "process",
                "keyValue": "/createlook"
              },
              {
                "keyName": "status",
                "keyValue": "GetGalleryForFace"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -3088,
          480
        ],
        "id": "cfd1622d-bd7a-478d-900c-490d6f7638c1",
        "name": "GetMsgId"
      },
      {
        "parameters": {
          "operation": "deleteMessage",
          "chatId": "={{ $('Start').item.json.message_chat_id }}",
          "messageId": "={{ $('GetMsgId').item.json.replyToMessageIdGallery }}"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2640,
          384
        ],
        "id": "2ce0c813-4dd0-423b-bdc6-014f00712fad",
        "name": "Delete a chat message1",
        "webhookId": "a37bcfb9-c873-4346-915b-d3059251a03f",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "userId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "GetGalleryForFace"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "replyToMessageIdGallery": "={{ $json.result.message_id }}",
              "lookSelected": -1
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "process",
                "displayName": "process",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "lookSelected",
                "displayName": "lookSelected",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "faceImgUrl",
                "displayName": "faceImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceDescr",
                "displayName": "faceDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "concatDescr",
                "displayName": "concatDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "creativeScenarios",
                "displayName": "creativeScenarios",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "replyToMessageIdGallery",
                "displayName": "replyToMessageIdGallery",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "generatedModelUrl",
                "displayName": "generatedModelUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "generatedModelPrompt",
                "displayName": "generatedModelPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1840,
          384
        ],
        "id": "5f73150f-d33d-4269-b2d4-f53fa5ff7108",
        "name": "UpsertTaskId2"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "userId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "GetGalleryForFace"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "replyToMessageIdGallery": "={{ $json.result.message_id }}",
              "lookSelected": -1
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "process",
                "displayName": "process",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "lookSelected",
                "displayName": "lookSelected",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "faceImgUrl",
                "displayName": "faceImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceDescr",
                "displayName": "faceDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "concatDescr",
                "displayName": "concatDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "creativeScenarios",
                "displayName": "creativeScenarios",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "replyToMessageIdGallery",
                "displayName": "replyToMessageIdGallery",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "generatedModelUrl",
                "displayName": "generatedModelUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "generatedModelPrompt",
                "displayName": "generatedModelPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1840,
          576
        ],
        "id": "1c30113f-d70a-4821-9162-e0e3688a587a",
        "name": "UpsertTaskId3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b51b3b63-2255-45fe-9023-8b136b8f4080",
                "name": "systemPromptImgRecognition",
                "value": "=\"SYSTEM PROMPT: Items-Identifier v7.1 (Telegram fixes). Task: analyze a user image and detect visible items that are clothing, footwear, or wearable accessories. Output must be exactly one strictly valid JSON object, no explanations, no markdown, no extra text.\n\nExecution Pipeline (strict order): Image Availability Validation → Item Detection → Item Qualification Filtering → Deduplication → Deterministic Item Ordering → JSON Construction (English internal representation) → Translation Phase → Final JSON Validation → Output JSON.\n\nImage Availability Validation: If the image cannot be retrieved, loaded, or analyzed return immediately:\n{\"\"response\"\":\"\"error\"\",\"\"msg\"\":\"\"⚠ Error. Что-то пошло не так.\"\",\"\"items\"\":[]}\nStop processing.\n\nLanguage Variable: TRANSLATELANG is \"\"Russian\"\". If TRANSLATELANG is \"\"English\"\" skip translation. Translation may affect only explicitly allowed fields. Never translate: JSON keys, JSON structure, \"\"response\"\", \"\"callback_data\"\".\n\nItem Qualification Rules: Item must be worn on the body, belong to clothing/footwear/wearable accessories, be sufficiently visible. The model must determine from visible evidence: Item Category and at least one distinguishing visible attribute. If either cannot be confidently determined exclude the item. Partially visible items allowed only if both category and attribute are clearly identifiable. Strict: no guessing, no inference, no invented attributes.\n\nComplex Object Rule: If an item contains multiple components but forms one wearable object list it once only (example: Leather Bag with metal chain → one item). Components must never be listed separately.\n\nDeduplication Rule: If multiple identical items exist (same category AND attribute) list once. If same category but different attributes list separately. Each listed item represents one visually distinct wearable object. Identical jewelry items listed once even if multiple exist.\n\nAccessory Definition: Accessories include hats, belts, scarves, bags, watches, glasses/sunglasses; jewelry: necklaces, bracelets, rings, earrings. Non-wearable objects must never be listed.\n\nItem Naming Rules (internal English): ItemName must contain exactly two words, format Attribute + Category, Title Case, only visually determinable attributes. Examples: Red Jacket, Leather Bag, Black Belt, White Sneakers, Denim Jeans. Avoid vague categories like “Top” when clearer categories are visible.\n\nColor Attribute Rule: Different visible shades count as different attributes (example: Dark Brown Jacket vs Brown Jacket → distinct items).\n\nDeterministic Item Ordering: When multiple items exist sort by visual position Top→Bottom; Left→Right when on same horizontal level. If vertical overlap occurs order by the topmost visible point of each item. Apply ordering before JSON construction.\n\nResponse Logic:\nCase 1 — No Items. Internal JSON:\n{\"\"response\"\":\"\"error\"\",\"\"msg\"\":\"\"⚠ Error. We apologize, but we do not see any items of clothing, footwear, or accessories - please upload another image.\"\",\"\"items\"\":[]}\nProceed to Translation Phase.\n\nCase 2 — Exactly One Item. Internal JSON:\n{\"\"response\"\":\"\"true\"\",\"\"msg\"\":\"\"ItemName is registered!\"\",\"\"items\"\":[{\"\"text\"\":\"\"ItemName\"\",\"\"callback_data\"\":\"\"ItemName\"\"}]}\nProceed to Translation Phase.\n\nCase 3 — Multiple Items. Internal JSON:\n{\"\"response\"\":\"\"false\"\",\"\"msg\"\":\"\"Several objects found, please select which ones to process\"\",\"\"items\"\":[[{\"\"text\"\":\"\"ItemName 1\"\",\"\"callback_data\"\":\"\"ItemName 1\"\"}],[{\"\"text\"\":\"\"ItemName 2\"\",\"\"callback_data\"\":\"\"ItemName 2\"\"}],[{\"\"text\"\":\"\"Отменить\"\",\"\"callback_data\"\":\"\"cancel\"\"},{\"\"text\"\":\"\"Продолжить\"\",\"\"callback_data\"\":\"\"submit\"\"}]]}\nRules: each detected item appears once; each item row contains exactly one button; final row always contains control buttons \"\"Отменить\"\" and \"\"Продолжить\"\"; these control buttons must never be translated or modified.\n\nTranslation Phase: If TRANSLATELANG is not \"\"English\"\" translate only \"\"msg\"\" and \"\"text\"\" values for detected clothing items. Do not translate: \"\"response\"\", \"\"callback_data\"\", JSON keys, JSON structure, control buttons \"\"Отменить\"\",\"\"Продолжить\"\".\n\nCategory Translation Consistency (examples): Jacket→Куртка, Coat→Пальто, Shirt→Рубашка, T-shirt→Футболка, Hoodie→Худи, Sweater→Свитер, Pants→Брюки, Jeans→Джинсы, Shorts→Шорты, Skirt→Юбка, Bag→Сумка, Backpack→Рюкзак, Belt→Ремень, Hat→Шляпа, Cap→Кепка, Sneakers→Кроссовки, Shoes→Туфли, Boots→Ботинки, Sandals→Сандалии, Sunglasses→Солнцезащитные очки.\n\nAttribute Translation Rule: Translated item text must keep Attribute + Category structure (examples: Brown Jacket→Коричневая куртка, Black Belt→Чёрный ремень, Blue Jeans→Синие джинсы).\n\nCase 2 Message Translation: When translating Case 2 message also translate ItemName inside the message (example: Brown Jacket is registered! → Коричневая куртка добавлена!).\n\nCategory Fallback Rule: If a category translation is not listed translate to the closest natural Russian equivalent while preserving Attribute + Category order.\n\nFinal JSON Validation (mandatory before output): ensure output is exactly one JSON object; first char { last char }; no markdown or extra text; double quotes only; no trailing commas; all brackets closed; matches exactly one response case; field bindings correct; only allowed fields translated; callback_data remains English; control buttons unchanged; deterministic ordering preserved. If any rule fails silently regenerate and revalidate.\n\nFinal Output Rule: Return only the valid JSON object.\"",
                "type": "string"
              },
              {
                "id": "054da832-23e1-4696-a5c8-994f50512f12",
                "name": "promptName",
                "value": "Items-Identifier",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2416,
          384
        ],
        "id": "54d9765d-4e25-4995-956f-b9ce9dcb1ddd",
        "name": "SP_ItemsIdentifier"
      },
      {
        "parameters": {
          "errorMessage": "={{ \"⚠️\" +  $('Call \\'subTR_API_AI_Selector\\'').item.json.result.text }}"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          48,
          672
        ],
        "id": "ec628c28-6670-44f3-afb2-4428a38dc6b6",
        "name": "Stop and Error"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "aa107a4a-8370-4f6e-86e9-43ed2e7a8646",
                "leftValue": "={{ $json.imgsCount }}",
                "rightValue": 7,
                "operator": {
                  "type": "number",
                  "operation": "lt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2864,
          480
        ],
        "id": "7ff66095-9fef-4eda-9149-c23fb6eb8c41",
        "name": "IfImgCount<7"
      },
      {
        "parameters": {
          "chatId": "={{ $('Start').item.json.message_chat_id}}",
          "text": "={{\"⚠️ Максимальное кол-во изображений загружено!\\nБудут обработаны только первые семь.\" }}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Готово",
                      "additionalFields": {
                        "callback_data": "done"
                      }
                    },
                    {
                      "text": "Отменить",
                      "additionalFields": {
                        "callback_data": "cancel"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2640,
          576
        ],
        "id": "b2881d56-d950-4124-abdb-491298f3d8d3",
        "name": "msgImgCounterEnd1",
        "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
        "executeOnce": false,
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "cy2OHtNbUQaDIMP4",
            "mode": "list",
            "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
            "cachedResultName": "subMkPlnTxt"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "systemPrompt_replace": "={{ $json.recievedPrompt }}"
            },
            "matchingColumns": [
              "systemPrompt_replace"
            ],
            "schema": [
              {
                "id": "systemPrompt_replace",
                "displayName": "systemPrompt_replace",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1520,
          384
        ],
        "id": "63b37d49-a5b6-4188-9452-ed7beb88f742",
        "name": "Call 'subMkPlnTxt'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "MCKUe6c7lEWRrPCq",
            "mode": "list",
            "cachedResultUrl": "/workflow/MCKUe6c7lEWRrPCq",
            "cachedResultName": "subTR_API_AI_Selector"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Start').item.json.message_chat_id }}",
              "objectMainId": "={{ $('Start').item.json.objMainId }}",
              "modelName": "={{ $('Start').item.json.modelName }}",
              "imgUrls": "={{ $('urlModel1').item.json.imgUrl}}",
              "systemPrompt": "={{ $('Call \\'subMkPlnTxt\\'').item.json.plainText }}",
              "apiName": "={{ $('Start').item.json.apiName }}",
              "ObjName": "=",
              "botTocken": "={{ $('Start').item.json.botToken }}",
              "debugMode": "={{ $('Start').item.json.debugMode }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "modelName",
                "displayName": "modelName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "apiName",
                "displayName": "apiName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "userPrompt",
                "displayName": "userPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "systemPrompt",
                "displayName": "systemPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "imgUrls",
                "displayName": "imgUrls",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "ObjName",
                "displayName": "ObjName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "objectMainId",
                "displayName": "objectMainId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number",
                "removed": false
              },
              {
                "id": "ObjNameLocal",
                "displayName": "ObjNameLocal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "botTocken",
                "displayName": "botTocken",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "urlList_bool",
                "displayName": "urlList_bool",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean",
                "removed": false
              },
              {
                "id": "debugMode",
                "displayName": "debugMode",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "plainUrlList",
                "displayName": "plainUrlList",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": true,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -624,
          384
        ],
        "id": "1923366f-5489-422b-8c93-b89b17aae7b8",
        "name": "Call 'subTR_API_AI_Selector'"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f3370f8c-837f-416e-a8b9-268ff8d544f5",
                "leftValue": "={{ $('Start').item.json.debugMode }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2192,
          384
        ],
        "id": "c9824e83-0e53-41f7-b0e7-7f44d7e8df99",
        "name": "IfDebug1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "09b70afd-76f1-459c-9a7c-16af72a0a5de",
                "name": "recievedPrompt",
                "value": "={{$('GetPrompt1').isExecuted && $('GetPrompt1').item.json.PromptText.isNotEmpty()\n?$('GetPrompt1').item.json.PromptText\n:$('SP_ItemsIdentifier').item.json.systemPromptImgRecognition\n}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1744,
          384
        ],
        "id": "983afd48-51f7-4af5-bb1a-b5b7b61401ed",
        "name": "SP_recievedPrompt1"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ",
            "mode": "list",
            "cachedResultName": "N8N prompts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "PromptName",
                "lookupValue": "={{ $('SP_ItemsIdentifier').item.json.promptName }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1968,
          320
        ],
        "id": "7f3abc75-94f6-4b92-8058-27b03a518f51",
        "name": "GetPrompt1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "x0BIkYcbd4ffwTqr",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
          "text": "={{\"На фото несколько предметов гардероба.\" + \"\\n\\n\" +\n\"Хотите взять готовый образ или выбрать отдельные предметы?\"}}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Взять образ",
                      "additionalFields": {
                        "callback_data": "getLook"
                      }
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Выбрать предметы",
                      "additionalFields": {
                        "callback_data": "getObjects"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1264,
          -16
        ],
        "id": "25ca9171-670d-4a3d-bc90-f4beea973145",
        "name": "OP_oneImgOk1",
        "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
        "credentials": {
          "telegramApi": {
            "id": "g1YmwDvJEK6hDKZS",
            "name": "ChangeFace TG PROD"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "UgayLi5sBz1Y36H9",
            "mode": "list",
            "cachedResultUrl": "/workflow/UgayLi5sBz1Y36H9",
            "cachedResultName": "subTR_CL_GetObjects"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "message_chat_id": "={{ $('Start').item.json.message_chat_id }}",
              "botTocken": "={{ $('Start').item.json.botToken }}"
            },
            "matchingColumns": [
              "message_chat_id"
            ],
            "schema": [
              {
                "id": "message_chat_id",
                "displayName": "message_chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "botTocken",
                "displayName": "botTocken",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": true,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1584,
          240
        ],
        "id": "89857deb-7746-4e8a-834c-f16132f34e35",
        "name": "subTR_GetObject"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "y4BxUcToGeRL2Qi4",
            "mode": "list",
            "cachedResultName": "TG dialog statuses PROD",
            "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "dialogId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "userId",
                "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
              },
              {
                "keyName": "status",
                "keyValue": "GetGalleryForFace"
              },
              {
                "keyValue": "={{ $('GetMsgId').item.json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "userId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
              "dialogId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
              "status": "GetGalleryForFace"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "userId",
                "displayName": "userId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "dialogId",
                "displayName": "dialogId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "process",
                "displayName": "process",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "imgsCount",
                "displayName": "imgsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceImgUrl",
                "displayName": "faceImgUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "faceDescr",
                "displayName": "faceDescr",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "replyToMessageIdGallery",
                "displayName": "replyToMessageIdGallery",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "generatedModelUrl",
                "displayName": "generatedModelUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "generatedModelPrompt",
                "displayName": "generatedModelPrompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1216,
          256
        ],
        "id": "b0d1fcab-4f70-4f9d-9e9b-56ca63a9434c",
        "name": "UpsertTaskId4"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('GetCurrentCount1').item.json.lookSelected }}",
                      "rightValue": "",
                      "operator": {
                        "type": "number",
                        "operation": "empty",
                        "singleValue": true
                      },
                      "id": "43730f97-67ac-4438-8cb9-7cfde1a19e85"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "NoSelectionYet"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "b07a47d2-c279-40cf-bd0b-e9a9cd1f6f14",
                      "leftValue": "={{ $('GetCurrentCount1').item.json.lookSelected }}",
                      "rightValue": 1,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "CompleteLook"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "be52ed12-3774-44e1-9315-7891fd780680",
                      "leftValue": "={{ $('GetCurrentCount1').item.json.lookSelected }}",
                      "rightValue": -1,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "ObjSelected"
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          928,
          160
        ],
        "id": "88a7ce82-5840-4d0b-b16f-b7cf12d42b45",
        "name": "Switch"
      }
    ],
    "connections": {
      "urlModel1": {
        "main": [
          [
            {
              "node": "Call 'subTR_API_AI_Selector'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetObjectGallery": {
        "main": [
          [
            {
              "node": "urlModel1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OP_oneImgOk": {
        "main": [
          [
            {
              "node": "taskRecIdMsg",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ImgResponse": {
        "main": [
          [
            {
              "node": "OP_oneImgErr",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GetCurrentCount1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "OP_oneImgOk",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfResponseOk1": {
        "main": [
          [
            {
              "node": "ImgResponse",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OP_oneImgErr": {
        "main": [
          [
            {
              "node": "send msg to upload target",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetCurrentCount": {
        "main": [
          [
            {
              "node": "GetImgsCountAdd",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UpsertTaskId": {
        "main": [
          [
            {
              "node": "IfImgsLessEg_",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "taskRecIdMsg": {
        "main": [
          [
            {
              "node": "UpsertUrl-Object-Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "taskRecIdMsg1": {
        "main": [
          [
            {
              "node": "UpsertUrl-ObjectList",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UpsertUrl-Object-Status": {
        "main": [
          [
            {
              "node": "GetCurrentCount",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UpsertUrl-ObjectList": {
        "main": [
          [
            {
              "node": "GetImgsCount",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetImgsCountAdd": {
        "main": [
          [
            {
              "node": "UpsertTaskId",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetCurrentCount1": {
        "main": [
          [
            {
              "node": "taskRecIdMsg1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetImgsCount": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a chat action1": {
        "main": [
          [
            {
              "node": "GetObjectGallery",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfImgsLessEg_": {
        "main": [
          [
            {
              "node": "msgImgCounter",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "msgImgCounterEnd",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "msgImgCounter": {
        "main": [
          [
            {
              "node": "UpsertTaskId2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "send msg to upload target": {
        "main": [
          [
            {
              "node": "Set GetGalleryForFace status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "GetMsgId",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetMsgId": {
        "main": [
          [
            {
              "node": "IfImgCount<7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete a chat message1": {
        "main": [
          [
            {
              "node": "SP_ItemsIdentifier",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "msgImgCounterEnd": {
        "main": [
          [
            {
              "node": "UpsertTaskId3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SP_ItemsIdentifier": {
        "main": [
          [
            {
              "node": "IfDebug1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfImgCount<7": {
        "main": [
          [
            {
              "node": "Delete a chat message1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "msgImgCounterEnd1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'subMkPlnTxt'": {
        "main": [
          [
            {
              "node": "Send a chat action1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'subTR_API_AI_Selector'": {
        "main": [
          [
            {
              "node": "IfResponseOk1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfDebug1": {
        "main": [
          [
            {
              "node": "GetPrompt1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SP_recievedPrompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetPrompt1": {
        "main": [
          [
            {
              "node": "SP_recievedPrompt1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SP_recievedPrompt1": {
        "main": [
          [
            {
              "node": "Call 'subMkPlnTxt'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OP_oneImgOk1": {
        "main": [
          [
            {
              "node": "UpsertTaskId1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UpsertTaskId1": {
        "main": [
          []
        ]
      },
      "UpsertTaskId4": {
        "main": [
          [
            {
              "node": "subTR_GetObject",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "OP_oneImgOk1",
              "type": "main",
              "index": 0
            }
          ],
          [],
          [
            {
              "node": "UpsertTaskId4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DLS  ",
    "name": "Version a428591f",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-18T14:53:06.106Z",
        "id": 1504,
        "workflowId": "zUatcgkw4d6mR6A9",
        "versionId": "a428591f-5fd2-416f-883c-f7d08c35400f",
        "event": "activated",
        "userId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    ]
  },
  "activeVersionId": "a428591f-5fd2-416f-883c-f7d08c35400f",
  "connections": {
    "urlModel1": {
      "main": [
        [
          {
            "node": "Call 'subTR_API_AI_Selector'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetObjectGallery": {
      "main": [
        [
          {
            "node": "urlModel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OP_oneImgOk": {
      "main": [
        [
          {
            "node": "taskRecIdMsg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ImgResponse": {
      "main": [
        [
          {
            "node": "OP_oneImgErr",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GetCurrentCount1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OP_oneImgOk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfResponseOk1": {
      "main": [
        [
          {
            "node": "ImgResponse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OP_oneImgErr": {
      "main": [
        [
          {
            "node": "send msg to upload target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCurrentCount": {
      "main": [
        [
          {
            "node": "GetImgsCountAdd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpsertTaskId": {
      "main": [
        [
          {
            "node": "IfImgsLessEg_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "taskRecIdMsg": {
      "main": [
        [
          {
            "node": "UpsertUrl-Object-Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "taskRecIdMsg1": {
      "main": [
        [
          {
            "node": "UpsertUrl-ObjectList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpsertUrl-Object-Status": {
      "main": [
        [
          {
            "node": "GetCurrentCount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpsertUrl-ObjectList": {
      "main": [
        [
          {
            "node": "GetImgsCount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetImgsCountAdd": {
      "main": [
        [
          {
            "node": "UpsertTaskId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCurrentCount1": {
      "main": [
        [
          {
            "node": "taskRecIdMsg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetImgsCount": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action1": {
      "main": [
        [
          {
            "node": "GetObjectGallery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfImgsLessEg_": {
      "main": [
        [
          {
            "node": "msgImgCounter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msgImgCounterEnd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msgImgCounter": {
      "main": [
        [
          {
            "node": "UpsertTaskId2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send msg to upload target": {
      "main": [
        [
          {
            "node": "Set GetGalleryForFace status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "GetMsgId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMsgId": {
      "main": [
        [
          {
            "node": "IfImgCount<7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message1": {
      "main": [
        [
          {
            "node": "SP_ItemsIdentifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msgImgCounterEnd": {
      "main": [
        [
          {
            "node": "UpsertTaskId3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP_ItemsIdentifier": {
      "main": [
        [
          {
            "node": "IfDebug1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfImgCount<7": {
      "main": [
        [
          {
            "node": "Delete a chat message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msgImgCounterEnd1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subMkPlnTxt'": {
      "main": [
        [
          {
            "node": "Send a chat action1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subTR_API_AI_Selector'": {
      "main": [
        [
          {
            "node": "IfResponseOk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDebug1": {
      "main": [
        [
          {
            "node": "GetPrompt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP_recievedPrompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetPrompt1": {
      "main": [
        [
          {
            "node": "SP_recievedPrompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP_recievedPrompt1": {
      "main": [
        [
          {
            "node": "Call 'subMkPlnTxt'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OP_oneImgOk1": {
      "main": [
        [
          {
            "node": "UpsertTaskId1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpsertTaskId1": {
      "main": [
        []
      ]
    },
    "UpsertTaskId4": {
      "main": [
        [
          {
            "node": "subTR_GetObject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "OP_oneImgOk1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "UpsertTaskId4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-02T17:31:43.657Z",
  "description": null,
  "id": "zUatcgkw4d6mR6A9",
  "isArchived": false,
  "meta": null,
  "name": "subTR_CL_GetObjGallery",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message_chat_id}}",
        "text": "={{\"Сборка образа завершена!\" }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Создать образ",
                    "additionalFields": {
                      "callback_data": "done"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        576
      ],
      "id": "a509577e-e4ce-4f18-962e-3c28cd9c456f",
      "name": "msgImgCounterEnd",
      "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
        "text": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        480
      ],
      "id": "d3f7ad08-c96e-4e7e-8c90-bb3990949790",
      "name": "OP_oneImgOk",
      "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2f7c3ab-0d54-4ba0-a7fc-d9880c28b087",
              "name": "taskRecordId",
              "value": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.objectMainId }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        480
      ],
      "id": "24ef3c4a-2e8f-401d-9161-9af437ba1a0c",
      "name": "taskRecIdMsg"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "NJfAQt9WXtWm5g15",
          "mode": "list",
          "cachedResultName": "TrendcoreObjectDescr",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/NJfAQt9WXtWm5g15"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "GalleryForFaceRecieved"
            },
            {
              "keyName": "objUrl",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.imgUrls }}"
            },
            {
              "keyName": "objNames",
              "keyValue": "={{$('Call \\'subTR_API_AI_Selector\\'').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().items[0].callback_data }}"
            },
            {
              "keyName": "objectMainId",
              "keyValue": "={{ $('GetMsgId').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "objUrl": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.imgUrls }}",
            "objNames": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().items[0].callback_data }}",
            "userId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
            "dialogId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
            "status": "GalleryForFaceRecieved",
            "objectMainId": "={{ $('taskRecIdMsg').item.json.taskRecordId }}",
            "objNamesLocal": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().items[0].text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objectMainId",
              "displayName": "objectMainId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objNames",
              "displayName": "objNames",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objNamesLocal",
              "displayName": "objNamesLocal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objUrl",
              "displayName": "objUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objectDescr",
              "displayName": "objectDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        496,
        480
      ],
      "id": "7b006d69-d072-4401-99aa-ba31be7bb78b",
      "name": "UpsertUrl-Object-Status"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "GetGalleryForFace"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
            "dialogId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
            "status": "GetGalleryForFace",
            "imgsCount": "={{$('GetImgsCountAdd').item.json.imgsCount}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "promptModel",
              "displayName": "promptModel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1168,
        480
      ],
      "id": "1f4e371b-24e7-44d1-8359-a08dd6a08fb8",
      "name": "UpsertTaskId"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "GetGalleryForFace"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        720,
        480
      ],
      "id": "dea27789-205d-42aa-8016-e369f64a4bfb",
      "name": "GetCurrentCount"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a85626a7-cd44-4e1d-b6e1-7aaa35a931c4",
              "name": "imgsCount",
              "value": "={{ $json.imgsCount +1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        480
      ],
      "id": "7f413051-9a99-4bf4-9dc7-60f7818a5a93",
      "name": "GetImgsCountAdd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "73d8f392-1716-4e75-b2c3-d417fdf3f492",
              "leftValue": "={{$('GetImgsCountAdd').item.json.imgsCount}}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1392,
        480
      ],
      "id": "d235a09e-feee-48fa-9cb4-36d5fb71b8f9",
      "name": "IfImgsLessEg_"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa07ac43-d5ec-4875-980b-2bd546fe2c4e",
              "name": "imgUrl",
              "value": "={{ \"https://api.telegram.org/file/bot\" + $('Start').item.json.botToken + \"/\" +$('GetObjectGallery').item.json.result.file_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        384
      ],
      "id": "36941cd4-0b61-4f2b-bcfa-1502e12ea8ca",
      "name": "urlModel1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Start').item.json.fileId }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1072,
        384
      ],
      "id": "291cb6cf-0565-46c0-89e4-df26976c191b",
      "name": "GetObjectGallery",
      "webhookId": "4f1966cf-8a36-4a5d-934e-54187c786d15",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ebf1b473-80ad-42bd-acaa-1446197e4bc1",
              "leftValue": "={{$json.data === empty }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        384
      ],
      "id": "a66b2e9f-6cca-45d2-9fbd-d25ba86125f6",
      "name": "IfResponseOk1"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Start').item.json.message_chat_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1296,
        384
      ],
      "id": "d63d8684-c129-4863-a443-6875f76148b2",
      "name": "Send a chat action1",
      "webhookId": "d9b28dce-5a43-45b7-ae61-7a0113460e73",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "53d6b4f5-0b1b-410a-ba94-1ca3eb5b1ae0",
                    "leftValue": "={{$('IfResponseOk1').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().response}}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$('IfResponseOk1').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().response}}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "781a4f1d-3ff4-4e65-80a4-8a464fad6b5f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "false"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "61024915-310c-4668-b3e6-55e36e3efc30",
                    "leftValue": "={{$('IfResponseOk1').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().response}}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "true"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "48a97d23-b04c-40f8-8094-152fe580b1d5",
                    "leftValue": "={{$('IfResponseOk1').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().response !== 'true' && $('IfResponseOk1').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().response !== 'false' && $('IfResponseOk1').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().response !== 'error'}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "problem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -176,
        256
      ],
      "id": "e8cbf329-1d74-4e1a-82ba-b2b0a8e5694a",
      "name": "ImgResponse"
    },
    {
      "parameters": {
        "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
        "text": "={{\"Вы можете добавить еще \" + (7-$('GetImgsCountAdd').item.json.imgsCount) + \" изображений предметов гардероба, по одному за раз.\" \n\n\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Добавить предметы",
                    "additionalFields": {
                      "callback_data": "addObject"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить образ",
                    "additionalFields": {
                      "callback_data": "done"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        384
      ],
      "id": "e0635591-b8c6-46e8-ae39-8f733a5738a0",
      "name": "msgImgCounter",
      "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2f7c3ab-0d54-4ba0-a7fc-d9880c28b087",
              "name": "taskRecordId",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        192
      ],
      "id": "1a9219d0-dbbf-4f29-b0b1-21add0a25604",
      "name": "taskRecIdMsg1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "NJfAQt9WXtWm5g15",
          "mode": "list",
          "cachedResultName": "TrendcoreObjectDescr",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/NJfAQt9WXtWm5g15"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "GetGalleryForFace"
            },
            {
              "keyName": "objUrl",
              "condition": "isEmpty"
            },
            {
              "keyName": "objNames",
              "condition": "isEmpty"
            },
            {
              "keyName": "objectMainId",
              "keyValue": "={{ $('GetCurrentCount1').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "objUrl": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.imgUrls }}",
            "userId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
            "dialogId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
            "status": "GetGalleryForFace",
            "objectMainId": "={{ $('taskRecIdMsg1').item.json.taskRecordId }}",
            "objectTGbuttons": "={{JSON.stringify($('Call \\'subTR_API_AI_Selector\\'').item.json.data.replaceAll(\"```\",\"\").replace('json','').parseJson().items)}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objectMainId",
              "displayName": "objectMainId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objNames",
              "displayName": "objNames",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "objNamesLocal",
              "displayName": "objNamesLocal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objUrl",
              "displayName": "objUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objectTGbuttons",
              "displayName": "objectTGbuttons",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "objectDescr",
              "displayName": "objectDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        496,
        192
      ],
      "id": "72ef232b-f297-4c46-ac0a-b2fb7dcdc142",
      "name": "UpsertUrl-ObjectList"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "GetGalleryForFace"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
            "dialogId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
            "status": "GetGalleryForFace",
            "replyToMessageIdGallery": "={{ $('OP_oneImgOk1').item.json.result.message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "process",
              "displayName": "process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceImgUrl",
              "displayName": "faceImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceDescr",
              "displayName": "faceDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "replyToMessageIdGallery",
              "displayName": "replyToMessageIdGallery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generatedModelUrl",
              "displayName": "generatedModelUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generatedModelPrompt",
              "displayName": "generatedModelPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1456,
        -16
      ],
      "id": "9765a9df-9118-488e-b7bc-95c7b4bdf43a",
      "name": "UpsertTaskId1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "GetGalleryForFace"
            },
            {
              "keyValue": "={{ $json.objectMainId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        48,
        192
      ],
      "id": "212a79b8-c2e4-45e7-ace7-2989548183c0",
      "name": "GetCurrentCount1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a85626a7-cd44-4e1d-b6e1-7aaa35a931c4",
              "name": "imgsCount",
              "value": "={{ $('GetCurrentCount1').item.json.imgsCount }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        192
      ],
      "id": "2f151f3d-41b9-494d-b741-4917cb5eeee4",
      "name": "GetImgsCount"
    },
    {
      "parameters": {
        "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
        "text": "={{$json.data.parseJson().response}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        0
      ],
      "id": "57e552d1-548f-4091-ab9b-99297dbefcdd",
      "name": "OP_oneImgErr",
      "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
        "text": "={{\"Пожалуйста, загрузите изображения\\n для лука (максимум семь)\" }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Готово",
                    "additionalFields": {
                      "callback_data": "done"
                    }
                  },
                  {
                    "text": "Отменить",
                    "additionalFields": {
                      "callback_data": "cancel"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        0
      ],
      "id": "98848f4d-fa55-4bea-916a-b170ba2dfa45",
      "name": "send msg to upload target",
      "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $('Start').item.json.message_from_id }}"
            },
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Start').item.json.message_chat_id }}"
            },
            {
              "keyName": "process",
              "keyValue": "/createlook"
            },
            {
              "keyName": "status",
              "keyValue": "FaceRecieved"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "replyToMessageIdGallery": "={{ $json.result.message_id }}",
            "imgsCount": 0,
            "status": "GetGalleryForFace"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "process",
              "displayName": "process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "faceImgUrl",
              "displayName": "faceImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "replyToMessageIdGallery",
              "displayName": "replyToMessageIdGallery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "faceGalleryUrl",
              "displayName": "faceGalleryUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FaceErrToMsgId",
              "displayName": "FaceErrToMsgId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        496,
        0
      ],
      "id": "c4d72719-6656-4e91-8c6d-9e73631962e0",
      "name": "Set GetGalleryForFace status"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "fileId"
            },
            {
              "name": "message_chat_id",
              "type": "number"
            },
            {
              "name": "modelName",
              "type": "any"
            },
            {
              "name": "apiName"
            },
            {
              "name": "botToken"
            },
            {
              "name": "objName"
            },
            {
              "name": "objMainId",
              "type": "number"
            },
            {
              "name": "debugMode"
            },
            {
              "name": "LookSelected"
            }
          ]
        }
      },
      "id": "c5b26730-eae2-4435-bfbb-c85fca1bfc1f",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -3312,
        480
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.message_chat_id }}"
            },
            {
              "keyName": "dialogId",
              "keyValue": "={{ $json.message_chat_id }}"
            },
            {
              "keyName": "process",
              "keyValue": "/createlook"
            },
            {
              "keyName": "status",
              "keyValue": "GetGalleryForFace"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3088,
        480
      ],
      "id": "cfd1622d-bd7a-478d-900c-490d6f7638c1",
      "name": "GetMsgId"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Start').item.json.message_chat_id }}",
        "messageId": "={{ $('GetMsgId').item.json.replyToMessageIdGallery }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2640,
        384
      ],
      "id": "2ce0c813-4dd0-423b-bdc6-014f00712fad",
      "name": "Delete a chat message1",
      "webhookId": "a37bcfb9-c873-4346-915b-d3059251a03f",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "GetGalleryForFace"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "replyToMessageIdGallery": "={{ $json.result.message_id }}",
            "lookSelected": -1
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "process",
              "displayName": "process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lookSelected",
              "displayName": "lookSelected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "faceImgUrl",
              "displayName": "faceImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceDescr",
              "displayName": "faceDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "concatDescr",
              "displayName": "concatDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "creativeScenarios",
              "displayName": "creativeScenarios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "replyToMessageIdGallery",
              "displayName": "replyToMessageIdGallery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generatedModelUrl",
              "displayName": "generatedModelUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generatedModelPrompt",
              "displayName": "generatedModelPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1840,
        384
      ],
      "id": "5f73150f-d33d-4269-b2d4-f53fa5ff7108",
      "name": "UpsertTaskId2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "GetGalleryForFace"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "replyToMessageIdGallery": "={{ $json.result.message_id }}",
            "lookSelected": -1
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "process",
              "displayName": "process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lookSelected",
              "displayName": "lookSelected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "faceImgUrl",
              "displayName": "faceImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceDescr",
              "displayName": "faceDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "concatDescr",
              "displayName": "concatDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "creativeScenarios",
              "displayName": "creativeScenarios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "replyToMessageIdGallery",
              "displayName": "replyToMessageIdGallery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generatedModelUrl",
              "displayName": "generatedModelUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generatedModelPrompt",
              "displayName": "generatedModelPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1840,
        576
      ],
      "id": "1c30113f-d70a-4821-9162-e0e3688a587a",
      "name": "UpsertTaskId3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b51b3b63-2255-45fe-9023-8b136b8f4080",
              "name": "systemPromptImgRecognition",
              "value": "=\"SYSTEM PROMPT: Items-Identifier v7.1 (Telegram fixes). Task: analyze a user image and detect visible items that are clothing, footwear, or wearable accessories. Output must be exactly one strictly valid JSON object, no explanations, no markdown, no extra text.\n\nExecution Pipeline (strict order): Image Availability Validation → Item Detection → Item Qualification Filtering → Deduplication → Deterministic Item Ordering → JSON Construction (English internal representation) → Translation Phase → Final JSON Validation → Output JSON.\n\nImage Availability Validation: If the image cannot be retrieved, loaded, or analyzed return immediately:\n{\"\"response\"\":\"\"error\"\",\"\"msg\"\":\"\"⚠ Error. Что-то пошло не так.\"\",\"\"items\"\":[]}\nStop processing.\n\nLanguage Variable: TRANSLATELANG is \"\"Russian\"\". If TRANSLATELANG is \"\"English\"\" skip translation. Translation may affect only explicitly allowed fields. Never translate: JSON keys, JSON structure, \"\"response\"\", \"\"callback_data\"\".\n\nItem Qualification Rules: Item must be worn on the body, belong to clothing/footwear/wearable accessories, be sufficiently visible. The model must determine from visible evidence: Item Category and at least one distinguishing visible attribute. If either cannot be confidently determined exclude the item. Partially visible items allowed only if both category and attribute are clearly identifiable. Strict: no guessing, no inference, no invented attributes.\n\nComplex Object Rule: If an item contains multiple components but forms one wearable object list it once only (example: Leather Bag with metal chain → one item). Components must never be listed separately.\n\nDeduplication Rule: If multiple identical items exist (same category AND attribute) list once. If same category but different attributes list separately. Each listed item represents one visually distinct wearable object. Identical jewelry items listed once even if multiple exist.\n\nAccessory Definition: Accessories include hats, belts, scarves, bags, watches, glasses/sunglasses; jewelry: necklaces, bracelets, rings, earrings. Non-wearable objects must never be listed.\n\nItem Naming Rules (internal English): ItemName must contain exactly two words, format Attribute + Category, Title Case, only visually determinable attributes. Examples: Red Jacket, Leather Bag, Black Belt, White Sneakers, Denim Jeans. Avoid vague categories like “Top” when clearer categories are visible.\n\nColor Attribute Rule: Different visible shades count as different attributes (example: Dark Brown Jacket vs Brown Jacket → distinct items).\n\nDeterministic Item Ordering: When multiple items exist sort by visual position Top→Bottom; Left→Right when on same horizontal level. If vertical overlap occurs order by the topmost visible point of each item. Apply ordering before JSON construction.\n\nResponse Logic:\nCase 1 — No Items. Internal JSON:\n{\"\"response\"\":\"\"error\"\",\"\"msg\"\":\"\"⚠ Error. We apologize, but we do not see any items of clothing, footwear, or accessories - please upload another image.\"\",\"\"items\"\":[]}\nProceed to Translation Phase.\n\nCase 2 — Exactly One Item. Internal JSON:\n{\"\"response\"\":\"\"true\"\",\"\"msg\"\":\"\"ItemName is registered!\"\",\"\"items\"\":[{\"\"text\"\":\"\"ItemName\"\",\"\"callback_data\"\":\"\"ItemName\"\"}]}\nProceed to Translation Phase.\n\nCase 3 — Multiple Items. Internal JSON:\n{\"\"response\"\":\"\"false\"\",\"\"msg\"\":\"\"Several objects found, please select which ones to process\"\",\"\"items\"\":[[{\"\"text\"\":\"\"ItemName 1\"\",\"\"callback_data\"\":\"\"ItemName 1\"\"}],[{\"\"text\"\":\"\"ItemName 2\"\",\"\"callback_data\"\":\"\"ItemName 2\"\"}],[{\"\"text\"\":\"\"Отменить\"\",\"\"callback_data\"\":\"\"cancel\"\"},{\"\"text\"\":\"\"Продолжить\"\",\"\"callback_data\"\":\"\"submit\"\"}]]}\nRules: each detected item appears once; each item row contains exactly one button; final row always contains control buttons \"\"Отменить\"\" and \"\"Продолжить\"\"; these control buttons must never be translated or modified.\n\nTranslation Phase: If TRANSLATELANG is not \"\"English\"\" translate only \"\"msg\"\" and \"\"text\"\" values for detected clothing items. Do not translate: \"\"response\"\", \"\"callback_data\"\", JSON keys, JSON structure, control buttons \"\"Отменить\"\",\"\"Продолжить\"\".\n\nCategory Translation Consistency (examples): Jacket→Куртка, Coat→Пальто, Shirt→Рубашка, T-shirt→Футболка, Hoodie→Худи, Sweater→Свитер, Pants→Брюки, Jeans→Джинсы, Shorts→Шорты, Skirt→Юбка, Bag→Сумка, Backpack→Рюкзак, Belt→Ремень, Hat→Шляпа, Cap→Кепка, Sneakers→Кроссовки, Shoes→Туфли, Boots→Ботинки, Sandals→Сандалии, Sunglasses→Солнцезащитные очки.\n\nAttribute Translation Rule: Translated item text must keep Attribute + Category structure (examples: Brown Jacket→Коричневая куртка, Black Belt→Чёрный ремень, Blue Jeans→Синие джинсы).\n\nCase 2 Message Translation: When translating Case 2 message also translate ItemName inside the message (example: Brown Jacket is registered! → Коричневая куртка добавлена!).\n\nCategory Fallback Rule: If a category translation is not listed translate to the closest natural Russian equivalent while preserving Attribute + Category order.\n\nFinal JSON Validation (mandatory before output): ensure output is exactly one JSON object; first char { last char }; no markdown or extra text; double quotes only; no trailing commas; all brackets closed; matches exactly one response case; field bindings correct; only allowed fields translated; callback_data remains English; control buttons unchanged; deterministic ordering preserved. If any rule fails silently regenerate and revalidate.\n\nFinal Output Rule: Return only the valid JSON object.\"",
              "type": "string"
            },
            {
              "id": "054da832-23e1-4696-a5c8-994f50512f12",
              "name": "promptName",
              "value": "Items-Identifier",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2416,
        384
      ],
      "id": "54d9765d-4e25-4995-956f-b9ce9dcb1ddd",
      "name": "SP_ItemsIdentifier"
    },
    {
      "parameters": {
        "errorMessage": "={{ \"⚠️\" +  $('Call \\'subTR_API_AI_Selector\\'').item.json.result.text }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        48,
        672
      ],
      "id": "ec628c28-6670-44f3-afb2-4428a38dc6b6",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aa107a4a-8370-4f6e-86e9-43ed2e7a8646",
              "leftValue": "={{ $json.imgsCount }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2864,
        480
      ],
      "id": "7ff66095-9fef-4eda-9149-c23fb6eb8c41",
      "name": "IfImgCount<7"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message_chat_id}}",
        "text": "={{\"⚠️ Максимальное кол-во изображений загружено!\\nБудут обработаны только первые семь.\" }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Готово",
                    "additionalFields": {
                      "callback_data": "done"
                    }
                  },
                  {
                    "text": "Отменить",
                    "additionalFields": {
                      "callback_data": "cancel"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2640,
        576
      ],
      "id": "b2881d56-d950-4124-abdb-491298f3d8d3",
      "name": "msgImgCounterEnd1",
      "webhookId": "4afe30c7-3605-40c5-8045-9e741cd84078",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cy2OHtNbUQaDIMP4",
          "mode": "list",
          "cachedResultUrl": "/workflow/cy2OHtNbUQaDIMP4",
          "cachedResultName": "subMkPlnTxt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt_replace": "={{ $json.recievedPrompt }}"
          },
          "matchingColumns": [
            "systemPrompt_replace"
          ],
          "schema": [
            {
              "id": "systemPrompt_replace",
              "displayName": "systemPrompt_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1520,
        384
      ],
      "id": "63b37d49-a5b6-4188-9452-ed7beb88f742",
      "name": "Call 'subMkPlnTxt'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MCKUe6c7lEWRrPCq",
          "mode": "list",
          "cachedResultUrl": "/workflow/MCKUe6c7lEWRrPCq",
          "cachedResultName": "subTR_API_AI_Selector"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Start').item.json.message_chat_id }}",
            "objectMainId": "={{ $('Start').item.json.objMainId }}",
            "modelName": "={{ $('Start').item.json.modelName }}",
            "imgUrls": "={{ $('urlModel1').item.json.imgUrl}}",
            "systemPrompt": "={{ $('Call \\'subMkPlnTxt\\'').item.json.plainText }}",
            "apiName": "={{ $('Start').item.json.apiName }}",
            "ObjName": "=",
            "botTocken": "={{ $('Start').item.json.botToken }}",
            "debugMode": "={{ $('Start').item.json.debugMode }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "modelName",
              "displayName": "modelName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "apiName",
              "displayName": "apiName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imgUrls",
              "displayName": "imgUrls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "ObjName",
              "displayName": "ObjName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "objectMainId",
              "displayName": "objectMainId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "ObjNameLocal",
              "displayName": "ObjNameLocal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "botTocken",
              "displayName": "botTocken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "urlList_bool",
              "displayName": "urlList_bool",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "debugMode",
              "displayName": "debugMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "plainUrlList",
              "displayName": "plainUrlList",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -624,
        384
      ],
      "id": "1923366f-5489-422b-8c93-b89b17aae7b8",
      "name": "Call 'subTR_API_AI_Selector'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f3370f8c-837f-416e-a8b9-268ff8d544f5",
              "leftValue": "={{ $('Start').item.json.debugMode }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2192,
        384
      ],
      "id": "c9824e83-0e53-41f7-b0e7-7f44d7e8df99",
      "name": "IfDebug1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09b70afd-76f1-459c-9a7c-16af72a0a5de",
              "name": "recievedPrompt",
              "value": "={{$('GetPrompt1').isExecuted && $('GetPrompt1').item.json.PromptText.isNotEmpty()\n?$('GetPrompt1').item.json.PromptText\n:$('SP_ItemsIdentifier').item.json.systemPromptImgRecognition\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1744,
        384
      ],
      "id": "983afd48-51f7-4af5-bb1a-b5b7b61401ed",
      "name": "SP_recievedPrompt1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ",
          "mode": "list",
          "cachedResultName": "N8N prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Tp0vE8f7_cG2S44zjw5iyBTha-eXiu763zR8t6BpGQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "PromptName",
              "lookupValue": "={{ $('SP_ItemsIdentifier').item.json.promptName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1968,
        320
      ],
      "id": "7f3abc75-94f6-4b92-8058-27b03a518f51",
      "name": "GetPrompt1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0BIkYcbd4ffwTqr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
        "text": "={{\"На фото несколько предметов гардероба.\" + \"\\n\\n\" +\n\"Хотите взять готовый образ или выбрать отдельные предметы?\"}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Взять образ",
                    "additionalFields": {
                      "callback_data": "getLook"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выбрать предметы",
                    "additionalFields": {
                      "callback_data": "getObjects"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        -16
      ],
      "id": "25ca9171-670d-4a3d-bc90-f4beea973145",
      "name": "OP_oneImgOk1",
      "webhookId": "20dac25f-e37e-4ea0-a5ba-c4d440d34ae8",
      "credentials": {
        "telegramApi": {
          "id": "g1YmwDvJEK6hDKZS",
          "name": "ChangeFace TG PROD"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UgayLi5sBz1Y36H9",
          "mode": "list",
          "cachedResultUrl": "/workflow/UgayLi5sBz1Y36H9",
          "cachedResultName": "subTR_CL_GetObjects"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message_chat_id": "={{ $('Start').item.json.message_chat_id }}",
            "botTocken": "={{ $('Start').item.json.botToken }}"
          },
          "matchingColumns": [
            "message_chat_id"
          ],
          "schema": [
            {
              "id": "message_chat_id",
              "displayName": "message_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "botTocken",
              "displayName": "botTocken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1584,
        240
      ],
      "id": "89857deb-7746-4e8a-834c-f16132f34e35",
      "name": "subTR_GetObject"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "y4BxUcToGeRL2Qi4",
          "mode": "list",
          "cachedResultName": "TG dialog statuses PROD",
          "cachedResultUrl": "/projects/V5B37M0lqvYsnN7U/datatables/y4BxUcToGeRL2Qi4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dialogId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "GetGalleryForFace"
            },
            {
              "keyValue": "={{ $('GetMsgId').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
            "dialogId": "={{ $('Call \\'subTR_API_AI_Selector\\'').item.json.chat_id }}",
            "status": "GetGalleryForFace"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "dialogId",
              "displayName": "dialogId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "process",
              "displayName": "process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "imgsCount",
              "displayName": "imgsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceImgUrl",
              "displayName": "faceImgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "faceDescr",
              "displayName": "faceDescr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "replyToMessageIdGallery",
              "displayName": "replyToMessageIdGallery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generatedModelUrl",
              "displayName": "generatedModelUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generatedModelPrompt",
              "displayName": "generatedModelPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1216,
        256
      ],
      "id": "b0d1fcab-4f70-4f9d-9e9b-56ca63a9434c",
      "name": "UpsertTaskId4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('GetCurrentCount1').item.json.lookSelected }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "43730f97-67ac-4438-8cb9-7cfde1a19e85"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NoSelectionYet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b07a47d2-c279-40cf-bd0b-e9a9cd1f6f14",
                    "leftValue": "={{ $('GetCurrentCount1').item.json.lookSelected }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CompleteLook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "be52ed12-3774-44e1-9315-7891fd780680",
                    "leftValue": "={{ $('GetCurrentCount1').item.json.lookSelected }}",
                    "rightValue": -1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ObjSelected"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        928,
        160
      ],
      "id": "88a7ce82-5840-4d0b-b16f-b7cf12d42b45",
      "name": "Switch"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "fileId": "AgACAgIAAxkBAAIt12m5f9F-lM5RLkc8ML38oovYMWRoAALxE2sb803QSaF0P6cfTRFMAQADAgADbQADOgQ",
          "message_chat_id": 1723701965,
          "modelName": "gemini-3-flash",
          "apiName": "google",
          "botToken": "8500532222:AAHn-miVxN48HoJNpedLE6wz5WQ0poDaYXU",
          "objName": null,
          "objMainId": 205,
          "debugMode": "false",
          "LookSelected": null
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "trendcore_n8n",
  "repo_owner": "ds634",
  "repo_path": "/repos/ds634/trendcore_n8n/contents/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Db9RTL99yUCO77oO",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-02T17:31:43.659Z",
      "createdAt": "2026-03-02T17:31:43.659Z",
      "role": "workflow:owner",
      "workflowId": "zUatcgkw4d6mR6A9",
      "projectId": "M9bTlSGaaAbsZxvs",
      "project": {
        "updatedAt": "2026-03-02T14:12:07.095Z",
        "createdAt": "2026-03-02T14:12:01.275Z",
        "id": "M9bTlSGaaAbsZxvs",
        "name": "DLS   <ds@trendcore.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fdc7826f-287c-4690-a7e4-a481a32227a8"
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-02T14:27:37.948Z",
      "createdAt": "2026-03-02T14:27:37.948Z",
      "id": "5VYIT0U7tftOOOYk",
      "name": "SP_ItemsIdent"
    },
    {
      "updatedAt": "2026-03-02T14:25:49.831Z",
      "createdAt": "2026-03-02T14:25:49.831Z",
      "id": "6ZyTvRGaNVzskE04",
      "name": "TG_PROD"
    },
    {
      "updatedAt": "2026-03-02T14:25:49.805Z",
      "createdAt": "2026-03-02T14:25:49.805Z",
      "id": "uZYZiWAvyVAXbBbR",
      "name": "CL"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-18T14:52:42.374Z",
  "versionCounter": 633,
  "versionId": "a428591f-5fd2-416f-883c-f7d08c35400f",
  "wf_name": "subTR_CL_GetObjGallery"
}